{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title">Analytics</h2>
<div class="module">

    {% for report in reports %}
        <p><a href="/static/analytics/{{report}}" target="_blank">{{report|parseReportFile}}</a></p>
    {% endfor %}
    <p>
        <a href="{% url 'index' %}" class="yata-link-home" title="Home">
            <b class="valid"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</b></a><br>
        <span>{{player.name}}</span>
    </p>
</div>
