{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<a href="https://github.com/Kivou-2000607/yata" target="_blank"><img src="https://img.shields.io/github/release/kivou-2000607/yata.svg?style=for-the-badge&color=%23447e9b&label=Version&logo=github" alt="release" /></a>
<a href="https://github.com/Kivou-2000607/yata/commits/master" target="_blank"><img src="https://img.shields.io/github/last-commit/kivou-2000607/yata.svg?style=for-the-badge&color=%23447e9b&label=Last%20update&logo=github" alt="last-commit" /></a>
<a href="https://discord.gg/tZaYpbG" target="_blank"><img src="https://img.shields.io/discord/581227228537421825?style=for-the-badge&color=%23447e9b&label=Join%20the%20discord&logo=discord&logoColor=FFF" alt="Join the discord" /></a>
<img src="https://img.shields.io/badge/dynamic/json.svg?style=for-the-badge&query=string&url=https%3A%2F%2Fyata.alwaysdata.net%2Fplayer%2Fnumber%2F&color=%23447e9b&label=Users: total / monthly / daily / hourly" alt="Users" />
