{% load mathfilters %}
{% load app_filters %}

<div id="yata-login">
    {% if request.session.player %}

        <h2 class="title">Hello {{request.session.player.name}} <span class="flush-right">Last update on {{player.lastUpdateTS|ts2date}}</span></h2>
        <div class="module">
            <p class="no-margin">
                <a href="{% url 'index' %}" class="yata-link-bazaar" title="Go to bazaar">
                    <b><i class="fas fa-store"></i> Bazaar overview:</b></a>
                    {% if player.bazaarInfo == "N/A" %}
                        &empty;
                    {% else %}
                        {{player.bazaarInfo}}
                    {% endif %}
                    <span class="sep"></span>

                <a href="{% url 'chain:index' %}" class="yata-link-chain" title="Go to chain">
                    <b><i class="fas fa-link"></i> Chain reports:</b></a>
                    {% if player.chainInfo == "N/A" %}
                        &empty;
                    {% else %}
                        {{player.chainInfo}}
                    {% endif %}
                    <span class="sep"></span>

                <a href="{% url 'target:index' %}" class="yata-link-target" title="Go to chain">
                    <b><i class="fas fa-fist-raised"></i> Target list:</b></a>
                    {% if player.targetInfo == "N/A" %}
                        &empty;
                    {% else %}
                        {{player.targetInfo}}
                    {% endif %}
                    <span class="sep"></span>

                <a href="{% url 'awards:index' %}" class="yata-link-awards" title="Go to awards">
                    <b><i class="fas fa-medal"></i> Awards tracker:</b></a>
                    {% if player.awardsInfo == "N/A" %}
                        &empty;
                    {% else %}
                        {{player.awardsInfo|mul:100|floatformat:2}}% honor rarity score
                    {% endif %}

                <a class="error flush-right" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a>
                <a class="valid flush-right" href="{% url 'index' %}"><i class="fas fa-home"></i>&nbsp; Home</a>
            </p>

            {% if awards %}
                <hr class="sep">
                <p>Welcome to the awards tracker. Browse throught the following categories...</p>
                {% include "awards/categories.html" %}
            {% elif targetcat %}
                <hr class="sep">
                <p>Welcome to the target list. You can look at your last attacks to add a new targets. You can refresh the information by clicking on the target line.</p>
                {% include "target/categories.html" %}
            {% elif chain or chains %}
                <hr class="sep">
                <p>Welcome to the chain reports.</p>
                {% include "chain/categories.html" %}
            {% endif %}

        </div>

    {% else %}

        <h2 class="title">Hello unkown user</h2>
        <div class="module">
            <form method="post">
                Enter your <a href="https://www.torn.com/preferences.php#tab=api" target="_blank">API key</a> to start using <b>YATA</b>&nbsp;
                {% csrf_token %}
                <input id="yata-login-key" placeholder="API key" type=text>
                <input id="yata-login-submit" type="submit" value="Login">
                &nbsp;
                <input id="yata-login-remember" type="checkbox" value="Remember me">
                <label for="yata-login-remember">Remember me</label>
                {% if apiError %}<p class="no-margin"><a class="error" href=""><i class="fas fa-skull-crossbones"></i>&nbsp;&nbsp;{{ apiError }}</a></p>{% endif %}
            </form>
        </div>

    {% endif %}
</div>
