{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

{% for sm in sectionMessages %}
    <div class="module rounded citymap">
        <p class="neutral">
          {% if sm.2 == "warning" %}
            <span title="Warning" class="warning">
              <i class="fas fa-exclamation-triangle fa-icon-inline"></i>
          {% elif sm.2 == "error" %}
            <span title="Danger" class="error">
              <i class="fas fa-radiation-alt fa-icon-inline"></i>
          {% else %}
            <span title="Notice">
              <i class="fas fa-info-circle fa-icon-inline"></i>
          {% endif %}
          {{sm.0|title}}</span><br/>{{sm.1|safe}}
        </p>
    </div>
{% endfor %}
