{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}


<!-- <h2 class="title">What is YATA</h2> -->
<div class="module rounded citymap">
    <span class="inline-logo"><img src="/media/svg/yata.square.svg" alt="YATA" class="yata-logo-square"/></span>

    <p><b>YATA</b> stands for <b>Y</b>et <b>A</b>nother <b>T</b>orn <b>A</b>pp.
        It has been designed to enhance your gameplay using information from the <a style="font-weight: bold;" href="http://api.torn.com" target="_blank">official Torn API</a>.<br />
        To see what's in there browse through the following categories.<br />
        Some parts are public and you can browse them anonymously but if you want to unleash the full power of YATA you need to enter your <a style="font-weight: bold;" href="https://www.torn.com/preferences.php#tab=api" target="_blank">API key</a>.
    </p>
    <p>
        <a class="yata-link-player" href="{% url 'player:index' %}"><b><i class="fas fa-home fa-icon-inline"></i>Home</b></a><span class="section-status error" title="For obvious reasons">private</span><br>
        Checkout your personal stats and use the simulators.
    </p>
    <p>
        <a class="yata-link-bazaar" href="{% url 'bazaar:index' %}"><b><i class="fas fa-store fa-icon-inline"></i>Bazaar overview</b></a><span class="section-status warning" title="You can browse the prices but need to login to updated them and set custom lists">limited</span><br>
        Look at the current bazaar prices and market value tendencies to sell or buy at the best prices.
    </p>
    <p>
        <a class="yata-link-stock" href="{% url 'stock:index' %}"><b><i class="fas fa-chart-line fa-icon-inline"></i>Stock overview</b></a><span class="section-status warning" title="You can browse the stocks but need to login to see your blocks">limited</span><br>
        View all the stock shares, prices and tendencies.
    </p>
    <p>
        <a class="yata-link-company" href="{% url 'company:index' %}"><b><i class="fas fa-building fa-icon-inline"></i>Company overview</b></a><span class="section-status warning" title="You can browse the different company types but need to login to see your company's details">limited</span><br>
        Supervise your company (wip).
    </p>
    <p>
        <a class="yata-link-chain" href="{% url 'faction:index' %}"><b><i class="fas fa-fist-raised fa-icon-inline"></i>Faction</b></a><span class="section-status error" title="For obvious reasons">private</span><br>
        Build your chain reports, combine them and monitor your faction.
    </p>
    <p>
        <a class="yata-link-target" href="{% url 'target:index' %}"><b><i class="fas fa-crosshairs fa-icon-inline"></i>Targets</b></a><span class="section-status error" title="For obvious reasons">private</span><br>
        Remember your good targets and maximize your respect gains during chains.
    </p>
    <p>
        <a class="yata-link-awards" href="{% url 'awards:index' %}"><b><i class="fas fa-medal fa-icon-inline"></i>Awards</b></a><span class="section-status warning" title="You can browse awards but need to login to have see your progress">limited</span><br>
        Track the next award you can get.
    </p>
    <p>
        <a class="yata-link-loot" href="{% url 'loot:index' %}"><b><i class="fas fa-user-secret fa-icon-inline"></i>Loot</b></a><span class="section-status valid" title="Nothing more if you login">public</span><br>
        Gives the timing of when NPCs are reaching the loot levels.
    </p>
    <p>
        <a class="yata-link-bot" href="{% url 'bot:index' %}"><b><i class="fas fa-robot fa-icon-inline"></i>Discord bot</b></a><span class="section-status warning" title="You can read the documentation but need to login to access the dashboard">limited</span><br>
        Discord bot made for Torn.
    </p>
    <p>
        <a class="yata-link-api" href="{% url 'api:index' %}"><b><i class="fas fa-code fa-icon-inline"></i>API</b></a><span class="section-status valid" title="Nothing more if you login">public</span><br>
        Interacts with the YATA database for loot, foreign stocks and more.
    </p>
    {% if player %}
        <hr class="sep">
        <p><a id="yata-delete-submit" class="error" href="{% url 'delete' %}"><i class="fas fa-user-slash fa-icon-inline"></i>Delete account</a><br> All your information will be removed from the database.</p>
        <p><a class="yata-link-prune error" href="{% url 'setup:prune' %}"><i class="fas fa-eraser fa-icon-inline"></i>Pruning</a><br> After a month without using YATA you are considered as <b>inactive</b>. If you are inactive and don't have a valid API key (because of a reset), your account and data will be deleted.</p>
    {% endif %}
</div>
<div class="module rounded">
    <p id="badges">{% include 'yata/badges.html' %}</p>

    <p><b>YATA</b> is an open source website developed and maintained by {{"Kivou"|playerURL:"2000607"|safe}}. Source code is on <a href="https://github.com/Kivou-2000607/yata" target="_blank"><i class="fab fa-github"></i> github</a>.<br />
        For suggestions and bug reports you can either <a href="https://github.com/Kivou-2000607/yata/issues" target="_blank"><i class="fab fa-github"></i> post an issue on github</a>, join the <a href="https://discord.gg/tZaYpbG" target="_blank"><i class="fab fa-discord"></i> discord</a> or comment on the <a href="https://www.torn.com/forums.php#/p=threads&t=16100118" target="_blank"><i class="far fa-comments"></i> forum thread</a>.
    </p>
    <p><b>YATA bot</b> is a discord bot that you can host on your server. Source code is on <a href="https://github.com/Kivou-2000607/yata-bot" target="_blank"><i class="fab fa-github"></i> github</a>.
    <p><i>Player's information gathered by YATA will only be used for the features you see on YATA.</i></p>
</div>

<div class="catch-me">
    <h2 class="title grey toggle-display rounded"><i class="fas fa-code fa-icon-inline"></i>Contributors<i class="fas fa-caret-right fa-icon-dropdown"></i></h2>
    <div class="module" style="display: none;">
      <h3>Developers</h3>
        <p><i class="fab fa-python fa-icon-inline"></i>
          {# {{"Kivou"|playerURL:2000607|safe}}<br> #}
          {{"Decap"|playerURL:47662|safe}} (the backend guy)<br>
          <i class="fab fa-js-square fa-icon-inline"></i>
          {{"Helcostr"|playerURL:1934501|safe}} (introduced the first userscripts for YATA)
          {{"Pyrit"|playerURL:2111649|safe}} (always makes the best js even though he hates it)
        </p>
      <h3>Discord staff</h3>
        <p>
          <i class="fab fa-discord fa-icon-inline"></i>{{"SVD_NL"|playerURL:2363978|safe}} (answers on discord at lighting speed)<br>
          {{"Isca"|playerURL:672082|safe}}
          {{"Redxjak"|playerURL:2255595|safe}}
          {{"vavi"|playerURL:2224491|safe}}
          {{"Tipsy"|playerURL:1160609|safe}}
          {{"LordofFire"|playerURL:2411517|safe}}
          {{"EM88"|playerURL:2408829|safe}}
          {{"Sterling"|playerURL:1616063|safe}}
          {{"cynikal"|playerURL:2130575|safe}}
          {# {{"DoctorManhattan"|playerURL:1750790|safe}} #}
          {# {{"WhiteRabbit"|playerURL:2162711|safe}} #}
        </p>

      <h3>Tutorials</h3>
        <p><i class="fas fa-life-ring fa-icon-inline"></i>
          {{"Daystar"|playerURL:2048164|safe}}
          {{"Palisad3"|playerURL:2536667|safe}}
        </p>
        <p>I also want to say thank you to the whole developer community with which I have fruitful discussions on a regular basis.<br>
        If you want to contribute to YATA please join the <a href="{% url 'discord' %}" target="_blank"><i class="fab fa-discord"></i> discord</a>.</p>
    </div>
</div>
{% if allDonations|length %}
    <div class="catch-me">
        <h2 class="title grey toggle-display rounded"><i class="fas fa-gift fa-icon-inline"></i>Donations<i class="fas fa-caret-right fa-icon-dropdown"></i></h2>
        <div class="module tutorial" style="display: none;">
                <table  style="margin: auto;">
                    <thead>
                        <tr>
                            <th>Sender</th>
                            <th>Gift</th>
                            <th>Message</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for donation in allDonations %}
                    <tr>
                        <td>{{donation.split.sender}}</td>
                        <td>{{donation.split.gift}}</td>
                        <td>{{donation.split.message}}</td>
                        <td>{{donation.split.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
