<h2 class="title grey"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial</h2>
<div class="module tutorial">
    <h3>Bazaar overview</h3>
    <p>Click on the item type to show the tables.<br />
    Click on an icon to refresh the bazaar prices of the object (1 API call).<br />
    Click on the refresh buttons on the top right section title to refresh the items information and bazaar prices (1 API call/item). This feature is not available for the full list.<br />
    Each tables contains:
    <ul>
        <li> Row 1: icon / refresh button</li>
        <li> Row 2: time since last update / click to delete bazaar data (because why not?) </li>
        <li> Row 3: item name / link to its description</li>
        <li> Row 4: personal stock of the item if you entered your API key and only on the custom list page (refresh is needed to see changes)</li>
        <li> Row 5: current market price / link to the torn item market of this item</li>
        <li> The colored rows are information of the users bazaars. Each row corresponds to a bazaar
            <ul>
                <li> Column 1: the number of item to sell</li>
                <li> Column 2: the selling price of one item (<i>If you let the cursor hover it, you can see the cummulative price</i>)</li>
            </ul>
        </li>
        <li>The colors correspond to the prices compared to the current market price
        <div class="module" style="margin-bottom:0px">
            <table class="item-sell-table scale">
                <tr >
                    <td  class="llt"> < 3%    </td>
                    <td  class="lt" > < 1%    </td>
                    <td  class="eq" > &plusmn; 1% </td>
                    <td  class="gt" > > 1%    </td>
                    <td  class="ggt"> > 3%    </td>
                </tr>
            </table>
        </div></li>
        <li>The last row <a href=""><b>Add / remove</b></a> allows you to select the items you want in your custom page.</li>
    </ul>
    <hr class="sep"></hr>

    <h3>Chain reports</h3>
    <p>AA member is a faction member with the API access permission.</p>
    <p>Live report corresponds to chain reports of a current chain<br />
        On the chain list you can have access to all reports of previews chains (click on the eye to see the report). By default reports are not created. Only AA members can create it.<br />
        The Joint report is a concatenation of several chain reports. Only AA members choose which reports are taken into account in the Joint report.
        On top of it there is a bonus summary table that sorts the most deserving faction members by computing a bonus score \(B\):
        $$B = N_\text{hits} \, / \, \max(R_\text{b}, 1) $$
        where \(N_\text{hits}\) is the total number of hits made for all chains of the Joint report and \(R_\text{b}\) is the total respect earnt through bonuses. So the higher the score, the more deserving the player.
    </p>

    <p><b>Base respect</b> is the respect you earn without any chain multiplier. It is only based on the target level \(l\). It yields:
        $$R_\text{b} = (\ln(l)+1)/4$$
        <b>Flat respect</b> is the respect you earn taking into account only the fair fight bonus \(f_\text{f}\)
        $$R_\text{f} = f_\text{f} R_\text{b} = f_\text{f}\times(\ln(l)+1)/4$$
    </p>

    <h3>Chain reports for AA members</h3>
    <p>All reports are created automatically through API calls, no copy/paste is needed. For this to work at least one AA member needs to login (his key will be stored and used for the create of the reports).<br />
        Due to API limitations, the creation of reports is based on several crontabs which schedule the API calls over time.<br />
        Your faction will be affected to a single crontab that you will share with other factions. For one crontab a job is schedule every minute.<br />
        During one job a maximum of 200 new attacks are analysed, for a random faction of the crontab, for a random report of the faction, using a random API key of their AA members.<br />
        Live and old reports are treated on different schedulers. AA members can see their crontab details on a specific page (only available to them). <br />
        Consistency mesures insure that two API calls <tt>faction/?selections=attacks</tt> are at least 32s appart to avoid cached responses and which would lead to wrong output, even using the <tt>to</tt> and <tT>from</tt> keys.<br />
        If one AA member use this request ouside during the creation of a report, it can lead to errors in the report. In this case just delete the report and create it again.
    </p>
    <hr class="sep"></hr>

    <h3>Target list</h3>
    <p>To add new targets you can either got to the recent attacks page and save them with the button at the end of each row or add the ID at the end of the target list.
    Click on the row to refresh the information.<br />
    The results correspond to the latest attack made. If no attack has been found the respect is computed from the target level (base respect).<br />
    If the timer starts to blink it means that the target might be out of the hospital.<br />
    For the attack list, the level is guessed from the base respect so because of rounding errors it might off &plusmn; 1.</p>
    <hr class="sep"></hr>

    <h3>Awards Tracker</h3>
    <p>All awards data are updated upon refresh of this page.<br />
    If you put your cursor hover the last column, you'll have an explanation.<br />
    You can show the acheived awards by clicking on the top right section title.<br />
    The Hall of Fame rarity score \(R\) is computed as follow:
    $$R = {\sum_{a\in\mathcal{P}}r(a)} \ \Big/ \ {\sum_{a\in\mathcal{A}}r(a)}$$
    with \(n(a)\), the number of player having the award \(a\)</li>, \(r(a)=1/n(a)\) the rarity score of award \(a\), \(\mathcal{A}\) the set of all reachable awards, \(\mathcal{P}\subset\mathcal{A}\) the set of all the awards you have.<br />
    If you put your cursor hover the column rarity you'll have the contribution of each honor to this score.<br />
    HoF is updated daily and considers only players who went to the Awards Tracker page.</p>

</div>
