{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{# no need we handle div/div #}
{# {% if apiErrorSub %} #}
    {# {% include "yata/error.html" with apiError=apiErrorSub %} #}
{# {% endif %} #}


{% if view.merits %}
  <h2 class="title"><i class="fas fa-medal"></i>&nbsp;&nbsp;Merits simulator</h2>
  <div id="player-merits" class="module">
    {% include "player/merits/index.html" %}
  </div>
{% elif view.stats %}
  <h2 class="title"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Stats</h2>
  <div id="player-stats" class="module">
    {% include "player/stats/index.html" %}
  </div>
{% elif view.gym %}
  <h2 class="title"><i class="fas fa-dumbbell"></i>&nbsp;&nbsp;Gym simulator</h2>
  <div id="player-gym" class="module">
    {% include "player/gym/index.html" %}
  </div>
{% else %}
  {% include "player/index.html" %}
{% endif %}
