{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $("#players-prune").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[0,0]]});
    });
</script>

<h2 class="title">Number of users</h2>
<div class="module">
    <table class="center players-users-summary">
        <thead>
            <tr><th></th><th>Total number</th><th>Percentage</th></tr>
        </thead>
        <tbody>
            <tr><td class="a"><b class="neutral">Users</b></td><td class="b">{{nTotal}}</td><td class="b">100%</td></tr>
            <tr><td class="a"><b class="valid">Active and valid users</b></td><td class="b">{{nValid}}</td><td class="b">{{nValid|mul:100|intdiv:nTotal}}%</td></tr>
            <tr><td class="a"><b class="warning">Inactive users (1 month)</b></td><td class="b">{{nInact}}</td><td class="b">{{nInact|mul:100|intdiv:nTotal}}%</td></tr>
            <tr><td class="a"><b class="warning">Invalid users (invalid API key)</b></td><td class="b">{{nInval}}</td><td class="b">{{nInval|mul:100|intdiv:nTotal}}%</td></tr>
            <tr><td class="a"><b class="error">Users subject to pruning</b></td><td class="b">{{nPrune}}</td><td class="b">{{nPrune|mul:100|intdiv:nTotal}}%</td></tr>
        </tbody>
    </table>
</div>

{# <h2 class="title">List of users subjected to <span class="error">pruning</span></h2> #}
{# <div class="module"> #}
    {# <p><b></b></p> #}
    {# <table id="players-prune" class="center"> #}
        {# <thead> #}
            {# <tr><th>Id</th><th>Last know name</th></tr> #}
        {# </thead> #}
        {# <tbody> #}
            {# {% for p in prune %} #}
                {# <tr><td>{{p.tId}}</td><td>{{p.name}}</td></tr> #}
            {# {% endfor %} #}
        {# </tbody> #}
    {# </table> #}
{# </div> #}
