{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% if counts|length %}


    {% if chain.live %}
        <h2 class="title"><i class="fas fa-link"></i>&nbsp;&nbsp;{{faction.name}}'s live chain report (last update: {{chain.end|ts2date}})</h2>
    {% else %}
        <h2 class="title"><i class="fas fa-link"></i>&nbsp;&nbsp;{{faction.name}}'s chain report [{{chain.tId}}]<span class="flush-right">Last update: {{chain.update|ts2date}}</span></h2>
    {% endif %}

    <div class="module">
        {% include "faction/chains/report-table.html" %}
    </div>

{% else %}

    {% if chain.report %}
        {% if chain.computing %}
            <div class="module rounded warning">
                Incoming report... It will be automatically updated in a couple of minutes.
            </div>
        {% else %}
            <div class="module rounded error">
                Report not computing... This is not normal. Try to delete and recreate it in the chain list.
            </div>
        {% endif %}
    {% else%}
        <div class="module rounded error">
            Report of chain {{chain.tId}} not found.
        </div>
    {% endif %}

{% endif  %}
