{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

{% if chain.computing %}
    <span class="warning" style="cursor: help;" title="Report status: computing&#010;Progress: {{chain.current|intcomma}} / {{chain.chain|intcomma}}&#010;Cooldown: {{chain.cdTime}}&#010;Crontab: {{chain.displayCrontab}}&#010;Last update: {{chain.update|ts2date}}&#010;Last status: {{chain.status}}&#010;Time left: {{chain.chain|sub:chain.current|mul:60|intdiv:100|ts2time}}"><i class="fas fa-history" style="margin-right: 5px"></i> {{chain.progress}}%</span>    
{% elif chain.progress < 100 %}
    <span class="error" style="cursor: help;" title="Report status: stopped&#010;Progress: {{chain.current|intcomma}} / {{chain.chain|intcomma}}&#010;Cooldown: {{chain.cdTime}}&#010;Crontab: {{chain.displayCrontab}}&#010;Last update: {{chain.update|ts2date}}&#010;Last status: {{chain.status}}"><i class="fas fa-bug" style="margin-right: 5px"></i> {{chain.progress}}%</span>
{% else %}
    <span class="valid" style="cursor: help;" title="Report status: finished&#010;Progress: {{chain.current|intcomma}} / {{chain.chain|intcomma}}&#010;Cooldown: {{chain.cdTime}}&#010;Crontab: {{chain.displayCrontab}}&#010;Last update: {{chain.update|ts2date}}&#010;Last status: {{chain.status}}"><i class="fas fa-check" style="margin-right: 5px"></i></span>
{% endif %}
