<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load humanize %}
{% load mathfilters %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- load fontawesome -->
    <!-- https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "admin/css/forms.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/base.css" %} />

    <!-- load jquery from https://code.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    	    crossorigin="anonymous"></script>

    <!-- jquery module to sort tables from http://tablesorter.com -->
    <script type="text/javascript" src={% static "perso/js/jquery.tablesorter.js" %}></script>

    <!-- google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- scripts jquery perso -->
    <script>

        $(document).on('click', '.update-data', function(e){
            e.preventDefault();
            var parts = window.location.href.split('/')
            $( "#refresh-div" ).load( "{% url 'awards:updateData' %}", {
                html: "refresh",
                type: parts.pop() || parts.pop(),
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            });
            $("#refresh-div").html('<h2 class="title">Updating data (2 API calls)</h2><div class="module whiteBG justTxt"><div class="loader"></div></div>');

        });

        $(document).on('click', '.update-key', function(e){
            e.preventDefault();
            var key = $("#key-value").val();
            var check = $("#key-check-remember").is(':checked');
            var reload = $("#api-key");
            $( "#api-key" ).load( "{% url 'awards:updateKey' %}", {
                keyValue: key,
                html: "login",
                rememberSession: check,
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            });
            reload.html('<h2 class="title">Connecting to API (2 API calls)</h2><div class="module whiteBG justTxt"><div class="loader"></div></div>');
        });

        $(document).on('click', '#toggle-awards-done', function(e){
            e.preventDefault();
            var cat = $('i[id^="award-category-"]:not(".fa-toggle-off")');
            $("tr.award-done").promise().done(function() {
                var icon = $("#awards-done-icon");
                if (icon.hasClass("fas fa-toggle-on")) {
                    icon.removeClass("fas fa-toggle-on");
                    icon.addClass("fas fa-toggle-off");
                    $('#toggle-awards-done-txt').html("Show");
                    $("tr.award-done").slideUp('fast', function() {});
                } else {
                    icon.removeClass("fas fa-toggle-off");
                    icon.addClass("fas fa-toggle-on");
                    $('#toggle-awards-done-txt').html("Hide");
                    if(cat.attr('id') == null) {
                        $("tr.award-done").slideDown('fast', function() {});
                    } else {
                        $("tr.award-done."+cat.attr('id')).slideDown('fast', function() {});
                    }
                }
            });
        });

        $(document).on('click', 'span[id^="award-category-"]', function(e){
            e.preventDefault();
            $("tr.award-todo").show('fast', function() {});
            $('[id^="award-category-"]').children("i").removeClass("fas fa-toggle-on");
            $('[id^="award-category-"]').children("i").addClass("fas fa-toggle-off");
            var id = $(this).attr("id");
            var icon = $("#awards-done-icon");
            var localIcon = $("#"+id).children("i");
            if (icon.hasClass("fas fa-toggle-on")) {
                $("tr.award-done").show('fast', function() {});
                $('tr[class^="award-"]:not(.'+id+')').hide();
            } else {
                $('tr.award-todo:not(.'+id+')').hide();
            }
            localIcon.removeClass("fas fa-toggle-off");
            localIcon.addClass("fas fa-toggle-on");
        });

    </script>


    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/items/268/small.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>Yet Another Torn App</title>
</head>

<body>
    <div id="details"></div>

    <div id="container">
        <div id="content">
            <h1><b>Y</b>et <b>A</b>nother <b>T</b>orn <b>A</b>pp &nbsp; &nbsp; &nbsp; &nbsp;  <a href="{% url 'bazaar:index' %}"><b>bazaar</b></a> - <a href="{% url 'chain:index' %}"><b>chain</b></a> - <a href="{% url 'awards:index' %}"><b>awards</b></a></h1>
            <p><b>Awards tracker</b>: track the next merits you can get.</p>
            <br />

            <div id="refresh-div">
                {% include "awards/refresh.html" %}
            </div>

        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
