
{% if request.session.user %}
    <h2 class="title">Hello {{request.session.user.name}}</h2>
{% else %}
    <h2 class="title">Hello unkown user</h2>
{% endif %}

<div class="module whiteBG justTxt">
    <p>This tool shows, for every items some basic information along with the current bazaars sales.<p>
    <ul>
        <li><a href="{% url 'bazaar:default' %}">List of the default items</a></li>
        <li><a href="{% url 'bazaar:sets' %}">List the flower and plushie sets</a></li>
        <li><a href="{% url 'bazaar:fullList' %}">List of all the items</a></li>
        {% if request.session.user %}
            <li><a href="{% url 'bazaar:custom' %}">Custom list of items</a></li>
        {% endif %}
    </ul>
    {% if request.session.user %}
        <h3><a class="deletelink" href="{% url 'bazaar:logout' %}">Logout</a></h3>
    {% else %}
        <p>Enter your API key to refresh data and create your custom list of items</p>
        <form method="post">
            {% csrf_token %}
            <input id="key-value" placeholder="API key" type=text>
            <input type="submit" class="update-key" value="Login">
            {% if apiError %}<a class="deletelink" href="">{{ apiError }}</a>{% endif %}
        </form>
    {% endif %}
</div>
