{% load static %}

{% if view.lastScan %}
<h2 class="title greyTitle"><img src={% static "images/tutorial.png" %} alt="help"> Last scan update</h2>
<div class="module whiteBG">
    <div class="justTxt">
        <div id="update-scan-refresh">
        Last scan of the object list has been made on {{ view.lastScan }}
        {% if view.scan %}

        <form method="post">
            {% csrf_token %}
            <p class="deletelink-box">
            <input type="submit" class="update-scan" value="Scan all items"></p>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endif %}
