{% load humanize %}
{% load mathfilters %}

{% if apiError %}
<div class="justTxt">
    <a class="deletelink" href="">{{ apiError }}</a>
</div>
{% else %}

{% for item in items|dictsort:"tName" %}
    <table id="item-sell-table-{{item.tId}}" class="item-sell-table">
        {% include "sub/item_sell_table.html" with item=item%}
    </table>
{% endfor %}

<div class="module">
    <div class="submit-row">
        {% if view.refreshType %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" class="tType" name="tType" value={{items.0.tType}}>
                <p class="deletelink-box"><input type="submit" class="update-type" value="Refresh {{items.0.tType}}"></p>
            </form>
        {% endif %}
    </div>
</div>

{% endif %}
