{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% if secret %}
    <div id="dashboard-readonly" class="module valid">This is a read only view of the dashboard <tt>#{{secret}}</tt></div>
{% endif %}
{% if servers|length %}
    {% for server in servers %}

    <h2 class="title">{{server.name}} [{{server.discord_id}}] (bot: {{server.bot}})</h2>
    <div class="module">
        {# ADMINISTRATION #}
        <h1 class="module-doc">Administration&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            <p>Non admin can access a read only view of this dashboard at this address:
                <a href="{% url 'bot:dashboardReadOnly' server.secret %}">https://yata.alwaysdata.net{% url 'bot:dashboardReadOnly' server.secret %}</a>
            </p>
            {% include "bot/dashboard/modules.html" with module="admin"%}
        </div>

        {# VERIFY #}
        <h1 class="module-doc">Module Verify&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="verify" %}
        </div>

        {# RACKET #}
        <h1 class="module-doc">Module Racket&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="rackets" %}
        </div>

        {# LOOT #}
        <h1 class="module-doc">Module Loot&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="loot" %}
        </div>

        {# REVIVE #}
        <h1 class="module-doc">Module Revive&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="revive" %}
        </div>

        {# OC #}
        <h1 class="module-doc">Module OC&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="oc" %}
        </div>

        {# CHAIN #}
        <h1 class="module-doc">Module Chain&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="chain" %}
        </div>

        {# STOCKS #}
        <h1 class="module-doc">Module Stocks&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="stocks" %}
        </div>
    </div>

    {% endfor %}

{% else %}
 <div class="module round error">
     You are not a bot admin. Reach out to a <tt>@Staff</tt> on the <a href='{% url "discord" %}' target="_blank"><i class="fab fa-discord"></i> YATA discord server</a>.<br/>
     Check before that you're logged in.
 </div>
{% endif %}
