{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% if secret %}
    <div id="dashboard-readonly" class="container-fluid p-md-3 p-1 mb-3 module rounded valid"><p>This is a read only view of the dashboard <tt>#{{secret}}</tt></p></div>
{% endif %}
{% if servers|length %}
    {% for server in servers %}
    <h2 class="title rounded-top px-2 py-2 toggle-display rounded mb-3">
        <div class="d-flex flex-wrap align-items-center">
          <div class="px-2"><i class="fas fa-server"></i>&nbsp;{{server.name}}</div>
          <div class="px-2 me-auto">
            <i class="fas fa-robot fa-icon-inline"></i>&nbsp;{{server.bot}}</i>
          </div>
          <div class="px-2 toggle-rotate"><i class="fas fa-caret-right"></i></div>
        </div>
    </h2>
    <div class="container-fluid p-md-3 p-1 mb-3 module " style="display: none;">
        {# ADMINISTRATION #}
        <h3 class="module-doc">Administration&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            <p>Non admin can access a read only view of this dashboard at this address:
                <a href="{% url 'bot:dashboardReadOnly' server.secret %}">https://yata.yt{% url 'bot:dashboardReadOnly' server.secret %}</a>
            </p>
            {% include "bot/dashboard/modules.html" with module="admin"%}
        </div>

        {# VERIFY #}
        <h3 class="module-doc">Module Verify&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="verify" %}
        </div>

        {# RACKET #}
        <h3 class="module-doc">Module Racket&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="rackets" %}
        </div>

        {# WAR #}
        <h3 class="module-doc">Module War&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="wars" %}
        </div>

        {# LOOT #}
        <h3 class="module-doc">Module Loot&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="loot" %}
        </div>

        {# REVIVE #}
        <h3 class="module-doc">Module Revive&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="revive" %}
        </div>

        {# OC #}
        <h3 class="module-doc">Module OC&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="oc" %}
        </div>

        {# CHAIN #}
        <h3 class="module-doc">Module Chain&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="chain" %}
        </div>

        {# STOCKS #}
        <h3 class="module-doc">Module Stocks&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
        <div class="module-doc">
            {% include "bot/dashboard/modules.html" with module="stocks" %}
        </div>
    </div>

    {% endfor %}

{% else %}
<div class="container-fluid p-md-3 p-1 mb-3 rounded module error">
     You are not a bot admin. Reach out to a <tt>@Staff</tt> on the <a href='{% url "discord" %}' target="_blank"><i class="fab fa-discord"></i> YATA discord server</a>.<br/>
     Check before that you're logged in.
 </div>
{% endif %}
