{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

{% if module == "admin"%}
<p>
    {% for k, v in server.get_admin %}
        {% if k == "prefix" %}
            <h2 class="command-doc">{{k|capfirst}}&nbsp;&nbsp;<i class="fas fa-caret-right{%if force_display == k %} fa-rotate-90{%endif%}"></i></h2>
            <div class="command-doc" {%if force_display == k %}style="display: block;"{%endif%}>
                <ul><form>
                    {% for pref in server.get_prefixes %}
                        <li><span class="dashboard-option {% if pref != v %}un{%endif%}selected" data-sid="{{server.discord_id}}" data-mod="admin" data-typ="prefix" data-val="{{pref}}">{{pref}}</span></li>
                    {%endfor%}
                </form></ul>
            </div>
        {% else %}
            <b>{{k|capfirst}}:</b>  {{v}}<br>
        {% endif %}
    {% endfor %}
</p>
{% elif module == "rackets" %}
    {% with mod=server.get_racket %}
        {% include "bot/dashboard/module-channels-and-roles.html" %}
    {% endwith %}
{% elif module == "loot" %}
    {% with mod=server.get_loot %}
        {% include "bot/dashboard/module-channels-and-roles.html" %}
    {% endwith %}
{% else %}
<p class="error">{{error}}</p>
{% endif %}
