{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

{% if mod %}
    {% for k, v in mod.items %}
        <h2 class="command-doc">{{v.title}}{%if v.mandatory%}<sup class="warning">*</sup>{%endif%}&nbsp;&nbsp;<i class="fas fa-caret-right{%if force_display == k %} fa-rotate-90{%endif%}"></i></h2>
        <div class="command-doc" {%if force_display == k %}style="display: block;"{%endif%}>
            <p>{{v.help|safe}}</p>
            <ul><form>
                {% for discord_id, discord_name in v.all.items %}
                    <li><span class="dashboard-option {% if discord_id not in v.selected %}un{%endif%}selected" data-sid="{{server.discord_id}}" data-mod="{{module}}" data-typ="{{k}}" data-key="{{discord_id}}" data-val="{{discord_name}}" title="Discord id {{discord_id}}"><tt>{{v.prefix}}{{discord_name|safe}}</tt></span></li>
                {% endfor %}
            </form></ul>
        </div>
        <p style="margin-left: 5px">
            Current settings:
            {% if v.selected|length %}
                {% for discord_id, discord_name in v.selected.items %}
                    {% if discord_id in v.all %}
                        <tt class="dashboard-option-inline" title="Discord id {{discord_id}}">{{v.prefix}}{{discord_name}} </tt>
                    {% else %}
                        <span class="dashboard-option" data-sid="{{server.discord_id}}" data-mod="{{module}}" data-typ="{{k}}" data-key="{{discord_id}}" data-val="{{discord_name}}" title="Discord id {{discord_id}}">
                            <tt class="dashboard-option-inline error" title="Discord id {{discord_id}}">{{v.prefix}}{{discord_name}}</tt>
                        </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                None.{% if v.mandatory %} <span class="error">You need to select at least one {{v.type}}.</span>
            {% endif %}
            {% endif %}
        </p>
    {% endfor %}
    <p>
        <from><span class="dashboard-option error" data-sid="{{server.discord_id}}" data-mod="{{module}}" data-typ="disable">Disable module</span></from>
    </p>
{% else %}
    <p>
        <from><span class="dashboard-option valid" data-sid="{{server.discord_id}}" data-mod="{{module}}" data-typ="enable">Enable module</span></from>
    </p>
{% endif %}
