{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}


{% load app_filters %}

<div class="table-responsive">
<table class="table table-hover table-striped table-borderless tablesorter dashboard-revive-servers">
    <thead>
        <tr>
            <th class="b">Server ID</th>
            <th class="c">Admins</th>
            <th class="a">Server</th>
            <th class="d">Public&nbsp;<i class="fas fa-info-circle" title="Public servers allow anyone to send revive calls"></th>
            <th class="d">Freevive&nbsp;<i class="fas fa-info-circle" title="Freevive servers will receive freerevive calls"></th>
            <th class="d">Send</th>
            <th class="d">Receive</th>
            <th class="d">Blacklist</th>
        </tr>
    </thead>
    <tbody>
        {% for revive_server in config.all %}
        <tr>
            {% include "bot/dashboard/module-revive-server.html" %}
        </tr>
        {% endfor %}

        <tr>
          <td colspan="8" class="text-center">
            <div class="pagination d-block">
                <span class="step-links">
                    {% if config.all.has_previous %}
                        <a class="yt-page-link rounded first" href="{% url 'bot:dashboardOption' %}?bid={{server.bot.pk}}&sid={{server.discord_id}}&prs=1"></a>
                        <a class="yt-page-link rounded previous" href="{% url 'bot:dashboardOption' %}?bid={{server.bot.pk}}&sid={{server.discord_id}}&prs={{ config.all.previous_page_number }}"></a>
                    {% endif %}

                    <span class="current">
                        {{ config.all.number }}/{{ config.all.paginator.num_pages }}
                    </span>

                    {% if config.all.has_next %}
                        <a class="yt-page-link rounded next" href="{% url 'bot:dashboardOption' %}?bid={{server.bot.pk}}&sid={{server.discord_id}}&prs={{ config.all.next_page_number }}"></a>
                        <a class="yt-page-link rounded last" href="{% url 'bot:dashboardOption' %}?bid={{server.bot.pk}}&sid={{server.discord_id}}&prs={{ config.all.paginator.num_pages }}"></a>
                    {% endif %}
                </span>
            </div>
          </td>
        </tr>

    </tbody>
</table>
</div>
