/*
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.awards-categories td {
    text-align: center!important;
    width: 14.29%;
    cursor: pointer;
    border: 0;
}
table.awards-summary td {
    width: 25%;
    cursor: pointer;
    border: 0;
}

table.awards-categories td a:hover,
table.awards-categories td a:focus,
table.awards-categories td a:active { text-decoration: none; color: #447e9b; }

table td.award-done { color: #0B8E14; font-weight: bold; }
table td.award-todo { color: #8E0B14; font-weight: bold; }
table td.award-done:hover { color: #0BaE14; }
table td.award-todo:hover { color: #aE0B14; }

table.awards-list td.a { width: 10%; }
table.awards-list td.b { width: 20%; font-style: oblique; }
table.awards-list td.c { width: 5%; text-align: right; }
/* table.awards-list td.d { width: 30%; } */
table.awards-list td.e { width: 7%; text-align: right; } /* x2 */
table.awards-list td.f { width: 4%; text-align: center; }
table.awards-list td.g { width: 6%; text-align: center; }
table.awards-list td.h { width: 11%; text-align: left; }
table.awards-list td.i { width: 2%; text-align: left; }
table.awards-list tr.award-done { display: none; }
table.awards-list tr.award-todo > td:nth-child(2) > img { opacity: 0.5; }
table.awards-list tr.award-todo:hover > td:nth-child(2) > img { opacity: 1.0; }
table.awards-list img.medals { height: 19px; }
table.awards-list tr.award-unreach { text-decoration: line-through; opacity: 0.5; font-style: oblique;}
table.awards-list tr.award-unreach:hover { text-decoration: none; opacity: 1.0; font-style: normal;}

table.awards-list tr.award-medal  { background:#ffffff22;  }
table.awards-list tr.award-honor  { background:#cccccc22;  }

table.awards-list tr.next  { background-color: #ff00000E; }

table.awards-hof td.a { width: 10%; text-align: center;}
table.awards-hof td.b { width: 25%; }  /* x2 */
table.awards-hof td.c { width: 20%; text-align: center;} /* x2 */
table.awards-hof tr.its-you {  background:#b6d7a8; }


.google-visualization-tooltip {
    /* position:absolute !important;
    top:0 !important;
    left:0% !important; */
    width: 210px;
    padding-top: 5px !important;
    text-align: center;
    z-index:+1;
}

.google-visualization-tooltip > * {
    padding: 0px !important;
    margin: 0px !important;
}


div.award-default {
  position: relative;
  width: 200px;
  height: 19px;
}
img.award-default {
  margin:0px;
  padding:0px;
}

span.award-default {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 15px;
  font-family: "Impact";
  font-weight: bold;
  font-style: normal;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

span.awarded-time {
    color: #999;
    font-style: italic;
}
