/* torn like */

html, body{
  min-height: 100%;
  background:#ccc url("/static/images/bg_regular.jpg") left top repeat;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
body{
  position: relative;
}

div.overlay{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

div.modal {
    width: 300px;
    height: 20px;
    line-height: 20px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    /* text-align: center; */
    z-index: 11; /* 1px higher than the overlay layer */
}

img.thumb{
    height: 26px;
    margin:0 10px 2px -7px ;
    background:#ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-radius: 4px;
}

.module {
    background-color: #cccccc00;
    /* padding:0 10px 0 10px; */
}

.whiteBG {
   background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
   border-radius:0 0 6px 6px;
}

.justTxt {
    padding: 10px;
}



h2.title {
    background: #ccc url("/static/images/section_title_black_bg.png") left top repeat;
    /* color: #ccc; */
    /* cursor: pointer; */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px 6px 0 0;
    margin-top:0;
}

h2.greyTitle {
    background: #ccc url("/static/images/section_title_gray_bg.png") left top repeat;
}


h2.close {
    cursor: pointer;
}


h2.toggleDisplay {
    cursor: pointer;
}

i.title-arrow{
    display: inline-block;
    margin: 0 20px 0 20px;
    /* padding: 10; */
    border: 0;
    vertical-align: middle;
}


div.hide {
    display: none;
}


h2.side {
    border-radius: 6px;
}

h2.side i {
    background: url("/static/images/mobile_side_nav_arrow_side.png") left top no-repeat;
    height: 14px;
    width: 19px;
}

h2.down {
    border-radius: 6px 6px 0 0;
}

h2.down i {
    background: url("/static/images/mobile_side_nav_arrow_down.png") left top no-repeat;
    height: 9px;
    width: 14px;
}



.submit-row {
    /* background-color: #cccccc00; */
    border:0px;
    border-radius: 0 0 6px 6px;
    background: #ccc url("/static/images/section_title_black_bg.png") left top repeat;
    text-align: left;
}

input.update-key,
input.update-scan,
input.update-type {
    display: inline-block;
    align:left;
    padding: 0 12px 0 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: #333;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 0px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

input.update-type:hover,
input.update-type:focus,
input.update-type:active,
input.update-scan:hover,
input.update-scan:focus,
input.update-scan:active,
input.update-key:hover,
input.update-key:focus,
input.update-key:active {
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 -48px;
}

table tr:last-child td {
    border: 0px;
}

table.tablehover td {
    vertical-align:middle;
    height: 50px;
}
table.tablehover tr:nth-child(2n) {
    background:#EEE;
}
table.tablehover tr:nth-child(2n+1) {
    background:#FFF;
}
table.tablehover tr:hover {
    background:#AAA;
}

td.notOnMarket {
    background:#FD6431;
}
td.onMarket {
    background:#79C732;
}


table.item-sell-table  {
    display: inline-table;
    width:120px;
    box-sizing: border-box;
}

table.item-sell-table img {
    width:100%;
}

table.item-sell-table a:hover {
    text-decoration: underline;
}


table.item-sell-table td.A,
table.item-sell-table th.A {
    padding:2px;
    max-width:45px;
    width:55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.item-sell-table td.B,
table.item-sell-table th.B {
    padding:2px;
    max-width:75px;
    width:66px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.item-sell-table th {
    text-align:center;
}

table.item-sell-table tr {
    text-align:center;
}

table.item-sell-table tr.imag th {
    max-height:65px;
}

table.item-sell-table div.time {
    max-height:15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.item-sell-table tr.name th {
    height:35px;
    vertical-align:middle;
}
table.item-sell-table tr.name div {
    max-height:30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.item-sell-table.scale {
    width:375px;
}

table.item-sell-table.scale td {
    height:10px!important;
    width:75px!important;
    text-align:center;

}

table.item-sell-table th img {
    cursor:pointer;
}
table.item-sell-table td {
    text-align:right;
}

td.llt      ,tr.llt       { background:#d9ead3; }
td.lt       ,tr.lt        { background:#b6d7a8; }
td.eq       ,tr.eq        { background:#9fc5e8; }
td.gt       ,tr.gt        { background:#f9cb9c; }
td.ggt      ,tr.ggt       { background:#fce5cd; }
/* td.ignore   ,tr.ignore    { background:#eeeeee; color:#aaaaaa; } */

td.llt:hover,tr.llt:hover { background:#b6d7a8; color:#000000; }
td.lt:hover ,tr.lt:hover  { background:#93c47d; color:#000000; }
td.eq:hover ,tr.eq:hover  { background:#6fa8dc; color:#000000; }
td.gt:hover ,tr.gt:hover  { background:#f6b26b; color:#000000; }
td.ggt:hover,tr.ggt:hover { background:#f9cb9c; color:#000000; }

tr.llt { animation: blinker 1s linear infinite; }
@keyframes blinker {  50% { opacity: 0.5; } }

table.item-sell-table th.lack       { background:#f4cccc!important; }
table.item-sell-table th.lack:hover { background:#ea9999!important; }

tr.zero-hits       { background:#f4cccc!important; display: none;}
tr.zero-hits:hover { background:#ea9999!important; }
tr.not-there       { background:#b6d7a8!important; }
tr.not-there:hover { background:#93c47d!important; }
tr.kicked-members       { color:#aaaaaa; }
/* tr.kicked-members:hover { background:#ddddddaa!important; } */

tr.zero-respect       { background:#f4cccc!important; }
tr.zero-respect:hover { background:#ea9999!important; }
tr.max-fair-fight       { background:#b6d7a8!important; }
tr.max-fair-fight:hover { background:#93c47d!important; }
tr.good-fair-fight       { background:#d9ead3!important; }
tr.good-fair-fight:hover { background:#b6d7a8!important; }
tr.bonus-attack       { background:#a8b6d7!important; }
tr.bonus-attack:hover { background:#7d93c4!important; }

tr.not-okay       { background:#f4cccc!important; }
tr.not-okay:hover { background:#ea9999!important; }
td.not-okay       { background:#f4cccc!important; }
td.not-okay:hover { background:#ea9999!important; }


.progress-bar {
    background-color: lightgray;
    border-radius: 4px;
    width: 150px;
    height: 14px;
    display: inline-block;
}

.progress-bar > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(150,150,150);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height:14px;
  font-weight: bold;
}

.progress-bar > span.strips:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 4px;
  overflow: hidden;
}

.blue > span {
  background-color: #7d93c4;
}

.violet > span {
  background-color: #c493c4;
}

@keyframes refresh {
    0%   {width: 100%; background-color: #f1a165;}
    100% {width: 0%; background-color: #ff0000;}
}

.refresh > span {
    animation: refresh 10s linear;
    -webkit-animation: refresh 10s linear;
}

@keyframes refresh-content {
    0%   {content: "10s"}
    10%   {content: "9s"}
    20%   {content: "8s"}
    30%   {content: "7s"}
    40%   {content: "6s"}
    50%   {content: "5s"}
    60%   {content: "4s"}
    70%   {content: "3s"}
    80%   {content: "2s"}
    90%   {content: "1s"}
    100%   {content: "0s"}
}

.refresh > span.strips:after {
    animation: refresh-content 10s linear;
    -webkit-animation: refresh-content 10s linear;
}

@keyframes move-strips {
    0%   {width: 100%;}
    100% {width: 0%;}
}

.move-strips > span.strips:after {
    animation: move-strips 10s linear;
    -webkit-animation: move-strips 10s linear;
}

/* table.chain-report th { background:#99999922; cursor: pointer; } */

table.chain-report tr:nth-child(odd)  { background:#cccccc22;  }
table.chain-report tr:nth-child(even) { background:#ffffff22; }
table.chain-report tr:nth-child(odd):hover  { background:#aaaaaa22; }
table.chain-report tr:nth-child(even):hover { background:#dddddd22; }
table.chain-report td.white { background:#ffffff22; font-weight: bold; }
table.chain-report td.white:hover { background:#aaaaaa22; font-weight: bold; }

table.highlight tr:hover { font-weight: bold; }

table.center {
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

table.center-large {
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

#content div.validnote {
    color: #0B8E14;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-color: #0B8E14;
    margin:0px 50px;
}

div.loader{
    padding:10px;
    background: url("https://www.torn.com/images/v2/main/ajax-loader.gif") center no-repeat;
}

tr.award-medal  { background:#ffffff22;  }
tr.award-medal:hover  { background:#dddddd22; }
tr.award-honor  { background:#cccccc22;  }
tr.award-honor:hover  { background:#aaaaaa22; }

/* tr.awards-done {
    color: #0B8E14;
} */
tr.award-done       { background:#d9ead3!important; }
tr.award-done:hover { background:#b6d7a8!important; }
/* tr.award-todo > td:nth-child(2):before {
    position: absolute;
    height: 12px;
    margin-top:2px;
    margin-left:10px;
    content: url("https://www.torn.com//images/v2/awards/honor_lock_reg.png");
} */
tr.award-todo > td:nth-child(2) > img {
    opacity: 0.5;
}

tr.award-todo:hover > td:nth-child(2) > img {
    opacity: 1.0;
}

td.awards-done {
    color: #0B8E14;
    font-weight: bold;
}
td.awards-todo {
    color: #8E0B14;
    font-weight: bold;
}

img.medals {
    height: 19px;
}
