/*
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/


html, body{
  min-height: 100%;
  background:#ccc url("/static/images/bg_regular.jpg") left top repeat;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
body{ position: relative; }

a, th { outline: none; }

h1 { height: 35px; }

li { font-size: 14px; }
ul li { list-style-type: disclosure-closed; }
ul ul li { list-style-type: disclosure-closed; }

.hidden {display: none;}

a.form-inline, form.form-inline { display: inline!important; }

h2 a { color: #FFF!important; font-weight: bold; text-decoration: none;}
h2 a:focus,
h2 a:hover,
h2 a:checked,
h2 a:enabled,
h2 a:active { color: #DDD; text-shadow: #447e9b 1px 0 5px; text-decoration: none;}

div#content {
    padding-top: 0px;
}

div.module {
    background-color: #cccccc00;
    /* padding:0 10px 0 10px; */
    border-radius:0 0 6px 6px;
    padding: 10px;
    margin-bottom: 20px;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
}

div.module h1 {margin: 15px 10px; height: auto; font-weight: 300; font-size: 20px; color: #666;}
div.module h2 {margin: 10px 10px; height: auto; font-weight: 600; font-size: 15px; color: #666;}
div.module h3 {margin: 5px 10px; height: auto; font-weight: 500; font-size: 14px;}

div.module h2 {padding: 0; background: 0000;}

div.module p:last-child {
    margin: 0px;
}

/* div.tutorial {
    margin-bottom: 0px;
} */

div.module input[type="submit"] {
    display: inline-block;
    /* align:left; */
    padding: 0 12px 0 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: #333;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 0px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

div.module input[type="submit"]:hover,
div.module input[type="submit"]:focus,
div.module input[type="submit"]:active {
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 -48px;
}


h2.title {
    background: #ccc url("/static/images/section_title_black_bg.png") left top repeat;
    /* color: #ccc; */
    /* cursor: pointer; */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px 6px 0 0;
}

h2.grey { background: #ccc url("/static/images/section_title_gray_bg.png") left top repeat; }

.error { color: #CC3434!important; font-weight: bold; }
.warning { color: #FF8C00!important; font-weight: bold; }
.neutral { color: #666!important; font-weight: bold; }
.valid { color: #0B8E14!important; font-weight: bold; }
.error:hover,
.error:active,
.error:focus { color: #A02525!important; }
.neutral:hover,
.neutral:active,
.neutral:focus { color: #444!important; }
.valid:hover,
.valid:active,
.valid:focus { color: #005E00!important; }

div.error {
    font-weight: bold;
    color: #CC3434;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-radius: 6px;
    border: 1px;
}
div.valid {
    font-weight: bold;
    color: #0B8E14;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-radius: 6px;
    border: 1px;
}

form.flush-right,
span.flush-right,
i.flush-right,
a.flush-right {
    float: right;
    margin-right: 10px;
    padding-left: 16px;
}

span.sep {
    margin-left: 5px;
    margin-right: 5px;
}
/* span.sep:before {
    content:" -";
} */

.no-margin {
    margin: 0px!important;
}

.no-padding {
    padding: 0px!important;
}

hr.sep {
    display: block;
    clear: both;
    text-align: center;
    margin: 15px 80px;
    height: 1px;
    background-color: #CCC;
}


table.center {
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

table.center-medium {
  width:65%;
  margin-left:17.5%;
  margin-right:17.5%;
}

table.center-large {
  width:95%;
  margin-left:2.5%;
  margin-right:2.5%;
}

table.center-full-half {
  width:50%;
  float:left;
  margin-left:0%;
  margin-right:0%;
}

table.center-full-third {
  width:33%;
  float:left;
  margin-left:0%;
  margin-right:0%;
}

table.center-full-fourth {
  width:24%;
  float:left;
  margin-left:0%;
  margin-right:0%;
}

table.center-full {
    width:100%;
    margin-left:0%;
    margin-right:0%;
}

/* td.border-left,
th.border-left { border-left: 0.5px dashed; } */

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    padding: 1px;
}

table.center td,
table.center-medium td,
table.center-large td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.center-full-half th,
table.center-full-third th,
table.center-full-fourth th,
table.center th,
table.center-medium th,
table.center-large th { text-align: center; }

table.trshadow tr:hover  {
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inner 0 0 5px #888;
}

table.tdshadow td:hover,
td.tdshadow:hover  {
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inner 0 0 5px #888;
}

thead th.up:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0de";
    display: block;
}

thead th.down:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0dd";
    display: block;
}
/*
thead th.none:after {
    font-family: "Font Awesome 5 Free";
    content: "c";
    padding-left: 10px;
} */


.dont-touch-me a {
  display: block;
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

.old-refresh { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }

h2.rounded, div.rounded { border-radius: 6px; margin-bottom: 20px; }
h2.toggle-display { cursor: pointer; }

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    /* line-height: 1.6; */
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

div.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

div.modal-center {
    width: 300px;
    max-height: 80%;
    line-height: 20px;
    position: fixed;
    top: 10%;
    left: 50%;
    /* margin-top: -100px; */
    margin-left: -150px;
    border-radius: 5px;
    /* text-align: center; */
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-x: hidden;
    overflow-y: auto;
}

div.modal-center > div.module {
    margin-bottom: 0px;
}

div.modal-center-large {
    width: 80%;
    max-height: 80%;
    line-height: 20px;
    position: fixed;
    top: 10%;
    left: 20%;
    /* margin-top: -100px; */
    margin-left: -150px;
    border-radius: 5px;
    /* text-align: center; */
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-x: hidden;
    overflow-y: auto;
}

div.modal-center-large > div.module {
    margin-bottom: 0px;
}


div.modal-topright {
    max-width: 65%;
    /* max-height: 67.6px; */
    line-height: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #f1c40f;
    border-radius: 0px 0px 0px 5px;
    padding: 10px;
    /* text-align: center; */
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-x: hidden;
    overflow-y: hidden;
}



table.yata-login {
    width: 100%;
}
table.yata-login td {
    font-size: unset;
    line-height: unset;
    border: none;
    vertical-align: middle;
    white-space: nowrap;
}

table.yata-login td.a { width: 10%; text-align: left; }  /* x1 */
table.yata-login td.b { width: 10%; text-align: left; }  /* x7 */
table.yata-login td.c { width: 20%; text-align: right; }  /* x1 */
table.yata-login td.d { width: 90%; text-align: left; }  /* x1 */

table.yata-login td.b > span { color: #666; font-style: italic;}  /* x7 */

/* table.yata-login td:hover { background: #eee; }  */ /* x6 */

div.tutorial { font-size: 12px; }
div.tutorial li { font-size: 12px; line-height: 1.1}
div.tutorial p { margin-left: 5px; }

span.login-message {
    font-style: italic;
    color: #447e9b!important;
}

span.section-status { opacity: 0.8; font-weight: normal!important; margin-left: 10px;}


/* member status */
.player-status-red { color: #CC3434; }
.player-status-green { color: #0B8E14; }
.player-status-blue { color: #447e9b; }

/* .error { color: #CC3434!important; font-weight: bold; }
.warning { color: #FF8C00!important; font-weight: bold; }
.neutral { color: #666!important; font-weight: bold; }
.valid { color: #0B8E14!important; font-weight: bold; } */
