html, body{
  min-height: 100%;
  background:#ccc url("/static/images/bg_regular.jpg") left top repeat;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
body{
  position: relative;
}

a, th {
    outline: none;
}

div.module {
    background-color: #cccccc00;
    /* padding:0 10px 0 10px; */
    border-radius:0 0 6px 6px;
    padding: 10px;
    background: #ccc url("/static/images/bg_hospital.jpg") left top repeat;
}

div.module input[type="submit"] {
    display: inline-block;
    /* align:left; */
    padding: 0 12px 0 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: #333;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 0px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

div.module input[type="submit"]:hover,
div.module input[type="submit"]:focus,
div.module input[type="submit"]:active {
    background: url("/static/images/buttons_desktop.png") left top no-repeat;
    background-position: 0 -48px;
}


h2.title {
    background: #ccc url("/static/images/section_title_black_bg.png") left top repeat;
    /* color: #ccc; */
    /* cursor: pointer; */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px 6px 0 0;
    margin-top:0;
}

h2.grey {
    background: #ccc url("/static/images/section_title_gray_bg.png") left top repeat;
}

div.loader{
    padding:10px;
    background: url("/static/images/ajax-loader.gif") center no-repeat;
}

a.error {
    color: #CC3434;
    font-weight: bold;
    padding-left: 16px;
}

a.error:hover,
a.error:active,
a.error:focus {
    color: #993333;
}

span.nok {
    color: #CC3434;
}

span.ok {
    color: #3434CC;
}

span.flush-right,
a.flush-right {
    float: right;
    margin-right: 10px;
    }

p.no-margin {
    margin:0px;
}
