/*
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.bazaar-categories td {
    text-align: center;
    width: 20%;
    cursor: pointer;
    border: 0;
}

h2.title > img{
    height: 26px;
    margin:0 10px 2px -7px ;
    background:#ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-radius: 4px;
}

/* a.update-type {
    color: #FFF;
}
a.update-type:hover {
    color: #DDD;
    text-shadow: #FC0 1px 0 5px;
} */

table.item-sell-table  {
    display: inline-table;
    width:120px;
}

table.item-sell-table img { width:100%; cursor:pointer; }
table.item-sell-table a.update-item > button { width:100%; height: 49px; }
table.item-sell-table a:hover { text-decoration: underline; }

table.item-sell-table th {
    text-align: center;
    height:15px;
    line-height: 15px;
}

table.item-sell-table div.item-image {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
}

table.item-sell-table div.item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    height:15px;
}
table.item-sell-table div.item-name > a { cursor: help; }
table.item-sell-table a.prices-item { cursor: help; }
table.item-sell-table th.item-stock { cursor: default; }
table.item-sell-table tr.prices-tendency > th { padding-left: 2px; padding-right: 2px;}

table.item-sell-table th.lack       { background:#f4cccc!important; }
table.item-sell-table th.lack:hover { background:#ea9999!important; }

/* overflow: hidden;
text-overflow: ellipsis; */


table.item-sell-table td {
    padding:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    /* white-space: nowrap; */
}

table.item-sell-table .llt { background:#d9ead3; }
table.item-sell-table .lt  { background:#b6d7a8; }
table.item-sell-table .eq  { background:#9fc5e8; }
table.item-sell-table .gt  { background:#f9cb9c; }
table.item-sell-table .ggt { background:#fce5cd; }

table.item-sell-table tr.llt { animation: blinker 1s linear infinite; }
@keyframes blinker {  50% { opacity: 0.5; } }

table.item-sell-table tr.ignore    { background:#eeeeee; color:#aaaaaa; }

table.item-sell-table.scale { width: 250px;}
table.item-sell-table.scale td { text-align: center; padding: 5px; cursor: default;}

table.item-sell-table td.A { width:40%; cursor: default; }
table.item-sell-table td.B { width:60%; cursor: default;}

/* for torn style in items description */
span.italic { font-style: italic; }
span.bold { font-weight: bold; }
span.t-gray-9 { color: #999; }
span.t-green { color: #0B8E14; }
