table.bazaar-categories td {
    text-align: center;
    width: 25%;
    cursor: pointer;
    border: 0;
}

h2.title > img{
    height: 26px;
    margin:0 10px 2px -7px ;
    background:#ccc url("/static/images/bg_hospital.jpg") left top repeat;
    border-radius: 4px;
}

a.update-type {
    color: #FFF;
}
a.update-type:hover {
    color: #DDD;
    text-shadow: #FC0 1px 0 5px;
}

table.item-sell-table  {
    display: inline-table;
    width:120px;
}

table.item-sell-table img { width:100%; cursor:pointer; }
table.item-sell-table a.update-item > button { width:100%; height: 49px; }
table.item-sell-table a:hover { text-decoration: underline; }

table.item-sell-table th {
    text-align: center;
    height:15px;
    line-height: 15px;
}

table.item-sell-table div.item-image {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
}

table.item-sell-table div.item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    height:15px;
}
table.item-sell-table div.item-name > a {
    cursor: help;
}

table.item-sell-table th.lack       { background:#f4cccc!important; }
table.item-sell-table th.lack:hover { background:#ea9999!important; }

/* overflow: hidden;
text-overflow: ellipsis; */


table.item-sell-table td {
    padding:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    /* white-space: nowrap; */
}

table.item-sell-table tr.llt { background:#d9ead3; }
table.item-sell-table tr.lt  { background:#b6d7a8; }
table.item-sell-table tr.eq  { background:#9fc5e8; }
table.item-sell-table tr.gt  { background:#f9cb9c; }
table.item-sell-table tr.ggt { background:#fce5cd; }
table.item-sell-table tr.llt:hover { background:#b6d7a8; color:#000000; }
table.item-sell-table tr.lt:hover  { background:#93c47d; color:#000000; }
table.item-sell-table tr.eq:hover  { background:#6fa8dc; color:#000000; }
table.item-sell-table tr.gt:hover  { background:#f6b26b; color:#000000; }
table.item-sell-table tr.ggt:hover { background:#f9cb9c; color:#000000; }

table.item-sell-table tr.llt { animation: blinker 1s linear infinite; }
@keyframes blinker {  50% { opacity: 0.5; } }

table.item-sell-table tr.ignore    { background:#eeeeee; color:#aaaaaa; }

table.item-sell-table td.A { width:40%; cursor: default; }
table.item-sell-table td.B { width:60%; cursor: default;}

div.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

div.modal {
    width: 300px;
    max-height: 80%;
    line-height: 20px;
    position: fixed;
    top: 10%;
    left: 50%;
    /* margin-top: -100px; */
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    /* text-align: center; */
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-x: hidden;
    overflow-y: auto;
}

div.modal > div.module {
    margin-bottom: 0px;
}


/*
table.item-sell-table tr.imag th { max-height:65px; }

table.item-sell-table div.time {
    max-height:15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.item-sell-table tr.name th {
    height:35px;
    vertical-align:middle;
    max-height:35px;
    overflow: hidden;
    text-overflow: ellipsis;
}


table.item-sell-table tr.name {
    height:35px;
    vertical-align:middle;
    max-height:35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.item-sell-table.scale { width:375px; }

table.item-sell-table.scale td {
    height:10px!important;
    width:75px!important;
    text-align:center;

}

td.notOnMarket { background:#FD6431; }
td.onMarket { background:#79C732; }


*/
