/*
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.chain-categories td {
    text-align: center;
    width: 15%;
    cursor: pointer;
    border: 0;
}
table.chain-summary td {
    width: 25%;
    border: 0;
}

table.territory-summary td {
    width: 33%;
    border: 0;
    text-align: center;
}

table.chain-list td.a { width: 10%; }
table.chain-list td.b { width: 15%; text-align: center;} /* x2 */
table.chain-list td.c { width: 15%; text-align: right;}
table.chain-list td.d { width: 10%; text-align: center;} /* x3 */
table.chain-list td.e { width: 15%; }
table.chain-list td.e a { display: inline; }
table.chain-list td.e form { display: inline; }

table.chain-members td.a { width: 15%; }
table.chain-members td.b { width: 15%; text-align: right; cursor: pointer;}
table.chain-members td.c { width: 30%; text-align: left;}
table.chain-members td.d { width: 5%; text-align: center; cursor: pointer;}
table.chain-members td.e { width: 12.5%; text-align: center; cursor: default;}  /* x2 */

table.wall-list td.a { width: 10%; text-align: center;} /* x1 */
table.wall-list td.b { width: 15%;  text-align: center;} /* x5 */
table.wall-list td.c { width: 5%; text-align: center;} /* x3 */

table.chain-jbonus td.a { width: 30%; text-align: left; }
table.chain-jbonus td.b { width: 20%; text-align: left; }
table.chain-jbonus td.c { width: 10%; text-align: center; }  /* x3 */
table.chain-jbonus td.d { width: 20%; text-align: right; }

table.chain-jsummary td.a { width: 20%; text-align: left; }
table.chain-jsummary td.b { width: 20%; text-align: left; }
table.chain-jsummary td.c { width: 20%; text-align: center; } /* x2 */
table.chain-jsummary td.d { width: 20%; text-align: center; }


table.chain-report td.a { width: 4%; text-align: center; }
table.chain-report td.b { width: 15%; text-align: left; }
table.chain-report td.c { width: 9%; text-align: center; }  /* x9 */
/* table.chain-report tr:hover { font-weight: bold; } */

table.chain-keys td { line-height: 28px; }
table.chain-keys td.a { width: 50%; text-align: left; }
table.chain-keys td.b { width: 25%; text-align: center; }  /* x2 */

table.chain-report tr.zero-hits       { background:#f4cccc; display: none;}
table.chain-report tr.zero-hits:hover { background:#ea9999; }
table.chain-report tr.not-there       { background:#b6d7a8; }
table.chain-report tr.not-there:hover { background:#93c47d; }
table.chain-report tr.kicked-members  { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }
/* table.chain-report tr.kicked-members:hover { background:#ddddddaa; } */

table.chain-report tr.zero-respect       { background:#f4cccc; }
table.chain-report tr.zero-respect:hover { background:#ea9999; }
table.chain-report tr.max-fair-fight       { background:#b6d7a8; }
table.chain-report tr.max-fair-fight:hover { background:#93c47d; }
table.chain-report tr.good-fair-fight       { background:#d9ead3; }
table.chain-report tr.good-fair-fight:hover { background:#b6d7a8; }
table.chain-report tr.bonus-attack       { background:#a8b6d7; }
table.chain-report tr.bonus-attack:hover { background:#7d93c4; }

table.chain-crontab td.a { width: 50%; text-align: left; }
table.chain-crontab td.b { width: 25%; text-align: center; }  /* x2 */


table.chain-armory-filter th { width: 50%; text-align: center; }  /* x2 */
table.chain-armory-record td { width: 50%; text-align: center; }  /* x2 */

table.chain-armory-toggle-view tr { cursor: pointer; }
table.chain-armory-toggle-view td.a { width: 95%; text-align: left; font-weight: bold; cursor: pointer; }  /* x1 */
table.chain-armory-toggle-view td.b { width: 5%; text-align: center; cursor: pointer; }  /* x1 */

table.chain-armory-breakdown { display: none; }
table.chain-armory-breakdown td.a { width: 40%; text-align: left; }  /* x1 */
table.chain-armory-breakdown td.b { width: 20%; text-align: center; }  /* x3 */
table.chain-armory-breakdown td.c { width: 20%; text-align: left; }  /* x1 */
table.chain-armory-breakdown td.d { width: 10%; text-align: center; }  /* x8 */


table.wall-joint-faction-report td.a { width: 30%; text-align: left; }
table.wall-joint-faction-report td.b { width: 10%; text-align: center; }
table.wall-joint-faction-report td.c { width: 20%; text-align: right; }
table.wall-joint-faction-report td.d { width: 20%; text-align: center; }

table.wall-list td.a { width: 10%; text-align: center; } /* x4 */
table.wall-list td.b { width: 12%; text-align: center; } /* x5 */
table.wall-list span.Win { color: #0B8E14!important; font-weight: bold; }
table.wall-list span.Timeout { color: #FF8C00!important; font-weight: bold; }
table.wall-list span.Truce { color: #447e9b!important; font-weight: bold; }
table.wall-list span.Loss { color: #CC3434!important; font-weight: bold; }


table.territory-list td.a { width: 10%; text-align: center;} /* x7 */
table.territory-list td.b { width: 30%;}
table.territory-list tr.racket       { background:#d9ead3; }
table.territory-list tr.racket:hover { background:#b6d7a8; }

table.racket-list td.a { width: 8%; text-align: center;} /* x3 */
table.racket-list td.b { width: 15%;} /* x3 */
table.racket-list td.c { width: 20%; text-align: center;} /* x2 */

.live-bar {
    background-color: lightgray;
    border-radius: 4px;
    width: 100%;
    height: 14px;
    display: inline-block;
}

.live-bar > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(150,150,150);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height:14px;
  font-weight: bold;
}

.live-bar > span.strips:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 4px;
  overflow: hidden;
}

.cooldown > span {
  background-color: #c493c4;
}

.refresh > span {
  /* background-color: #93c4c4; */
  animation: refresh 60s linear;
  -webkit-animation: refresh 60s linear;
}

@keyframes refresh {
    0%   {width: 100%; background-color: #f1a165;}
    100% {width: 0%; background-color: #ff0000;}
}

/* @keyframes refresh-content {
    0%    {content: "60s"}
    4%    {content: "24s"}
    8%   {content: "23s"}
    12%   {content: "22s"}
    16%   {content: "21s"}
    24%   {content: "20s"}
    28%   {content: "19s"}
    32%   {content: "18s"}
    36%   {content: "17s"}
    40%   {content: "16s"}
    44%   {content: "15s"}
    48%   {content: "14s"}
    52%   {content: "13s"}
    56%   {content: "12s"}
    60%   {content: "11s"}
    64%   {content: "10s"}
    68%   {content: "9s"}
    72%   {content: "8s"}
    76%   {content: "7s"}
    80%   {content: "6s"}
    84%   {content: "5s"}
    88%   {content: "4s"}
    92%   {content: "3s"}
    96%   {content: "2s"}
    100%   {content: "1s"}
} */

/* .refresh > span.strips:after {
    animation: refresh-content 60s linear;
    -webkit-animation: refresh-content 60s linear;
} */


div.map-background,
div.map-graph {
    width: 650px;
    height: 379px;
    margin-left: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}

div.map-background::after {
  content: "";
  background: url("/static/images/citymap/citymap.png");
  background-size: 650px 379px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

div.map-background.x2,
div.map-graph.x2 {
    width: 1300px;
    height: 758px;
}

div.map-background.x2::after {
    background-size: 1300px 758px;
}

select.faction-upgrade-tree {
    padding: 0;
    margin: 0;
    cursor: pointer;
   overflow: hidden;
    /* -webkit-appearance: none; */
    font-weight: bold;
    /* height: 16px; */
    width: 20px;
    text-align: center;
    /* margin-top: 2px;
    margin-left: 5px; */
    border-width: 0px;
    background: #00000000;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

table.chain-tree td { vertical-align: middle; }
table.chain-tree td.a { width: 12%; text-align: left; }  /* x1 */
table.chain-tree td.b { width: 16%; text-align: left; } /* x1 */
table.chain-tree td.c { width: 7%; text-align: center; }  /* x6 */
table.chain-tree td.d { width: 10%; text-align: right; }  /* x3 */

table.chain-tree-sum td.a { width: 10%; text-align: left; }  /* x1 */
table.chain-tree-sum td.b { width: 10%; text-align: right; } /* x6 */
table.chain-tree-sum td.c { width: 6%; text-align: center; }  /* x5 */
table.chain-tree-sum tr.max-order { text-decoration: line-through; opacity: 0.5; font-style: oblique; }  /* x5 */

table.chain-tree tr { border-radius: 4px;}
table.chain-tree tr.order-1 { background-color: #447e9b11}
table.chain-tree tr.order-2 { background-color: #447e9b22}
table.chain-tree tr.order-3 { background-color: #447e9b33}
table.chain-tree tr.order-4 { background-color: #447e9b44}
table.chain-tree tr.order-5 { background-color: #447e9b55}
table.chain-tree tr.order-6 { background-color: #447e9b66}
table.chain-tree tr.order-7 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.chain-tree tr.order-8 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.chain-tree tr.order-core { background-color: #0001}
table.chain-tree td.show-upgrade-details { cursor: help;}

tr.upgrade-details {display: none;  padding: 0; background-color: #eeee; color: #555}


table.chain-tree-details td.a { width: 15%; text-align: left; }  /* x1 */
table.chain-tree-details td.b { width: 40%; text-align: left; } /* x1 */
table.chain-tree-details td.c { width: 40%; text-align: left; }  /* x1 */
table.chain-tree-details td.d { width: 5%; text-align: right; }  /* x1 */


table.chain-networth td.a { width: 10%; text-align: center; }  /* x1 */
table.chain-networth td.b { width: 15%; text-align: right; }  /* x6 */

table.faction-bb-comparison td.a { width: 30%; text-align: left; }  /* x1 */
table.faction-bb-comparison td.b { width: 25%; text-align: right; }  /* x2 */
table.faction-bb-comparison td.c { width: 20%; text-align: center; }  /* x1 */

select.faction-bb-stats-list {
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  /* -webkit-appearance: none; */
  font-weight: bold;
  /* height: 16px; */
  /* width: 20px; */
  text-align: left;
  /* margin-top: 2px;
  margin-left: 5px; */
  border-width: 0px;
  background: #00000000;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}


table.contract-list td.a { width: 8%; }
table.contract-list td.b { width: 15%; text-align: center;} /* x5 */
table.contract-list td.c { width: 7%; text-align: center;}
table.contract-list td.d { width: 10%; text-align: left;}
table.contract-list td.d a { display: inline; }
table.contract-list td.d form { display: inline; }

table.contract-breakdown-players td.a { width: 45%; }
table.contract-breakdown-players td.b { width: 45%; text-align: center; }
table.contract-breakdown-players td.c { width: 10%; text-align: center; }
table.contract-breakdown-factions td.a { width: 50%; }
table.contract-breakdown-factions td.b { width: 25%; text-align: center; }
table.contract-breakdown-factions td.c { width: 25%; text-align: center; }

table.attacks-breakdown-players td.a { width: 20%; }
table.attacks-breakdown-players td.b { width: 40%; text-align: center; }
table.attacks-breakdown-players td.c { width: 10%; text-align: center; }
table.attacks-breakdown-factions td.a { width: 40%; }
table.attacks-breakdown-factions td.b { width: 20%; text-align: center; }
table.attacks-breakdown-factions td.c { width: 20%; text-align: center; }
