table.chain-categories td {
    text-align: center;
    width: 14.29%;
    cursor: pointer;
    border: 0;
}
table.chain-summary td {
    width: 25%;
    border: 0;
}

table.chain-list td.a { width: 10%; }
table.chain-list td.b { width: 15%; text-align: center;} /* x2 */
table.chain-list td.c { width: 15%; text-align: right;}
table.chain-list td.d { width: 10%; text-align: center;} /* x3 */
table.chain-list td.e { width: 15%; }
table.chain-list td.e a { display: inline; }
table.chain-list td.e form { display: inline; }


table.chain-jbonus td.a { width: 30%; text-align: left; }
table.chain-jbonus td.b { width: 20%; text-align: left; }
table.chain-jbonus td.c { width: 10%; text-align: center; }  /* x3 */
table.chain-jbonus td.d { width: 20%; text-align: right; }

table.chain-jsummary td.a { width: 20%; text-align: left; }
table.chain-jsummary td.b { width: 20%; text-align: left; }
table.chain-jsummary td.c { width: 20%; text-align: center; } /* x2 */
table.chain-jsummary td.d { width: 20%; text-align: center; }


table.chain-report td.a { width: 10%; text-align: center; }
table.chain-report td.b { width: 20%; text-align: left; }
table.chain-report td.c { width: 10%; text-align: center; }  /* x7 */
/* table.chain-report tr:hover { font-weight: bold; } */

table.chain-report tr.zero-hits       { background:#f4cccc; display: none;}
table.chain-report tr.zero-hits:hover { background:#ea9999; }
table.chain-report tr.not-there       { background:#b6d7a8; }
table.chain-report tr.not-there:hover { background:#93c47d; }
table.chain-report tr.kicked-members       { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }
/* table.chain-report tr.kicked-members:hover { background:#ddddddaa; } */

table.chain-report tr.zero-respect       { background:#f4cccc; }
table.chain-report tr.zero-respect:hover { background:#ea9999; }
table.chain-report tr.max-fair-fight       { background:#b6d7a8; }
table.chain-report tr.max-fair-fight:hover { background:#93c47d; }
table.chain-report tr.good-fair-fight       { background:#d9ead3; }
table.chain-report tr.good-fair-fight:hover { background:#b6d7a8; }
table.chain-report tr.bonus-attack       { background:#a8b6d7; }
table.chain-report tr.bonus-attack:hover { background:#7d93c4; }


.progress-bar {
    background-color: lightgray;
    border-radius: 4px;
    width: 150px;
    height: 14px;
    display: inline-block;
}

.progress-bar > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(150,150,150);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height:14px;
  font-weight: bold;
}

.progress-bar > span.strips:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 4px;
  overflow: hidden;
}

.blue > span {
  background-color: #7d93c4;
}

.violet > span {
  background-color: #c493c4;
}

@keyframes refresh {
    0%   {width: 100%; background-color: #f1a165;}
    100% {width: 0%; background-color: #ff0000;}
}

.refresh > span {
    animation: refresh 30s linear;
    -webkit-animation: refresh 30s linear;
}

@keyframes refresh-content {
    0%   {content: "30s"}
    10%   {content: "27s"}
    20%   {content: "24s"}
    30%   {content: "21s"}
    40%   {content: "18s"}
    50%   {content: "15s"}
    60%   {content: "12s"}
    70%   {content: "9s"}
    80%   {content: "6s"}
    90%   {content: "3s"}
    100%   {content: "0s"}
}

.refresh > span.strips:after {
    animation: refresh-content 30s linear;
    -webkit-animation: refresh-content 30s linear;
}

@keyframes move-strips {
    0%   {width: 100%;}
    100% {width: 0%;}
}

.move-strips > span.strips:after {
    animation: move-strips 30s linear;
    -webkit-animation: move-strips 30s linear;
}
