table.company-categories td {
    text-align: center;
    width: 50%;
    cursor: pointer;
    border: 0;
}


table.comapny-details-positions td.a { width: 10%; text-align: left; }  /* x1 */
table.comapny-details-positions td.b { width: 8%; text-align: center; }  /* x3 */
table.comapny-details-positions td.c { width: 7%; text-align: center; }  /* x3 */
table.comapny-details-positions td.d { width: 10%; text-align: left; }  /* x1 */
table.comapny-details-positions td.e { width: 35%; text-align: left; }  /* x1 */

table.comapny-details-specials td.a { width: 25%; text-align: left; }  /* x1 */
table.comapny-details-specials td.b { width: 25%; text-align: left; }  /* x1 */
table.comapny-details-specials td.c { width: 10%; text-align: center; }  /* x1 */
table.comapny-details-specials td.d { width: 40%; text-align: center; }  /* x1 */

table.comapny-details-stocks td.a { width: 40%; text-align: left; }  /* x1 */
table.comapny-details-stocks td.b { width: 30%; text-align: center; }  /* x1 */
table.comapny-details-stocks td.c { width: 30%; text-align: center; }  /* x1 */
