/*
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.faction-categories td {
    text-align: center;
    width: 15%;
    cursor: pointer;
    border: 0;
}

table.faction-aa-keys td { line-height: 28px; }
table.faction-aa-keys td.a { width: 30%; text-align: left; } /* x2 */
table.faction-aa-keys td.b { width: 10%; text-align: center; }  /* x1 */
table.faction-aa-keys td.c { width: 30%; text-align: center; }  /* x1 */

table.faction-members td.a { width: 15%; }
table.faction-members td.b { width: 15%; text-align: right; cursor: pointer;}
table.faction-members td.c { width: 30%; text-align: left;}
table.faction-members td.d { width: 5%; text-align: center; cursor: pointer;}
table.faction-members td.e { width: 12.5%; text-align: center; cursor: default;}  /* x2 */

table.faction-chains td.a { width: 10%; }
table.faction-chains td.b { width: 15%; text-align: center;} /* x2 */
table.faction-chains td.c { width: 15%; text-align: right;}
table.faction-chains td.d { width: 10%; text-align: center;} /* x3 */
table.faction-chains td.e { width: 15%; }
table.faction-chains td.e a { display: inline; }
table.faction-chains td.e form { display: inline; }
table.faction-chains tr.live       { background:#d9ead3; }
table.faction-chains tr.live:hover { background:#b6d7a8; }

table.faction-report td.a { width: 4%; text-align: center; }
table.faction-report td.b { width: 15%; text-align: left; }
table.faction-report td.c { width: 9%; text-align: center; }  /* x9 */
table.faction-report tr.zero-hits       { background:#f4cccc; display: none;}
table.faction-report tr.zero-hits:hover { background:#ea9999; }
/* table.faction-report tr.not-there       { background:#b6d7a8; } */
/* table.faction-report tr.not-there:hover { background:#93c47d; } */
table.faction-report tr.kicked-members  { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }
table.faction-report tr.zero-respect       { background:#f4cccc; }
table.faction-report tr.zero-respect:hover { background:#ea9999; }
table.faction-report tr.max-fair-fight       { background:#b6d7a8; }
table.faction-report tr.max-fair-fight:hover { background:#93c47d; }
table.faction-report tr.good-fair-fight       { background:#d9ead3; }
table.faction-report tr.good-fair-fight:hover { background:#b6d7a8; }
table.faction-report tr.bonus-attack       { background:#a8b6d7; }
table.faction-report tr.bonus-attack:hover { background:#7d93c4; }

table.faction-jbonus td.a { width: 30%; text-align: left; }
table.faction-jbonus td.b { width: 20%; text-align: left; }
table.faction-jbonus td.c { width: 10%; text-align: center; }  /* x3 */
table.faction-jbonus td.d { width: 20%; text-align: right; }

table.faction-jsummary td.a { width: 20%; text-align: left; }
table.faction-jsummary td.b { width: 20%; text-align: left; }
table.faction-jsummary td.c { width: 20%; text-align: center; } /* x2 */
table.faction-jsummary td.d { width: 20%; text-align: center; }

table.faction-walls td.a { width: 10%; text-align: left;} /* x1 */
table.faction-walls td.b { width: 15%;  text-align: center;} /* x5 */
table.faction-walls td.c { width: 5%; text-align: center;} /* x3 */

table.faction-walls-breakdown td.a { width: 30%; text-align: left; }
table.faction-walls-breakdown td.b { width: 10%; text-align: center; }
table.faction-walls-breakdown td.c { width: 20%; text-align: right; }
table.faction-walls-breakdown td.d { width: 20%; text-align: center; }

table.faction-attacks-report td.a { width: 10%; text-align: left; }
table.faction-attacks-report td.b { width: 15%; text-align: center; } /* 3 */
table.faction-attacks-report td.c { width: 15%; text-align: center; } /* 2 */
table.faction-attacks-report td.d { width: 15%; text-align: left; }

table.faction-attacks-report-players td.a { width: 20%; }
table.faction-attacks-report-players td.b { width: 40%; text-align: center; }
table.faction-attacks-report-players td.c { width: 10%; text-align: center; }
table.faction-attacks-report-factions td.a { width: 40%; }
table.faction-attacks-report-factions td.b { width: 20%; text-align: center; }
table.faction-attacks-report-factions td.c { width: 20%; text-align: center; }

table.faction-attacks-list td.a { width: 15%; text-align: center; }
table.faction-attacks-list td.b { width: 17.5%; text-align: left; } /* 4 */
table.faction-attacks-list td.c { width: 10%; text-align: center; } /* 1 */
table.faction-attacks-list td.d { width: 5%; text-align: center; } /* 1 */
