/*
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.faction-categories td {
    text-align: center;
    width: 15%;
    cursor: pointer;
    border: 0;
}

table.faction-aa-keys td { line-height: 28px; }
table.faction-aa-keys td.a { width: 20%; text-align: left; } /* x1 */
table.faction-aa-keys td.b { width: 20%; text-align: center; }  /* x4 */
