/*
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.faction-categories td {
    text-align: center;
    width: 15%;
    cursor: pointer;
    border: 0;
}

table.faction-aa-keys td { line-height: 28px; }
table.faction-aa-keys td.a { width: 30%; text-align: left; } /* x2 */
table.faction-aa-keys td.b { width: 10%; text-align: center; }  /* x1 */
table.faction-aa-keys td.c { width: 30%; text-align: center; }  /* x1 */

table.faction-members td.a { width: 15%; }
table.faction-members td.b { width: 15%; text-align: right; cursor: pointer;}
table.faction-members td.c { width: 30%; text-align: left;}
table.faction-members td.d { width: 5%; text-align: center; cursor: pointer;}
table.faction-members td.e { width: 12.5%; text-align: center; cursor: default;}  /* x2 */

table.faction-chains td.a { width: 10%; }
table.faction-chains td.b { width: 15%; text-align: center;} /* x2 */
table.faction-chains td.c { width: 15%; text-align: right;}
table.faction-chains td.d { width: 10%; text-align: center;} /* x3 */
table.faction-chains td.e { width: 15%; }
table.faction-chains td.e a { display: inline; }
table.faction-chains td.e form { display: inline; }
table.faction-chains tr.live       { background:#d9ead3; }
table.faction-chains tr.live:hover { background:#b6d7a8; }

table.faction-report td.a { width: 4%; text-align: center; }
table.faction-report td.b { width: 15%; text-align: left; }
table.faction-report td.c { width: 9%; text-align: center; }  /* x9 */
table.faction-report tr.zero-hits       { background:#f4cccc; display: none;}
table.faction-report tr.zero-hits:hover { background:#ea9999; }
/* table.faction-report tr.not-there       { background:#b6d7a8; } */
/* table.faction-report tr.not-there:hover { background:#93c47d; } */
table.faction-report tr.kicked-members  { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }
table.faction-report tr.zero-respect       { background:#f4cccc; }
table.faction-report tr.zero-respect:hover { background:#ea9999; }
table.faction-report tr.max-fair-fight       { background:#b6d7a8; }
table.faction-report tr.max-fair-fight:hover { background:#93c47d; }
table.faction-report tr.good-fair-fight       { background:#d9ead3; }
table.faction-report tr.good-fair-fight:hover { background:#b6d7a8; }
table.faction-report tr.bonus-attack       { background:#a8b6d7; }
table.faction-report tr.bonus-attack:hover { background:#7d93c4; }

table.faction-jbonus td.a { width: 30%; text-align: left; }
table.faction-jbonus td.b { width: 20%; text-align: left; }
table.faction-jbonus td.c { width: 10%; text-align: center; }  /* x3 */
table.faction-jbonus td.d { width: 20%; text-align: right; }

table.faction-jsummary td.a { width: 20%; text-align: left; }
table.faction-jsummary td.b { width: 20%; text-align: left; }
table.faction-jsummary td.c { width: 20%; text-align: center; } /* x2 */
table.faction-jsummary td.d { width: 20%; text-align: center; }

table.faction-walls td.a { width: 10%; text-align: left;} /* x1 */
table.faction-walls td.b { width: 11%;  text-align: center;} /* x5 */
table.faction-walls td.c { width: 10%; text-align: center;} /* x3 */

table.faction-walls-breakdown td.a { width: 30%; text-align: left; }
table.faction-walls-breakdown td.b { width: 10%; text-align: center; }
table.faction-walls-breakdown td.c { width: 20%; text-align: right; }
table.faction-walls-breakdown td.d { width: 20%; text-align: center; }

table.faction-attacks-report td.a { width: 10%; text-align: left; }
table.faction-attacks-report td.b { width: 15%; text-align: center; } /* 3 */
table.faction-attacks-report td.c { width: 15%; text-align: center; } /* 2 */
table.faction-attacks-report td.d { width: 15%; text-align: left; }

table.faction-attacks-report-players td.a { width: 20%; }
table.faction-attacks-report-players td.b { width: 40%; text-align: center; }
table.faction-attacks-report-players td.c { width: 10%; text-align: center; }
table.faction-attacks-report-factions td.a { width: 40%; }
table.faction-attacks-report-factions td.b { width: 20%; text-align: center; }
table.faction-attacks-report-factions td.c { width: 20%; text-align: center; }

table.faction-attacks-list td.a { width: 15%; text-align: center; }
table.faction-attacks-list td.b { width: 17.5%; text-align: left; } /* 4 */
table.faction-attacks-list td.c { width: 10%; text-align: center; } /* 1 */
table.faction-attacks-list td.d { width: 5%; text-align: center; } /* 1 */

table.faction-revives-report td.a { width: 10%; text-align: left; }
table.faction-revives-report td.b { width: 15%; text-align: center; } /* 3 */
table.faction-revives-report td.c { width: 15%; text-align: center; } /* 2 */
table.faction-revives-report td.d { width: 15%; text-align: left; }

table.faction-revives-report-players td.a { width: 20%; }
table.faction-revives-report-players td.b { width: 40%; text-align: center; }
table.faction-revives-report-players td.c { width: 10%; text-align: center; }
table.faction-revives-report-factions td.a { width: 40%; }
table.faction-revives-report-factions td.b { width: 20%; text-align: center; }
table.faction-revives-report-factions td.c { width: 20%; text-align: center; }

table.faction-revives-list td.a { width: 15%; text-align: center; }
table.faction-revives-list td.b { width: 17.5%; text-align: left; } /* 4 */
table.faction-revives-list td.c { width: 10%; text-align: center; } /* 1 */
table.faction-revives-list td.d { width: 5%; text-align: center; } /* 1 */


table.faction-armory-toggle-view tr { cursor: pointer; }
table.faction-armory-toggle-view td.a { width: 95%; text-align: left; font-weight: bold; cursor: pointer; }  /* x1 */
table.faction-armory-toggle-view td.b { width: 5%; text-align: center; cursor: pointer; }  /* x1 */

table.faction-armory-breakdown { display: none; }
table.faction-armory-breakdown td.a { width: 40%; text-align: left; }  /* x1 */
table.faction-armory-breakdown td.b { width: 20%; text-align: center; }  /* x3 */
table.faction-armory-breakdown td.c { width: 20%; text-align: left; }  /* x1 */
table.faction-armory-breakdown td.d { width: 10%; text-align: center; }  /* x8 */
h1.faction-armory-type { cursor: pointer;}
div.faction-armory-type {display: none;}

table.faction-networth td.a { width: 10%; text-align: center; }  /* x1 */
table.faction-networth td.b { width: 15%; text-align: right; }  /* x6 */
table.faction-networth tr.today       { background:#d9ead3; }
table.faction-networth tr.today:hover { background:#b6d7a8; }

table.faction-bb-comparison td.a { width: 30%; text-align: left; }  /* x1 */
table.faction-bb-comparison td.b { width: 25%; text-align: right; }  /* x2 */
table.faction-bb-comparison td.c { width: 20%; text-align: center; }  /* x1 */

select.faction-bb-stats-list {
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  /* -webkit-appearance: none; */
  font-weight: bold;
  /* height: 16px; */
  /* width: 20px; */
  text-align: left;
  /* margin-top: 2px;
  margin-left: 5px; */
  border-width: 0px;
  background: #00000000;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

table.faction-territory-summary td { width: 33%; border: 0; text-align: center; }
table.faction-territory-list td.a { width: 10%; text-align: center;} /* x7 */
table.faction-territory-list td.b { width: 30%;}
table.faction-territory-list tr.racket       { background:#d9ead3; }
table.faction-territory-list tr.racket:hover { background:#b6d7a8; }
table.faction-racket-list td.a { width: 8%; text-align: center;} /* x3 */
table.faction-racket-list td.b { width: 15%;} /* x3 */
table.faction-racket-list td.c { width: 20%; text-align: center;} /* x2 */

div.map-background,
div.map-graph {
    width: 650px;
    height: 379px;
    margin-left: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}

div.map-background::after {
  content: "";
  background: url("/static/images/citymap/citymap.png");
  background-size: 650px 379px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

div.map-background.x2,
div.map-graph.x2 {
    width: 1300px;
    height: 758px;
}

div.map-background.x2::after {
    background-size: 1300px 758px;
}



select.faction-upgrade-tree {
    padding: 0;
    margin: 0;
    cursor: pointer;
   overflow: hidden;
    /* -webkit-appearance: none; */
    font-weight: bold;
    /* height: 16px; */
    width: 20px;
    text-align: center;
    /* margin-top: 2px;
    margin-left: 5px; */
    border-width: 0px;
    background: #00000000;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

table.faction-simulator td { vertical-align: middle; }
table.faction-simulator td.a { width: 12%; text-align: left; }  /* x1 */
table.faction-simulator td.b { width: 16%; text-align: left; } /* x1 */
table.faction-simulator td.c { width: 7%; text-align: center; }  /* x6 */
table.faction-simulator td.d { width: 10%; text-align: right; }  /* x3 */

table.faction-simulator-sum td.a { width: 10%; text-align: left; }  /* x1 */
table.faction-simulator-sum td.b { width: 10%; text-align: right; } /* x6 */
table.faction-simulator-sum td.c { width: 6%; text-align: center; }  /* x5 */
table.faction-simulator-sum tr.max-order { text-decoration: line-through; opacity: 0.5; font-style: oblique; }  /* x5 */

table.faction-simulator tr { border-radius: 4px;}
table.faction-simulator tr.order-1 { background-color: #447e9b11}
table.faction-simulator tr.order-2 { background-color: #447e9b22}
table.faction-simulator tr.order-3 { background-color: #447e9b33}
table.faction-simulator tr.order-4 { background-color: #447e9b44}
table.faction-simulator tr.order-5 { background-color: #447e9b55}
table.faction-simulator tr.order-6 { background-color: #447e9b66}
table.faction-simulator tr.order-7 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.faction-simulator tr.order-8 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.faction-simulator tr.order-core { background-color: #0001}
table.faction-simulator td.show-upgrade-details { cursor: help;}

tr.upgrade-details {display: none;  padding: 0; background-color: #eeee; color: #555}
