/*
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.faction-categories td {
    text-align: center;
    width: 15%;
    cursor: pointer;
    border: 0;
}

table.faction-aa-keys td { line-height: 28px; }
table.faction-aa-keys td.a { width: 30%; text-align: left; } /* x2 */
table.faction-aa-keys td.b { width: 10%; text-align: center; }  /* x1 */
table.faction-aa-keys td.c { width: 30%; text-align: center; }  /* x1 */

/* abcde ff g */
table.faction-members td.a { width: 5%; text-align: center;}
table.faction-members td.b { width: 20%; text-align: left}
table.faction-members td.c { width: 20%; text-align: right; cursor: pointer;}
table.faction-members td.d { width: 25%; text-align: left;}
table.faction-members td.e { width: 5%; text-align: center; cursor: pointer;}
table.faction-members td.f { width: 5%; text-align: center; cursor: default;}
table.faction-members td.g { width: 15%; text-align: center; cursor: default;}

table.faction-chains td.a { width: 10%; }
table.faction-chains td.b { width: 15%; text-align: center;} /* x2 */
table.faction-chains td.c { width: 15%; text-align: right;}
table.faction-chains td.d { width: 10%; text-align: center;} /* x3 */
table.faction-chains td.e { width: 15%; }
table.faction-chains td.e a { display: inline; }
table.faction-chains td.e form { display: inline; }
table.faction-chains tr.live       { background:#d9ead3; }
table.faction-chains tr.live:hover { background:#b6d7a8; }

table.faction-report td.a { width: 4%; text-align: center; }
table.faction-report td.b { width: 15%; text-align: left; }
table.faction-report td.c { width: 9%; text-align: center; }  /* x9 */
table.faction-report tr.zero-hits       { background:#f4cccc; display: none;}
table.faction-report tr.zero-hits:hover { background:#ea9999; }
table.faction-report tr.kicked-members  { opacity: 0.5; filter:alpha(opacity=50); -moz-opacity:0.5; filter:alpha(opacity=50); }
table.faction-report tr.my-row       { background: #cee8d0; font-weight: bold;}
table.faction-report tr.my-row:hover { background: #e6f3e7; font-weight: bold;}


table.faction-jbonus td.a { width: 30%; text-align: left; }
table.faction-jbonus td.b { width: 20%; text-align: left; }
table.faction-jbonus td.c { width: 10%; text-align: center; }  /* x3 */
table.faction-jbonus td.d { width: 20%; text-align: right; }

table.faction-jsummary td.a { width: 20%; text-align: left; }
table.faction-jsummary td.b { width: 20%; text-align: left; }
table.faction-jsummary td.c { width: 20%; text-align: center; } /* x2 */
table.faction-jsummary td.d { width: 20%; text-align: center; }

table.faction-walls td.a { width: 10%; text-align: left;} /* x1 */
table.faction-walls td.b { width: 11%;  text-align: center;} /* x5 */
table.faction-walls td.c { width: 10%; text-align: center;} /* x3 */

table.faction-walls-breakdown td.a { width: 30%; text-align: left; }
table.faction-walls-breakdown td.b { width: 10%; text-align: center; }
table.faction-walls-breakdown td.c { width: 20%; text-align: right; }
table.faction-walls-breakdown td.d { width: 20%; text-align: center; }

table.faction-attacks-report td.a { width: 10%; text-align: left; }
table.faction-attacks-report td.b { width: 15%; text-align: center; } /* 3 */
table.faction-attacks-report td.c { width: 15%; text-align: center; } /* 2 */
table.faction-attacks-report td.d { width: 15%; text-align: left; }

/* a b cccc */
table.faction-attacks-report-players td.a { width: 30%; text-align: left;}
table.faction-attacks-report-players td.b { width: 30%; text-align: left; }
table.faction-attacks-report-players td.c { width: 10%; text-align: center; }

/* a bbbb c */
table.faction-attacks-report-factions td.a { width: 50%; text-align: left;}
table.faction-attacks-report-factions td.b { width: 10%; text-align: center; }
table.faction-attacks-report-factions td.c { width: 10%; text-align: center; }

/* a bbbbbbb bbbbbbb */
table.faction-attacks-members-breakdown td.a { width: 16%; text-align: left; }
table.faction-attacks-members-breakdown td.b { width: 6%; text-align: center; }

/* abbbbcdd */
table.faction-attacks-list td.a { width: 15%; text-align: center; }
table.faction-attacks-list td.b { width: 15%; text-align: left; }
table.faction-attacks-list td.c { width: 10%; text-align: center; }
table.faction-attacks-list td.d { width: 5%; text-align: center; }

table.faction-revives-report td.a { width: 10%; text-align: left; }
table.faction-revives-report td.b { width: 15%; text-align: center; }
table.faction-revives-report td.c { width: 15%; text-align: center; }
table.faction-revives-report td.d { width: 15%; text-align: left; }

table.faction-revives-report-players td.a { width: 20%; text-align: left; }
table.faction-revives-report-players td.b { width: 40%; text-align: left; }
table.faction-revives-report-players td.c { width: 10%; text-align: center; }
table.faction-revives-report-factions td.a { width: 40%; text-align: left; }
table.faction-revives-report-factions td.b { width: 20%; text-align: center; cursor: help;}
table.faction-revives-report-factions td.c { width: 20%; text-align: center; }

/* abbbbcd */
table.faction-revives-list td.a { width: 15%; text-align: center; }
table.faction-revives-list td.b { width: 17.5%; text-align: left; }
table.faction-revives-list td.c { width: 10%; text-align: left; }
table.faction-revives-list td.d { width: 5%; text-align: center; }
select.faction-attack-header-filter,
select.faction-revive-header-filter {
  padding: 0;
  margin: 0;
  margin-top: -3px;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  height: 12px;
  line-height: 1;
  /* width: 10px; */
  text-align: center;
  border-width: 0px;

  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  color: #666;
  background: #f6f6f6;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* filter players */
i.filter-player { color: #555; opacity: 0.0; cursor: pointer; }
tr:hover > td > form > i.filter-player { opacity: 0.5; }
i.filter-player:hover { opacity: 1.0!important; }
i.filter-player-activated { color: #0B8E14; cursor: pointer; }
i.filter-player-activated:hover { color: #CC3434; }

table.faction-armory-toggle-view tr { cursor: pointer; }
table.faction-armory-toggle-view td.a { width: 95%; text-align: left; font-weight: bold; cursor: pointer; }  /* x1 */
table.faction-armory-toggle-view td.b { width: 5%; text-align: center; cursor: pointer; }  /* x1 */

table.faction-armory-breakdown { display: none; }
table.faction-armory-breakdown td.a { width: 40%; text-align: left; }  /* x1 */
table.faction-armory-breakdown td.b { width: 20%; text-align: center; }  /* x3 */
table.faction-armory-breakdown td.c { width: 20%; text-align: left; }  /* x1 */
table.faction-armory-breakdown td.d { width: 10%; text-align: center; }  /* x8 */
h1.faction-armory-type { cursor: pointer;}
div.faction-armory-type {display: none;}

table.faction-armory-news-list td.a { width: 10%; text-align: left; font-weight: bold}
table.faction-armory-news-list td.b { width: 20%; text-align: left; }
table.faction-armory-news-list td.c { width: 50%; text-align: left; }
table.faction-armory-news-list td.d { width: 20%; text-align: center; }

table.faction-networth td.a { width: 10%; text-align: center; }  /* x1 */
table.faction-networth td.b { width: 15%; text-align: right; }  /* x6 */
table.faction-networth tr.today       { background:#d9ead3; }
table.faction-networth tr.today:hover { background:#b6d7a8; }

/* a b cc d */
table.faction-bb-comparison td.a { width: 5%; text-align: center; }
table.faction-bb-comparison td.b { width: 25%; text-align: left; }
table.faction-bb-comparison td.c { width: 25%; text-align: right; }
table.faction-bb-comparison td.d { width: 20%; text-align: center; }

table.faction-bb-challenges td.aa { width: 40%; text-align: left; }  /* x1 */
table.faction-bb-challenges td.ab { width: 40%; text-align: right; }  /* x1 */
table.faction-bb-challenges td.b { width: 40%; text-align: center; }  /* x1 */
table.faction-bb-challenges td.c { width: 20%; text-align: center; }  /* x1 */

select.faction-bb-stats-list {
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  /* -webkit-appearance: none; */
  font-weight: bold;
  /* height: 16px; */
  /* width: 20px; */
  text-align: left;
  /* margin-top: 2px;
  margin-left: 5px; */
  border-width: 0px;
  background: #00000000;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

table.faction-territory-summary td { width: 33%; border: 0; text-align: center; }
table.faction-territory-list td.a { width: 10%; text-align: center;} /* x7 */
table.faction-territory-list td.b { width: 30%;}
table.faction-territory-list tr.racket       { background:#d9ead3; }
table.faction-territory-list tr.racket:hover { background:#b6d7a8; }
/* abbaccbba */
table.faction-racket-list td.a { width: 5%; text-align: center;} /* x3 */
table.faction-racket-list td.b { width: 13.25%;} /* x4 */
table.faction-racket-list td.c { width: 16%; text-align: center;} /* x2 */

div.map-background,
div.map-graph {
    width: 650px;
    height: 379px;
    margin-left: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}

div.map-background::after {
  content: "";
  background: url("/static/images/citymap/citymap.png");
  background-size: 650px 379px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

div.map-background.x2,
div.map-graph.x2 {
    width: 1300px;
    height: 758px;
}

div.map-background.x2::after {
    background-size: 1300px 758px;
}



select.faction-upgrade-tree {
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    /* -webkit-appearance: none; */
    font-weight: bold;
    /* height: 16px; */
    width: 20px;
    text-align: center;
    /* margin-top: 2px;
    margin-left: 5px; */
    border-width: 0px;
    background: #00000000;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

table.faction-simulator td { vertical-align: middle; }
table.faction-simulator td.a { width: 12%; text-align: left; }  /* x1 */
table.faction-simulator td.b { width: 16%; text-align: left; } /* x1 */
table.faction-simulator td.c { width: 7%; text-align: center; }  /* x6 */
table.faction-simulator td.d { width: 10%; text-align: right; }  /* x3 */

table.faction-simulator-sum td.a { width: 10%; text-align: left; }  /* x1 */
table.faction-simulator-sum td.b { width: 10%; text-align: right; } /* x6 */
table.faction-simulator-sum td.c { width: 6%; text-align: center; }  /* x5 */
table.faction-simulator-sum tr.max-order { text-decoration: line-through; opacity: 0.5; font-style: oblique; }  /* x5 */
table.faction-simulator-sum.sticky tr{
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inner 0 0 5px #888;
}

table.faction-simulator tr { border-radius: 4px;}
table.faction-simulator tr.order-1 { background-color: #447e9b11}
table.faction-simulator tr.order-2 { background-color: #447e9b22}
table.faction-simulator tr.order-3 { background-color: #447e9b33}
table.faction-simulator tr.order-4 { background-color: #447e9b44}
table.faction-simulator tr.order-5 { background-color: #447e9b55}
table.faction-simulator tr.order-6 { background-color: #447e9b66}
table.faction-simulator tr.order-7 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.faction-simulator tr.order-8 { text-decoration: line-through; opacity: 0.5; font-style: oblique; }
table.faction-simulator tr.order-core { background-color: #0001}
table.faction-simulator td.show-upgrade-details { cursor: help; height: 30px;}
table.faction-simulator-details td.a { width: 15%; text-align: left; }  /* x1 */
table.faction-simulator-details td.b { width: 40%; text-align: left; } /* x1 */
table.faction-simulator-details td.c { width: 35%; text-align: left; }  /* x1 */
table.faction-simulator-details td.d { width: 10%; text-align: right; }  /* x1 */

tr.upgrade-details {cursor: pointer; display: none;  padding: 0; background-color: #eeee; color: #555}


/* for targets */
table.target-targets td.a { width: 20%; text-align: left; }
table.target-targets td.b { width: 10%; text-align: center; }
table.target-targets td.c { width: 5%; text-align: center; }
table.target-targets td.d { width: 15%; text-align: left; }
table.target-targets td.e { width: 15%; text-align: center; }
table.target-targets td.f { width: 20%; text-align: left; }
table.target-targets td.g { width: 10%; text-align: center; }
table.target-targets td.h { width: 5%; text-align: center; }

div.life-bar {
    background-color: lightgray;
    border-radius: 4px;
    width: 100%;
    height: 14px;
    display: inline-block;
}

div.life-bar > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(150,150,150);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height:14px;
  font-weight: bold;
  background-color: #7d93c4;
}


@-webkit-keyframes need-refresh {
  0% { background-color: #ff00001e; }
  50% { background-color: inherit; }
  100% { background-color: #ff00001e; }
}
@-moz-keyframes need-refresh {
    0% { background-color: #ff00001e; }
    50% { background-color: inherit; }
    100% { background-color: #ff00001e; }
}
@-o-keyframes need-refresh {
    0% { background-color: #ff00001e; }
    50% { background-color: inherit; }
    100% { background-color: #ff00001e; }
}
@keyframes need-refresh {
    0% { background-color: #ff00001e; }
    50% { background-color: inherit; }
    100% { background-color: #ff00001e; }
}
.need-refresh {
  -webkit-animation: need-refresh 2s infinite; /* Safari 4+ */
  -moz-animation:    need-refresh 2s infinite; /* Fx 5+ */
  -o-animation:      need-refresh 2s infinite; /* Opera 12+ */
  animation:         need-refresh 2s infinite; /* IE 10+ */
}

div.faction-event-container {
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
}
div.faction-event {
    float:left;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

div.faction-event-urgent {
    background-color: #FF191922;
}
div.faction-event-urgent:hover {
    background-color: #FF191955;
}

div.faction-event-soon {
    background-color: #FFB01922;
}
div.faction-event-soon:hover {
    background-color: #FFB01955;
}

div.faction-event > span.event-title {
    font-size: 16px;
    font-weight: bold;
    display: inline;
}
div.faction-event > span.event-date {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    float: right;
    text-align: right;
    margin-left: 5px;
}
div.faction-event > p.event-description {
    font-size: 14px;
    font-style: oblique;
    display: block;
}

div.faction-event > span.event-countdown {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 18px;
}

div.faction-event > span.event-stack {
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
}
div.faction-event > span.event-stack-date {
    font-size: 14px;
    font-style: oblique;
    display: inline;
    float: right;
    text-align: right;
}
div.faction-event > span.event-stack-countdown {
    font-size: 14px;
}
