/*
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
*/

table.players-users-summary td.a { width: 40%; }
table.players-users-summary td.b { width: 30%; text-align: center;}


table.merits-bar td {
    /* overflow-x: scroll; */
    font-size: 13px;
    line-height: 16px;
    padding: 3px;
    border-bottom: 0px solid #eee;
    border-bottom: 0px solid #eee;
}

table.merits-bar td.a { width: 25%; text-align: right; }
table.merits-bar td.b { text-align: center; }
table.merits-bar td.c { width: 50%; text-align: left; }

span.merits-button {
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 4px;
}

span.le { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0 0 1px 1px rgba(68, 126, 155, 0.7); }
span.gt { background-color: rgba(52, 52, 52, 0.1); box-shadow: 0 0 1px 1px rgba(52, 52, 52, 0.1); }

span.fix { background-color: rgba(101, 101, 101, 0.7); box-shadow: 0 0 1px 1px rgba(101, 101, 101, 0.7); }
span.rem { background-color: rgba(204, 52, 52, 0.7); box-shadow: 0 0 1px 1px rgba(204, 52, 52, 0.7); }
span.add { background-color: rgba(68, 126, 155, 0.5); box-shadow: 0 0 1px 1px rgba(68, 126, 155, 0.5); }
span.del { background-color: rgba(11, 142, 20, 0.3); box-shadow: 0 0 1px 1px rgba(11, 142, 20, 0.3); }


span.le-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0px 0px 3px 3px rgba(140, 204, 233, 0.7); }
span.le-flash-2 { background-color: rgba(68, 126, 155, 0.7); box-shadow: 5px 0px 4px 4px rgba(140, 204, 233, 0.9); }
/* span.le-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0px 0px 3px 3px rgba(228,113,243, 0.7); }
span.le-flash-2 { background-color: rgba(68, 126, 155, 0.7); box-shadow: 5px 0px 4px 4px rgba(228,113,243, 0.9); } */

span.gt-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0 0 2px 2px rgba(68, 126, 155, 0.7); }
span.gt-flash-2 { background-color: rgba(204, 52, 52, 0.8); box-shadow: -5px 0px 4px 4px rgba(204, 52, 52, 0.7); }
