table.stock-categories td {
    text-align: center;
    /* width: 20%; */
    cursor: pointer;
    border: 0;
}

table.stock-table  {
    display: inline-table;
    width:140px;
}

table.stock-table img { width:80px; height: 60px; cursor:pointer; }
table.stock-table button { width:94px; height: 70px; padding: 0px; }
table.stock-table a:hover { text-decoration: underline; }

table.stock-table th {
    text-align: center;
    height:15px;
    line-height: 15px;
}

table.stock-table a.stock-details { cursor: help; }
table.stock-table a.stock-prices { cursor: help; }
table.stock-table tr.prices-tendency > th { padding-left: 2px; padding-right: 2px;}

table.stock-table th.lack       { background:#f4cccc!important; }
table.stock-table th.lack:hover { background:#ea9999!important; }

/*
table.stock-table div.item-image {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
}

table.stock-table div.item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    height:15px;
}

/* overflow: hidden;
text-overflow: ellipsis; */


table.stock-table td {
    padding:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
}

table.stock-table .llt { background:#d9ead3; }
table.stock-table .lt  { background:#b6d7a8; }
table.stock-table .eq  { background:#9fc5e8; }
table.stock-table .gt  { background:#f9cb9c; }
table.stock-table .ggt { background:#fce5cd; }

table.stock-table .A { width:50%; cursor: default; padding:2px;}
table.stock-table .B { width:50%; cursor: default; padding:2px;}


i.graph-period-selector { margin-left: 10px;}
i.graph-period-selector.far.fa-circle { cursor: pointer;}
