table.stock-categories td {
    text-align: center;
    width: 50%;
    cursor: pointer;
    border: 0;
}

table.stock-sell-table  {
    display: inline-table;
    width:140px;
}

table.stock-sell-table img { width:80px; height: 60px; cursor:pointer; }
table.stock-sell-table button { width:94px; height: 70px; padding: 0px; }
table.stock-sell-table a:hover { text-decoration: underline; }

table.stock-sell-table th {
    text-align: center;
    height:15px;
    line-height: 15px;
}

table.stock-sell-table a.stock-details { cursor: help; }
table.stock-sell-table a.stock-prices { cursor: help; }
table.stock-sell-table tr.prices-tendency > th { padding-left: 2px; padding-right: 2px;}

table.stock-sell-table th.lack       { background:#f4cccc!important; }
table.stock-sell-table th.lack:hover { background:#ea9999!important; }

/*
table.stock-sell-table div.item-image {
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
}

table.stock-sell-table div.item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    height:15px;
}

/* overflow: hidden;
text-overflow: ellipsis; */


/* table.stock-sell-table td {
    padding:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
} */

/* table.stock-sell-table .llt { background:#d9ead3; }
table.stock-sell-table .lt  { background:#b6d7a8; }
table.stock-sell-table .eq  { background:#9fc5e8; }
table.stock-sell-table .gt  { background:#f9cb9c; }
table.stock-sell-table .ggt { background:#fce5cd; }

table.stock-sell-table tr.llt { animation: blinker 1s linear infinite; }
@keyframes blinker {  50% { opacity: 0.5; } }

table.stock-sell-table tr.ignore    { background:#eeeeee; color:#aaaaaa; }

table.stock-sell-table.scale { width: 250px;}
table.stock-sell-table.scale td { text-align: center; padding: 5px; cursor: default;}

table.stock-sell-table td.A { width:40%; cursor: default; }
table.stock-sell-table td.B { width:60%; cursor: default;} */
