{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<script type="text/javascript" src='{% static "thirdparty/js/tooltip.js" %}'></script>

{% if filters|length %}
<div class="module rounded">
    <p class="valid">
        Current filters:
            {% for k, v in filters.items %}
                {{k}}=<tt>{{v}}</tt>{% if not forloop.last%},{% endif %}
            {% endfor %}
    </p>
</div>
{% endif %}

<h2 class="title"><i class="fas fa-fingerprint fa-icon-inline"></i>Organized Crimes Breakdown</h2>
<div class="module">
    {% include "faction/oc/breakdown-crimes.html" %}
</div>

<div class="catch-me">
    <h2 class="title toggle-display rounded"><i class="fas fa-users fa-icon-inline"></i>Teams Breakdown&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
    <div class="module" style="display: none;">
    {# <div class="module"> #}
        {% include "faction/oc/breakdown-teams.html" %}
    </div>
</div>

<h2 class="title"><i class="fas fa-hourglass-half fa-icon-inline"></i>Current Crimes</h2>
<div class="module">
    <div class="pagination-list">
        {% include "faction/oc/list-current.html" %}
    </div>
</div>

<h2 class="title"><i class="fas fa-hourglass-end fa-icon-inline"></i>Past Crimes</h2>
<div class="module">
    <div class="pagination-list">
        {% include "faction/oc/list-past.html" %}
    </div>
</div>
