{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $("#faction-crimes-list-past").tablesorter({
            textExtraction: {
              0: function(node, table, cellIndex) { return $(node).attr("data-val"); },
              1: function(node, table, cellIndex) { return $(node).attr("data-val"); },
              4: function(node, table, cellIndex) { return $(node).attr("data-val"); },
              5: function(node, table, cellIndex) { return $(node).attr("data-val"); },
              6: function(node, table, cellIndex) { return $(node).attr("data-val"); },
            },
            cssAsc: 'up',
            cssDesc: 'down',
            sortList: [[4,1]]
        });
    });
</script>

<table id="faction-crimes-list-past" class="center-large trshadow faction-crimes-list-past">
    <thead>
        <tr>
            <th>Team</th>
            <th>Crime</th>
            <th>Planned</th>
            <th>Initiated</th>
            <th>Completed</th>
            <th>Waiting</th>
            <th>Money</th>
            <th>Respect</th>
    </thead>
    <tbody>
    {% for crime in pastCrimes %}
      <tr>
          <td class="a" data-val="{{crime.participants|length}}">
              <i rel="tooltip" class="fas fa-users" style="cursor: help;" title='{% include "faction/oc/participants.html"%}'></i>
          </td>
          <td class="b" data-val="{{crime.participants|length}}">
              <a href="https://www.torn.com/factions.php?step=your#/tab=crimes&crimeID={{crime.tId}}" target="_blank">{{crime.crime_name}} [{{crime.tId}}]</a>
          </td>
         <td class="c"> {% with p=crime.get_planned_by %}{{p.0|playerURL:p.1|safe}}{% endwith %}</td>
         <td class="c"> {% with p=crime.get_initiated_by %}{{p.0|playerURL:p.1|safe}}{% endwith %}</td>
         <td class="d" data-val="{{crime.time_completed}}">{{crime.time_completed|ts2date}}</td>
         <td class="d" data-val="{{crime.time_completed|sub:crime.time_ready}}">{{crime.time_completed|sub:crime.time_ready|ts2time:"DHM"}}</td>

          {% if crime.success %}
            <td class="e valid" data-val="{{crime.money_gain}}">${{crime.money_gain|intcomma}}</td>
            <td class="f valid">{{crime.respect_gain}}</td>
          {% else %}
            <td class="error g" colspan="2">Failure</td>
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
