*~
*.pyc
venv
.env
**/.vscode/
db.sqlite3*
secretkey.txt
staticfiles
setup/analytics/logs
setup/analytics/.backup
yata/media/posters
source.bash
zzz
/yata/wsgi_prod.py
cron/logs
yata_uwsgi.ini
yata.sock
tmp
debug/faction-keys-*
**.idea/**
logs/