# last update: 2022/04/24
# python 3.8.10
# pip 22.0.2

# django
Django==4.0.2
django-mathfilters==1.0.0
django-json-widget==1.1.1                 
django-extensions==3.1.5
django-bulk-update==2.2.0

# cache and ratelimit
django-ratelimit==3.0.1
django-redis==5.2.0
django-redisboard==5.0.0
djangorestframework==3.13.1

# optimisation
django-htmlmin==0.11.0
django-brotli==0.2.0
whitenoise==6.0.0

# sentry
sentry-sdk==1.5.4

# misc
requests==2.27.1
python-decouple==3.6
schedule==1.1.0                          
python-magic>=0.4.22
python-magic-bin==0.4.14                    # Windows users uncomment
Pillow==9.0.1                               # If OOM: pip install --compile --install-option=-O1 Pillow
xkcdpass==1.19.3

# http server                               # for prod, not both needed
# gunicorn==20.1.0
uwsgi==2.0.20

# database
psycopg2-binary==2.9.3
# psycopg2==2.9.3                           # dependencies: libpq-dev python3-dev

# math
numpy==1.21.5                               # avoid 1.22: https://stackoverflow.com/questions/70612364/numpy-warning-with-django-4-numpy-float64-type-is-zero
scipy==1.7.3