# core modules
Django==3.1.2
django-mathfilters==1.0.0
requests==2.22.0
django-json-widget==1.0.1

# not needed for:
# - development server (./manage.py runserver)
# - sqlite3 database
gunicorn==20.0.4
# psycopg2==2.8.4
psycopg2-binary==2.8.4
django-extensions==3.0.8

# image modules
Pillow==8.0.1

# math modules
numpy==1.18.5
scipy

cloudscraper==1.2.34
python-decouple==3.3
schedule==0.6.0

# memcache and ratemimit
# python-memcached==1.59
django-ratelimit==3.0.1
django_redis==4.12.1
django-redisboard==4.1.1

#min
django-htmlmin==0.11.0
django-brotli==0.2.0

# whitenoise
whitenoise==5.2.0

#sentry
sentry-sdk==0.19.1
