{% load mathfilters %}

            <h2 class="title">List of attacks left to do</h2>
            <div class="module whiteBG">
                <table class="tablesorter center chain-report">
                    <thead>
                        <tr>
                            <th>Type of Crimes</th>
                            <th>Awarded</th>
                            <th>Awards</th>
                            <th>Remains</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for attackType, awards in attacksSummary.items %}
                        {% if awards.nAwards > awards.nAwarded %}
                            <tr>
                                <td>{{attackType}}</td>
                                <td>{{awards.nAwarded}}</td>
                                <td>{{awards.nAwards}}</td>
                                <td>{{awards.nAwards|sub:awards.nAwarded}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <table id="attack-list" class="tablesorter chain-report center-large">
                    <thead>
                        <tr>
                            <th>Type of Attack</th>
                            <th>Award type</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Goal</th>
                            <th>Acheive</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for attackType, attacksList in attacks.items %}
                        {% for attackId, attack in attacksList.items %}
                            {% if attack.achieve < 1 %}
                                <tr {% if attack.awardType == "Honor" %}title='{{attack.rarity}}: {{attack.circulation}}'{% endif%}>
                                    <td>{{attackType}}</td>
                                    <td>{{attack.awardType}}</td>
                                    <td>{{attack.name}}</td>
                                    <td>{{attack.description}}</td>
                                    <td>{{attack.current}}</td>
                                    <td>{{attack.goal}}</td>
                                    <td>{{attack.achieve|mul:100|floatformat:0}}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
