{% load mathfilters %}
{% load humanize %}
{% load static %}

            <h2 class="title">List of awards left <span id="toggle-awards-done" style="margin-right: 10px; display: inline; float:right; cursor: pointer;">&nbsp; &nbsp; <i id="awards-done-icon" class="fas fa-toggle-on"></i> <span id="toggle-awards-done-txt">Hide</span> achieved awards</span></h2>
            <div class="module whiteBG">
                <table class="tablesorter center awards-report">
                    <thead>
                        <tr>
                            <th colspan="4">Summary by award category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for awardType, awards in awardsSummary.items %}
                            {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                                <td class="{% if awards.nAwarded == awards.nAwards %}awards-done{% else %}awards-todo{% endif %}">
                                    <span id="award-category-{{awardType|cut:" "}}" style="cursor: pointer;">&nbsp; &nbsp; <i id="award-category-{{awardType|cut:" "}}" class="fas fa-toggle-{%if awardType|cut:" " == "Allawards" %}on{%else%}off{%endif%}"></i> {{awardType}}: {{awards.nAwarded}}/{{awards.nAwards}}</span>
                                </td>
                            {% if forloop.counter|divisibleby:4 %}</tr>{% elif forloop.last %}</tr>{% endif %}
                       {% endfor %}
                    </tbody>
                </table>
                <br>
                <table id="award-list" class="tablesorter awards-report center-large">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Goal</th>
                            <th>Achieve</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for awardType, awardsList in awards.items %}
                        {% for awardId, award in awardsList.items %}
                            <tr class="award-category-Allawards award-category-{{awardType|cut:" "}} {% if award.achieve == 1 %}award-done{% else %}award-todo{% endif %} {% if award.awardType == "Honor" %}award-honor{% else %}award-medal{% endif %}">
                                <td>{{awardType}}</td>
                                {% if award.awardType == "Honor" %}
                                    {% if award.img == None %}
                                        <td class="award-todo">{{award.title}}</td>
                                    {% else %}
                                        <td class="award-todo"><img src="{{award.img}}" title="{{award.title}}" style="margin:0px, padding:0px">
                                        {% if award.img|slice:"1:7" == 'static' %}
                                            <b style="color: #cc0000; font-size: 20px">*</b>
                                        {% endif %}
                                        </td>
                                    {% endif %}
                                {% else %}
                                    {% with 'medals/img/'|add:award.img|add:'_r.png' as image_static %}
                                        <td><img src="{% static image_static %}" title="{{award.name}}" class="medals"> &nbsp; {{award.name}}</td>
                                    {% endwith %}
                                {% endif %}
                                <td>{{award.description}}</td>
                                <td>{{award.head}}{{award.current|intcomma}}</td>
                                <td>{{award.head}}{{award.goal|intcomma}}</td>
                                <td>{{award.achieve|mul:100|floatformat:0}}%</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <p><b style="color: #cc0000; font-size: 20px">*</b> Torn stat image</p>

            </div>
