{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center-large tdshadow awards-categories">
    <!-- <thead>
        <tr>
             <th colspan="7">
                Browse through the awards categories
            </th>
        </tr>
    </thead> -->
    <tbody>
    <tr>
        <td>
            <a href="{% url 'awards:list' type="crimes" %}">Crimes ({{summaryByType.Crimes.nAwarded}}/{{summaryByType.Crimes.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="drugs" %}">Drugs ({{summaryByType.Drugs.nAwarded}}/{{summaryByType.Drugs.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="attacks" %}">Attacks ({{summaryByType.Attacks.nAwarded}}/{{summaryByType.Attacks.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="faction" %}">Faction ({{summaryByType.Faction.nAwarded}}/{{summaryByType.Faction.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="items" %}">Items ({{summaryByType.Items.nAwarded}}/{{summaryByType.Items.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="travel" %}">Travel ({{summaryByType.Travel.nAwarded}}/{{summaryByType.Travel.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="work" %}">Work ({{summaryByType.Work.nAwarded}}/{{summaryByType.Work.nAwards}})</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'awards:list' type="gym" %}">Gym ({{summaryByType.Gym.nAwarded}}/{{summaryByType.Gym.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="money" %}">Money ({{summaryByType.Money.nAwarded}}/{{summaryByType.Money.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="competitions" %}">Competitions ({{summaryByType.Competitions.nAwarded}}/{{summaryByType.Competitions.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="commitment" %}">Commitment ({{summaryByType.Commitment.nAwarded}}/{{summaryByType.Commitment.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="miscellaneous" %}">Miscellaneous ({{summaryByType.Miscellaneous.nAwarded}}/{{summaryByType.Miscellaneous.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="all" %}">All Awards ({{summaryByType.AllAwards.nAwarded}}/{{summaryByType.AllAwards.nAwards}})</a>
        </td>
        <td>
            <a href="{% url 'awards:list' type="hof" %}">Hall of Fame</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
