{% load mathfilters %}

            <h2 class="title">List of drugs left to do</h2>
            <div class="module whiteBG">
                <table class="tablesorter center chain-report">
                    <thead>
                        <tr>
                            <th>Type of Crimes</th>
                            <th>Awarded</th>
                            <th>Awards</th>
                            <th>Remains</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for drugType, awards in drugsSummary.items %}
                        {% if awards.nAwards > awards.nAwarded %}
                            <tr>
                                <td>{{drugType}}</td>
                                <td>{{awards.nAwarded}}</td>
                                <td>{{awards.nAwards}}</td>
                                <td>{{awards.nAwards|sub:awards.nAwarded}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <table id="drug-list" class="tablesorter chain-report center-large">
                    <thead>
                        <tr>
                            <th>Type of Drug</th>
                            <th>Award type</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>State</th>
                            <th>Goal</th>
                            <th>Acheive</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for drugType, drugsList in drugs.items %}
                        {% for drugId, drug in drugsList.items %}
                            {% if drug.achieve < 1 %}
                                <tr {% if drug.awardType == "Honor" %}title='{{drug.rarity}}: {{drug.circulation}}'{% endif%}>
                                    <td>{{drugType}}</td>
                                    <td>{{drug.awardType}}</td>
                                    <td>{{drug.name}}</td>
                                    <td>{{drug.description}}</td>
                                    <td>{{drug.current}}</td>
                                    <td>{{drug.goal}}</td>
                                    <td>{{drug.achieve|mul:100|floatformat:0}}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
