{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script>
        $(document).ready(function() {
            $("#awards-hof").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[4,1], [3,1]]});

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Honor', 'Circulation', {role: 'style'}, {role: 'tooltip', 'p': {'html': true}}],
                {% for h, c, s, im, p, r in graph %}
                  ["{{h|safe}}", {{c}}, {% if s %}'fill-color: #0B8E14'{% elif r %}'fill-color: #777'{% else %}'fill-color: #CC3434'{% endif %}, "<h3><img src={{im|honorUrl|safe}} atl={{h|safe}} height=19px;></h3> <span class=\"{% if s %}valid{% elif r %}neutral{% else %}error{% endif %}\">{{h|safe}}</span><br>Circulation: {{c|intcomma}}<br>Rarity score: {{p|floatformat:4}}%"],
                 {% endfor %}
              ]);

              var options = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {
                          0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                         },
                bar: {groupWidth: '80%'},
                hAxis: {  textPosition: 'none', title: "Honors" },
                vAxis: { scaleType: 'log', format: 'short', title: "Circulation" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '70%'},
              };

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1]);

              var chart = new google.visualization.ComboChart(document.getElementById('rarityChart'));

              chart.draw(data, options);

              var data2 = google.visualization.arrayToDataTable([
                ['Rarity score', 'Number of Players', {role: 'tooltip', 'p': {'html': true}}],
                {% for x, y, xm, xp in hofGraph %}
                    [{{x}}, {{y}}, "<h3>Number of players: {{y|intcomma}}</h3><span>{{xm|floatformat:4}}% < Rarity score < {{xp|floatformat:4}}%</span>"],
                 {% endfor %}
              ]);

              var options2 = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},},
                bar: {groupWidth: '80%'},
                hAxis: { format: 'short', title: "Rarity score (%)", scaleType: 'log' },
                vAxis: { format: 'short', title: "#Players" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '60%'},
              };

              var view2 = new google.visualization.DataView(data2);
              view2.setColumns([0, 1]);

              var chart2 = new google.visualization.ComboChart(document.getElementById('hofChart'));

              chart2.draw(data2, options2);
            }

        });
</script>

<h2 class="title">Hall of fame (top 50)</h2>
<div class="module">

    <!-- hof -->
    <table id="awards-hof" class="center trshadow awards-hof">
        <thead>
            <tr>
                <th>rank</th>
                <th>Name</th>
                <th>Faction</th>
                <th>Honors awarded</th>
                <th>Rarity score</th>
            </tr>
        </thead>
        <tbody>
            {% for k in hof %}
                {% if forloop.counter0 < 50 or k.player.tId == player.tId %}
                    <tr {%if k.player.tId == player.tId %}class="its-you"{% endif %}>
                        <td class="a">#{{ forloop.counter }}</td>
                        <td class="b">{{k.player.name|playerURL:k.player.tId|safe}}</a></td>
                        <td class="b">{{k.player.factionNa|factionURL:k.player.factionId|safe}}</td>
                        <td class="c" title="{{k.nAwarded}} / {{k.nAwards}}">{{k.nAwarded|div:k.nAwards|mul:100|floatformat:2}}%</td>
                        <td class="c">{{k.rscore|floatformat:4}}%</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
    </table>
    <table class="center-large">
        <tr><td><div id="hofChart"></div></td></tr>
    </table>
    <table class="center-large">
        <tr><td><div id="rarityChart"></div></td></tr>
    </table>


</div>
