{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script>
        $(document).ready(function() {
            $("#awards-hof").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[4,1], [3,1]]});

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Honor', 'Circulation', {role: 'style'}, {role: 'tooltip', 'p': {'html': true}}],
                {% for h, c, s, im in graph %}
                    ["{{h|safe}}", {{c}}, {% if s %}'fill-color: #0B8E14'{% else %}'fill-color: #CC3434'{% endif %}, "<h3><img src={{im}} atl={{h|safe}} height=19px;></h3> <span class=\"{% if s %}valid{% else %}error{% endif %}\">{{h|safe}}</span><br>Circulation: {{c|intcomma}}<br>Rarity score: {{100|div:c|div:popTotal|floatformat:4}}%"],
                 {% endfor %}
              ]);

              var options = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {
                          0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                         },
                bar: {groupWidth: '80%'},
                hAxis: {  textPosition: 'none', title: "Honors" },
                vAxis: { scaleType: 'log', format: 'short', title: "Circulation" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '70%'},
              };

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1]);

              var chart = new google.visualization.ComboChart(document.getElementById('chart'));

              chart.draw(data, options);
            }
        });
</script>

<h2 class="title">Hall of fame (top 50)</h2>
<div class="module">

    <!-- hof -->
    <table id="awards-hof" class="center trshadow awards-hof">
        <thead>
            <tr>
                <th>rank</th>
                <th>Name</th>
                <th>Faction</th>
                <th>Honors awarded</th>
                <th>Rarity score</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in hof.items %}
                {% if forloop.counter0 < 50 or k.tId == player.tId %}
                    <tr {%if k.tId == player.tId %}class="its-you"{% endif %}>
                        <td class="a">#{{ forloop.counter }}</td>
                        <td class="b">{{k.name|playerURL:k.tId|safe}}</a></td>
                        <td class="b">{{k.factionNa|factionURL:k.factionId|safe}}</td>
                        <td class="c" title="{{v.nAwarded}} / {{v.nAwards}}">{{v.nAwarded|div:v.nAwards|mul:100|floatformat:2}}%</td>
                        <td class="c">{{v.score|mul:100|floatformat:2}}%</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
    </table>
    <table class="center-large">
        <tr><td>
            <div id="chart"></div>
        </tr></td>
    </table>


</div>
