{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script>
        $(document).ready(function() {


            $.tablesorter.addParser({
                // set a unique id
                id: 'dataVal',
                // check if cell value has a numerical value
                is: function(s, table, cell, $cell) {
                    return !isNaN($cell.attr("data-val"));
                },
                // format data for normalization
                format: function(s, table, cell, cellIndex) {
                    return parseFloat($(cell).attr("data-val"));
                },
                // set type, either numeric or text
                type: 'numeric'
            });

            $("#awards-list").tablesorter({ header: {6: 'dataVal', 7: 'dataVal'}, cssAsc: 'up', cssDesc: 'down', sortList: [[0,0], [4,1], [5,0]], });

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Honor', 'Circulation', {role: 'style'}, {role: 'tooltip', 'p': {'html': true}}],
                {% for h, c, s, im, p, r in graph %}
                    ["{{h|safe}}", {{c}}, {% if s %}'fill-color: #0B8E14'{% elif r %}'fill-color: #777'{% else %}'fill-color: #CC3434'{% endif %}, "<h3><img src={{im|honorUrl|safe}} atl={{h|safe}} height=19px;></h3> <span class=\"{% if s %}valid{% elif r %}neutral{% else %}error{% endif %}\">{{h|safe}}</span><br>Circulation: {{c|intcomma}}<br>Rarity score: {{p|floatformat:4}}%"],
                 {% endfor %}
              ]);

              var options = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {
                          0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                         },
                bar: {groupWidth: '80%'},
                hAxis: {  textPosition: 'none', title: "Honors" },
                vAxis: { scaleType: 'log', format: 'short', title: "Circulation" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '70%'},
              };

              var chart = new google.visualization.ComboChart(document.getElementById('chart'));
              chart.draw(data, options);

            {% if graph2|length %}
              var data2 = google.visualization.arrayToDataTable([
                  ['Medals', 'Circulation', {role: 'style'}, {role: 'tooltip', 'p': {'html': true}}],
                  {% for h, c, s, im, p, r in graph2 %}
                  ["{{h|safe}}", {{c}}, {% if s %}'fill-color: #0B8E14'{% elif r %}'fill-color: #777'{% else %}'fill-color: #CC3434'{% endif %}, "<h3><img src={{im|medalUrl|safe}} atl={{h|safe}} height=19px;></h3> <span class=\"{% if s %}valid{% elif r %}neutral{% else %}error{% endif %}\">{{h|safe}}</span><br>Circulation: {{c|intcomma}}<br>Rarity score: {{p|floatformat:4}}%"],
                  {% endfor %}
              ]);

              var options2 = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {
                          0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                         },
                bar: {groupWidth: '70%'},
                hAxis: {  textPosition: 'none', title: "Medals" },
                vAxis: { scaleType: 'log', format: 'short', title: "Circulation" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '70%'},
              };

              var chart2 = new google.visualization.ComboChart(document.getElementById('chart2'));
              chart2.draw(data2, options2);

              {% endif %}
            }

        });

</script>

<script type="text/javascript" src={% static "perso/js/tooltip.js" %}></script>

<h2 class="title">Awards tracker
    <span class="flush-right">Last update: {{player.awardsUpda|ts2date}}</span>
    <a id="toggle-awards-done" class="flush-right" href=""><i id="awards-done-icon" class="fas fa-toggle-off"></i> <span id="toggle-awards-done-txt">Show</span> achieved awards</a>
</h2>
<div class="module">

<!-- summary for a categories -->

{% if awardsSummary %}
    <table id="awards-summary" class="center awards-summary">
        <thead>
            <tr>
                <th colspan="8">Summary by award category</th>
            </tr>
        </thead>
        <tbody>
            {% for awardType, awards in awardsSummary.items %}
                {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                    <td class="{% if awards.nAwarded == awards.nAwards %}award-done{% else %}award-todo{% endif %}" >
                        <span id="award-category-{{awardType|cut:" "}}" style="cursor: pointer;">&nbsp; &nbsp; <i id="award-category-{{awardType|cut:" "}}" class="fas fa-toggle-{%if awardType|cut:" " == "Allawards" %}on{%else%}off{%endif%}"></i> {{awardType}}: {{awards.nAwarded}}/{{awards.nAwards}}</span>
                    </td>
                {% if forloop.counter|divisibleby:4 %}</tr>{% elif forloop.last %}</tr>{% endif %}
           {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

<!-- list -->

<table id="awards-list" class="tablesorter center-large trshadow awards-list">
    <thead>
        <tr>
            <th class="a" >Category</th>
            <th class="b" >Name</th>
            <th class="c" >Rarity</th>
            <th class="d" >Description</th>
            <th class="e" >State</th>
            <th class="e" >Goal</th>
            <th class="f" >Achieve</th>
            <th class="g" >Days left</th>
            <th class="i"></th>
        </tr>
    </thead>
    <tbody>
    {% for awardType, awardsList in awards.items %}
        {% for awardId, award in awardsList.items %}
            <tr class="award-category-Allawards award-category-{{awardType|cut:" "}} {% if award.achieve == 1 and award.wait != 0 %}award-done{% else %}award-todo{% if award.unreach == 1 %} award-unreach{% endif %}{% endif %} {% if award.awardType == "Honor" %}award-honor{% else %}award-medal{% endif %} {% if award.next %}next{% endif%}">
                <td class="a"><span title="{{awardType}}" rel="tooltip">{{awardType}}</span></td>
                {% if award.awardType == "Honor" %}
                  <td class="b award-todo"><span title="{{award.name}} [{{awardId|slice:"2:"}}]" rel="tooltip">{{award.img|honorBanner:award.name|safe}}</span></td>
                {% else %}
                    {% with 'medals/img/'|add:award.img|add:'_r.png' as image_static %}
                        <td class="b"><span title="{{award.name}} [{{awardId|slice:"2:"}}]" rel="tooltip"><img src="{% static image_static %}" class="medals"> &nbsp; {{award.name}}</span></td>
                    {% endwith %}
                {% endif %}
                <td class="c"><span {% if award.circulation %}title="Rarity score: {{award.rScore|floatformat:4}}% ({{award.rarity}})"{% endif %} rel="tooltip">{{award.circulation|intcomma}}</span></td>
                <td class="d"><span title="{{award.description}}" rel="tooltip">{{award.description}}</span></td>
                <td class="e"><span title="Current: {{award.head}}{{award.current|intcomma}}" rel="tooltip">{{award.head}}{{award.current|intcomma}}</span></td>
                <td class="e"><span title="Goal: {{award.head}}{{award.goal|intcomma}}" rel="tooltip">{{award.head}}{{award.goal|intcomma}}</span></td>
                {% if award.achieve == 1%}
                    <td class="f award-done" data-val="{{award.awarded_time}}">
                        <span title="Awarded on {{award.awarded_time|ts2date}}" rel="tooltip">100%</span>
                    </td>
                    <td class="g" data-val="{{award.awarded_time}}">
                        <span class="awarded-time" title="Awarded on: {{award.awarded_time|ts2date}}" rel="tooltip">{{award.awarded_time|ts2date:"%Y/%m/%d"}}</span>
                    </td>
                {% else %}
                    <td class="f {% if award.unreach %}neutral{% else %}award-todo{% endif %}" data-val="{{award.achieve}}"><span title="Achieved: {{award.achieve|mul:100|intdiv:1|floatformat:0}}%" rel="tooltip">{{award.achieve|mul:100|intdiv:1|floatformat:0}}%</span></td>
                    {% if award.left < 0 %}
                        <td class="g" data-val="1e10">
                            <span class="thelp" rel="tooltip">&infin;</span>
                        </td>
                    {% else %}
                        <td class="g" data-val="{{award.left}}">
                            {% if award.left %}
                                <span class="thelp" title="{{award.comment|safe}}" rel="tooltip">{{award.left|float2IfSmall|safe}}</span>
                            {% elif award.comment %}
                                <span class="thelp" title="{{award.comment|safe}}" rel="tooltip"><i class="fas fa-question-circle"></i></span>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endif %}
                <td class="i">
                    <span style="font-weight: bold; float: right">{% if award.next %}<i class="fas fa-trophy"  title='Next crime to do!'></i>{% endif %}{% if award.triple %}&nbsp;<i class="fas fa-hand-spock" title="Triple merit!"></i>{% elif award.double %}&nbsp;<i class="fas fa-hand-peace" title="Double merit!"></i>{% endif %}</span>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<table class="center-large">
    <tr><td><div id="chart"></div></td></tr>
    <tr><td><div id="chart2"></div></td></tr>
</table>

</div>
