{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script>
        $(document).ready(function() {
            $("#awards-list").tablesorter({ cssAsc: 'up', cssDesc: 'down', sortList: [[0,0], [4,1], [5,0]], });

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Honor', 'Circulation', {role: 'style'}, {role: 'tooltip', 'p': {'html': true}}],
                {% for h, c, s, im, p, r in graph %}
                    ["{{h|safe}}", {{c}}, {% if s %}'fill-color: #0B8E14'{% elif r %}'fill-color: #777'{% else %}'fill-color: #CC3434'{% endif %}, "<h3><img src={{im|honorUrl|safe}} atl={{h|safe}} height=19px;></h3> <span class=\"{% if s %}valid{% elif r %}neutral{% else %}error{% endif %}\">{{h|safe}}</span><br>Circulation: {{c|intcomma}}<br>Rarity score: {{p|floatformat:3}}%"],
                 {% endfor %}
              ]);

              var options = {
                // bar: {groupWidth: "100%"},
                legend: {position: 'none'},
                tooltip: {isHtml: true, position: 'top'},
                seriesType: 'bars',
                series: {
                          0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                         },
                bar: {groupWidth: '80%'},
                hAxis: {  textPosition: 'none', title: "Honors" },
                vAxis: { scaleType: 'log', format: 'short', title: "Circulation" },
                'backgroundColor': 'transparent',
                'chartArea': {'width': '90%', 'height': '70%'},
              };

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1]);

              var chart = new google.visualization.ComboChart(document.getElementById('chart'));

              chart.draw(data, options);
            }

        });

</script>

<h2 class="title">Awards tracker
    <span class="flush-right">Last update: {{player.awardsUpda|ts2date}}</span>
    <span id="toggle-awards-done" class="red-link" style="margin-right: 10px; display: inline; float:right; cursor: pointer;">&nbsp; &nbsp; <i id="awards-done-icon" class="fas fa-toggle-off"></i> <span id="toggle-awards-done-txt">Show</span> achieved awards</span>
</h2>
<div class="module">

<!-- summary for a categories -->

{% if awardsSummary %}
    <table id="awards-summary" class="center awards-summary">
        <thead>
            <tr>
                <th colspan="8">Summary by award category</th>
            </tr>
        </thead>
        <tbody>
            {% for awardType, awards in awardsSummary.items %}
                {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                    <td class="{% if awards.nAwarded == awards.nAwards %}award-done{% else %}award-todo{% endif %}" >
                        <span id="award-category-{{awardType|cut:" "}}" style="cursor: pointer;">&nbsp; &nbsp; <i id="award-category-{{awardType|cut:" "}}" class="fas fa-toggle-{%if awardType|cut:" " == "Allawards" %}on{%else%}off{%endif%}"></i> {{awardType}}: {{awards.nAwarded}}/{{awards.nAwards}}</span>
                    </td>
                {% if forloop.counter|divisibleby:4 %}</tr>{% elif forloop.last %}</tr>{% endif %}
           {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

<!-- list -->

<table id="awards-list" class="tablesorter center-large trshadow awards-list">
    <thead>
        <tr>
            <th class="a" >Category</th>
            <th class="b" >Name</th>
            <th class="c" >Rarity</th>
            <th class="d" >Description</th>
            <th class="e" >State</th>
            <th class="e" >Goal</th>
            <th class="f" >Achieve</th>
            <th class="g" colspan="2" >Comment</th>
            <th class="i"></th>
        </tr>
    </thead>
    <tbody>
    {% for awardType, awardsList in awards.items %}
        {% for awardId, award in awardsList.items %}
            <tr class="award-category-Allawards award-category-{{awardType|cut:" "}} {% if award.achieve == 1 and award.wait != 0 %}award-done{% else %}award-todo{% if award.unreach == 1 %} award-unreach{% endif %}{% endif %} {% if award.awardType == "Honor" %}award-honor{% else %}award-medal{% endif %} {% if award.next %}next{% endif%}">
                <td class="a"><span title="{{awardType}}">{{awardType}}</span></td>
                {% if award.awardType == "Honor" %}
                  <td class="b award-todo">{{award.img|honorBanner:award.name|safe}}</td>
                {% else %}
                    {% with 'medals/img/'|add:award.img|add:'_r.png' as image_static %}
                        <td class="b"><img src="{% static image_static %}" title="{{award.name}}" class="medals"> &nbsp; {{award.name}}</td>
                    {% endwith %}
                {% endif %}
                <td class="c"><span {% if award.circulation %}title="Rarity score: {{award.rScore|floatformat:3}}% ({{award.rarity}})"{% endif %}>{{award.circulation|intcomma}}</span></td>
                <td class="d"><span title="{{award.description}}">{{award.description}}</span></td>
                <td class="e"><span title="{{award.head}}{{award.current|intcomma}}">{{award.head}}{{award.current|intcomma}}</span></td>
                <td class="e"><span title="{{award.head}}{{award.goal|intcomma}}">{{award.head}}{{award.goal|intcomma}}</span></td>
                <td class="f {% if award.achieve == 1 and award.wait != 0 %}award-done{% elif award.unreach %}neutral{% else %}award-todo{% endif %}"><span title="{{award.achieve|mul:100|intdiv:1|floatformat:0}}%">{{award.achieve|mul:100|intdiv:1|floatformat:0}}%</span></td>
                {% if award.left|floatformat:0|intcomma %}
                    <td class="g"><span title="{{award.left|floatformat:0|intcomma}}">{{award.left|floatformat:0|intcomma}}</span></td>
                {% else %}
                    <td class="g"><span title="{{award.left|safe}}">{{award.left|safe}}</span></td>
                {% endif %}
                <td class="h" style="cursor: pointer"><span title="{{award.comment.1}}">{{award.comment.0|safe}}</span></td>
                <td class="i">
                    <span style="font-weight: bold; float: right">{% if award.next %}<i class="fas fa-trophy"  title='Next crime to get!'></i>{% endif %}{% if award.double %}&nbsp;<i class="fas fa-hand-peace" title="Double merit!"></i>{% endif %}</span>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<table class="center-large">
    <tr><td><div id="chart"></div></td></tr>
</table>

</div>
