{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<script type="text/javascript">
  $( document ).ready(function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl, {html: true});
    })
  });
</script>

{% if pinnedAwards|length %}
  <h2 class="title green rounded-top py-2 px-3"><i class="fas fa-thumbtack fa-icon-inline"></i>&nbsp;Pinned awards</h2>
    <div class="container-fluid p-md-3 px-0 mb-3 module">

      <div class="d-flex justify-content-around flex-wrap p-0">
        {% for awardId, award in pinnedAwards.items %}
          <div class="overflow-auto mx-md-2 my-2">

            <div class="container awards-pinned-card" style="cursor: help;" title="<b>{{award.name}} [{{award.id}}]</b><br><i>{{award.description}}</i><br><br>{{award.comment|safe}}" data-bs-toggle="tooltip" data-bs-placement="bottom">
              <div class="row align-items-center text-center ">

                {# name #}
                <div class="col-12 p-2">
                  <div class="awards-pinned-spin">
                    {% if award.awardType == "Honor" %}
                        <div class="award-default-pinned">
                          <img src="{% url_img_honor award.id %}" class="honors">
                          <span class="award-default">{{award.name}}</span>
                        </div>
                    {% else %}
                      <img src="{% url_img_medal award.id %}" class="medals pinned-image">
                      <span class="ms-2">{{award.name}}</span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 p-2">
                {# acheive  #}
                {% if award.achieve == 1%}
                    <div class="valid">Awarded on {{award.awarded_time|ts2date:"%Y/%m/%d"}}</div>
                {% else %}
                    <div class="d-flex flex-wrap error justify-content-center">
                      <div class="mx-2">{{award.achieve|mul:100|intdiv:1|floatformat:0}}%</div>
                      <div class="mx-2">{{award.head}}{{award.current|intcomma}} / {{award.head}}{{award.goal|intcomma}}</div>
                      {% if award.left %}
                        <div class="mx-2">{{award.left|float2IfSmall|safe}} days left</div>
                      {% endif %}
                    </div>
                {% endif %}
              </div>

            </div>
            </div>

          </div>
        {% endfor %}
      </div>
</div>
{% endif %}
