<h2 class="title grey"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial</h2>
<div class="module">
    <p>All awards data are updated upon refresh of this page.</p>
    <p>If you put your cursor hover the last column, you'll have an explanation.</p>
    <p>You can show the acheived awards by clicking on the top right section title.</p>
    <h3>Hall of Fame</h3>
    <p>The Hall of Fame rarity score is computed as follow: if we call popularity of an award the invert of the number of player having it, it is the sum of your awards popularity divided by the sum of all awards popularity, which can give a percentage. If you put your cursor hover the column rarity you'll have the contribution of each honor to this score.</p>
    <p>HOF is updated daily and considers only players who went to this page.</p>
</div>
