{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}
{% load app_filters %}

<h3>Awards Tracker</h3>
<p>All awards data are updated upon refresh of the page.<br />
If you put your cursor hover the last column, you'll have an explanation.<br />
You can show the acheived awards by clicking on the top right section title.<br />
The Hall of Fame rarity score \(R\) is computed as follow:
$$R = {\sum_{a\in\mathcal{P}}r(a)} \ \Big/ \ {\sum_{a\in\mathcal{A}}r(a)}$$
with \(n(a)\), the number of player having the award \(a\)</li>, \(r(a)=1/\ln(n(a)+1)\) the rarity score of award \(a\), \(\mathcal{A}\) the set of all reachable awards, \(\mathcal{P}\subset\mathcal{A}\) the set of all the awards you have.<br />
If you put your cursor hover the column rarity you'll have the contribution of each honor to this score.<br />
HoF is updated daily and considers only players who went to the Awards Tracker page.</p>

<p>For the devs, a honors dictionary linking API and banner IDs can be found <a href="https://yata.alwaysdata.net/static/honors/bannersId" target="_blank">here</a>.<br />
After a tedious work for the initial banners, when in need I take the image id from <a href="https://www.tornstats.com/awards.php" target="_blank">Torn Stats</a>. {{"IceBlueFire"|playerURL:776|safe}} is updating them at an amazing speed, thanks.</p>
