{% if report.filter == 0 %}
    <span id="faction-revives-report-online" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-off fa-icon-inline"></i>Only online</a></span>
    <span id="faction-revives-report-hospit" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-off fa-icon-inline"></i>Only hospitalized</a></span>
{% elif report.filter == 10 %}
    <span id="faction-revives-report-online" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-on fa-icon-inline"></i>Only online</a></span>
    <span id="faction-revives-report-hospit" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-off fa-icon-inline"></i>Only hospitalized</a></span>
{% elif report.filter == 1 %}
    <span id="faction-revives-report-online" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-off fa-icon-inline"></i>Only online</a></span>
    <span id="faction-revives-report-hospit" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-on fa-icon-inline"></i>Only hospitalized</a></span>
{% elif report.filter == 11 %}
    <span id="faction-revives-report-online" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-on fa-icon-inline"></i>Only online</a></span>
    <span id="faction-revives-report-hospit" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-on fa-icon-inline"></i>Only hospitalized</a></span>
{% endif %}
<span id="faction-revives-report-failed" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-toggle-{% if report.include_failed %}on{% else %}off{% endif %} fa-icon-inline"></i>Include failed</a></span>
