{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<script>
$(document).ready(function() {
    $("#faction-revives-report").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1]]});

    $(function () {
        $("#date-start-revives").datetimepicker({
            step: 15,
            onChangeDateTime:function(dp,$input){
                var d = new Date($input.val());
                var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
                $("#ts-start-revives").val(dUTC/1000);
                var s = new Date(dUTC).toUTCString().replace("GMT", "");
                $("#date-start-revives").html(s);

                $("#date-start-revives").removeClass("error").addClass("valid");
                $("#date-live-revives").prop('checked', false);

                var start = parseInt($("#ts-start-revives").val());
                var end = parseInt($("#ts-end-revives").val());
                if(!end) {
                    $("#date-end-revives").removeClass("valid").addClass("error").html('<i class="fas fa-plus-circle fa-icon-inline"></i>Add an ending date (or leave blank for live)');
                    $("#create-report-revives").hide()
                } else if(end < start) {
                    $("#date-end-revives").removeClass("valid").addClass("error");
                    $("#create-report-revives").hide()
                } else {
                    $("#date-end-revives").removeClass("error").addClass("valid");
                    $("#create-report-revives").show()
                }

                // if $("#date-start-revives").html {
                //     console.log()
                // }
            },
        });
    });


    $(function () {
        $("#date-end-revives").datetimepicker({
            step: 15,
            onChangeDateTime:function(dp,$input){
                var d = new Date($input.val());
                var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
                $("#ts-end-revives").val(dUTC/1000);
                var s = new Date(dUTC).toUTCString().replace("GMT", "");
                $("#date-end-revives").html(s);
                $("#date-end-revives").removeClass("error").addClass("valid");
                $("#date-live-revives").prop('checked', false);

                var start = parseInt($("#ts-start-revives").val());
                var end = parseInt($("#ts-end-revives").val());
                if(!start) {
                    $("#date-start-revives").removeClass("valid").addClass("error").html('<i class="fas fa-plus-circle fa-icon-inline"></i>Add a starting date');
                    $("#create-report-revives").hide()
                } else if(end < start) {
                    $("#date-start-revives").removeClass("valid").addClass("error");
                    $("#create-report-revives").hide()
                } else {
                    $("#date-start-revives").removeClass("error").addClass("valid");
                    $("#create-report-revives").show()
                }
            },
        });
    });
})

</script>

<h2 class="title"><i class="fas fa-ambulance fa-icon-inline"></i>{{faction.name|safe}}'s revives reports</h2>
<div class="module">
    {% if reports|length %}
    <table id="faction-revives-report" class="tablesorter center-large trshadow faction-revives-report">
        <thead>
            <tr>
                <th>Report [ID]</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Made</th>
                <th>Received</th>
                <th>Report</th>
        </thead>
        <tbody>
        {% for report in reports %}
        <tr class="faction-revives-report">
            <td class="a">Report [{{report.pk}}]</td>
            <td class="b">{{report.start|ts2date}}</td>
            {% if report.end %}
                <td class="b">{{report.end|ts2date}}</td>
                <td class="b">{{report.end|sub:report.start|ts2time}}</td>
            {% else %}
                <td class="b">-</td>
                <td class="b">-</td>
            {% endif %}
            <td class="c"><b>{{report.revivesMade}}</b></td>
            <td class="c"><b>{{report.revivesReceived}}</b></td>

            <td class="d buttons">
                {% include "faction/revives/buttons.html" %}
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    {% else%}
        <p class="error">No reports recorded. Only AA members can add reports.</p>
    {% endif %}
</div>

{% if player.factionAA %}
<div class="module rounded">
    <p>To create a new revive report select a starting date and either an ending date or make it live.</p>
    <form>
        <p><b><i class="far fa-calendar-alt fa-icon-inline"></i>Starting date</b>:
            <input id="ts-start-revives" type="hidden" value="0">
            <span id="date-start-revives" style="cursor: pointer;"><i class="fas fa-plus-circle fa-icon-inline"></i>Add a starting date</span>
        </p>
        <p><b><i class="far fa-calendar-alt fa-icon-inline"></i>Ending date</b>:
            <input id="ts-end-revives" type="hidden" value="0">
            <span id="date-end-revives" style="cursor: pointer;"><i class="fas fa-plus-circle fa-icon-inline"></i>Add an ending date</span>
        </p>
        <p><b><i class="fas fa-microphone-alt fa-icon-inline"></i>Make it live</b>:
            <input id="ts-live-revives" type="hidden" value="0">
            <input id="date-live-revives" type="checkbox">
        </p>
        <p id="create-report-revives" class="valid" style="display: none; cursor: pointer;"><i class="fas fa-plus-circle fa-icon-inline"></i>Start</p>
    </form>
</div>
{% endif %}
