{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<script>
$(document).ready(function() {
    $(".faction-revives-report-players").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[2,1], [5,1], [3,1], [4,1]]});
    $(".faction-revives-report-factions").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1], [2,1]]});
    $(".faction-revives-list").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[0,1]]});
});

$(function () {
    $("#modify-date-end").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
            var reportId = $("input#revive-report-id").attr("data-val");
            $( "#content-update" ).load( "/faction/revives/" + reportId, {
                end: dUTC/1000, modifyEnd: 1,
                csrfmiddlewaretoken: getCookie("csrftoken")
            },afterLoad);
            $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Modify contract ');
        },
    });
});

</script>

<h2 class="title">Revive report [{{report.pk}}]</h2>
<div class="module">
    <table class="tablesorter center trshadow contract-summary">
        <thead>
            <tr><th colspan="3">Report summary</tr>
        </thead>
        <tbody>
            <tr>
                <td><b>From: </b> {{report.start|ts2date}}</td>
                <input id="revive-report-id" type="hidden" data-val="{{report.pk}}" value="{{report.pk}}">
                <td id="modify-date-end" style="cursor: pointer"><b>To: </b> {{report.end|ts2date}}</td>
                <td><b>Report status:</b> {% include "faction/revives/status.html"%}</td>
            </tr>
            <tr>
                <td><b>Made: </b> {{report.revivesMade}}</td>
                <td><b>Received: </b> {{report.revivesReceived}}</td>
                <td><b>Total: </b> {{revives|length}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="sep">

    <table class="tablesorter center-full-fourth trshadow faction-revives-report-factions">
        <thead>
                <tr><th colspan="3">Revivers</th></tr>
              <tr>
                <th>Faction</th>
                <th>Made</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.reviver_factions.items %}
        <tr {%if v.revives < 6  and not v.show%}class="hidden"{%endif%}{%if not v.show%}style="opacity: 0.5"{%endif%}>
            <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            <td class="b">{{v.revives}}</td>
            <td class="c">{% include "faction/revives/toggle.html" with type="revivers"%}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-revives-report-see-all" style="cursor: pointer">
          <td colspan="3" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
    </table>

    <table class="tablesorter center-full-fourth trshadow faction-revives-report-factions">
        <thead>
              <tr><th colspan="3">Targets</th></tr>
              <tr>
                <th>Faction</th>
                <th>Received</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.target_factions.items %}
        <tr {%if v.revived < 6 and not v.show %}class="hidden"{%endif%}{%if not v.show%}style="opacity: 0.5"{%endif%}>
            <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            <td class="b">{{v.revived}}</td>
            <td class="c">{% include "faction/revives/toggle.html" with type="targets" %}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-revives-report-see-all" style="cursor: pointer">
          <td colspan="3" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
        <table>
    </table>

    <table class="tablesorter center-full-half trshadow faction-revives-report-players">
        <thead>
            <tr><th colspan="4">Players</th></tr>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Made</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.players.items %}
        <tr {%if v.revives|add:v.revived < 6%}class="hidden"{%endif%}>
            <td class="a">{{v.name|playerURLShort:k|safe}}</td>
            <td class="b">{{v.factionname|factionURLShort:v.faction|safe}}</td>
            <td class="c">{{v.revives}}</td>
            <td class="c">{{v.revived}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-revives-report-see-all" style="cursor: pointer">
          <td colspan="4" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
    </table>

    <hr class="sep">
</div>

<div class="catch-me">
    <h2 class="title toggle-display rounded"><i class="fas fa-notes-medical"></i>&nbsp;&nbsp;Revives report [{{report.pk}}]: list of {{revives|length}} revives&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
    <div class="module" style="display: none;">
        {% if revives|length %}
        <table id="faction-revives-list" class="tablesorter center-large trshadow faction-revives-list">
            <thead>
                <tr>
                    {# <th>Revive [ID]</th> #}
                    <th>Start</th>
                    <th>Reviver</th>
                    <th>Faction</th>
                    <th>Target</th>
                    <th>Faction</th>
            </thead>
            <tbody>
            {% for k, v in revives.items %}
            {%if v.show %}
            <tr>
                {# <td class="a">Revive [{{k}}]</td> #}
                <td class="a">{{v.timestamp|ts2date}}</td>
                <td class="b">{{v.reviver_name|playerURL:v.reviver_id|safe}}</td>
                <td class="b">{{v.reviver_factionname|factionURL:v.reviver_faction|safe}}</td>
                <td class="b">{{v.target_name|playerURL:v.target_id|safe}}</td>
                <td class="b">{{v.target_factionname|factionURL:v.target_faction|safe}}</td>
            </tr>
            {%endif%}
            {% endfor %}
            </tbody>
        </table>
        {% else%}
            <p class="error">No revives.</p>
        {% endif %}
    </div>
</div>
