{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


{# <script> #}

{# $(function () { #}
    {# $("#modify-date-end").datetimepicker({ #}
        {# step: 15, #}
        {# onChangeDateTime:function(dp,$input){ #}
            {# var d = new Date($input.val()); #}
            {# var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()); #}
            {# var reportId = $("input#revive-report-id").attr("data-val"); #}
            {# $( "#content-update" ).load( "/faction/revives/" + reportId, { #}
                {# end: dUTC/1000, modifyEnd: 1, #}
                {# csrfmiddlewaretoken: getCookie("csrftoken") #}
            {# },afterLoad); #}
            {# $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Modify contract '); #}
        {# }, #}
    {# }); #}
{# }); #}

{# </script> #}

<h2 class="title"><i class="fas fa-notes-medical fa-icon-inline"></i>{{faction.name}}'s revives report [{{report.pk}}]{% if not share %}{%include "faction/revives/filter-buttons.html"%}<span id="faction-revives-report-update" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-sync-alt fa-icon-inline"></i>Compute report</a></span>{% endif %}</h2>
<div class="module">
    <table class="tablesorter center trshadow contract-summary">
        <thead>
            <tr><th colspan="3" class="buttons">Report summary
                {% if not share and player.factionAA %}
                    <form class="flush-right">{% csrf_token %}
                        Share report&nbsp;&nbsp;<span>{% include 'faction/revives/share.html' %}</span>
                    </form>
                {% endif %}
            </th></tr>
        </thead>
        <tbody>
            <tr>
                <td><b>From: </b> {{report.start|ts2date}}</td>
                <input id="revive-report-id" type="hidden" data-val="{{report.pk}}" value="{{report.pk}}">
                <td id="modify-date-end" style="cursor: pointer"><b>To: </b> {{report.end|ts2date}}</td>
                <td><b>Report status:</b> {% include "faction/revives/status.html"%}</td>
            </tr>
            <tr>
                <td><b>Made: </b> {{report.revivesMade|intcomma}}</td>
                <td><b>Received: </b> {{report.revivesReceived|intcomma}}</td>
                <td><b>Total: </b> {{report.revivesReceived|add:report.revivesMade|intcomma}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="sep">

    {% if factions|length %}
        <div class="pagination-list">
            {% include "faction/revives/factions.html"%}
        </div>
        <div class="pagination-list">
            {% include "faction/revives/players.html"%}
        </div>
        <hr style="opacity: 0;">
    {% else %}
        <p class="warning">No report found. Please click on update report on the top right of this section.</p>
    {% endif %}
</div>

{% if revives %}
<h2 class="title"><i class="fas fa-list fa-icon-inline"></i>List of revives</h2>
<div class="module">
    <div class="pagination-list">
        {% include "faction/revives/revives.html" %}
    </div>
</div>
{% endif %}
