{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}
{% load static %}


<h2 class="title"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Tutorial for the bot admins</h2>
<div class="module">
    <p>Let's call a Torn player that wants to get the YATA bot on its server <b>Miss Bond [007]</b> and lets see how to setup the bot for them.</p>
    <h1>What <b>Miss Bond [007]</b> has to do</h1>
    <p>They should have followed <a href="{% url 'bot:host' %}">these steps</a> which means</p>
    <ul>
        <li>They logged into the YATA website with their API key</li>
        <li>They gave the bot the permission to use their key (<a href="{% url 'bot:documentation' %}">API keys management</a>)</li>
        <li>They are verified on the Torn discord server</li>
        <li>They are on the YATA discord server</li>
        <li>They filled a form with the options they wanted</li>
        <li>They invited the bot with <a href="https://www.google.com/url?q=https://discordapp.com/oauth2/authorize?client_id%3D623862007434706986%26scope%3Dbot%26permissions%3D8&sa=D&ust=1580597657064000&usg=AFQjCNFQkG01nmzJxg0Fl2y7GYfE5UU0CQ" target="_blank">this link</a></li>
        <li>They mentionned @Helper on the discord server to set their bot</li>
    </ul>

    <h1>What do you have to do to set their bot</h1>
    <p>It's not because the bot is invited that it's operationnal. And that's where you have to do something. Your goal is to fill the database with <b>Miss Bond [007]</b>'s server configurations.</p>

    <h2>Step 1.</h2>
    <p>Check the responses of <a href="https://docs.google.com/forms/d/11z5WEhDs6sa-gsvOggyyy4L89zCnSyaj84cjZJTfSYw" target="_blank">this form</a> where they should have entered their Torn name and ID. <i>(If you don't have access to the responses PM me your email address)</i><br/>

    <b class="warning">Make sure to check that the Torn ID and name corresponds to the discord member!</b> <i>(check Torn id/name of the displayed name on the YATA server or check discord ID with the torn API)</i></p>
    <ul>
        <li>Don't setup a bot to a discord member that is not verified</li>
        <li>Don't check torn ID with their discord name on another server than the YATA server.</li>
    </ul>

    <h2>Step 2.</h2>
    <p>Log into the <a href="/admin/" target="_blank">YATA admin section</a>. <i>(login: your torn name, psw: I should have sent you one that you should have changed. If not I have to create an account for you, just ping me)</i></p>

    <p>You should see that:</p>
    <p><a href="/static/images/bot/bot_tuto_01.png"><img src="/static/images/bot/bot_tuto_01.png" class="bot-tuto"></a></p>

    <p>What you're interested in is the Guilds row that leads you to something like that:</p>
    <p><a href="/static/images/bot/bot_tuto_02.png"><img src="/static/images/bot/bot_tuto_02.png" class="bot-tuto"></a></p>
    <p>which lists all the servers the bot is supposed to be in.</p>
    <ul>
        <li><b>Column 1</b> the server name</li>
        <li><b>Column 2</b> the bot</li>
        <ul>
            <li><b>Chappie</b> it's my bot, don't touch it</li>
            <li><b>YATA</b> it's the official YATA bot, touch it only if you know what you're doing</li>
            <li><b>YATA-dev</b> it's the bot made to play with and learn, you can do whatever you want with it</li>
        </ul>
        <li><b>Column 3</b> Torn name of the one that set the bot (you or one of the helpers)</li>
        <li><b>Column 4</b> Torn name of the one that asked for the bot (<b>Miss Bond [007]</b>)</li>
        <li><b>Column 5</b> Discord name of the server owner</li>
        <li><b>Column 6</b> Number of master keys (if 0 there is a problem. Check if you entered a master key and if you did it most probably means that <b>Miss Bond [007]</b> didn't give the permission to use the key)</li>
        <li><b>Column 7-12</b> Modules</li>
    </ul>

    <p>There is a bunch of filters on your right to help you find the server you want. If you click on a server name (first column), you'll move to the server options page (same as if you create a new server) which will be needed if a user wants to modify their options.</p>

    <p>On the top left there is an Action list. We'll see that later.</p>
    <p>On the top right there is an <b>ADD GUILD +</b> button. Click on that.</p>
    <p><a href="/static/images/bot/bot_tuto_03.png"><img src="/static/images/bot/bot_tuto_03.png" class="bot-tuto"></a></p>
    <p>This page is preatty simple to understand. Just enter the options <b>Miss Bond [007]</b> set on the form. Should be 1 to 1. It's very important to set the good discord ID. Should have received it from the bot in a PM sent when <b>Miss Bond [007]</b> invited the bot that looks like this:</p>
        <pre>I joined guild MI6 [056573748670123] owned by MissBond#7070</pre>
    <p>Here the ID is <tt>056573748670123</tt>. Guild contact name and id is <b>Miss Bond [007]</b>.<br>
    When you're done you can save the config (bottom right of the page) that should push you back to the previous list. <b class="warning">Don't press the red delete button if you don't know what you're doing.</b></p>
    <p>Then finally, you have to push the setup to the bot configuration with the action list I mentionned above:</p>
    <ol>
        <li>Select the row(s) corresponding to the server you added/modified</li>
        <li>Select <tt>Push guild setup to bot configuration</tt> in the action list</li>
    </ol>
    <p><a href="/static/images/bot/bot_tuto_04.png"><img src="/static/images/bot/bot_tuto_04.png" class="bot-tuto"></a></p>
    <p>Don't be surprised if you see nothing happening ^^. Now the database is setup, you can move on to the last step.</p>

    <h2>Step 3.</h2>
    <p>You have to reload the bot so that it takes into account the modifications made in the database.</p>
    <p>Move on to discord and type <tt>!reload</tt> for the YATA bot (or <tt>$reload</tt> for the YATA-dev bot) in a #yata-admin channel.<br>
        That's when the bot creates the channels and the roles in the new server.</p>

    <h2>Step 4.</h2>
    <p>Wait for complains and option's modifications and loop back to the previous steps ^^</p>
</div>
