{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

{% for app in apps %}
{% for guildId, guild in app.variables.items %}
<div class="catch-me">
    <h2 class="title toggle-display rounded">{{app.name}} [{{app.id}}] on guild {{guild.admin.name}} [{{guildId}}]&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
    <div class="module" style="display: none;">
                <h2>Owner</h2>
                <p>{{guild.admin.owner}} [{{guild.admin.owner_id}}]</p>
                <h2>Contact</h2>
                <p>{{guild.admin.contact|playerURL:guild.admin.contact_id|safe}}</p>
                {% for module, options in guild.items %}
                    {% if module != "admin" %}
                        <h2>{{module}}</h2>
                        <p>
                            {% for k, v in options.items %}
                                <b>{{k}}:</b> <i>{{v}}</i>
                                {% if not forloop.last %}
                                ,&nbsp;
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endfor %}
                {% if not forloop.last %}
                <hr class="sep">
                {% endif %}
    </div>
</div>
{% endfor %}
{% endfor %}
