{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title">Guilds</h2>
<div class="module">
{% for app in apps %}
  <h1 class="module-doc">{{app.name}} [{{app.id}}]&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
  <div class="module-doc">
    {% for guildId, guild in app.variables.items %}
        <h2 class="command-doc">{{guild.admin.name}} ({{guild.admin.contact}} [{{guild.admin.contact_id}}])&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
        <div class="command-doc">
          <p><b>Owner:</b> {{guild.admin.owner}} [{{guild.admin.owner_id}}]</p>
          <p><b>Contact:</b> {{guild.admin.contact|playerURL:guild.admin.contact_id|safe}}</p>
          {% for module, options in guild.items %}
              {% if module != "admin" %}
                  <p><b>{{module}}:</b>
                    {% for k, v in options.items %}
                        {{k}}: <i>{{v}}</i>
                        {% if not forloop.last %}
                        ,&nbsp;
                        {% endif %}
                    {% endfor %}
                  </p>
              {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
{% endfor %}
</div>
