{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center tdshadow bot-categories">
    <tbody>
    <tr>
        <td>
            <a href="{% url 'bot:welcome' %}"><i class="fas fa-robot fa-icon-inline"></i>YATA bot</a>
        </td>
        <td>
            <a href="{% url 'bot:documentation' %}"><i class="fas fa-book-reader fa-icon-inline"></i>Documentation</a>
        </td>
        <td>
            <a href="{% url 'bot:host' %}"><i class="fas fa-laptop fa-icon-inline"></i>Host the bot</a>
        </td>
        <td>
            <a href="{% url 'bot:dashboard' %}"><i class="fas fa-tachometer-alt fa-icon-inline"></i>Dashboard</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
