{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc">Module Chain&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module provides tools to monitor chains.</p>

<h2 class="command-doc privacy-personal-public">Command <tt>!chain</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Regularly gives status on the chain and sends a notification to the chain faction role (<tt>@Faction [factionId]</tt>) when chain is about to timeout. If <tt>&lt;factionID&gt;</tt> is given it watches the chain of the corresponding faction, otherwise it watches the chain of the key author's faction. The two optional parameters <tt>&lt;w=warningTime&gt;</tt> and <tt>&lt;n=notificationTime&gt;</tt> set the timeout notification threshold in seconds (default is 90 seconds) and the time between status update (default is 900 seconds = 10 minutes), respectively. It will stop watching on chain cooldown or if it catches a <tt>!stop</tt>.</p>
<p><b>Syntax:</b> <tt>!chain</tt> or <tt>!chain &lt;factionID&gt;</tt> or <tt>!verify &lt;w=warningTime&gt; &lt;n=notificationTime&gt;</tt></p>
<p><b>Example:</b> <tt>!chain 2356 w=30 n=120</tt> will watch the chain of faction <tt>2356</tt>, gives notifications if timeout < 30 seconds and gives status update every 2 minutes.</p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
{# <p class="privacy-master warning">Use the master key to get chain information.</p> #}
</div>

<h2 class="command-doc privacy-none">Command <tt>!stopchain</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Tells the bot to stop watching a chain.</p>
<p><b>Syntax:</b> <tt>!stopchain</tt></p>
<p><b>Warning:</b> This is not a <i>real</i> command in the sense that it does not directly stop the bot. Upon status update, the bot will read previous messages and if it catches a <tt>!stopchain</tt> it will <i>1)</i> stop watching and say so <i>2)</i> delete the <tt>!stop</tt> message. Thus it can take several minutes for the bot to actually stop (depending on parameter <tt>n</tt>). If you're watching several chains at the same time the next chain to notify will be stopped (yes it can be a mess quite quickly...).<p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
{# <p class="privacy-none valid">No key needed.</p> #}
</div>

<h2 class="command-doc privacy-personal-private">Command <tt>!retal</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Sends a notification to the author's faction role (<tt>@Faction [factionId]</tt>) on incoming attacks. It will stop watching retals if it catches a <tt>!stopretal</tt>.</p>
<p><b>Syntax:</b> <tt>!retal</tt></p>
<p><b>Scope:</b> Anyone with AA permission can use it in <tt>#chain</tt>.</p>
{# <p class="privacy-master warning">Use the master key to get chain information.</p> #}
</div>

<h2 class="command-doc privacy-none">Command <tt>!stopretal</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Tells the bot to stop watching a retals.</p>
<p><b>Syntax:</b> <tt>!stopretal</tt></p>
<p><b>Warning:</b> Same as <tt>!stopchain</tt>.<p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
{# <p class="privacy-none valid">No key needed.</p> #}
</div>

</div>
