{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc"><i class="fas fa-user-lock"></i>&nbsp;<i class="fas fa-users-cog"></i>&nbsp;<i class="fas fa-user-check"></i>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
    {# <p>Each commands </p> #}
    <h2>Icons</h2>
    <div style="margin-left: 10px">
        <p class="privacy-private">Require personal keys.</p>
        <p class="privacy-master">Require discord server's master keys.</p>
        <p class="privacy-none">Does not require any key.</p>
    </div>
    <h2>Colors</h2>
    <div style="margin-left: 10px">
        <p class="color-private">Private information pulled from Torn API.</p>
        <p class="color-public">Public information pulled from Torn API.</p>
        <p class="color-none">No information pulled from Torn API.</p>
    </div>
</div>
