{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title">Documentation</h2>
<div class="module">
<p>The bot's commands are classified in modules. Click on the module for the list of commands and on the command for the documentation.</p>
{% include "bot/commands-verify.html" %}
{% include "bot/commands-loot.html" %}
{% include "bot/commands-chain.html" %}
{% include "bot/commands-stocks.html" %}
{% include "bot/commands-revive.html" %}
{% include "bot/commands-api.html" %}
{% include "bot/commands-legend.html" %}

</div>
