{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h3 id="{{anchor}}" class="module-doc"><i class="fas fa-fist-raised"></i>&nbsp;Module Wars&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<div class="module-doc">

<h4 class="command-doc privacy-none">Command <tt>!assign wars</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h4>
<div class="command-doc">
<p>Gives or removes the war role of the command author.</p>
<p><b>Syntax:</b> <tt>!assign wars</tt></p>
</div>

<h4 class="command-doc privacy-none">Notifications&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h4>
<div class="command-doc">
<p>Notifies the war role when a territory is assaulted.</p>

</div>

</div>
