{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 id="{{anchor}}" class="module-doc"><i class="fas fa-key fa-icon-inline"></i>Module Admin&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>Set of tools for administratin purposes.</p>

<h2 class="command-doc privacy-none">Command <tt>!sync</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Sync the bot configuration with the dashboard. It needs to be done whenever changes in the server or in the dashboard has been made.</p>
<p><b>Syntax:</b> <tt>!sync</tt></p>
<p><b>Socpe:</b> Only bot admins can do it.</p>
</div>

<h2 class="command-doc privacy-none">Command <tt>!clear</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Delete the last unpinned messages of the channels in memory (about 100). Use <tt>!clear < n ></tt> to delete the last <tt>n</tt> messages.</p>
<p><b>Syntax:</b> <tt>!sync</tt></p>
<p><b>Socpe:</b> You need manage messages permissions.</p>
</div>

<h2 class="command-doc privacy-none">Command <tt>!suppress</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Removes the last embedded messages of the channel in memory (about 100). Use <tt>!suppress < n ></tt> to remove the last <tt>n</tt> embedded messages.</p>
<p><b>Syntax:</b> <tt>!sync</tt></p>
<p><b>Socpe:</b> You need manage messages permissions.</p>
</div>

</div>
