{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h3 id="{{anchor}}" class="module-doc"><i class="fas fa-check"></i>&nbsp;&nbsp;Module verify&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<div class="module-doc ms-4 mb-4">

    <p>This module handles verification commands and settings for the server.</p>

    <h4 class="command-doc">Command <code>/v</code>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h4>
    <div class="command-doc ms-4">
        <div class="command-description p-2">
            The command <code>/v</code> verifies the author of the commands or another userserver's member if the optional argument <code>member</code> is entered.
            Depending on the options set by the server admins, the verification can do the following things if the member is officialy verified by Torn:
            <ul>
                <li>Give a role</li>
                <li>Change the name to the member Torn's name and append its Torn ID.</li>
                <li>Give a set of roles based on faction membership and position.</li>
                <li>Give a role based on elimination team.</li>
            </ul>
        </div>
    </div>

    <h4 class="command-doc admin">Group <code>/verify</code>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h4>
    <div class="command-doc ms-4">
    <div class="p-2">
        The <code>/verify</code> group of commands handles server wide verifications and verification options.
    </div>
    <ul>
        <li>
            <code>/verify options</code><br>
            <div class="command-description p-2">
                Sets up the several options for the verification module.
                <ul>
                    <li><code>role</code> the role to be given upon successful verification.</li>
                    <li><code>name</code> whether to change or not the members' display name to their Torn name.</li>
                    <li><code>id</code> whether to append the Torn ID to their display name.</li>
                    <li><code>check</code> enable/disable daily faction checks.</li>
                    <li><code>disable</code> disable the verification module.</li>
                </ul>
            </div>
            <div class="mb-2">
                Notes
                <ul>
                    <li>The bot can't assign roles that are above its own role.</li>
                    <li>The bot can't change the name of the server owner.</li>
                    <li>Members are automatically verified when they join your server. The message is directed toward the server system message.</li>
                    <li>
                        <code>/verify all force</code> should only be used if roles settings have been changed.
                        For faction membership changes prefer <code>/verify faction check</code> which is equally secure and more efficient.
                    </li>
                    <li>Daily checks are performed 24h after the previous one, whether triggered automatically or manually.</li>
                </ul>
            </div>
        </li>
        <li>
            <code>/verify all</code><br>
            <div class="command-description p-2">Loops over all members of the server and applies <code>/v</code> only to non verified members.
                If the argument <code>force</code> is set, it applies <code>/v</code> to all members.
                Forcing verification can take a lot of time on large server. It's better to have multiple keys set with <code>/server keys</code>.
            </div>
        </li>
    </ul>
    </div>

    <h4 class="command-doc admin">Group <code>/verify faction</code>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h4>
    <div class="command-doc ms-4">
    <div class="p-2">
        The <code>/verify faction</code> group of commands handles faction membership verification options.
    </div>
    <ul>
        <li>
            <code>/verify faction check</code><br>
            <div class="command-description p-2">
                For every factions setup on the server, the bot goes through all the members of each faction unique role and check if they still belong to it.
                If not they are verified.
                It can been seen as a lightweight version of <code>/verify all force</code> as only members that switch factions are verified.
                It is to be used if no changes has been made in the roles settings and you only want to check faction memberships (it can be setup automatically on a daily basis with <code>/verify options</code>).
            </div>
            <code>/verify faction add</code><br>
            <div class="command-description p-2">
                Allows you to add a faction to the verification process and edit its options.
                You will se a dropdown <span class="command-dropdown">Edit faction's name</span> that will lead you to the several options.
                <span class="command-dropdown">Unique role</span> is a mandatory role that you need to only give to this faction.
                Sharing this roles with other members and factions (which is not possible through the bot) can introduce loopholes in the verification process.
                <span class="command-dropdown">Extra roles</span> are additional roles that can also be assigned and shared among several factions (such as an alliance roles).
                <span class="command-dropdown">Position role</span> will allow you to first select a faction position, then select it roles to be assigned.
                <ul>
                    <li><code>id</code> the Torn ID of the faction you want to add.
                        This is the number in the faction page url after <tt>&ID=</tt>.
                    </li>
                </ul>
            </div>
            <div class="mb-2">
                Notes
                <ul>
                    <li>Only the positions assigned to faction members in-game are shown (as all positions are private data).</li>
                    <li>Don't try to bypass the unique role or use it in a funky way. It can be a simple "label" without specific permissions.</li>
                    <li><b>Don't forget to save your settings with the green button :)</b></li>
                </ul>
            </div>
            <code>/verify faction edit</code><br>
            <div class="command-description p-2">
                Prompt a <span class="command-dropdown">Factions selection</span> dropdown that will lead you to the same process as <code>/verify faction add</code> where you will be able to edit your settings.
            </div>
            <code>/verify faction view</code><br>
            <div class="command-description p-2">
                Displays all the faction settings.
            </div>
        </li>
    </ul>
    </div>

</div>