{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc">Module Torn API&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module brings a set of commands giving direct private/public results of API requests.</p>

<h2 class="command-doc privacy-personal-private">Command <tt>!weaponexp</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>DM the command author's list of weapons with experience > 5%.</p>
<p><b>Syntax:</b> <tt>!weaponexp</tt></p>
<p><b>Aliases:</b> <tt>!we</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
<pre>
# Kivou [2000607]: weapon experience

# weapon maxed
 1: Beretta Pico (100%)
 2: Macana (100%)
 3: Diamond Bladed Knife (100%)
 4: ArmaLite M-15A4 Rifle (100%)
# experience > 5%
 1: Qsz-92 (69%)
 2: Enfield SA-80 (68%)
 3: Jackhammer (58%)
 4: Dual Hammers (41%)
 5: Madball (39%)
 6: Duke's Hammer (36%)
 7: Minigun (32%)
 8: Baseball Bat (28%)
 9: Axe (20%)
10: Penelope (20%)
11: Pillow (18%)
12: Plastic Sword (14%)
13: Hammer (6%)
</pre>
{# <p class="privacy-private error">Use personal API keys to pull private information.</p> #}
</div>

<h2 class="command-doc privacy-personal-private">Command <tt>!networth</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>DM the command author's networth breakdown.</p>
<p><b>Syntax:</b> <tt>!networth</tt></p>
<p><b>Aliases:</b> <tt>!net</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-private error">Use personal API keys to pull private information.</p> #}
</div>

<h2 class="command-doc privacy-master">Command <tt>!who</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the basic details of a discord member (if they are verified on the official Torn discord) or directly of a Torn player (if <tt>&lt;tornId&gt;</tt> is given).</p>
<p><b>Syntax:</b> <tt>!who &lt;@DiscordMember&gt;</tt> or <tt>!who &lt;tornId&gt;</tt></p>
<p><b>Aliases:</b> <tt>!profile</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
<pre>
Name: Chedburn [1]    <1>
Action: 2 minutes ago
Status: Okay
Life: 675/675 [++++++++++++++++++++]
---
Level: 16
Rank: Celebrity Medalist
Age: 5,527 days old
Networth: $291,794,071,781
X-R-SE: 93 250 67
---
Faction: Test Faction 2 [42113]    <2>
Position: Leader since 368 days
---
Company: Director at Chedburns Test Company [79286]    <3>
---
Friends: 1,295
Enemies: 241
Karma: 26,191 (137%)
Married: Maxorcie [1630641] for 1,974 days    <4>
</pre>
{# <p class="privacy-master warning">Use the master key to pull public information on a player.</p> #}
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!fly</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are flying for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise.</p>
<p><b>Syntax:</b> <tt>!fly</tt> or <tt>!fly &lt;factionID&gt;</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-master warning">Use the master key to pull public information on faction members.</p> #}
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!hosp</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are hospitalized for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise. Members are sorted by last action and direct link to profile is given.</p>
<p><b>Syntax:</b> <tt>!hosp</tt> or <tt>!hosp &lt;factionID&gt;</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-master warning">Use the master key to pull public information on faction members.</p> #}
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!okay</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are okay for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise. Members are sorted by last action and direct link to profile is given.</p>
<p><b>Syntax:</b> <tt>!okay</tt> or <tt>!okay &lt;factionID&gt;</tt></p>
<p><b>Aliases:</b> <tt>!ok</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-master warning">Use the master key to pull public information on faction members.</p> #}
</div>

<h2 class="command-doc privacy-personal-private">Notifications&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>The YATA bot can send you DM notifications <span class="warning">if you're part of the YATA discord server</span>. Select below the kind of notifications you want.</p>
{% if player.tId > 0 %}
{% with "energy drug event bank nerve booster message education travel medical award chain" as list %}
    <table class="center notification-preferences">
        {% for type in list.split %}
        {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                <td id="discord-toggle-pref-{{type}}">{% include "bot/commands-api-notifications.html" with type=type %}</td>
        {% if forloop.counter|divisibleby:4 %}</tr>{% elif forloop.last %}</tr>{% endif %}
        {% endfor %}
    </table>
{% endwith %}
{% else %}
<p class="error">You have to log in to set your preferences.</p>
{% endif %}
<p><a href="https://discord.gg/tZaYpbG" target="_blank"><i class="fab fa-discord"></i>&nbsp;&nbsp;Join the YATA discord server to receive notifications.</a></p>
</div>

</div>
