{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc"><i class="fas fa-link"></i>&nbsp;&nbsp;Module Chain&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module provides tools to monitor chains.</p>

<h2 class="command-doc privacy-personal-public">Command <tt>!chain</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Regularly gives status on the chain and sends a notification to <tt>&lt;@Role&gt;</tt> (if given) when chain is about to timeout (90s). If <tt>&lt;factionID&gt;</tt> is given it watches the chain of the corresponding faction, otherwise it watches the chain of the key author's faction. It will stop watching on chain cooldown or if it catches a <tt>!stopchain</tt>.</p>
<p><b>Syntax:</b> <tt>!chain</tt> or <tt>!chain &lt;factionID&gt;</tt> or <tt>!chain &lt;@Role&gt;</tt> or <tt>!verify &lt;factionID&gt; &lt;@Role&gt;</tt></p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-none">Command <tt>!stopchain</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Tells the bot to stop watching a chain.</p>
<p><b>Syntax:</b> <tt>!stopchain</tt></p>
<p><b>Warning:</b> This is not a <i>real</i> command in the sense that it does not directly stop the bot. Upon status update, the bot will read previous messages and if it catches a <tt>!stopchain</tt> it will <i>1)</i> stop watching and say so <i>2)</i> delete the <tt>!stopchain</tt> message. Thus it can take up to 90s for the bot to actually stop. If you're watching several chains at the same time the next chain to notify will be stopped (yes it can be a mess quite quickly...).<p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-personal-private">Command <tt>!retal</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Sends a message on incoming attacks of the author's faction. It mentions <tt>&lt;@Role&gt;</tt> if given. Several retals can be launched by different members. Type <tt>!retal</tt> a second will stop the retal watching.</p>
<p><b>Syntax:</b> <tt>!retal</tt> or <tt>!retal</tt> <tt>&lt;@Role&gt;</tt></p>
<p><b>Scope:</b> Anyone with AA permission can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-none">Command <tt>!retals</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>List all the current retal watchings of the server.</p>
<p><b>Syntax:</b> <tt>!retals</tt></p>
<p><b>Scope:</b> Admins can use it in <tt>#yata-admin</tt>.</p>
</div>

<h2 class="command-doc privacy-none">Command <tt>!stopretal</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Stops the retal launched by user which Torn ID is &lt;tornID&gt;</tt>.</p>
<p><b>Syntax:</b> <tt>!stopretal &lt;tornID&gt;</tt></p>
<p><b>Scope:</b> Admins can use it in <tt>#yata-admin</tt>.</p>
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!fly</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are flying for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise.</p>
<p><b>Syntax:</b> <tt>!fly</tt> or <tt>!fly &lt;factionID&gt;</tt></p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!hosp</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are hospitalized for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise. Members are sorted by last action and direct link to profile is given.</p>
<p><b>Syntax:</b> <tt>!hosp</tt> or <tt>!hosp &lt;factionID&gt;</tt></p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-personal-public">Command <tt>!okay</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the list of members that are okay for faction <tt>&lt;factionID&gt;</tt> if given or author key holder's faction otherwise. Members are sorted by last action and direct link to profile is given.</p>
<p><b>Syntax:</b> <tt>!okay</tt> or <tt>!okay &lt;factionID&gt;</tt></p>
<p><b>Aliases:</b> <tt>!ok</tt></p>
<p><b>Scope:</b> Anyone can use it in <tt>#chain</tt>.</p>
</div>

<h2 class="command-doc privacy-personal-private">Command <tt>!vault</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives the money and points faction vault balance of a user <tt>&lt;tornId&gt;</tt> if they belong to the author's faction.</p>
<p><b>Syntax:</b> <tt>!vault &lt;tornId&gt;</tt></p>
<p><b>Scope:</b> Anyone with AA permission can use it anywhere.</p>
</div>

</div>
