{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc">Module Loot&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module gives timings of NPC loot levels and notify.</p>

<h2 class="command-doc privacy-none">Command <tt>!looter</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives or removes the <tt>@Looter</tt> role of the command author.</p>
<p><b>Syntax:</b> <tt>!looter</tt></p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-none valid">No key needed.</p> #}
</div>

<h2 class="command-doc privacy-none">Command <tt>!loot</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Gives a report for all NPC with timings to loot level IV.</p>
<p><b>Syntax:</b> <tt>!loot</tt></p>
<p><b>Aliases:</b> <tt>!duke</tt>, <tt>!Duke</tt>, <tt>!leslie</tt>, <tt>!Leslie</tt>, <tt>!Loot</tt></p>
<p><b>Scope:</b> Anyone can use it in <tt>#loot</tt>.</p>
<pre>
NPC report of 19/12/05 21:01:03 TCT for Kivou [2000607]
Duke   : [====================] (100%) 00hrs 02mins 03s since loot level IV [20:59:00 TCT]
Scrooge: [=================   ] ( 88%) 00hrs 24mins 26s to loot level IV [21:25:29 TCT]
Leslie : [                    ] (  0%) 04hrs 27mins 49s to loot level IV [01:28:52 TCT]
</pre>
{# <p class="privacy-none valid">No key needed.</p> #}
</div>

<h2 class="command-doc privacy-none">Notifications&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Notifies <tt>@Looter</tt> role in <tt>#loot</tt> when an NPC is 5 minutes before loot level IV.</p>
{# <p class="privacy-none valid">No key needed.</p> #}
</div>

</div>
