{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc"><i class="fas fa-fingerprint"></i>&nbsp;&nbsp;Module Crimes&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module provides tools to monitor organized crimes.</p>

<h2 class="command-doc privacy-personal-private">Command <tt>!oc</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>Sends a message when an organized crime of the author's faction is ready (with all participants Okay). It mentions <tt>&lt;@Role&gt;</tt> if given. Several ocs can be launched by different members from different factions. Type <tt>!oc</tt> a second time will stop watching.</p>
<p><b>Syntax:</b> <tt>!oc</tt> or <tt>!oc</tt> <tt>&lt;@Role&gt;</tt></p>
<p><b>Scope:</b> Anyone with AA permission can use it.</p>
</div>

{# <h2 class="command-doc privacy-none">Command <tt>!ocs</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2> #}
{# <div class="command-doc"> #}
{# <p>List all the current oc watchings of the server.</p> #}
{# <p><b>Syntax:</b> <tt>!ocs</tt></p> #}
{# </div> #}

{# <h2 class="command-doc privacy-none">Command <tt>!stopoc</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2> #}
{# <div class="command-doc"> #}
{# <p>Stops the oc launched by user which Torn ID is &lt;tornID&gt;</tt>.</p> #}
{# <p><b>Syntax:</b> <tt>!stopoc &lt;tornID&gt;</tt></p> #}
{# <p><b>Scope:</b> Admins can use it in <tt>#yata-admin</tt>.</p> #}
{# </div> #}

<h2 class="command-doc privacy-personal-private">Command <tt>!ocready</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p>List all the organized crimes of the author's faction weither the participants are ok or not.</p>
<p><b>Syntax:</b> <tt>!ocready</tt></p>
<p><b>Scope:</b> Anyone with AA permission can use it.</p>
</div>

</div>
