{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc">Module Notifications&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p><span class="warning">Work in progress</span></p>
<p>The YATA bot can send you DM notifications if you're part of the <a href="https://discord.gg/tZaYpbG" target="_blank">YATA discord sever</a>. Select below the kind of notifications you want.</p>
{% with "event" as list %}
    {% for type in list.split %}
        <h2 class="privacy-personal-private">{% include "bot/commands-notifications-type.html" with type=type %}</h2>
    {% endfor %}
{% endwith %}
</div>
