{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h1 class="module-doc">Module API&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h1>
<div class="module-doc">
<p>This module brings a set of commands giving direct private/public results of API requests.</p>

<h2 class="command-doc privacy-personal-private">Command <tt>!weaponexp</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p><b>Syntax:</b> <tt>!weaponexp</tt></p>
<p><b>Aliases:</b> <tt>!we</tt></p>
<p><b>Help:</b> DM the command author's list of weapons with experience > 5%.</p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-private error">Use personal API keys to pull private information.</p> #}
</div>

<h2 class="command-doc privacy-personal-private">Command <tt>!networth</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p><b>Syntax:</b> <tt>!networth</tt></p>
<p><b>Aliases:</b> <tt>!net</tt></p>
<p><b>Help:</b> DM the command author's networth breakdown.</p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-private error">Use personal API keys to pull private information.</p> #}
</div>

<h2 class="command-doc privacy-master">Command <tt>!who</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p><b>Syntax:</b> <tt>!who &lt;@DiscordMember&gt;</tt> or <tt>!who &lt;tornId&gt;</tt></p>
<p><b>Help:</b> Gives the basic details of a discord member (if they are verified on the official Torn discord) or directly of a Torn player (if <tt>&lt;tornId&gt;</tt> is given).</p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-master warning">Use the master key to pull public information on a player.</p> #}
</div>

<h2 class="command-doc privacy-master">Command <tt>!fly</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="command-doc">
<p><b>Syntax:</b> <tt>!fly</tt> or <tt>!fly &lt;factionID&gt;</tt></p>
<p><b>Help:</b> Gives the list of faction members that are flying. If <tt>&lt;factionID&gt;</tt> is given it considers the corresponding faction, otherwise it considers the master key holder's faction.</p>
<p><b>Scope:</b> Anyone can use it anywhere.</p>
{# <p class="privacy-master warning">Use the master key to pull public information on faction members.</p> #}
</div>



</div>
