{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% for conf in configurations %}
<h2 class="title"><b>{{conf.name}}</b> [{{conf.id}}]</h2>
    <div class="module">
         {% for guildId, var in conf.variables.items %}
            <h3>Guild id {{guildId}}</h3>
                {% for module, options in var.items %}
                    <h4>{{module}}</h4>
                    <ul>
                        {% for k, v in options.items %}
                            <li><b>{{k}}</b>: {{v}}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
         {% endfor %}
    </div>
{% endfor %}
