{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% if apiErrorSub %}
    {% include "yata/error.html" with apiError=apiErrorSub %}
{% endif %}

{% if view.index %}
    {% include "bot/index.html" %}
    {% include "bot/guilds.html" %}
    {% include "bot/apps.html" %}
{% endif %}
{% if view.doc %}
    {% include "bot/commands.html" %}
    {% include "bot/keys.html" %}
    {% include "bot/verified.html" %}
{% endif %}

{% if view.host %}
    {% include "bot/host.html" %}
{% endif %}
{% if view.dashboard %}
    {% include "bot/dashboard/index.html" %}
{% endif %}
{% if view.admin %}
    {% include "bot/admin.html" %}
{% endif %}
