{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<form>{% csrf_token %}
    <p>
        {% if player.botPerm%}
            <span class="valid"><i class="fas fa-lock-open"></i>&nbsp; The official YATA bot has your permission to use your API key.</span> <a id="discord-toggle-perm" href="{% url 'bot:togglePerm' %}">Revoking permission&nbsp;&nbsp;<i class="far fa-thumbs-down"></i></a>
        {% else %}
            <span class="error"><i class="fas fa-lock"></i>&nbsp; The official YATA bot does not have your permission to use your API key.</span> <a id="discord-toggle-perm" href="{% url 'bot:togglePerm' %}">Granting permission&nbsp;&nbsp;<i class="far fa-thumbs-up"></i></a>
        {% endif %}
    </p>
</form>
