{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load app_filters %}

<table class="center-large trshadow bot-servers">
    <thead>
        <tr>
            <th>#</th>
            <th>Server name</th>
            <th>Server id</th>
            <th>Server admins</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for k, s in servers %}
        <tr>
            <td class="a"><tt>{{total_servers|sub:forloop.counter0|stringformat:"02d"}} / {{total_servers|stringformat:"02d"}}</tt></td>
            <td class="b">{{s.server_name}}</td>
            <td class="c"><tt>{{s.server_id}}</tt></td>
            <td class="d">
                {% for name, id in s.admins %}
                    {{name|playerURL:id|safe}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="e">{{s.joined_at|ts2date:"%Y/%m/%d"}}</td>
        </tr>
        {% endfor %}

        <tr><td colspan="7">
            <div class="pagination">
                <span class="step-links">
                    {% if servers.has_previous %}
                        <a class="page-link" href="{% url 'bot:index' %}?page=1">&laquo; first</a>
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ servers.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        {{ servers.number }}/{{ servers.paginator.num_pages }}
                    </span>

                    {% if servers.has_next %}
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ servers.next_page_number }}">next</a>
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ servers.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </td></tr>

    </tbody>
</table>
