{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<table class="center-large trshadow bot-guilds">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Server name</th>
            <th>Server admin</th>
            <th>Bot admin</th>
            <th>Server id</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for g in guilds %}
        <tr>
            <td class="a" title="# {{g.n}}"><tt>{{g.n|stringformat:"02d"}}</tt></td>
            <td class="a" title="ID {{g.pk}}"><tt>{{g.pk|stringformat:"02d"}}</tt></td>
            <td class="b">{{g.guildName}}</td>
            <td class="c">{{g.guildContactName|playerURL:g.guildContactId|safe}}</td>
            <td class="c">{{g.botContactName|playerURL:g.botContactId|safe}}</td>
            <td class="d"><tt>{{g.guildId}}</tt></td>
            <td class="e">{{g.guildJoinedTime|ts2date:"%Y/%m/%d"}}</td>
        </tr>
        {% endfor %}

        <tr><td colspan="7">
            <div class="pagination">
                <span class="step-links">
                    {% if guilds.has_previous %}
                        <a class="page-link" href="{% url 'bot:index' %}?page=1">&laquo; first</a>
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ guilds.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        {{ guilds.number }}/{{ guilds.paginator.num_pages }}
                    </span>

                    {% if guilds.has_next %}
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ guilds.next_page_number }}">next</a>
                        <a class="page-link" href="{% url 'bot:index' %}?page={{ guilds.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </td></tr>

    </tbody>
</table>
