{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title rounded-top px-2 py-2">
    <div class="d-flex flex-wrap align-items-center">
      <div class="px-2 me-auto"><i class="fas fa-laptop"></i>&nbsp;Host the Legacy YATA bot</div>
    </div>
</h2>
<div class="container-fluid p-md-3 p-1 mb-3 module">
  <div class="clearfix">
    <img class="bd-placeholder-img col-md-2 float-md-end mb-3 ms-md-3 rounded" src="/media/misc/bot_legacy.png" alt="YATA" width="100%" />
      <p><b>You can host the Legacy YATA bot on your server</b>.<br/>It's 1 SE/month. Follow these steps:</p>
      <ol class="mb-0">
          {% comment %} <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a>.</li> {% endcomment %}
          <li><a href="https://discord.com/api/oauth2/authorize?client_id=1011662027288232087&permissions=8&scope=bot" target="_blank">Invite the bot</a> to your server.</li>
          <li>Log into YATA and check out below that your discord account is verified by Torn.</li>
          <li><a href="https://discordapp.com/users/227470975317311488" target="_blank">DM me on discord</a>.</li>
          <li>Visit <a href="{% url 'bot:dashboard' %}">the dashboard</a> to configure your bot.<br><i>Do an initial <tt>!sync</tt></i> on your server first.</li>
          {% comment %} <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a>.</li> {% endcomment %}
          <li>Enjoy! <i class="far fa-smile-wink"></i></li>
      </ol>
  </div>
</div>
