{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title"><i class="fas fa-laptop fa-icon-inline"></i>Host the YATA bot</h2>
<div class="module">
    <p><span class="flush-right">{% include "svg/yata.bot.logo.svg" %}</span><b>You can host the YATA bot on your server</b>.<br/>It's free and it's easy, just follow these steps:</p>
    <p>
        <ol>
            <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a>.</li>
            <li>Be verified on the official Torn discord.<br><i>You can check your status just below.</i></li>
            <li>Log into YATA.</li>
            <li><a href="https://discord.com/api/oauth2/authorize?client_id=623862007434706986&permissions=8&scope=bot" target="_blank">Invite the bot</a> to your server.</li>
            <li><a href="{% url 'discord' %}" target="_blank">Join the YATA server</a> and <b>kindly</b> ask for an <tt>@Helper</tt> to set you up as an admin.<br><i>Give us the name of your server.</i></li>
            <li>Visit <a href="{% url 'bot:dashboard' %}">the dashboard</a> to configure your bot.<br><i>Do an initial <tt>!sync</tt></i> first.</li>
            <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a>.</li>
            <li>Enjoy! <i class="far fa-smile-wink"></i></li>
        </ol>

    </p>
</div>
