{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title"><i class="fas fa-laptop"></i>&nbsp;&nbsp;Host the YATA bot</h2>
<div class="module">
    <p><span class="flush-right">{% include "svg/yata.icon.bot.svg" %}</span><b>You can host the YATA bot on your server</b>.<br/>It's free and it's easy, just follow these steps:</p>
    <p>
        <ol>
            <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a></li>
            <li>Log into YATA and give the bot the permission to use your key (as it will be used as a master key)</li>
            <li>Fill <a href="https://docs.google.com/forms/d/11z5WEhDs6sa-gsvOggyyy4L89zCnSyaj84cjZJTfSYw" target="_blank">this form</a> and <a href="https://www.google.com/url?q=https://discordapp.com/oauth2/authorize?client_id%3D623862007434706986%26scope%3Dbot%26permissions%3D8&sa=D&ust=1580597657064000&usg=AFQjCNFQkG01nmzJxg0Fl2y7GYfE5UU0CQ" target="_blank">invite the bot</a></li>
            <li><a href="https://discord.gg/tZaYpbG" target="_blank">Join the YATA server</a> and PM me to set it up (the bot will not work before I set it up)</li>
            <li>Read <a href="{% url 'bot:documentation' %}">the documentation</a></li>
            <li>Enjoy! <i class="far fa-smile-wink"></i></li>
        </ol>

    </p>
</div>
