{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<div class="container-fluid p-md-3 p-1 mb-3 rounded module">
    <div class="clearfix">
      <img class="bd-placeholder-img col-md-2 float-md-end mb-3 ms-md-3 d-none d-md-block rounded" src="/media/misc/bot_verified.png" alt="YATA" width="100%" />

    <p>
        <b>The YATA bot is a discord bot made for Torn</b>.<br/>

        It has a set of <a href="https://discord.com/blog/slash-commands-are-here" target="_blank">appplication commands</a> made to facilitate your Torn life while keeping your server secure. <br/>

        It has been designed to fully use the new interactions features of discord, minimizing the amount of tying and offering a nice UX, even on mobile.<br/>

        For any questions that the documentation failed to answer, for suggestions or bug reports please join <a href="/discord" target="_blank">the Yata discord server</a>.
    </p>

    <h3>Invite the bot</h3>
    <p>
        You can invite the bot on your server by following <a href="https://discord.com/api/oauth2/authorize?client_id=623862007434706986&permissions=8&scope=bot">this link</a>.
    </p>

    <h3>Frequently Asked Questions</h3>
    <ul>
        <li>
            I have permission errors upon verification, yet the bot has admin permissions.<br>
            <i>The bot can't assign roles that are higher than its own. You need to put it above the highest bot it needs to assign.</i>
        </li>
    </ul>

    <h3>Documentation <span class="warning">WIP</span></h3>

  {% include "bot/commands-server.html" with anchor="server" %}
  {% include "bot/commands-verify.html" with anchor="verify" %}

  {% include "bot/commands-key.html" with anchor="key" %}
  {% comment %} {% include "bot/commands-chain.html" with anchor="chain" %} {% endcomment %}
  {% include "bot/commands-loot.html" with anchor="loot" %}
  {% comment %} {% include "bot/commands-rackets.html" with anchor="rackets" %} {% endcomment %}
  {% include "bot/commands-wars.html" with anchor="wars" %}
  {# {% include "bot/commands-stocks.html" with anchor="stocks" %} #}
  {% comment %} {% include "bot/commands-revive.html" with anchor="revive" %} {% endcomment %}
  {% comment %} {% include "bot/commands-crimes.html" with anchor="crimes" %} {% endcomment %}
  {% comment %} {% include "bot/commands-api.html" with anchor="api" %} {% endcomment %}
  {% comment %} {% include "bot/commands-legend.html" with anchor="legend" %} {% endcomment %}
</div>