{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title"><i class="fas fa-key fa-icon-inline"></i>API keys management</h2>
<div class="module">
    <p>The bot takes the keys it needs from the YATA database. Before pulling a key it systematically check Torn idendity of the concerned discord member. This verification is made by an API call <tt>/user/discord/</tt> checking that Torn and discord identities match. To solve the bootstrap problem, <span class="warning">a set of master keys are given by the bot admins</span> on setup. These keys are only used for this verification procedure.
    Thus, with this system, to be a bot admin you have:</p>
    <ul>
        <li>to be verified on the official discord server</li>
        <li>to be registered on the YATA website</li>
    </ul>

    <p>For some commands, the YATA bot pulls private informations using your key. And some of these commands can be triggered by a tier, displaying private data on potentially public channels. To avoid malicious use of these commands a direct message is sent to you when the data is pulled and displayed.</p>

    <p>If your are a bot admin and you reset your key, you just have to <a href="{%url 'logout'%}" target="_blank">logout</a> and log back into YATA with your new key.</p>

</div>
