{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title"><i class="fas fa-key"></i>&nbsp;&nbsp;API keys management</h2>
<div class="module">
    <p>The bot takes the keys it needs from the YATA database. Before pulling a key it systematically check Torn idendity of the concerned discord member. This verification is made by an API call <tt>/user/discord/</tt> checking that Torn and discord identities match. To solve the bootstrap problem, a set of master keys are given to the bot on setup. These keys are only used for this verification procedure.
    Thus, with this system, you have:</p>
    <ul>
        <li>to be verified on the official discord server</li>
        <li>to be registered on the YATA website</li>
    </ul>
    <p>to use all the commands of the bot. If you don't, when possible master keys are used as a fallback method. Check the documentation for more details.</p>

    <p>For some commands, the YATA bot pulls private informations. And some of these commands can be triggered by a tier, displaying private data on potentially public channels (see below for details). To avoid malicious use of these command a direct message will be sent to you when the data is pulled and displayed.</p>

    <p>If your key is set as a master key and you reset it, you just have to <a href="{%url 'logout'%}" target="_blank">logout</a> and log back into YATA with your new key.</p>

</div>
