{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<!-- <h2 class="title">Configurations</h2> -->
<div class="module rounded">
    <h1>The YATA bot(s)</h1>
    <p>The source code of the YATA bot is currently developed and maintained by {{"Kivou"|playerURL:"2000607"|safe}}.</p>

    <h2><i class="fas fa-thumbs-up"></i>&nbsp; Official YATA bot</h2>
    <p>The official YATA bot (later on simply called YATA bot) runs on a single server controled by {{"Kivou"|playerURL:"2000607"|safe}} and is hosted on multiple discord servers owned by different members.</p>
    <ul>
        <li>It is the only one that have access to the YATA database (see below)</li>
        <li>It is the only one vouched for by {{"Kivou"|playerURL:"2000607"|safe}}</li>
    </ul>
    <p>You can check if you're dealing with the official bot by checking the list of servers at the bottom of this page <b>and</b> by checking that the bot ID is <tt>623862007434706986</tt> (<a href="https://support.discordapp.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-" target="_blank">how to look at discord ID</a>).</p>
    <h2><i class="fas fa-question"></i>&nbsp; Unofficial YATA bots</h2>
    <p>There is no control whatsoever on the different versions of the bot. Some might be better, some might be worse, some might be malicious... The only think known is that they have not access to the information put on YATA and will never have.</p>

    <h1>Discord ID</h1>
    <p>Some features requires a verified account on the <a href="https://www.torn.com/discord" target="_blank">official Torn discord server</a>.</p>
    <div id="discord-id">{% include "bot/discord-id.html" %}</div>

    <h1>YATA bot permission to use your key</h1>
    <p>Some features of the YATA bot (<a href="#bot-features">see next section</a>) require your personnal API key (stored in YATA) to pull information. It will not do it without your consent. The discord server owner will never have a direct access to your key and will only be able to use the bot functions. <span class="error">But</span>, server owners can play with the roles and the permissions as they wish. If they have malicious intents they can use the bot without your knowledge.<br>
    So, before giving permission to the bot, make sure that <span class="warning">you <span style="text-decoration: underline;">trust the owners</span> of every servers you're in and that are running the YATA bot.</span>
    </p>
    <div id="discord-perm">{% include "bot/give-permission.html" %}</div>

    <h1 id="bot-features">Bot features asking permission for your key</h1>
        <h2>Feature 1. Verify</h2>
        <p class="valid"><i class="fas fa-user-check"></i>&nbsp;&nbsp;No private data</p>
        <p>The bot requires at least one master key to make the calls for the verifications. Usually the person asking for the bot is putting his but adding others lower the load. No private data is ever pulled from this module but still the bot requires your permission.</p>
        <h2>Feature 2. Stock sharing</h2>
        <p class="error"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;Private data</p>
        <p>If you happen to have the <tt>@wssb</tt> or <tt>@tcb</tt> role you're concerned. With your permission, the bot will be able to pull education time left and bank investement time left, respectively, and will make it visible to members of the server (supposed to be shared with <tt>@wssb</tt> and <tt>@tcb</tt> members).</p>
        <h2>Rule of thumb:</h2>
        <ol>
            <li>Look on your servers if the YATA bot is running</li>
            <li>Look if you got any of these roles: <tt>@wssb</tt>, <tt>@tcb</tt></li>
            <ul>
                <li>If yes, you have to give permission to the bot... So read carfully what's above</li>
                <li>If no, you don't need to give the bot the permission, the other features don't require your key</li>
            </ul>
            <li>Enjoy the features!</li>
        </ol>
        <h2>The other features</h2>
        <p>The other features of the bot either don't require your key (like all <tt>!loot</tt>) or DM you the response (like <tt>!weaponexp</tt>), thus no permission is asked to use it.</p>
</div>
