{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title">The YATA bot(s)</h2>
<div class="module">
    <p>The <a href="https://github.com/Kivou-2000607/yata-bot" target="_blank">source code</a> of the YATA bot is currently developed and maintained by {{"Kivou"|playerURL:"2000607"|safe}}. Because it is open source, you can encounter different versions controled by different users.<span class="flush-right">{% include "svg/yata.icon.bot.svg" %}</span></p>

    <h2><i class="fas fa-check"></i>&nbsp; Official YATA bot</h2>
    <p>The official YATA bot (later on simply called YATA bot) runs on a single server controled by {{"Kivou"|playerURL:"2000607"|safe}} and is hosted on multiple discord servers owned by different users. It uses both Torn API and YATA database.</p>
    <ul>
        <li>It is the only one that have access to the YATA database</li>
        <li>It is the only one vouched for by {{"Kivou"|playerURL:"2000607"|safe}}</li>
    </ul>
    <p>You can check if you're dealing with the official bot by checking the list of servers at the bottom of this page <b>and</b> by checking that the bot ID is <tt>623862007434706986</tt> (<a href="https://support.discordapp.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-" target="_blank">how to look at discord ID</a>).</p>
    <h2><i class="fas fa-code-branch"></i>&nbsp; Unofficial YATA bots</h2>
    <p>There is no control whatsoever on the different versions of the bot. Some might be better, some might be worse, some might be malicious... The only think known is that they have not access to the YATA database and will never have.</p>
</div>
