{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h2 class="title">Notifications</h2>
<div class="module">
    <h3>Discord ID</h3>
    <div id="discord-id">{% include "bot/discord-id.html" %}</div>
        {% if preference.yataServer %}
            <h3>Present on YATA server&nbsp;&nbsp;<span class="valid">Yes</span></h3>
            <p><i>Known as {{preference.yataServerName}}</i></p>
        {% else %}
            <h3>Present on YATA server&nbsp;&nbsp;<span class="error">No</span></h3>
            <p>
                <i>If you didn't join the YATA discord server do it <a href="https://discord.gg/tZaYpbG" target="_blank">here</a> because the bot needs to know you.</i><br />
                <i>If you already joined wait a couple of minutes for the database to update.</i>
            </p>
        {% endif %}
    <h3>Notifications preferences</h3>
    <p id="pref-toggle-event">
        {% include "bot/notifications-events.html" %}
    </p>
    <p><b>Drug CD</b>&nbsp;&nbsp;<i>soon</i></p>
    <p><b>Booster CD</b>&nbsp;&nbsp;<i>soon</i></p>
    <p><b>Med CD</b>&nbsp;&nbsp;<i>soon</i></p>
    <p><b>Hospital</b>&nbsp;&nbsp;<i>soon</i></p>
    <p><b>Jail</b>&nbsp;&nbsp;<i>soon</i></p>
    <p><b>Travel</b>&nbsp;&nbsp;<i>soon</i></p>
</div>
