{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<h2 class="title"><i class="fas fa-check"></i>&nbsp;&nbsp;Official Torn discord verification</h2>
<div class="module">
    {% if player.tId > 0 %}
    <p>Most of the features will require that your account is officially verified on the  <a href="https://www.torn.com/discord" target="_blank">official Torn discord server</a>. This is the only safe way to link your Torn and Discord account.</p>
    <div id="discord-id">{% include "bot/discord-id.html" %}</div>
    {% else %}
    <p class="error">You need to login to check your status.</p>
    {% endif %}
</div>
