{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}
{% load static %}
{% static "" as baseUrl %}

<script>
$(function () {
    $("#event-date").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
            $("#event-ts").val(dUTC/1000);
            var s = new Date(dUTC).toUTCString().replace("GMT", "");
            $("#event-date").html(s);
            $("#faction-event-create").show();
        },
    });
});

</script>

<h3>Your events</h3>
{% if events|length %}
<div class="table-responsive mb-2">
  <table class="table table-hover table-striped table-borderless faction-events">
      <thead>
          <tr>
              <th class="a">Date</th>
              <th class="b">Title</th>
              <th class="c">Del.</th>
          </tr>
      </thead>
      <tbody>
          {% for event in events %}
          <tr>
              <td class="text-center">{{event.timestamp|ts2date}}</td>
              <td class="text-left">{{event.title}}</td>
              <td class="text-center"><a class="faction-event-delete" href="" data-val="{{event.pk}}"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
  <p class="warning">No events recorded.</p>
{% endif %}

<h3>Create new event</h3>
<div class="row mx-0 mb-0">
  <input id="event-ts" type="hidden" value="0">

  <div class="col-auto my-2 align-self-center">
    <div class="input-group">
      <label for="event-title" class="input-group-text">Title</label>
      <input id="event-title" type="text" class="form-control">
    </div>
  </div>
  <div class="col-auto my-2 align-self-center">
    <div class="input-group">
      <label for="event-description" class="input-group-text">Description</label>
      <input id="event-description" type="text" class="form-control">
    </div>
  </div>
  <div class="col-auto my-2 align-self-center">
    <div class="input-group">
      <label for="event-date" class="input-group-text"><i class="far fa-calendar-alt"></i>&nbsp;Date</label>
      <input id="event-date" style="cursor: pointer;" type="text" class="form-control">
    </div>
  </div>
  <div class="col-auto my-2 align-self-center">
     <div class="input-group">
       <span class="input-group-text">Stacking countdown</span>
       <div class="input-group-text">
         <input id="event-stack" type="checkbox" class="form-check-input">
       </div>
    </div>
  </div>
  <div class="col-auto my-2 align-self-center">
     <div class="input-group">
       <span class="input-group-text">Reset branches countdown</span>
       <div class="input-group-text">
         <input id="event-reset" type="checkbox" class="form-check-input">
       </div>
    </div>
  </div>
  <div class="col-auto my-2 align-self-center">
    <button id="faction-event-create" type="submit" class="btn btn-outline" style="display: none;"><i class="fas fa-plus-circle fa-icon-inline"></i>&nbsp;Add event</button>
  </div>
</div>
