{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<h2 class="title">Keys</h2>
<div class="module">
    <p>This is a summary of your faction's keys used for the creation of the reports (chains/attacks/revives) and for the poster updates.<br />
        This keys corresponds to AA members that have used YATA.
        If you don't want YATA to use your key you can disable it here.
    </p>
    <table class="center faction-aa-keys">
        <thead>
            <tr>
                <th>Name</th>
                <th>Keys</th>
                <th>Last pulled</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
                <tr>
                    <td class="a">{{key.player.name|playerURL:key.player.tId|safe}}</td>
                    <td class="b buttons">{% include "faction/aa/keys.html" %}</td>
                    <td class="c">{{key.lastPulled|ts2date}}</td>
                    <td class="a" title="{{key.reason}}">{{key.reason}}</td>
                </tr>
            {% endfor %}
            {% if faction.nKeys %}
                <tr><td colspan="4"><span class="valid"><i class="fas fa-check"></i>&nbsp;&nbsp;You have {{faction.nKeys}} key{{faction.nKeys|pluralize}} enabled.</td></tr>
            {% else %}
                <tr><td colspan="4"><span class="warning"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;You don't have any key enabled. Your reports will never be updated.</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
<h2 class="title">Reports</h2>
<div class="module">
    <h3>Select chain threshold</h3>
    {% include "faction/aa/threshold.html" %}
    <h3>Your reports currently being computed</h3>
    <ul>
    {% for t, rs in reports.items %}
            {% for r in rs %}
                {% if r.live %}
                    <li><b>{{t}}:</b> <tt>Live</tt></li>
                {% else %}
                    <li><b>{{t}}:</b> <tt>{{r.tId}}</tt> ({{r.progress}}%)</li>
                {% endif %}
            {% endfor %}
    {% endfor %}
    </ul>
</div>
<h2 class="title">Poster</h2>
<div class="module">
    {% include "faction/aa/poster.html" %}
</div>
