{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}
{% load humanize %}

<form id="faction-aa-change-threshold">{% csrf_token %}
    <p>The chains in the list are chains larger than <b {% if onChange %}class="valid"{% endif %}>{{faction.hitsThreshold|intcomma}}</b> Hits. You can change this threshold here:
        <select>
            <option value="{{faction.hitsThreshold}}" selected="selected">{{faction.hitsThreshold|intcomma}}</option>
            <option disabled="disabled">---</option>
            {% for b in bonus %}
                {% if b != faction.hitsThreshold %}
                    <option value="{{b}}">{{b|intcomma}}</option>
                {% endif %}
            {% endfor%}
        </select>
        {% if onChange and previousThreshold < faction.hitsThreshold %}
            <span class="warning"><i class="fas fa-exclamation-circle"></i>  You moved the threshold from {{previousThreshold|intcomma}} to {{faction.hitsThreshold|intcomma}}. All chain reports between these values will be deleted.</span>
        {% endif %}
    </p>
</form>
