{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}
{% load humanize %}

<form>{% csrf_token %}
    <p>
        {% if faction.poster %}
            <span class="valid">Upgrades poster is enabled</span>.
            {% if faction.posterHold %}
                <span class="error">Automatic update of the poster is on hold</span>.
            {% else %}
                <span class="valid">Automatic update of your poster is on</span>.
            {% endif %}
            <br>
            Enable/Disable poster: <a id="chain-aa-toggle-poster" href="{% url 'chain:togglePoster' %}"><i class="fas fa-toggle-on" title="Disable Poster"></i></a>
            <br>
            {% if faction.posterHold %}
                Resume automatic update: <a id="chain-aa-toggle-poster-hold" href="{% url 'chain:togglePosterHold' %}"><i class="fas fa-play-circle" title="Resume update"></i></a>
            {% else %}
                Hold automatic update: <a id="chain-aa-toggle-poster-hold" href="{% url 'chain:togglePosterHold' %}"><i class="fas fa-stop-circle" title="Hold update"></i></a>
            {% endif %}
            <br>
            Customize poster: <a href="{% url 'chain:tree' %}">here</a>
            <br>
            Link to poster: <a href="https://yata.alwaysdata.net/static/trees/{{faction.tId}}.png" target="_blank">https://yata.alwaysdata.net/static/trees/{{faction.tId}}.png</a>

        {% else %}
            <span class="error">Upgrades poster is disabled</span>.
            <br>
            Enable/Disable poster: <a id="chain-aa-toggle-poster" href="{% url 'chain:togglePoster' %}"><i class="fas fa-toggle-off" title="Disable Poster"></i></a>
            <br>
            {% if messageDeleted %}
                <span class="warning"> <i class="fas fa-exclamation-circle"></i>  Your poster has been deleted.</span>
            {% endif %}
        {% endif %}
    </p>
</form>
