{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<h2 class="title">{{faction.name}} AA options</h2>
<div class="module">
    <h3>Keys</h3>
    <p>This is a summary of your faction's keys used for the creation of the chain reports.
        YATA picks randomly among all enabled keys to make the API calls.<br />
        If you don't want YATA to use your key you can disable it here.
        If there is not at least one key enabled no report will ever be created.
    </p>
    <table class="center chain-keys">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key used for the reports</th>
                <th>Enable/disable my key</th>
            </tr>
        </thead>
        <tbody>
            {% for p, k in keys %}
                <tr>{% include "chain/aa-keys.html" %}</tr>
            {% endfor %}
            {% for id, k in keysIgnored %}
                <tr>{% include "chain/aa-keys-ignored.html" %}</tr>
            {% endfor %}
            {% if not faction.numberOfKeys %}
                <tr><td colspan="3"><span class="warning"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;You don't have any key enabled. Your reports will never be updated.</td></tr>
            {% endif %}
        </tbody>
    </table>

    <h3>Chains threshold</h3>
    {% include "chain/aa-threshold.html" %}

    <h3>Poster</h3>
    <form>{% csrf_token %}
        {% include "chain/aa-poster.html" %}
    </form>
</div>

<h2 class="title">Crontab</h2>
<div class="module">
    {% if crontabs %}
        {% for id, crontab in crontabs.items %}
            <table class="center chain-crontab">
                <thead>
                    <tr>
                        <th colspan="3">{{crontab.crontab}}</th>
                    <tr>
                        <th>Faction</th>
                        <th>Live report</th>
                        <th>#ongoing reports</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faction in crontab.factions %}
                    <tr>
                        <td class="a">{{faction.name|factionURL:faction.tId|safe}}</td>
                        <td class="b">{% if faction.liveChain %}<i class="fas fa-check valid"></i>{% else %}<i class="fas fa-times error"></i>{% endif %}</td>
                        <td class="b">{{faction.numberOfReportsToCreate}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p><span class="warning"><i class="fas fa-bug"></i>  You have no crontab associated to your faction. {% if faction.numberOfKeys %} If you just enabled one key click <a href={% url 'chain:index' %}>here</a>. If the problem persist please PM <a>{{"Kivou"|playerURL:"2000607"|safe}}</a> for details.{% else %}You need at least one AA key enabled.{% endif %}</span></p>
    {% endif %}
</div>
