{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<script>
$( function() {
  $( "#date-range" ).slider({
    range: true,
    min: {{timestamps.start}},
    max: {{timestamps.end}},
    values: [ {{timestamps.fstart}}, {{timestamps.fend}} ],
    slide: function( event, ui ) {
      s = new Date(ui.values[ 0 ]*1000).toUTCString().replace("GMT", "");
      e = new Date(ui.values[ 1 ]*1000).toUTCString().replace("GMT", "");
      $( "#date-value" ).html( "<th>from: " + s + "</th><th>to: " + e + "</th>");
    },
    change: function( event, ui ) {
        $( "#content-update" ).load( "/chain/armory/", {
            start: ui.values[ 0 ],
            end: ui.values[ 1 ],
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        $("#content-update h2").addClass("grey");
        $("#content-update h2").html('<i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Update armory content')
    }
  });
  s = new Date($( "#date-range" ).slider( "values", 0 )*1000).toUTCString().replace("GMT", "");
  e = new Date($( "#date-range" ).slider( "values", 1 )*1000).toUTCString().replace("GMT", "");
  $( "#date-value" ).html( '<th id="pick-time-start">from: ' + s + '</th><th id="pick-time-end">to: ' + e + '</th>');
});

$(function () {
    $("#pick-time-start").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds())
            $( "#content-update" ).load( "/chain/armory/", {
                start: dUTC/1000,
                end: $( "#date-range" ).slider( "option", "values" )[1],
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            });
            $("#content-update h2").addClass("grey");
            $("#content-update h2").html('<i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Update armory content')
        },
    });
    $("#pick-time-end").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds())
            $( "#content-update" ).load( "/chain/armory/", {
                start: $( "#date-range" ).slider( "option", "values" )[0],
                end: dUTC/1000,
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            });
            $("#content-update h2").addClass("grey");
            $("#content-update h2").html('<i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Update armory content')
        },
    });
});

$(document).ready(function() {
    $.tablesorter.addParser({
        // set a unique id
        id: 'dataVal',
        // check if cell value has a numerical value
        is: function(s, table, cell, $cell) {
            return !isNaN($cell.attr("data-val"));
        },
        // format data for normalization
        format: function(s, table, cell, cellIndex) {
            return parseInt($(cell).attr("data-val"));
        },
        // set type, either numeric or text
        type: 'numeric'
    });

    // $(".chain-networth").tablesorter({headers: { 0: { sorter: 'dataVal' }}, cssAsc: 'up', cssDesc: 'down', sortList: [[0,1]]});
    $(".chain-armory-breakdown").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1]]});
});

</script>

<h2 class="title">Armory settings</h2>
<div class="module chain-armory">
    <table class="center chain-armory-filter">
        <thead>
            <tr>
                <th colspan="2">Parsed {{timestamps.nObjects}} objects over {{timestamps.size}} armory events</th>
            </tr>
            <tr id="date-value"></tr>
            <tr>
                <th colspan="2"><div id="date-range" style="margin: 10px;"></div></th>
            </tr>
        </thead>
    </table>
    {% if player.factionAA %}
        <table class="center chain-armory-record">
            <form>{% csrf_token %}
                <tr>{% include "chain/armory-record.html" %}</tr>
            </from>
        </table>
    {% endif %}
</div>

<h2 class="title">Armory breakdown</h2>
<div class="module chain-armory">
    {% if armory|length %}
        {% for type, items in armory.items %}
        {% if items|length %}
        {# <table class="center"><thead><tr><th>{{type}}</tr></th></thead></table> #}
        <h3>{{type}}</h3>
        {% for tItem, members in items.items %}
        <table class="center chain-armory-toggle-view">
            <tr>
                <td class="a">{{tItem}} (x{{members|length}})</td>
                <td class="b"><i class="fas fa-caret-right"></td>
            </tr>
        </table>
        <table class="center trshadow chain-armory-breakdown" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    {% if tItem == "Blood Bag" %}
                        <th>Member</th>
                        <th>Type</th>
                        <th>Taken</th>
                        <th>Gave</th>
                        <th>Diff</th>
                        <th>Filled</th>
                        <th>Diff</th>
                        <th>Total</th>
                        <th>Diff</th>
                    {% else %}
                        <th>Member</th>
                        <th>Taken</th>
                        <th>Gave</th>
                        <th>Diff</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                    {% for k, v in members.items %}
                    <tr>
                        {% if tItem == "Blood Bag" %}
                            <td class="c">{{k}}</td>
                            <td class="d">{{v.3}}</td>
                            <td class="d">{{v.0|format:"{:,.0f}"}}</td>
                            <td class="d">{{v.1|format:"{:,.0f}"}}</td>
                            <td class="d {% if v.1 < v.0 %}error{% elif v.1 > v.0 %}valid{% else %}neutral{% endif %}">{{v.1|sub:v.0|format:"{:+,.0f}"}}</td>
                            <td class="d">{{v.2|format:"{:+,.0f}"}}</td>
                            <td class="d {% if v.2 < v.0 %}error{% elif v.2 > v.0 %}valid{% else %}neutral{% endif %}">{{v.2|sub:v.0|format:"{:+,.0f}"}}</td>
                            <td class="d">{{v.1|add:v.2|format:"{:+,.0f}"}}</td>
                            <td class="d {% if v.1|add:v.2 < v.0 %}error{% elif v.1|add:v.2 > v.0 %}valid{% else %}neutral{% endif %}">{{v.1|add:v.2|sub:v.0|format:"{:+,.0f}"}}</td>
                        {% else %}
                            <td class="a">{{k}}</td>
                            <td class="b">{{v.0|format:"{:,.0f}"}}</td>
                            <td class="b">{{v.1|format:"{:,.0f}"}}</td>
                            <td class="b {% if v.1 < v.0 %}error{% elif v.1 > v.0 %}valid{% else %}neutral{% endif %}">{{v.1|sub:v.0|format:"{:+,.0f}"}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% endif %}
        {% endfor %}
    {% else %}
        <p class="error">Nothing between these dates. Either they are too close to eachother or the armory database is empty. In this case you need a AA member to fill it.</p>
    {% endif %}
</div>

{% if faction.armoryRecord %}
<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Faction Money Gains', 'Respect Gains'],
            {% for a, v in networthGraph %}
                [new Date({{a|mul:1000}}), {{v.3}}, {{v.4}}],
            {% endfor %}
        ]);


        var options = {
            displayAnnotations: true,
            displayExactValues: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "allmaximized",
            scaleFormat: 'short',
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('networth-graph'));
        chart.draw(data, options);

    }
</script>

{% if networthGraph|length %}

<h2 class="title">Faction Networh</h2>
<div class="module">
    <div id="networth-graph"></div>

    <hr class="sep">

    <table class="center-medium chain-networth">
        <thead>
        <tr>
            <th>Date</th>
            <th>Vault</th>
            <th>Deposit</th>
            <th>Faction Money</th>
            <th>Respect</th>
            <th>Money gain</th>
            <th>Respect gain</th>
        </tr>
        </thead>
        <tbody>
            {% for a, v in networthGraph %}
            <tr>
                <td class="a" data-val="{{a}}">{{a|ts2date:"%Y/%m/%d"}}</td>
                <td class="b">${{v.0|intcomma}}</td>
                <td class="b">${{v.1|intcomma}}</td>
                {% if forloop.first %}
                    <td class="b"><b>${{v.0|sub:v.1|intcomma}}</b></td>
                    <td class="b"><b>{{v.2|intcomma}}</b></td>
                {% else %}
                    <td class="b">${{v.0|sub:v.1|intcomma}}</td>
                    <td class="b">{{v.2|intcomma}}</td>
                {% endif %}
                {# {% if forloop.last %} #}
                    {# <td class="b"></td> #}
                    {# <td class="b"></td> #}
                {# {% else %} #}
                    <td class="b">{{v.3|signColor|intcomma}}</td>
                    <td class="b">{{v.4|signColor|intcomma}}</td>
                {# {% endif %} #}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}
