{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% if faction.armoryRecord %}
    <td>
        <i class="far fa-microphone-alt valid"></i>&nbsp;&nbsp;<i>Recording</i>
        <a id="chain-armory-record" class="flush-right" href=""><i class="far fa-stop-circle error"></i>&nbsp;&nbsp;Stop</a>
    </td>
{% else %}
    <td>
        <i class="far fa-microphone-alt-slash error"></i>&nbsp;&nbsp;<i>Not recording</i>
        <a id="chain-armory-record" class="flush-right" href=""><i class="far fa-dot-circle error"></i>&nbsp;&nbsp;Record</a>
    </td>
{% endif %}
<td><a id="chain-armory-reset" href=""><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete records</a><i class="far fa-question-circle flush-right" style="cursor: help;" title="If you start recording, all the current and new events will be saved. &#13;If you stop recording, they will still be available along with the last 1000 events.&#13;If you delete the records, only the last 1000 events will be available.&#13;When recording new events are automatically saved every 5 minutes.&#13;If you have more than 1000 events in 5 minutes some will be lost.&#13;PM Kivou [2000607] if it's the case."></i></td>
