{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<h2 class="title">Big brother</h2>
<div class="module">
    <div id="faction-big-brother-table">
        {% include "chain/big-brother-table.html" %}
    </div>
</div>

<h2 class="title">List of challenges</h2>
<div class="module">
    <table class="center">
      <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for statType, timestamps in statsList.items %}
          {% for name, ts in timestamps %}
            <tr>
              <td class="a">{% ifchanged %}<b>{{name}}</b>{% endifchanged %}</td>
              <td class="a">{{ts|ts2date}}</td>
              <td class="a"><a class="faction-bb-delete" href="" data-val="{{statType}}-{{ts}}"><i class="fas fa-trash-alt" title="Delete challenge"></i></a></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    {%if player.factionAA%}
    <p><form>
    Select a new challenge you want enter
      <select class="faction-bb-enter-challenge">
        <option selected disabled hidden>Select a challenge</option>
        {% for k, v in bridge.items %}
	{%if k != "allgyms" %}
        <Option Value="{{k}}">{{v}}</option>
	{%endif%}
        {% endfor %}
      </select>
  </form></p>
  {%endif%}
</div>
