<!-- categories -->
<form>
    {% csrf_token %}
<table class="center tdshadow chain-categories">
    <tbody>
    <tr>
        <td>
            <a href="{% url 'chain:live' %}">Live report</a>
        </td>
        <td>
            <a href="{% url 'chain:list' %}">List of chains</a>
        </td>
        <td>
            <a href="{% url 'chain:jointReport' %}">Joint report</a>
        </td>
        {% if player.factionAA %}
        <td>
            <a href="{% url 'chain:crontab' %}">Crontab</a>
        </td>
        {% endif %}
    </tr>
    </tbody>
</table>
</form>
