<!--
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
-->

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center tdshadow chain-categories">
    <tbody>
    <tr>
        <td>
            <a href="{% url 'chain:live' %}">Live report</a>
        </td>
        <td>
            <a href="{% url 'chain:list' %}">List of chains</a>
        </td>
        <td>
            <a href="{% url 'chain:jointReport' %}">Joint report</a>
        </td>
        <td>
            <a href="{% url 'chain:members' %}">Faction members</a>
        </td>
        {% if player.factionAA %}
        <td>
            <a href="{% url 'chain:crontab' %}">Crontab</a>
        </td>
        <td>
            <a href="{% url 'chain:tree' %}">Tree</a>
        </td>
        {% endif %}
    </tr>
    </tbody>
</table>
</form>
