{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

    <td class="a">Contract [{{contract.pk}}]</td>
    <td class="b">{{contract.start|ts2date}}</td>
    <td id="modify-date-end" class="b" style="cursor: pointer;">{{contract.end|ts2date}}</td>
    <td class="b">{{contract.first|ts2date}}</td>
    <td class="b">{{contract.last|ts2date}}</td>
    <td class="b">{{contract.last|sub:contract.first|ts2time}}</td>

    <td class="c"><b>{{contract.revivesContract}}</b></td>

    <td class="d" >
        {% include "chain/contracts-buttons.html" with contract_faction=v %}
    </td>
