{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% if apiErrorSub %}
    {% include "yata/error.html" with apiError=apiErrorSub %}
{% endif %}
{% if errorMessageSub %}
    {% include "yata/error.html" with errorMessage=errorMessageSub %}
{% endif %}
{% if validMessageSub %}
    {% include "yata/error.html" with validMessage=validMessageSub %}
{% endif %}
{% if view.liveReport %}
    {% include "chain/live.html" %}
{% endif %}
{% if view.report %}
    {% include "chain/report.html" %}
{% endif %}
{% if view.jointReport %}
    {% include "chain/jreport.html" %}
{% endif %}
{% if view.list %}
    {% include "chain/list.html" %}
{% endif %}
{% if view.aa %}
    {% include "chain/aa.html" %}
{% endif %}
{% if view.members %}
    {% include "chain/members.html" %}
{% endif %}
{% if view.tree %}
    {% include "chain/tree.html" %}
{% endif %}
{% if view.armory %}
    {% include "chain/armory.html" %}
{% endif %}
{% if view.walls %}
    {% include "chain/walls.html" %}
{% endif %}
{% if view.territories %}
    {% include "chain/territories.html" %}
{% endif %}
{% if view.simu %}
    {% include "chain/respect-simulator.html" %}
{% endif %}
{% if view.bigBrother %}
    {% include "chain/big-brother.html" %}
{% endif %}
{% if view.contract %}
    {% include "chain/contracts-report.html" %}
{% endif %}
{% if view.contracts %}
    {% include "chain/contracts.html" %}
{% endif %}
{% if view.attacks %}
    {% include "chain/attacks.html" %}
{% endif %}
