{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $(".contract-breakdown-players").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[2,1]]});
        $(".contract-breakdown-factions").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1]]});
    });
</script>

<h2 class="title">Breakdown of contract {{contract.pk}}</h2>
<div class="module">
    <table class="tablesorter center trshadow contract-summary">
        <thead>
            <tr><th colspan="4">Contract summary</th></tr>
            <tr><th colspan="2">Revivers</th><th colspan="2">Targets</th>
        </thead>
        <tbody>
            <tr>
                <td><b>Revives</b></td>
                <td>{{contract.revivesMade}}/{{contract.revivesContract}}</td>
                <td><b>Revives</b></td>
                <td>{{contract.revivesReceived}}/{{contract.revivesContract}}</td>
            </tr>
            <tr>
                <td><b>Factions</b></td>
                <td>{{contract.factionsRevivers|length}}</td>
                <td><b>Factions</b></td>
                <td>{{contract.factionsTargets|length}}</td>
            </tr>
            <tr>
                <td><b>From</b></td>
                <td>{{contract.first|ts2date}}</td>
                <td><b>To</b></td>
                <td>{{contract.last|ts2date}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="sep">

    <table class="tablesorter center-full-fourth trshadow contract-breakdown-factions">
        <thead>
            <tr>
                <tr><th colspan="3">Revivers</th></tr>
                <th>Faction</th>
                <th>Made</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.reviver_factions.items %}
        <tr {%if not v.show%}style="opacity: 0.5"{%endif%}>
            <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            <td class="b">{{v.revives}}</td>
            <td class="c">{% include "chain/contracts-toggle.html" with type="revivers"%}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="tablesorter center-full-fourth trshadow contract-breakdown-players">
        <thead>
            <tr><th colspan="3">Revivers</th></tr>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Made</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.revivers.items %}
        <tr>
            <td class="a">{{v.name|playerURLShort:k|safe}}</td>
            <td class="b">{{v.factionname|factionURLShort:v.faction|safe}}</td>
            <td class="c">{{v.revives}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="tablesorter center-full-fourth trshadow contract-breakdown-factions">
        <thead>
            <tr>
                <tr><th colspan="3">Targets</th></tr>
                <th>Faction</th>
                <th>Received</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.target_factions.items %}
        <tr {%if not v.show%}style="opacity: 0.5"{%endif%}>
            <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            <td class="b">{{v.revives}}</td>
            <td class="c">{% include "chain/contracts-toggle.html" with type="targets" %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="tablesorter center-full-fourth trshadow contract-breakdown-players">
        <thead>
            <tr><th colspan="3">Targets</th></tr>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Received</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.targets.items %}
        <tr>
            <td class="a">{{v.name|playerURLShort:k|safe}}</td>
            <td class="b">{{v.factionname|factionURLShort:v.faction|safe}}</td>
            <td class="c">{{v.revives}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr class="sep">
</div>

<div class="catch-me">
    <h2 class="title toggle-display rounded">Contract [{{contract.pk}}]: list of {{revives|length}} revives&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
    <div class="module" style="display: none;">
        {% if revives|length %}
        <table id="revives-list" class="tablesorter center-large trshadow revives-list">
            <thead>
                <tr>
                    {# <th>Revive [ID]</th> #}
                    <th>Time</th>
                    <th>Reviver</th>
                    <th>Faction</th>
                    <th>Target</th>
                    <th>Faction</th>
            </thead>
            <tbody>
            {% for k, v in revives.items %}
            {%if v.show %}
            <tr>
                {# <td class="a">Revive [{{k}}]</td> #}
                <td class="b">{{v.timestamp|ts2date}}</td>
                <td class="b">{{v.reviver_name|playerURL:v.reviver_id|safe}}</td>
                <td class="b">{{v.reviver_factionname|factionURL:v.reviver_faction|safe}}</td>
                <td class="b">{{v.target_name|playerURL:v.target_id|safe}}</td>
                <td class="b">{{v.target_factionname|factionURL:v.target_faction|safe}}</td>
            </tr>
            {%endif%}
            {% endfor %}
            </tbody>
        </table>
        {% else%}
            <p class="error">No revives recorded. Ask a AA member of your faction.</p>
        {% endif %}
    </div>
</div>
