{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% if graph.data|length %}
<td colspan="12">
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Time', '{{graph.info.binsTime|floatformat:0}} minutes hit count', { role: 'style' }, 'total hit count'],
            {% for a,b,c in graph.data %}
                [new Date({{a|date:"Y"}}, {{a|date:"n"|sub:"1"}}, {{a|date:"j"}}, {{a|date:"G"}}, {{a|date:"i"}}, {{a|date:"s"}}), {{b}}, {% if b <= graph.info.criticalHits %}'fill-color: #cc0000'{% else %}'fill-color: #787878'{% endif %}, {{c}}],
             {% endfor %}
          ]);

          var options = {
            // bar: {groupWidth: "100%"},
            legend: {position: 'top', textStyle: {fontSize: 14}},
            seriesType: 'bars',
            series: {
                      0: {type: 'bar', targetAxisIndex: 0, color: '#787878'},
                      1: {type: 'line', targetAxisIndex: 1, color: '#0000cc'},
                     },
            'backgroundColor': 'transparent',
            'chartArea': {'width': '90%', 'height': '70%'},
          };

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1]);

          var chart = new google.visualization.ComboChart(document.getElementById('ihistogram-{{memberId}}'));

          chart.draw(data, options);
        }
    </script>

    <div id="ihistogram-{{memberId}}"></div>
</td>
{% elif counts|length %}
<td colspan="12">
{% for c in counts %}
    <p>Chain of <b>{{c.report.chain.start|ts2date}} ({{c.report.chain.nHits}} hits)</b>
        <span style="margin-left:10px;"><b>{{c.wins}}</b> hit{{c.wins|pluralize}} made {%if c.report.chain.nHits%}({{c.wins|add:c.bonus|mul:100|div:c.report.chain.nHits|floatformat:2}}%){%endif%}{%if c.warhits%} {{c.warhits}} for war{%endif%}
    </p>
{% endfor %}
</td>
{% elif count is None %}
<td colspan="12">
    <div id="ihistogram-{{memberId}}" class="error" style="text-align: center;">No counts found...</div>
</td>
{% endif %}
