{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}

{% if chain %}
    {% if chain.hasReport %}
        {% if player.factionAA %}

            {% if chain.tId %}
            <!-- see -->
            <form>{% csrf_token %}
                <a  class="chain-report-see-list" href="{% url 'chain:report' chain.tId %}"><i class="fas fa-eye" title="See report"></i></a> -
            </form>

            <!-- refresh -->
            <form>{% csrf_token %}
                <a class="chain-report-refresh-list" href={% url 'chain:createReport' chain.tId %}><i class="fas fa-sync-alt" title="Refresh report"></i></a> -
            </form>

            <!-- delete -->
            <form>{% csrf_token %}
                <a class="chain-report-delete-list" href={% url 'chain:deleteReport' chain.tId %}><i class="fas fa-trash-alt" title="Delete report"></i></a> -
            </form>
            {% endif %}

            <!-- toggle -->
            <form>{% csrf_token %}
                <a class="chain-report-toggle-list" href={% url 'chain:toggleReport' chain.tId %}>
                    {% if chain.jointReport %}
                       <i class="fas fa-toggle-on" title="Remove from joint report"></i>
                   {% else %}
                       <i class="fas fa-toggle-off" title="Add to report"></i>
                   {% endif %}
                </a>
            </form>

        {% else %}
            <a href={% url 'chain:report' chain.tId %}><i class="fas fa-eye" title="See report"></i></a>
        {% endif %}

        {% if chain.createReport %}
            - <i class="fas fa-clock" style="color: #ea9999;" title="A new report will be created in a couple of minutes.">&nbsp;{% if not chain.wall %}({{chain.reportNHits|div:chain.nHits|mul:100|floatformat:0}}%){% endif %}</i>
        {% endif %}

    {% else %}

        {% if chain.createReport %}
            <form>{% csrf_token %}
                <a class="chain-report-delete-list" href={% url 'chain:deleteReport' chain.tId %}><i class="fas fa-trash-alt" title="Delete report"></i></a> -
            </form>

            <i class="fas fa-clock" style="color: #ea9999;" title="A new report will be created in a couple of minutes."></i>
        {% else %}
            {% if player.factionAA %}
                <form>{% csrf_token %}
                    <input class="chain-report-id-list" type="hidden" value="{{chain.tId}}">
                    <a class="chain-report-refresh-list" href={% url 'chain:createReport' chain.tId %}><i class="fas fa-plus-square" title="Create report"></i></a>
                </form>
            {% else %}
                <i class="fas fa-times-circle" style="color: #ea9999;" title="No report for this chain"></i>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
not chain
{% endif %}
