{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

{% include "yata/error.html" %}

<script>
    $(document).ready(function() {
        $("#chain-list").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1]]});
    });
</script>

<h2 class="title">List of chains</h2>
<div class="module">
    <table id="chain-list" class="tablesorter center-large chain-list">
        <thead>
            <tr>
                <th>Chain [ID]</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Hits</th>
                <th>Respect</th>
                <th>Respect / hit</th>
                <th>Report</th>
        </thead>
        <tbody>
        {% for chain in chains %}
        <tr>
            {% if chain.tId > 0 %}
                <td class="a"><a href="https://www.torn.com/war.php?step=chainreport&chainID={{chain.tId}}" target="_blank">Chain [{{chain.tId}}]</a></td>
                <td class="b">{{chain.start|ts2date}}</td>
                <td class="b">{{chain.end|ts2date}}</td>
            {% else %}
                <td class="a"><a href="https://www.torn.com/factions.php?step=your#/war/chain" target="_blank">Live chain</a></td>
                <td class="b">{{chain.start|ts2date}}</td>
                <td class="b">-</td>
            {% endif %}

            <td class="c">{{chain.end|sub:chain.start|div:3600|floatformat:1}} hrs</td>
            <td class="d" title="{{chain.reportNHits}}/{{chain.nHits}}"><b>{{chain.nHits}}</b></td>
            <td class="d" ><b>{{chain.respect|floatformat:2}}</b></td>
            <td class="d" ><b>{{chain.respect|div:chain.nHits|floatformat:2}}</b></td>
            <td class="e" >
                <div id="catch-buttons-{{chain.tId}}">
                    {% include "chain/list-buttons.html" %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
