{% if chain %}
{% if chain.have_report %}
    {% if request.session.chainer.AA %}
        <!-- see -->
        <a href="{% url 'chain:report' chain.tId %}#chain-report">      <i class="fas fa-eye" title="see report"></i></a> -

        <!-- refresh -->
        <form style="display: inline;">{% csrf_token %}
            <a class="chain-report-refresh-list" href={% url 'chain:createReport' chain.tId %}><i class="fas fa-sync-alt" title="refresh report"></i></a> -
        </form>

        <!-- delete -->
        <a href={% url 'chain:deleteReport' chain.tId %}><i class="fas fa-trash-alt" title="delete report"></i></a> -

        <!-- toggle -->
        <form style="display: inline;">{% csrf_token %}
            <a class="chain-report-toggle-list" href={% url 'chain:toggleReport' chain.tId %}>
                {% if chain.jointReport %}
                   <i class="fas fa-toggle-on" title="remove from joint report"></i>
               {% else %}
                   <i class="fas fa-toggle-off" title="add to report"></i>
               {% endif %}</a>
            </a>
        </form>

    {% else %}
        <a href={% url 'chain:report' chain.tId %}><i class="fas fa-eye" title="see report"></i></a>
    {% endif %}
{% else %}
    {% if request.session.chainer.AA %}
        <form style="display: inline;">{% csrf_token %}
            <input class="chain-report-id-list" type="hidden" value="{{chain.tId}}">
            <a class="chain-report-refresh-list" href={% url 'chain:createReport' chain.tId %}><i class="fas fa-plus-square" title="create report"></i></a>
        </form>
    {% else %}
        <i class="fas fa-times-circle" title="no report, ask AA to to create it"></i>
    {% endif %}
{% endif %}
{% else %}
chain = {{chain}}
{% endif %}
