{% load mathfilters %}

<div id="chain-list-reload">
    <table class="tablesorter chain-report center-large">
        <thead>
            <tr>
                <th>Chain [ID]</th>
                <th>Start</th>
                <th>End</th>
                <th>Elapsed time</th>
                <th>Hits</th>
                <th>Respect</th>
                <th>Respect / hit</th>
                <th>Report</th>
        </thead>
        <tbody>
        {% for chain in chains %}
        <tr>
            {% if chain.tId > 1 %}
                <td><a href="https://www.torn.com/war.php?step=chainreport&chainID={{chain.tId}}" target="_blank">Chain [{{chain.tId}}]</a></td>
            {% else %}
                <td><a href="https://www.torn.com/factions.php?step=your#/war/chain" target="_blank">Live chain</a></td>
            {% endif %}
            <td>{{chain.startDate}}</td>
            {% if chain.tId > 1 %}
                <td>{{chain.endDate}}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            <td>{{chain.end|sub:chain.start|div:3600|floatformat:1}} hours</td>
            <td title="{{chain.reportNHits}}/{{chain.nHits}}"><b>{{chain.nHits}}</b></td>
            <td><b>{{chain.respect|floatformat:2}}</b></td>
            <td><b>{{chain.respect|div:chain.nHits|floatformat:2}}</b></td>
            <td>
                <div id="catch-buttons-{{chain.tId}}">
                    {% include "chain/list_reload_buttons.html" %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
