<h2 id="chain-list" class="title">List of chains</h2>
<div class="module whiteBG">
    {% include "chain/list_reload.html" %}
    <div class="submit-row">
    {% if request.session.chainer.AA %}
        <form method="post">{% csrf_token %}
            <a href={% url 'chain:createList' %}><input id=chain-list-refresh type="submit" class="update-type" value="Refresh chain list"></a>
        </form>
    {% else %}
        <a><input type="submit" class="update-type" value="You need AA right to refresh the list"></a>
    {% endif %}
    </div>
</div>
