{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load app_filters %}

<div>
    {% if liveChain.current %}
        <h2 id="refresh-live-chain" class="title">Chain status</h2>
        <div class="module">
            <table class="center">
                {% if liveChain.cooldown %}
                    <tr>
                        <td>Chain started {{currentTimestamp|sub:liveChain.start|ts2time}} ago</td>
                        <td>Chain status: <span class="error">cooldown</span></td>
                    </tr>
                    <tr>
                        <td>End of cooldown in {{liveChain.cooldown|ts2time}}</td>
                        <td>Hits: {{liveChain.current}} / {{liveChain.max}} (x{{liveChain.modifier}})</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="live-bar cooldown" title="{{liveChain.cooldown|ts2time}} left over the {{liveChain.current|mul:10|ts2time}}">
                                <span class="strips" style="width: {{liveChain.cooldown|div:liveChain.current|mul:10|floatformat:0}}%;"></span>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Chain started {{currentTimestamp|sub:liveChain.start|ts2time}} ago</td>
                        {% if liveChain.current < 10 %}
                            <td colspan="1">Chain status: <span class="warning">warming up</span></td>
                        {% else %}
                            <td colspan="1">Chain status: <span class="valid">active</span></td>
                        {% endif %}
                        <td colspan="1">Hits: {{liveChain.current}} / {{liveChain.max}} (x{{liveChain.modifier}})</td>
                    </tr>
                    <tr>
                        <td colspan="2">Timeout: <span class="timeout">{{liveChain.timeout|ts2time}}</span> <i class="error flush-right">API response off {{currentTimestamp|sub:liveChain.timestamp}} s</i></td>
                        <td colspan="2">{% include "chain/live-toggle.html" %}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="live-bar" title="{{liveChain.current}} / {{liveChain.max}}">
                                <span class="strips" style="width: {{liveChain.current|div:liveChain.max|mul:100|floatformat:0}}%;"></span>
                            </div>
                        </td>
                        <td>
                            <div class="live-bar refresh">
                                <span class="strips" style="width: 100%;"></span>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% else %}
        <h2 class="title">Chain status</h2>
        <div class="module">
            <p><span class="error">No active chain</span></p>
        </div>
    {% endif %}
</div>
