<div id="api-key-refresh">
    {% if request.session.chainer %}
        <h2 class="title">Hello {{request.session.chainer.name}}, fellow member of {{request.session.chainer.factionName}}</h2>
    {% else %}
        <h2 class="title">Hello unkown user</h2>
    {% endif %}

    <div class="module whiteBG justTxt">
        {% if request.session.chainer %}

            {%if request.session.chainer.AA %}
                You've got the AA right. You can create chain reports.
            {% else %}
                You don't have the AA right. You can only see existing chain reports.
            {% endif %}

            <p>
                <a href="{% url 'chain:list' %}">List of chains</a> -
                <a href="{% url 'chain:members' %}">List of members</a> -
                <a href="{% url 'chain:jointReport' %}">Joint report</a>
            </p>
            <h3><a class="deletelink" href="{% url 'chain:logout' %}">Logout</a></h3>
        {% else %}
            <p>Enter your API key see the chain reports of you faction</p>
            <form method="post">
                {% csrf_token %}
                <input id="key-value" placeholder="API key" type=text>
                <input id="key-check-remember" type="checkbox" value="Remember me">
                <label for="key-check-remember">Remember me</label>
                <!-- <input id="update-key-csrf" type="hidden"  value="{{csrf_token}}"> -->
                <input type="submit" class="update-key" value="Login">
                {% if apiError %}<a class="deletelink" href="">{{ apiError }}</a>{% endif %}
            </form>
        {% endif %}
    </div>
</div>
