{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% if errorMessage %}
    <td colspan="13" class="error" style="text-align: center;">{{errorMessage}}</td>
{% else %}
    <td class="a dont-touch-me">{{member.name|playerURL:member.tId|safe}}</td>
    <td class="b" data-val="{{member.lastActionTS}}" title="On {{member.lastActionTS|ts2date}}">{{member.lastAction}}</td>
    <td class="c player-status-{{member.color}}">{{member.description|cleanhtml}}
        {% if member.details and member.until%}
            <span class="thelp flush-right" title="{{member.details|cleanhtml}}<br>Until {{member.until|ts2date}}." rel="tooltip"><i class="fas fa-question-circle"></i></span>
        {% elif member.details %}
            <span class="thelp flush-right" title="{{member.details|cleanhtml}}" rel="tooltip"><i class="fas fa-question-circle"></i></span>
        {% elif member.until %}
            <span class="thelp flush-right" title="Until {{member.until|ts2date}}." rel="tooltip"><i class="fas fa-question-circle"></i></span>
        {% endif %}
    </td>
    <td class="d" title="{{member.daysInFaction|div:365|floatformat:2}} years">{{member.daysInFaction}}</td>
    <td class="e{% if member.tId == player.tId %} dont-touch-me{% endif %}">
        {% include "chain/members-line-energy.html"%}
    </td>
    <td class="e{% if member.tId == player.tId %} dont-touch-me{% endif %}" data-val="{%if member.shareN > 0%}{{member.nnb|mul:100000|add:member.arson}}{%endif%}">
        {% include "chain/members-line-nnb.html"%}
    </td>
{% endif %}
