<div id="chain-members-reload">

    <script>
            $(document).ready(function() {
                $.tablesorter.addParser({
                  // set a unique id
                  id: 'since',
                  is: function(s, table, cell, $cell) {
                    // return false so this parser is not auto detected
                    return false;
                  },
                  format: function(s, table, cell, cellIndex) {
                    // format your data for normalization
                    var ret = s.toLowerCase()
                              .replace(/days/,86400)
                              .replace(/day/,86400)
                              .replace(/hours/,3600)
                              .replace(/hour/,3600)
                              .replace(/minutes/,60)
                              .replace(/minute/,60).split(' ');
                    return String(parseInt(ret[1], 10)*parseInt(ret[0], 10));
                  },
                  // set type, either numeric or text
                  type: 'numeric'
                });

                $("#chain-members-table").tablesorter({
                    headers: {
                        2: { sorter: "since" }
                    },
                    sortList: [[2,0], [1,1]],
                });
            });
    </script>

    <table class="chain-report center">
        <thead>
            <th>List of the {{members|length}} members</th>
        </thead>
    </table>
    <table id="chain-members-table" class="tablesorter chain-report center">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: center;">Days in faction</th>
                <th style="text-align: center;">Last Action</th>
            </tr>
        </thead>
        <tbody>
            {% for m in members|dictsortreversed:"daysInFaction" %}
                <tr class="{% if m.daysInFaction < 0 %}kicked-from-fac{% endif %}">
                    <td><a href="https://www.torn.com/profiles.php?XID={{m.tId}}" target="_blank">{{m.name}} [{{m.tId}}]</a></td>
                    <td style="text-align: center;">{{m.daysInFaction}}</td>
                    <td style="text-align: center;">{{m.lastAction}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
