{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $.tablesorter.addParser({
            // set a unique id
            id: 'since',
            is: function(s, table, cell, $cell) {
                // return false so this parser is not auto detected
                return false;
            },
            format: function(s, table, cell, cellIndex) {
                // format your data for normalization
                var ret = s.toLowerCase()
                .replace(/days/,86400)
                .replace(/day/,86400)
                .replace(/hours/,3600)
                .replace(/hour/,3600)
                .replace(/minutes/,60)
                .replace(/minute/,60).split(' ');
                return String(parseInt(ret[1], 10)*parseInt(ret[0], 10));
            },
            // set type, either numeric or text
            type: 'numeric',
        });

        $("#chain-members").tablesorter({headers: { 1: { sorter: 'since' } }, cssAsc: 'up', cssDesc: 'down', sortList: [[0,0]]});
    });
</script>

<h2 class="title">List of {{faction}} members<span class="flush-right">Last update: {{faction.membersUpda|ts2date}}</span></h2>
<div class="module">
    <table id="chain-members" class="tablesorter center trshadow chain-members">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last action</th>
                <th>Status</th>
                <th tutle="Days in Faction">DIF</th>
        </thead>
        <tbody>
        {% for member in members %}
        <tr>
            <td class="a">{{member.name|playerURL:member.tId|safe}}</td>
            <td class="c">{{member.lastAction}}</td>
            <td class="d" title="{{member.status|cleanhtml}}">{{member.status|cleanhtml}}</td>
            <td class="b">{{member.daysInFaction}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
