{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<div id="reload-member-table">
<script>
    $(document).ready(function() {
        $.tablesorter.addParser({
            // set a unique id
            id: 'dataVal',
            // check if cell value has a numerical value
            is: function(s, table, cell, $cell) {
              return !isNaN($cell.attr("data-val"));
            },
            // format data for normalization
            format: function(s, table, cell, cellIndex) {
                if ($(cell).attr("data-val") == "") return "";
                else return parseInt($(cell).attr("data-val"));
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $("#chain-members").tablesorter({headers: { 1: { sorter: 'dataVal' }, 5: { sorter: 'dataVal' } }, cssAsc: 'up', cssDesc: 'down', sortList: [[0,0]]});
    });
</script>

<script type="text/javascript" src={% static "perso/js/tooltip.js" %}></script>

<h2 class="title">List of {{faction}} members<span class="flush-right">Last status update: {{faction.memberStatusUpda|ts2date}}</span><form class="form-inline"><a id="member-refresh" class="flush-right" href=""><i class="fas fa-sync-alt"></i>&nbsp;Refresh all</a></form></h2>
<div class="module">
    <table id="chain-members" class="tablesorter center-medium trshadow chain-members">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last action</th>
                <th>Status</th>
                <th title="Days in Faction">DIF</th>
                <th>Energy</th>
                <th>NNB</th>
        </thead>
        <tbody>
        {% for member in members %}
        <tr class="chain-member-refresh" data-val="{{member.tId}}">
            {% include "chain/members-line.html" %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
