{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<script>
    $(document).ready(function() {

        $.tablesorter.addParser({
            // set a unique id
            id: 'dataVal',
            // check if cell value has a numerical value
            is: function(s, table, cell, $cell) {
                return !isNaN($cell.attr("data-val"));
            },
            // format data for normalization
            format: function(s, table, cell, cellIndex) {
                return parseInt($(cell).attr("data-val"));
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $("#chain-tree-sum").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[3,0]]});
        $("#chain-tree").tablesorter({headers: {5: {sorter: 'dataVal'}, 6: {sorter: 'dataVal'}}, cssAsc: 'up', cssDesc: 'down', sortList: [[2,0]]});
    });
</script>

<table id="chain-tree-sum" class="center chain-tree-sum">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">Current State</th>
            <th colspan="3">Simulation</th>
            <th colspan="3">Difference</th>
        </tr>
        <tr>
            <th>Branch</th>
            <th>Base</th>
            <th>Respect</th>
            <th>Order</th>
            <th>Base</th>
            <th>Respect</th>
            <th>Order</th>
            <th>Base</th>
            <th>Respect</th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
        {% for b, cl in branchesCost.items %}
        <tr>
            <td class="a"><b>{{b}}</b></td>
            <td class="b">{{cl.0|emptyIfFalse|intcomma}}</td>
            <td class="b">{{cl.1|emptyIfFalse|intcomma}}</td>
            <td class="c">{{cl.2|emptyIfFalse}}</td>
            <td class="b">{{cl.3|emptyIfFalse|intcomma}}</td>
            <td class="b">{{cl.4|emptyIfFalse|intcomma}}</td>
            <td class="c">{{cl.5|emptyIfFalse}}</td>
            {% if cl.3 > cl.0 %}
                <td class="error b">{{cl.3|sub:cl.0|format:"{:+,.0f}"}}</td>
                <td class="error b">{{cl.3|sub:cl.1|format:"{:+,.0f}"}}</td>
            {% elif cl.3 < cl.0 %}
                <td class="valid b">{{cl.3|sub:cl.0|format:"{:+,.0f}"}}</td>
                <td class="valid b">{{cl.3|sub:cl.1|format:"{:+,.0f}"}}</td>
            {% else %}
                <td class="neutral b"></td>
                <td class="neutral b"></td>
            {% endif %}
            {% if cl.5 > cl.2 %}
                <td class="error c">{{cl.5|sub:cl.2|format:"{:+,.0f}"}}</td>
            {% elif cl.5 < cl.2 %}
                <td class="valid c">{{cl.5|sub:cl.2|format:"{:+,.0f}"}}</td>
            {% else %}
                <td class="neutral c"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table class="center">
    <thead>
        <tr>
            <th>Faction Respect</th>
            <th>Respect Used</th>
            <th>Respect available</th>
            <th>Respect Used</th>
            <th>Respect available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>{{faction.respect|intcomma}}</b></td>
            <td class="b">{{totalRespect.faction|intcomma}}</td>
            {% if totalRespect.faction > faction.respect %}
                <td class="b error">{{faction.respect|sub:totalRespect.faction|format:"{:+,.0f}"}}</td>
            {% elif totalRespect.faction < faction.respect %}
                <td class="b valid">{{faction.respect|sub:totalRespect.faction|format:"{:+,.0f}"}}</td>
            {% else %}
                <td class="b neutral">0</td>
            {% endif %}
            <td class="b">{{totalRespect.simu|intcomma}}</td>
            {% if totalRespect.simu > faction.respect %}
                <td class="b error">{{faction.respect|sub:totalRespect.simu|format:"{:+,.0f}"}}</td>
            {% elif totalRespect.simu < faction.respect %}
                <td class="b valid">{{faction.respect|sub:totalRespect.simu|format:"{:+,.0f}"}}</td>
            {% else %}
                <td class="b neutral">0</td>
            {% endif %}
        </tr>

    </tbody>
</table>
<hr class="sep">

<table id="chain-tree" class="center chain-tree">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="3">Current State</th>
            <th colspan="3">Simulation</th>
            <th></th>
        </tr>
        <tr>
            <th>Branch</th>
            <th>Upgrade</th>
            <th>Order</th>
            <th>Level</th>
            <th>Cost</th>
            <th>Order</th>
            <th>Level</th>
            <th>Cost</th>
            <th>Diff</th>
        </tr>
    </thead>
    <tbody>
        {% for branchId, branch in upgradeTree.items %}
            {% for upgradeId, u in branch.items %}

                {% if branchId == 'Core' %}
                    <tr class="order-core">
                {% else %}
                    <tr class="order-{{u.simu_order}}">
                {% endif %}
                    <td class="a"><b>{{branchId}}</b></td>
                    <td class="b"><b>{{upgradeId}}</b></td>
                    <td class="c">{{u.faction_order|emptyIfFalse}}</td>
                    <td class="c">{{u.faction_level|emptyIfFalse}}</td>
                    <td class="d">{{u.faction_cost|emptyIfFalse|intcomma}}</td>
                    <td class="c" data-val="{{u.simu_order|emptyIfFalse}}">
                        {% if branchId == "Core" %}
                            {{u.simu_order}}
                        {% else %}
                            <select id="simu-tree-{{u.branchId}}-branchorder" class="faction-upgrade-tree">
                                {% for i in "0123456"|make_list %}
                                <option value="{{i}}" {% if forloop.counter0 is u.simu_order %}selected{% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td class="c" data-val="{{u.simu_level|emptyIfFalse}}">
                        <select id="simu-tree-{{u.branchId}}-level" class="faction-upgrade-tree">
                            {% for r in u.respect %}
                                <option value="{{forloop.counter0}}" {% if forloop.counter0 is u.simu_level %}selected{% endif %}>{{forloop.counter0}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="d">{{u.simu_cost|intcomma}}</td>
                    {% if u.faction_cost > u.simu_cost %}
                        <td class="d valid">{{u.simu_cost|sub:u.faction_cost|format:"{:+,.0f}"}}</td>
                    {% elif u.faction_cost < u.simu_cost %}
                        <td class="d error">{{u.simu_cost|sub:u.faction_cost|format:"{:+,.0f}"}}</td>
                    {% else %}
                        <td class="d neutral">0</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
