{% load mathfilters %}
<td><b {% if not target.respect %}style="color: #ff1111;"{% endif %}>{{target.result}}</b> on {{target.endDate}}</td>
<!-- <td><a href="https://www.torn.com/profiles.php?XID={{target.attacker_id}}" target="_blank"> {{target.attacker_name}} [{{target.attacker_id}}]</a></td> -->
<td><a href="https://www.torn.com/profiles.php?XID={{target.targetId}}" target="_blank"> {{target.targetName}} [{{target.targetId}}]</a></td>
<td>{{target.level}}</td>
<td>{{target.rank}}</td>
<td>{{target.lastAction}}</td>
<td>{{target.fairFight|floatformat:2}}</td>
<td>{{target.respect|floatformat:2}}</td>
<td>{{target.respect|mul:target.fairFight|floatformat:2}}</td>
<td class='{% if target.status.0 != "O" %}not-okay{% endif %}'>{{target.status}}</td>
<td><progress value={{target.life}} max={{target.lifeMax}} title="Life {{target.life}}/{{target.lifeMax}}"></progress></td>
<td>
    {% now "U" as ts %}
    {% with seconds=ts|sub:target.lastUpdate%}
        {% with minutes=seconds|intdiv:60 %}
            {% with hours=minutes|intdiv:60 %}
                {% if hours %}
                    > 1h ago
                {% elif minutes %}
                    {{minutes}}min {{ts|sub:target.lastUpdate|mod:60}}s ago
                {% else %}
                    {{ts|sub:target.lastUpdate|mod:60}}s ago
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
</td>
<td>
    {% if target.status.0 != "O" %}
        <i class="fas fa-fist-raised" style="color: #ea9999;" title="Attack target"></i> -
    {% else %}
        <a href="https://www.torn.com/loader2.php?sid=getInAttack&user2ID={{target.targetId}}" target="_blank" alt="attack"><i class="fas fa-fist-raised" title="Attack target"></i></a> -
    {% endif %}
    <a href="https://www.torn.com/profiles.php?XID={{target.targetId}}" target="_blank" alt="profile"><i class="fas fa-user" title="Target profile"></i></a> -
    <!-- refresh -->
    <form style="display: inline;">{% csrf_token %}
        <a class="target-list-toggle" href={% url 'chain:refreshTarget' target.targetId %}>
           <i class="fas fa-sync-alt" title="Refresh target"></i>
        </a>
    </form> -
    <!-- delete -->
    <form style="display: inline;">{% csrf_token %}
        <a class="target-list-delete" href={% url 'chain:deleteTarget' target.targetId %}><i class="fas fa-trash-alt" title="Delete target"></i></a>
    </form>
</td>
