<div id="targets-reload">

<script>
        $(document).ready(function() {
            $("#target-list-table").tablesorter({sortList: [[5,1]]});
        });
</script>
<table id="target-list-table" class="tablesorter chain-report center-large">
    <thead>
        <tr>
            <th>Last attack</th>
            <!-- <th>Attacker</th> -->
            <th>Defender</th>
            <th>Last action</th>
            <th>Fair fight</th>
            <th>Flat respect</th>
            <th title="Score = (fair fight) x (flat respect)">Score</th>
            <th>Status</th>
            <th>Life</th>
            <th>Last update</th>
            <th>Actions</th>
    </thead>
    <tbody>
    {% for target in targets %}
    <tr id="catch-line-target-{{target.targetId}}">
        {% include "chain/targets_reload_line.html" %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
