{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}



<h2 class="title">Map<span class="flush-right">Last update: {{territoryTS|ts2date}}</span></h2>
<div id="chain-map" class="module">
    {% include "chain/territories-graph.html"%}
</div>

{% if territories|length %}
<h2 class="title">List of territories</h2>
<div class="module">

    <table class="center tdshadow territory-summary">
        <thead>
            <tr><th colspan="3">Summary of territories</th></tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">You have <b>{{summary.n}}</b> territories for <b>{{summary.daily_respect|floatformat:0}}</b> daily respect</td>
            </tr>
            <tr>
                <td>Barycenter</td>
                <td><b>x = {{summary.coordinate_x|floatformat:2}}</b></td>
                <td><b>y = {{summary.coordinate_y|floatformat:2}}</b></td>
            </tr>
        </tbody>
    </table>
    <table id="territory-list" class="tablesorter center-large trshadow territory-list">
        <thead>
            <tr>
                <th>Territory</th>
                <th>Sector</th>
                <th>Size</th>
                <th>Density</th>
                <th>Daily Respect</th>
                <th>X</th>
                <th>Y</th>
                <th>Racket</th>
        </thead>
        <tbody>
        {% for territory in territories %}
        <tr class="{% if territory.racket %}racket{% endif %}">
            <td class="a"><a href="https://www.torn.com/city.php#terrName={{territory.tId}}" target="_blank">{{territory.tId}}</a></td>
            <td class="a">{{territory.sector}}</td>
            <td class="a">{{territory.size}}</td>
            <td class="a">{{territory.density}}</td>
            <td class="a">{{territory.daily_respect}}</td>
            <td class="a">{{territory.coordinate_x|floatformat:2}}</td>
            <td class="a">{{territory.coordinate_y|floatformat:2}}</td>
            <td class="b">{{territory.racket}}</td>
        {% endfor %}
        </tbody>
    </table>
</div>

{% elif player.tId > 0%}
    <h2 class="title">List of territories</h2>
    <div class="module">
        <p class="error">Your faction has no territories</p>
    </div>
{% endif %}

<h2 class="title">List of Rackets</h2>
<div class="module">
    <table id="racket-list" class="tablesorter center-large trshadow racket-list">
        <thead>
            <tr>
                <th>Territory</th>
                <th>Racket</th>
                <th>Reward</th>
                <th>Level</th>
                <th>Created</th>
                <th>Changed</th>
                <th>Faction</th>
                <th>Distance</th>
        </thead>
        {% for racket in rackets %}
            {% if player.factionId != racket.faction %}
            <tr>
                <td class="a"><a href="https://www.torn.com/city.php#terrName={{racket.tId}}" target="_blank">{{racket.tId}}</a></td>
                <td class="b">{{racket.name}}</td>
                <td class="b">{{racket.reward}}</td>
                <td class="a">{{racket.level}}</td>
                <td class="c" data-val="{{racket.created}}">{{racket.created|ts2date}}</td>
                <td class="c" data-val="{{racket.changed}}">{{racket.changed|ts2date}}</td>
                {% if racket.faction %}
                    <td class="b"><a href="https://www.torn.com/factions.php?step=profile&ID={{racket.faction}}" target="_blank">{{racket.factionName}} [{{racket.faction}}]</a></td>
                {% else %}
                    <td class="b">"-"</td>
                {% endif %}
                <td class="a" title="Position: {{racket.coordinate_x}} x {{racket.coordinate_y}}">{{racket.distance|floatformat:2}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


</div>
