{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}
{% load static %}
{% static "" as baseUrl %}

<h2 class="title">Faction upgrades poster</h2>
<div class="module chain-tree">
    <div style="width: 55%; margin: 0 auto;">
        <p><a href="{{baseUrl}}trees/{{faction.tId}}.png" target="_blank" atl="faction upgrade tree">
            <img src="{{baseUrl}}trees/{{faction.tId}}.png?cache={{random}}" style="border: solid 1px;" width="100%">
        </a></p>
    </div>

    <div style="width: 55%; margin: 0 auto;">
        <form id="chain-tree">
            <p>
                <label for="chain-tree-fontColor-0">Font color: red </label>
                <input id="chain-tree-fontColor-0" type="range" min="0" max="255" value="{{posterOpt.fontColor.0}}">
                <label for="chain-tree-fontColor-1">green </label>
                <input id="chain-tree-fontColor-1" type="range" min="0" max="255" value="{{posterOpt.fontColor.1}}">
                <label for="chain-tree-fontColor-2">blue </label>
                <input id="chain-tree-fontColor-2" type="range" min="0" max="255" value="{{posterOpt.fontColor.2}}">
                <label for="chain-tree-fontColor-3">transparency </label>
                <input id="chain-tree-fontColor-3" type="range" min="0" max="255" value="{{posterOpt.fontColor.3}}"><br />
                <label for="chain-tree-fontColor-4">hexa </label>
                <input id="chain-tree-fontColor-4" class="poster-hexa" type="text" placeholder="#{{posterOpt.fontColor|hexa}}">
            </p>
            <p>
                <label for="chain-tree-background-0">Background: red </label>
                <input id="chain-tree-background-0" type="range" min="0" max="255" value="{{posterOpt.background.0}}">
                <label for="chain-tree-background-1">green </label>
                <input id="chain-tree-background-1" type="range" min="0" max="255" value="{{posterOpt.background.1}}">
                <label for="chain-tree-background-2">blue </label>
                <input id="chain-tree-background-2" type="range" min="0" max="255" value="{{posterOpt.background.2}}">
                <label for="chain-tree-background-3">transparency </label>
                <input id="chain-tree-background-3" type="range" min="0" max="255" value="{{posterOpt.background.3}}"><br />
                <label for="chain-tree-background-4">hexa </label>
                <input id="chain-tree-background-4" class="poster-hexa" type="text" placeholder="#{{posterOpt.background|hexa}}">
            </p>
            <p>
                <label for="chain-tree-iconType-0">Icon type: </label>
                <select id="chain-tree-iconType-0">
                    <option value="0" {% if 0 == posterOpt.iconType.0 %}selected{% endif %}>Green</option>
                    <option value="1" {% if 1 == posterOpt.iconType.0 %}selected{% endif %}>Light Green</option>
                    <option value="2" {% if 2 == posterOpt.iconType.0 %}selected{% endif %}>Grey</option>
                    <option value="3" {% if 3 == posterOpt.iconType.0 %}selected{% endif %}>Blue</option>
                </select>
                <label for="chain-tree-fontFamily-0">Font family: </label>
                <select id="chain-tree-fontFamily-0">
                    {% for k, v in fonts.items %}
                        <option value="{{k}}" {% if k == posterOpt.fontFamily.0 %}selected{% endif %}>{{v.0}}</option>
                     {% endfor %}
                </select>
            </p>
        </form>

    </div>
</div>
