{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h3>Chain reports for AA members</h3>
<p>All reports are created automatically through API calls, no copy/paste is needed. For this to work at least one AA member needs to login (his key will be stored and used for the create of the reports).<br />
    Due to API limitations, the creation of reports is based on several crontabs which schedule the API calls over time.<br />
    Your faction will be affected to a single crontab that you will share with other factions. For one crontab a job is schedule every minute.<br />
    During one job a maximum of 200 new attacks are analysed, for a random faction of the crontab, for a random report of the faction, using a random API key of their AA members.<br />
    Live and old reports are treated on different schedulers. AA members can see their crontab details on a specific page (only available to them). <br />
    Consistency measures insure that two API calls <tt>faction/?selections=attacks</tt> are at least 32s appart to avoid cached responses and which would lead to wrong output, even using the <tt>to</tt> and <tT>from</tt> keys.<br />
    If a AA member uses this request outside during the creation of a report, it can lead to cached responses. The report should be fine since it compares Torn serve timestamp to current timestamp.
</p>
