{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

{% if wall %}
  <td class="a"><a href="https://www.torn.com/war.php?step=warreport&warID={{wall.tId}}" target="_blank">Wall [{{wall.tId}}]</a></td>
  <td class="b" data-val="{{wall.tss}}">{{wall.tss|ts2date}}</td>
  <td class="b" data-val="{{wall.tse}}">{{wall.tse|ts2date}}</td>
  <td class="b" data-val="{{wall.tse|sub:wall.tss}}">{{wall.tse|sub:wall.tss|ts2time}}</td>
  <td class="b" >{{wall.attackerFactionName|factionURL:wall.attackerFactionId|safe}}</td>
  <td class="b" >{{wall.defenderFactionName|factionURL:wall.defenderFactionId|safe}}</td>
  <td class="a" ><a href="https://www.torn.com/city.php#terrName={{wall.territory}}" target="_blank">{{wall.territory}}</a></td>
  <td class="a" ><span class="{{wall.result}}">{{wall.result}}</span></td>
  <td class="a" >
    {% if player.factionAA %}
        <form>{% csrf_token %}
            <!-- toggle -->
            {% if wall.breakSingleFaction %}
                <a class="wall-toggle" href={% url 'chain:toggleWall' wall.tId %}><i class="fas fa-toggle-on" title="Remove wall from breakdown"></i></a>
            {% else %}
                <a class="wall-toggle" href={% url 'chain:toggleWall' wall.tId %}><i class="fas fa-toggle-off" title="Add wall from breakdown"></i></a>
            {% endif %}
            &nbsp; &nbsp;
            <!-- delete -->
            <a class="wall-delete" href={% url 'chain:deleteWall' wall.tId %}><i class="fas fa-trash-alt" title="Delete wall"></i></a>
        </form>
    {% else %}
      Needs AA
    {% endif %}
  </td>
{% endif %}
