{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $.tablesorter.addParser({
            // set a unique id
            id: 'dataVal',
            // check if cell value has a numerical value
            is: function(s, table, cell, $cell) {
                return !isNaN($cell.attr("data-val"));
            },
            // format data for normalization
            format: function(s, table, cell, cellIndex) {
                return parseInt($(cell).attr("data-val"));
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $("#walls-list").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[0,1]]});
        $(".wall-joint-faction-report").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[2, 1]]});
    });
</script>

<h2 class="title">List of walls</h2>
<div class="module">
    {% if walls|length %}
    <table id="walls-list" class="tablesorter center-large trshadow wall-list">
        <thead>
            <tr>
                <th>Wall [ID]</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Attackers</th>
                <th>Defenders</th>
                <th>Territory</th>
                <th>Result</th>
                <th>Toggle / Remove</th>
            </tr>
        </thead>
        <tbody>
        {% for wall in walls %}
        <tr>
          {% include "chain/walls-line.html" %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
        <p class="error">No wall recorded. To add a report, as a AA member, install <a href="https://github.com/Helcostr/helcostr-torn-userscripts/raw/master/Userscripts/echo_ter_report.user.js" target="_blank">this script</a> and go to the report page on torn that you want to import.</p>
    {% endif %}
</div>

{% for fac, TotalPlayers in summary.items %}
<div class="catch-me">

<h2 class="title toggle-display rounded">Walls breakdown for <b class='{% if fac == faction.getFullName %}valid{% else %}error{% endif %}'>{{fac}}</b>: {{TotalPlayers.Total.0|intcomma}} points, {{TotalPlayers.Total.1}} joins and {{TotalPlayers.Total.2}} clears&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
<div class="module" style="display: none;">
    <table class="tablesorter center trshadow wall-joint-faction-report">
        <thead>
            <tr>
                <th>Player</th>
                <th>Lvl</th>
                <th>Points</th>
                <th>Joins</th>
                <th>Clears</th>
            </tr>
        </thead>
        <tbody>
        {% for XID, player in TotalPlayers.Players.items %}
            <tr>
                <td class="a">{{player.P.1|playerURL:XID|safe}}</td>
                <td class="b">{{player.P.2}}</td>
                <td class="c">{{player.A.0|add:player.D.0|intcomma}}</td>
                <td class="d">{{player.A.1|add:player.D.1}}</td>
                <td class="d">{{player.A.2|add:player.D.2}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="tablesorter center trshadow wall-joint-faction-report">
        <tbody>
            <td class="a"></td>
            <td class="b"><b>Total</b></td>
            <td class="c"><b>{{TotalPlayers.Total.0|intcomma}}</b></td>
            <td class="d"><b>{{TotalPlayers.Total.1}}</b></td>
            <td class="d"><b>{{TotalPlayers.Total.2}}</b></td>
        </tbody>
    </table>
</div>

</div>

{% endfor %}
<div class="module rounded">
    <p><b>Add a wall report</b>: install <a href="/static/integration/walls.user.js" target="_blank">this script</a> and go to the Torn report page that you want to import.</p>
</div>
