{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
      $.tablesorter.addParser({
          // set a unique id
          id: 'ago',
          is: function(s, table, cell, $cell) {
              // return false so this parser is not auto detected
              return false;
          },
          format: function(s, table, cell, cellIndex) {
              // format your data for normalization
              var ret = s.toLowerCase()
              .replace(/days/,86400).replace(/day/,86400)
              .replace(/hours/,3600).replace(/hour/,3600)
              .replace(/hrs/,3600).replace(/hr/,3600)
              .replace(/minutes/,60).replace(/minute/,60)
              .replace(/mins/,60).replace(/min/,60).split(' ');
              return String(parseInt(ret[1], 10)*parseInt(ret[0], 10));
          },
          // set type, either numeric or text
          type: 'numeric',
      });

        $("#chain-list").tablesorter({headers: { 3: { sorter: 'ago' }}, cssAsc: 'up', cssDesc: 'down', sortList: [[1,1]]});
    });
</script>

<h2 class="title">List of walls</h2>
<div class="module">
    {% if walls|length %}
    <table id="walls-list" class="tablesorter center-large trshadow chain-list">
        <thead>
            <tr>
                <th>Wall [ID]</th>
                <th>Start</th>
                <th>End</th>
                <th>Duration</th>
                <th>Attackers</th>
                <th>Defenders</th>
                <th>Territory</th>
                <th>Remove</th>
        </thead>
        <tbody>
        {% for wall in walls %}
        <tr>
          {% include "chain/walls-line.html" %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
        <p class="error">No wall recorded. Ask a AA member to add a report.</p>
    {% endif %}
</div>
