{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="table-responsive">
<table id="awards-list" class="table table-hover table-striped table-borderless tablesorter faction-networth">
    <thead>
    <tr>
        <th class="a">Date</th>
        <th class="b">Vault</th>
        <th class="b">Deposit</th>
        <th class="b">Faction Money</th>
        <th class="b">Money gain</th>
        <th class="b">Respect</th>
        <th class="b">Respect gain</th>
    </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td class="text-center" data-val="{{log.timestamp}}">{{log.timestamp|ts2date:"%Y/%m/%d"}}</td>
            <td class="text-end">${{log.money|intcomma}}</td>
            <td class="text-end">${{log.donationsmoney|intcomma}}</td>
            <td class="text-end">${{log.money|sub:log.donationsmoney|intcomma}}</td>
            <td class="text-end">{{log.deltaMoney|signColor|intcomma}}</td>
            <td class="text-end">{{log.respect|intcomma}}</td>
            <td class="text-end">{{log.deltaRespect|signColor|intcomma}}</td>
        </tr>
        {% endfor %}

        <tr>
          <td colspan="7" class="text-center">
            <div class="pagination d-block">
                <span class="step-links">
                    {% if logs.has_previous %}
                        <a class="yt-page-link rounded first" href="{% url 'faction:logsList' %}?page=1"></a>
                        <a class="yt-page-link rounded previous" href="{% url 'faction:logsList' %}?page={{ logs.previous_page_number }}"></a>
                    {% endif %}

                    <span class="current">
                        {{ logs.number }}/{{ logs.paginator.num_pages }}
                    </span>

                    {% if logs.has_next %}
                        <a class="yt-page-link rounded next" href="{% url 'faction:logsList' %}?page={{ logs.next_page_number }}"></a>
                        <a class="yt-page-link rounded last" href="{% url 'faction:logsList' %}?page={{ logs.paginator.num_pages }}"></a>
                    {% endif %}
                </span>
            </div>
          </td>
        </tr>

    </tbody>
</table>
</div>
