{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<link href='{% static "thirdparty/css/highlight.github.css" %}' rel="stylesheet">
<script src='{% static "thirdparty/js/highlight.pack.js" %}'></script>
<script>hljs.initHighlightingOnLoad();</script>

    <h1><i class="fas fa-download"></i>&nbsp;&nbsp;Import</h1>
    <p>To import data to the database you need to make a <tt>POST</tt> request to this url: <a href="{%url "bazaar:abroadImport" %}">https://yata.alwaysdata.net{%url "bazaar:abroadImport" %}</a></p>
    <h2>Body format</h2>
    <p>It requires a <tt>body</tt> with the following format</p>
<pre><code class="js">Object {
    "client": String,
    "version": String,     // (optional: default="v0.1")
    "author_name": String, // (optional: default="Player")
    "author_id": Number,   // (optional: default=0)
    "country": String,
    "items": Array [ Object { "id"; Number, "quantity": Number, "cost": Number }, ... ]
}</code></pre>
<h3 class="toggle-display">Example of a body&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code class="json">{
    "client": "My cool script", // String: name of the client
    "version": "v0.1",          // String: version client (optional)
    "author_name": "Kivou",     // String: author torn name (optional)
    "author_id": 2000607,       // String: author torn id (optional)
    "country": "uni",           // String: key of the country
    "items": [                  // Array: list of items
        {                       // Object: item
            "id": 268,          // Number: item torn ID
            "quantity": 339,    // Number: item quantity
            "cost": 1000        // Number: item cost
        },
        {
            "id": 266,
            "quantity": 1,
            "cost": 200
        },
    ]
}</code></pre>
<h3 class="toggle-display">Country keys&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code class="yaml">mex: Mexico
cay: Cayman Islands
can: Canada
haw: Hawaii
uni: United Kingdom
arg: Argentina
swi: Switzerland
jap: Japan
chi: China
uae: UAE
sou: South Africa</code></pre>

<h2>Notes</h2>
<ul>
    <li>If an item of a country is not in the list, its <code>quantity</code> is automatically set to <tt>0</tt>.</li>
    <li>It returns a <tt>200</tt> for success, <tt>400</tt> for malformed requests and <tt>500</tt> for server errors.</li>
    <li>In case of <tt>200</tt> the body of the response corresponds to the items updated (including 0 quantities).</li>
    <li>You can download json examples of the <a href="{% static "/abroad/post.json" %}">post</a> request and the server <a href="{% static "/abroad/response.json" %}">response.</a></li>
    <li>Verified clients:
        <ul>
            <li>Your client needs to be added to the databse as a "verified client" to be able to write in the database.</li>
            <li>The API response is similar for verified and not verified clients to simplify testing.</li>
        </ul>
    </li>
</ul>

<h1><i class="fas fa-upload"></i>&nbsp;&nbsp;Export</h1>
<p>To export data from the database you need to make a <tt>GET</tt> request to this url: <a href="{%url "bazaar:abroadExport" %}">https://yata.alwaysdata.net{%url "bazaar:abroadExport" %}</a></p>
<h2>Formats</h2>
<p>Several formats are available for the payload</p>
<h3 class="toggle-display">Default: <tt>{%url "bazaar:abroadExport" %}</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code class="json">"stocks": [
    {
        "country_name": "United Kingdom",
        "item_id": 266,
        "item_name": "Nessie Plushie",
        "item_type": "Plushie",
        "abroad_cost": 200,
        "abroad_quantity": 1,
        "timestamp": 1590233946
    },
    {
        "country_name": "United Kingdom",
        "item_id": 268,
        "item_name": "Red Fox Plushie",
        "item_type": "Plushie",
        "abroad_cost": 1000,
        "abroad_quantity": 339,
        "timestamp": 1590233946
    }
]</code></pre>

<h3 class="toggle-display">By country: <tt>{%url "bazaar:abroadExport" %}?format=country</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code classe="json">"stocks": {
    "uni": {
        "266": {
            "country_key": "uni",
            "country_name": "United Kingdom",
            "item_id": 266,
            "item_name": "Nessie Plushie",
            "item_type": "Plushie",
            "abroad_cost": 200,
            "abroad_quantity": 1,
            "timestamp": 1590233946
        },
        "268": {
            "country_key": "uni",
            "country_name": "United Kingdom",
            "item_id": 268,
            "item_name": "Red Fox Plushie",
            "item_type": "Plushie",
            "abroad_cost": 1000,
            "abroad_quantity": 339,
            "timestamp": 1590233946
        }
    }
}</code></pre>

<h3 class="toggle-display">By item: <tt>{%url "bazaar:abroadExport" %}?format=item</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code classe="json">"stocks": {
    "266": {
        "uni": {
            "country_key": "uni",
            "country_name": "United Kingdom",
            "item_id": 266,
            "item_name": "Nessie Plushie",
            "item_type": "Plushie",
            "abroad_cost": 200,
            "abroad_quantity": 1,
            "timestamp": 1590233946
        },
    },
    "268": {
        "uni": {
            "country_key": "uni",
            "country_name": "United Kingdom",
            "item_id": 268,
            "item_name": "Red Fox Plushie",
            "item_type": "Plushie",
            "abroad_cost": 1000,
            "abroad_quantity": 339,
            "timestamp": 1590233946
        }
    }
}</code></pre>

<h3 class="toggle-display">Flat: <tt>{%url "bazaar:abroadExport" %}?format=flat</tt>&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h3>
<pre style="display: none;"><code classe="json">"stocks": {
    "266-uni": {
        "country_key": "uni",
        "country_name": "United Kingdom",
        "item_id": 266,
        "item_name": "Nessie Plushie",
        "item_type": "Plushie",
        "abroad_cost": 200,
        "abroad_quantity": 1,
        "timestamp": 1590233946
    },
    "268-uni": {
        "country_key": "uni",
        "country_name": "United Kingdom",
        "item_id": 268,
        "item_name": "Red Fox Plushie",
        "item_type": "Plushie",
        "abroad_cost": 1000,
        "abroad_quantity": 339,
        "timestamp": 1590233946
    }
}</code></pre>


<h2>Filters</h2>
<p>Payload can be filtered by country with the <code>country=&lt;key&gt;</code> and/or by type with <code>type=plushie</code>, <code>flower</code> or <code>drug</code> as follow:</p>
<ul>
    <li><a href="{%url "bazaar:abroadExport" %}?country=uni" target="_blank">https://yata.alwaysdata.net{%url "bazaar:abroadExport" %}?country=uni</a></li>
    <li><a href="{%url "bazaar:abroadExport" %}?type=plushie" target="_blank">https://yata.alwaysdata.net{%url "bazaar:abroadExport" %}?type=plushie</a></li>
    <li><a href="{%url "bazaar:abroadExport" %}?country=uni&type=plushie" target="_blank">https://yata.alwaysdata.net{%url "bazaar:abroadExport" %}?country=uni&type=plushie</a></li>
</ul>
