{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% include "bazaar/abroad/stocks.html" %}

<h2 class="title"><i class="fas fa-users fa-icon-inline"></i>Contribute</h2>
<div class="module">
<p>The database only relies on the users travelling and gathering data of the stocks abroad. To contribute and make the database more accurate you can install one of the following scripts made by the community:</p>
<div class="abroad-soft center-full-fourth">
    <div>
        <h3>YATA abroad</h3>
        <p>Userscript by {{"Pyrit"|playerURL:2111649|safe}}<br>
            Updates stocks<br>
        <a href="https://raw.githubusercontent.com/TotallyNot/yata-abroad/master/yata_abroad.user.js" target="_blank">Install userscript</a>
        </p>
    </div>
</div>

<div class="abroad-soft center-full-fourth">
    <div>
    <h3>Torn PDA</h3>
    <p>App by {{"Manuito"|playerURL:2225097|safe}}<br>
        Updates and displays stocks<br>
    <a href="https://github.com/Manuito83/torn-pda" target="_blank">Github</a> -
    <a href="https://play.google.com/store/apps/details?id=com.manuito.tornpda" target="_blank">Google Play</a> -
    <a href="https://apps.apple.com/us/app/torn-pda/id1510138514?l=es&ls=1" target="_blank">App Store</a>
    </div>
</div>


<div class="abroad-soft center-full-fourth">
    <div>
        <h3>TornTools</h3>
        <p>Extension by {{"Mephiles"|playerURL:2087524|safe}}<br>
            Updates and displays stocks<br>
        <a href="https://github.com/Mephiles/torntools_extension" target="_blank">Github</a> -
        <a href="https://chrome.google.com/webstore/detail/torn-tools/hjpaapdjcgbmeikfnahipphknonhlhib" target="_blank">Chrome</a> -
        <a href="https://addons.mozilla.org/en-US/firefox/addon/torn-tools/" target="_blank">Firefox</a>
    </div>
</div>

{# <hr style="width: 0; padding-top: 10px;"> #}

<div class="abroad-soft center-full-fourth">
    <div>
    <h3>Father's Abroad Items Tracker</h3>
    <p>Userscript by {{"Father"|playerURL:2131687|safe}}<br>
        Updates and displays stocks<br>
    <a href="https://raw.githubusercontent.com/sid-the-sloth1/yata-scripts/master/abroad_items.user.js" target="_blank">Install userscript</a>
    </div>
</div>

{# <div class="abroad-soft center-full-third"> #}
    {# <div> #}
        {# <i class="fas fa-spinner fa-pulse"></i> #}
    {# </div> #}
{# </div> #}
<hr class="sep" style="width: 0;">
<p>List of clients used the last 48 hours:</p>
<ul>
    {% for client, v in clients %}
        <li>{{client}} by {{v.2|playerURL:v.1|safe}}: {{v.0|mul:100|floatformat:0}}%</li>
    {% endfor %}
</ul>

<p>If you want to make your own tool please read the <a href="{% url 'api:documentation' %}#travel" target="_blank">API documentation</a>.</p>

</div>
