table.company-details-positions th.a {width: 10%; } /* x1 */
table.company-details-positions th.b {width: 8%; } /* x3 */
table.company-details-positions th.c {width: 7%; } /* x3 */
table.company-details-positions th.d {width: 10%; } /* x1 */
table.company-details-positions th.e {width: 35%; } /* x1 */

table.company-companies {
	min-width: 870px;
	width: 80%;
	margin: auto;
}
table.company-companies td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
table.company-companies th.a {width: 25%; } /* x1 */
table.company-companies th.b {width: 15%; } /* x1 */
table.company-companies th.c {width: 10%; } /* x1 */
table.company-companies th.d {width: 15%; } /* x1 */
table.company-companies th.e {width: 10%; } /* x1 */
table.company-companies th.f {width: 25%; } /* x1 */

table.company-details-specials {
	min-width: 700px;
	width: 60%;
	margin: auto;
}
table.company-details-specials th.a {width: 25%; } /* x1 */
table.company-details-specials th.b {width: 25%; } /* x1 */
table.company-details-specials th.c {width: 15%; } /* x1 */
table.company-details-specials th.d {width: 35%; } /* x1 */

table.company-details-stocks {
	min-width: 700px;
	width: 50%;
	margin: auto;
}
table.company-details-stocks th.a {width: 40%; } /* x1 */
table.company-details-stocks th.b {width: 30%; } /* x1 */
table.company-details-stocks th.c {width: 30%; } /* x1 */

table.company-overview {
	min-width: 800px;
	width: 60%;
	margin: auto;
}
table.company-details-employees th.a {width: 13%; } /* x1 */
table.company-details-employees th.b {width: 8%; cursor: pointer; } /* x1 */
table.company-details-employees th.c {width: 7%; } /* x1 */
table.company-details-employees th.d {width: 5%; } /* x6 */
table.company-details-employees th.e {width: 10%; } /* x1 */
table.company-details-employees th.f {width: 9%; } /* x3 */
table.company-details-employees th.g {width: 3%; cursor: pointer; } /* x1 */
table.company-details-employees tr.hideChart { opacity: 0.5; } /* hide from charts */
table.company-details-employees tr.simu > td {font-style: italic; } /* simulation */
table.company-details-employees tr.simu > td > select {	font-style: italic;	color: var(--table-company-details-employees-tr-simu-td-select-color); } /* simulation */

select.company-employee-position-form {
	cursor: pointer;
	border: none;
	height: 16px;
	padding: 0;
	margin: 0;
	display: block;
	height: 100%;
	background-color: var(--select-company-employee-position-form-background-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

table.company-logs th.a {width: 7.5%; } /* x1 */
table.company-logs th.b {width: 5%; } /* x1 */
table.company-logs th.c {width: 7.5%; } /* x1 */
table.company-logs th.d {width: 5%; } /* x3 */
table.company-logs th.e {width: 5%; } /* x1 */
table.company-logs th.f {width: 12%; } /* x3 */
table.company-logs th.g {width: 8%; } /* x3 */

table.company-stocks th.a {width: 10%; text-align: center; } /* x1 */
table.company-stocks th.b {width: 10%; text-align: left; } /* x1 */
table.company-stocks th.c {width: 5%; text-align: center; } /* x1 */
table.company-stocks th.d {width: 20%; text-align: left; } /* x1 */
table.company-stocks th.e {width: 5%; text-align: center; } /* x3 */
table.company-stocks th.f {width: 10%; text-align: right; } /* x4 */
