table.merits-summary { min-width: 500px; width: 50%; margin: auto;}
table.merits-summary td { text-align: center; font-weight: bold;}

table.merits-bar td {
    /* overflow-x: scroll; */
    /* font-size: 13px; */
    line-height: 100%;
    /* padding: 3px; */
    /* border-bottom: 0px solid #eee; */
    /* border-bottom: 0px solid #eee; */
}


table.merits-bar { min-width: 1200px; width: 50%; margin: auto;}
table.merits-bar th { font-size: 100% }
table.merits-bar th.a { width: 40%; }
table.merits-bar th.b { width: 20%; }
table.merits-bar th.c { width: 40%; }

span.merits-button {
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 4px;
    cursor: pointer;
}

span.le { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0 0 1px 1px rgba(68, 126, 155, 0.7); }
span.gt { background-color: rgba(52, 52, 52, 0.1); box-shadow: 0 0 1px 1px rgba(52, 52, 52, 0.1); }

span.fix { background-color: rgba(101, 101, 101, 0.7); box-shadow: 0 0 1px 1px rgba(101, 101, 101, 0.7); }
span.rem { background-color: rgba(204, 52, 52, 0.7); box-shadow: 0 0 1px 1px rgba(204, 52, 52, 0.7); }
span.add { background-color: rgba(68, 126, 155, 0.5); box-shadow: 0 0 1px 1px rgba(68, 126, 155, 0.5); }
span.del { background-color: rgba(11, 142, 20, 0.3); box-shadow: 0 0 1px 1px rgba(11, 142, 20, 0.3); }


span.le-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0px 0px 3px 3px rgba(140, 204, 233, 0.7); }
span.le-flash-2 { background-color: rgba(68, 126, 155, 0.7); box-shadow: 5px 0px 4px 4px rgba(140, 204, 233, 0.9); }
/* span.le-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0px 0px 3px 3px rgba(228,113,243, 0.7); }
span.le-flash-2 { background-color: rgba(68, 126, 155, 0.7); box-shadow: 5px 0px 4px 4px rgba(228,113,243, 0.9); } */

span.gt-flash { background-color: rgba(68, 126, 155, 0.7); box-shadow: 0 0 2px 2px rgba(68, 126, 155, 0.7); }
span.gt-flash-2 { background-color: rgba(204, 52, 52, 0.8); box-shadow: -5px 0px 4px 4px rgba(204, 52, 52, 0.7); }


div.player-personalstats-category {
    display: none;
    margin-left: 10px;
}
div.player-personalstats-sub-category {
    display: none;
    margin-left: 20px;
}
.player-personalstats-header {
    cursor: pointer;
}

table.personalstats { min-width: 0px; width: 30%; margin-left: 5%; }
