{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

{% if errorMessage %}
    <span class="error" title="{{errorMessage}}">{{errorMessage}}</span>
{% endif %}

{% if member.tId == player.tId %}
    <span style="cursor: pointer;">
    {% if member.shareE %}
        <span class="neutral faction-member-shareE" title="Stop sharing your energy.">
            <span class="fa-icon-inline">{{member.energy|stringformat:" 4d"}}</span>
            <i class="far fa{% if member.energyRefillUsed %}-check{% endif %}-square fa-icon-inline"></i>
            <i class="fas fa-cannabis fa-icon-inline" style="opacity:{% if member.drugCD > 3600 %}1{% elif member.drugCD > 0%}0.5{% else %}0.1{% endif %}" title="{{member.drugCD|ts2time}} of drug CD"></i>
        </span>
    {% else %}
        <span class="valid faction-member-shareE" title="Start sharing your energy with your factionmates. You will be able to stop sharing whenever you want by clicking your the energy.">
            <i class="fas fa-user-plus"></i>
        </span>
    {% endif %}
    </span>
{% else %}
    {% if member.shareE == -1 %}
        <span class="error" title="{{member.name}} is not on YATA"><i class="fas fa-user-slash"></i></span>
    {% elif member.shareE == 0 %}
        <span class="warning" title="{{member.name}} does not wish to share"><i class="fas fa-user-times"></i></span>
    {% elif member.shareE == 1 %}
        <span class="fa-icon-inline">{{member.energy}}</span>
        <i class="far fa{% if member.energyRefillUsed %}-check{% endif %}-square fa-icon-inline"></i>
        <i class="fas fa-cannabis fa-icon-inline" style="opacity:{% if member.drugCD > 3600 %}1{% elif member.drugCD > 0%}0.5{% else %}0.1{% endif %}" title="{{member.drugCD|ts2time}} of drug CD"></i>
    {% endif %}
{% endif %}
