{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<div id="reload-member-table">
<script>
    $(document).ready(function() {
        $("#faction-members").tablesorter({
            textExtraction: {
              0: function(node, table, cellIndex) {return $(node).attr("data-val");},
              2: function(node, table, cellIndex) {return $(node).attr("data-val");},
              5: function(node, table, cellIndex) {return $(node).attr("data-val");},
              6: function(node, table, cellIndex) {return $(node).attr("data-val");},
              7: function(node, table, cellIndex) {return $(node).attr("data-val");},
            },

            cssAsc: 'up', cssDesc: 'down', sortList: [[1,0]]
        });
    });
</script>

<h2 class="title"><i class="fas fa-users"></i>&nbsp;&nbsp;{{faction.name|safe}}'s members<span class="flush-right"><b>Status update:</b> {{faction.memberStatusUpda|ts2date}}&nbsp;&nbsp;<b>List update:</b> {{faction.membersUpda|ts2date}}</span><form class="form-inline"><a id="member-refresh" class="flush-right" href=""><i class="fas fa-sync-alt"></i>&nbsp;Refresh status</a></form></h2>
<div class="module">
    <table id="faction-members" class="tablesorter center-large trshadow faction-members">
        <thead>
            <tr>
                <th title="Online status"><i class="fas fa-circle"></i></th>
                <th>Name</th>
                <th>Last action</th>
                <th>Status</th>
                <th title="Days in Faction">DIF</th>
                <th>Energy</th>
                <th>NNB | EA &nbsp;&nbsp;<i style="cursor: help;" class="fas fa-question-circle" title="Natural nerve bar and conservative estimation of Equivalent Arsons&#10;&#10;Frauds are assumed arson warehouse&#10;Thefts are assumed steal jackets&#10;Auto theft are assumed steal parked car&#10;1 drug deals are removing 1 arson&#10;Computer crimes are assumed steal virus&#10;Murders are assumed Assassinate mob boss&#10;Recent PH and PA are accounted for&#10;&#10;See TornStats CE predictor for more information"></i> </th>
                <th>Stats&nbsp;&nbsp;<i style="cursor: help;" class="fas fa-question-circle" title="Only AA members can see these stats"></i></th>
        </thead>
        <tbody>
        {% for member in members %}
        <tr class="faction-member-refresh" data-val="{{member.tId}}">
            {% include "faction/members/line.html" %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="update-info">Last update of the list: {{faction.membersUpda|ts2date}}</p>
    <p class="update-info">Last update of the members status: {{faction.memberStatusUpda|ts2date}}</p>

</div>
</div>
