{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load static %}
{% load mathfilters %}
{% load app_filters %}

{% if errorMessage %}
    <td colspan="14" class="error" style="text-align: center;">{{errorMessage}}</td>
{% else %}
    <td class="a" title="{{member.lastActionStatus}}" data-val='{% if member.lastActionStatus == "Offline" %}-1{% elif member.lastActionStatus == "Idle" %}0{% else %}1{% endif%}'><i class="fas fa-circle online-status-{{member.lastActionStatus}}"></i></td>
    <td class="b dont-touch-me">{{member.name|playerURL:member.tId|safe}}</td>
    <td class="c" data-val="{{member.lastActionTS}}" title="On {{member.lastActionTS|ts2date}}">{{member.lastAction}}</td>
    <td class="d player-status-{{member.color}}">{{member.description|cleanhtml}}
        {% if member.details and member.until%}
            <span class="thelp flush-right" title="{{member.details|cleanhtml}}&#10;Until {{member.until|ts2date}}."><i class="fas fa-question-circle"></i></span>
        {% elif member.details %}
            <span class="thelp flush-right" title="{{member.details|cleanhtml}}"><i class="fas fa-question-circle"></i></span>
        {% elif member.until %}
            <span class="thelp flush-right" title="Until {{member.until|ts2date}}."><i class="fas fa-question-circle"></i></span>
        {% endif %}
    </td>
    <td class="e" title="{{member.daysInFaction|div:365|floatformat:2}} years">{{member.daysInFaction}}</td>
    <td class="f{% if member.tId == player.tId %} dont-touch-me{% endif %}" data-val="{%if member.shareE > 0%}{{member.energy}}{%endif%}">
        {% include "faction/members/energy.html"%}
    </td>
    <td class="f" data-val="{{member.crimesRank}}">
        #{{member.crimesRank}}
    </td>
    <td class="g{% if member.tId == player.tId %} dont-touch-me{% endif %}" data-val="{%if member.shareN > 0%}{{member.nnb|mul:100000|add:member.arson}}{%endif%}">
        {% include "faction/members/nnb.html"%}
    </td>
    <td class="h{% if member.tId == player.tId %} dont-touch-me{% endif %}" data-val="{%if member.shareS > 0%}{{member.getTotalStats}}{%endif%}">
        {% include "faction/members/stats.html"%}
    </td>
{% endif %}
