{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center-large tdshadow faction-categories">
    <tbody>
    <tr>
        <td><a href="{% url 'faction:chains' %}"><i class="fa fa-link"></i>&nbsp;&nbsp;Chains</a></td>
        <td><a href="{% url 'faction:attacks' %}"><i class="fas fa-crosshairs"></i>&nbsp;&nbsp;Attacks</a></td>
        <td><a href="{% url 'faction:walls' %}"><i class="fas fa-shield-alt"></i>&nbsp;&nbsp;Walls</a></td>
        <td><a href="{% url 'faction:revives' %}"><i class="fas fa-ambulance"></i>&nbsp;&nbsp;Revives</a></td>
        {% if player.factionAA %}
            <td><a href="{% url 'faction:simulator' %}"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;Respect simulator</a></td>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url 'faction:members' %}"><i class="fas fa-users"></i>&nbsp;&nbsp;Members</a></td>
        <td>
            <a href="{% url 'faction:bigBrother' %}"><i class="fas fa-eye"></i>&nbsp;&nbsp;Big Brother</a>
        </td>
        <td>
            <a href="{% url 'faction:armory' %}"><i class="fas fa-pills"></i>&nbsp;&nbsp;Armory</a>
        </td>
        <td>
            <a href="{% url 'faction:territories' %}"><i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Territories</a>
        </td>
        {% if player.factionAA %}
            <td>
                <a href="{% url 'faction:configurations' %}"><i class="fas fa-key"></i>&nbsp;&nbsp;Configurations</a>
            </td>
        {% endif %}
    </tr>
    </tbody>
</table>
</form>
