{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}



<nav class="navbar navbar-expand-md navbar-light py-0">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#subNavbarSupportedContent" aria-controls="subNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="collapse-section-name>">Categories</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="subNavbarSupportedContent">

      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:chains' %}" title="faction chains"><i class="fas fa-link"></i>&nbsp;Chains</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:attacks' %}" title="faction attacks"><i class="fas fa-crosshairs"></i>&nbsp;Attacks</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:revives' %}" title="faction revives"><i class="fas fa-ambulance"></i>&nbsp;Revives</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:armory' %}" title="faction armory"><i class="fas fa-pills"></i>&nbsp;Armory</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:members' %}" title="faction members"><i class="fas fa-users"></i>&nbsp;Members</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'faction:bigBrother' %}" title="faction big brother"><i class="fas fa-eye"></i>&nbsp;Big Brother</a>
          </div>
        </li>
        {# <li class="nav-item"> #}
          {# <div class="nav-link yt-cat-link"> #}
            {# <a href="{% url 'faction:territories' %}" title="faction territories"><i class="fas fa-map-marked-alt"></i>&nbsp;Territories</a> #}
          {# </div> #}
        {# </li> #}
        {% if player.factionAA %}
            <li class="nav-item">
              <div class="nav-link yt-cat-link">
                <a href="{% url 'faction:simulator' %}" title="faction simulator"><i class="fas fa-project-diagram"></i>&nbsp;Simulator</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link yt-cat-link">
                <a href="{% url 'faction:oc' %}"  title="faction ocs"><i class="fas fa-fingerprint"></i>&nbsp;Organized crimes</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link yt-cat-link">
                <a href="{% url 'faction:spies' %}"  title="faction spies"><i class="fas fa-user-shield"></i>&nbsp;Spies</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link yt-cat-link">
                <a href="{% url 'faction:configurations' %}" title="faction configurations"><i class="fas fa-key"></i>&nbsp;Configurations</a>
              </div>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
