{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center-large tdshadow faction-categories">
    <tbody>
    <tr>
        <td><a href="{% url 'faction:chains' %}"><i class="fa fa-link fa-icon-inline"></i>Chains</a></td>
        <td><a href="{% url 'faction:attacks' %}"><i class="fas fa-crosshairs fa-icon-inline"></i>Attacks</a></td>
        <td><a href="{% url 'faction:walls' %}"><i class="fas fa-shield-alt fa-icon-inline"></i>Walls</a></td>
        <td><a href="{% url 'faction:revives' %}"><i class="fas fa-ambulance fa-icon-inline"></i>Revives</a></td>
        {% if player.factionAA %}
            <td><a href="{% url 'faction:simulator' %}"><i class="fas fa-project-diagram fa-icon-inline"></i>Respect simulator</a></td>
            <td><a href="{% url 'faction:configurations' %}"><i class="fas fa-key fa-icon-inline"></i>Configurations</a></td>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url 'faction:members' %}"><i class="fas fa-users fa-icon-inline"></i>Members</a></td>
        <td>
            <a href="{% url 'faction:bigBrother' %}"><i class="fas fa-eye fa-icon-inline"></i>Big Brother</a>
        </td>
        <td>
            <a href="{% url 'faction:armory' %}"><i class="fas fa-pills fa-icon-inline"></i>Armory</a>
        </td>
        <td>
            <a href="{% url 'faction:territories' %}"><i class="fas fa-map-marked-alt fa-icon-inline"></i>Territories</a>
        </td>
        {% if player.factionAA %}
            <td><a href="{% url 'faction:oc' %}"><i class="fas fa-fingerprint fa-icon-inline"></i>Organized crimes</a></td>
            <td><a href="{% url 'faction:spies' %}"><i class="fas fa-user-shield fa-icon-inline"></i>Spies</a></td>
            {# <td style="opacity: 0.5"><a href="{% url 'faction:fightclub' %}"><i class="fas fa-lock fa-icon-inline"></i>Locked</a></td> #}
        {% endif %}
    </tr>
    </tbody>
</table>
</form>
