{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{# errors #}
{% if apiErrorSub %}
    {% include "yata/error.html" with apiError=apiErrorSub %}
{% endif %}
{% if errorMessageSub %}
    {% include "yata/error.html" with errorMessage=errorMessageSub %}
{% elif apiError %}
    {% include "yata/error.html" %}
{% endif %}
{% if validMessageSub %}
    {% include "yata/error.html" with validMessage=validMessageSub %}
{% endif %}

{# index #}
{% if view.index %}
    {% include "faction/index.html" %}
    {% include "faction/tutorials/index.html" %}
{% endif %}

{# aa #}
{% if view.aa %}
    {% include "faction/aa/index.html" %}
    {% include "faction/tutorials/aa.html" %}
{% endif %}

{# members #}
{% if view.members %}
    {% include "faction/members/index.html" %}
    {% include "faction/tutorials/members.html" %}
{% endif %}

{# chain reports #}
{% if view.report %}
    {% include "faction/chains/report.html" %}
    {# {% include "faction/tutorials/chains.html" %} #}
{% endif %}
{% if view.combined %}
    {% include "faction/chains/combined.html" %}
    {% include "faction/tutorials/chains.html" %}
{% endif %}
{% if view.chains %}
    {% include "faction/chains/index.html" %}
    {% include "faction/tutorials/chains.html" %}
{% endif %}

{# attack reports #}
{% if view.attacksReports %}
    <script>
        $(function () {
            $('input').val(0);
            $('input').prop('checked', false);
        });
    </script>
    {% include "faction/attacks/index.html" %}
    {% include "faction/tutorials/attacks.html" %}
{% endif %}

{% if view.attacksReport %}
    {% include "faction/attacks/report.html" %}
    <script>
        $(function () {
            $('input').val(0);
            $('input').prop('checked', false);
        });
    </script>
    {% if not share %}
        {% include "faction/attacks/index.html" %}
        {% include "faction/tutorials/attacks.html" %}
    {% endif %}
{% endif %}

{# revive reports #}
{% if view.revivesReports %}
    <script>
        $(function () {
            $('input').val(0);
            $('input').prop('checked', false);
        });
    </script>
    {% include "faction/revives/index.html" %}
    {% include "faction/tutorials/revives.html" %}
{% endif %}
{% if view.revivesReport %}
  {% include "faction/revives/report.html" %}
  {% include "faction/tutorials/revives.html" %}
{% endif %}

{# armory #}
{% if view.armory %}
    <script>
        $(function () {
            $('input').val(0);
            $('input').prop('checked', false);
        });
    </script>
    {% include "faction/armory/index.html" %}
    {% include "faction/tutorials/armory.html" %}
{% endif %}
{% if view.armoryReport %}
    {% include "faction/armory/report.html" %}
    {% include "faction/tutorials/armory.html" %}
{% endif %}

{# big brother #}
{% if view.bb %}
    {% include "faction/bigbrother/index.html" %}
    {% include "faction/tutorials/bigbrother.html" %}
{% endif %}

{# territories #}
{% if view.territories %}
    {% include "faction/territories/index.html" %}
    {% include "faction/tutorials/territories.html" %}
{% endif %}

{# respect simulator #}
{% if view.simulator %}
    {% include "faction/simulator/index.html" %}
    {% include "faction/tutorials/simulator.html" %}
{% endif %}

{# organized crimes #}
{% if view.oc %}
    {% include "faction/oc/index.html" %}
    {% include "faction/tutorials/oc.html" %}
{% endif %}

{# organized crimes #}
{% if view.spies %}
    {% include "faction/spies/index.html" %}
    {% include "faction/tutorials/spies.html" %}
{% endif %}
