{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="module rounded">
    <h3>Info</h3>
    <p><b>Faction</b> <i>{{faction}}</i><br>
       <b>AA</b> {% if player.factionAA %}<i class="valid">Yes</i>{% else %}<i class="error">No</i>{% endif %}<br>
   </p>
   <p><h3>Direct links</h3>
        <ul>
            <li><a href="/faction/chains/">Chains</a></li>
            <ul>
                {% for report in reports %}
                    {% if report.live %}
                        <li><a href="/faction/report/{{report.tId}}">Live chain</a> started on {{report.start|ts2date}} ({{report.chain|intcomma}} hits)</li>
                    {% else %}
                        <li><a href="/faction/report/{{report.tId}}">Chain [{{report.tId}}]</a> started on {{report.start|ts2date}} ({{report.chain|intcomma}} hits)</li>
                    {% endif %}
                {% endfor %}
                <li><a href="/faction/report/cmobined">Combined report</li>
            </ul>
            <li><a href="/faction/walls/">Walls</a></li>
            <li><a href="/faction/members/">Members</a></li>
            <li><a href="/faction/configurations/">Configurations</a></li>
        </ul>
    </p>
</div>
