
{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $.tablesorter.addParser({
            // set a unique id
            id: 'dataVal',
            // check if cell value has a numerical value
            is: function(s, table, cell, $cell) {
                return !isNaN($cell.attr("data-val"));
            },
            // format data for normalization
            format: function(s, table, cell, cellIndex) {
                return parseInt($(cell).attr("data-val"));
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $("#faction-bb-comparison").tablesorter({sortList: [[4,1], [2,1]]});

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $('[data-bs-toggle="tooltip"]').tooltip({sanitize: false}).tooltip('show')
    });
</script>

{% if statsList|length %}
<div class="d-flex flex-wrap mb-2">
  <div class="input-group">
    {% if comparison %}
      <span class="input-group-text"><b>{{comparison.3}}</b></span>
    {% else %}
      <span class="input-group-text">Select a challenge</span>
    {% endif %}

    {# first select #}
    <select class="faction-bb-stats-list form-select">
      <option selected disabled hidden>-</option>
      {% for statType, timestamps in statsList.items %}
      <option disabled><i>{{timestamps.0.0}}</i></option>
      {% for name, ts in timestamps %}
      {% if ts == comparison.1 and statType == comparison.0 %}
      <option value="{{statType}}-{{ts}}" selected>{{ts|ts2date}}</option>
      {% else %}
      <option value="{{statType}}-{{ts}}">{{ts|ts2date}}</option>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </select>

    {# second select #}
    {% if comparison %}
    <span class="input-group-text"><i class="fas fa-long-arrow-alt-right"></i></span>
      <select class="faction-bb-stats-list form-select">
          <option selected disabled hidden><i>-</i></option>
          {% for statType, timestamps in statsList.items %}
              {% if statType == comparison.0 %}
                  <option disabled><i>{{timestamps.0.0}}</i></option>
                  {% for name, ts in timestamps %}
                      {% if ts <= comparison.1 %}
                          <option value="{{statType}}-{{comparison.1}}-{{ts}}" disabled><b>{{ts|ts2date}}</option>
                      {% elif ts == comparison.2 %}
                          <option value="{{statType}}-{{comparison.1}}-{{ts}}" selected><b>{{ts|ts2date}}</option>
                      {% else %}
                          <option value="{{statType}}-{{comparison.1}}-{{ts}}"><b>{{ts|ts2date}}</option>
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% endfor %}
      </select>
    {% endif %}
    {% if comparison.2 > 0 %}
      <span class="input-group-text">{{comparison.2|sub:comparison.1|ts2time}}</span>
    {% endif %}

  </div>
</div>

<div class="table-responsive">
<table id="faction-bb-comparison" class="table table-hover table-striped table-borderless tablesorter faction-bb-comparison">
    <thead>
        {% if comparison %}
        <tr>
            <th class="a">Rank</th>
            <th class="b">Name</th>
            <th class="c">
                On {{comparison.1|ts2date}}&nbsp;&nbsp;
                <i class="fas fa-question-circle show-stats" style="cursor: help;" data-val="0"></i>
            </th>
            {% if comparison.2 > 0 %}
                <th class="c">
                    On {{comparison.2|ts2date}}&nbsp;&nbsp;
                    <i class="fas fa-question-circle show-stats" style="cursor: help;" data-val="1" %}></i>
                </th>
                <th class="d">
                    Difference&nbsp;&nbsp;
                    <i class="fas fa-question-circle show-stats" style="cursor: help;" data-val="2" %}></i>
                </th>
            {% else %}
                <th colspan="2">select a second stat</th>
            {% endif %}
        </tr>
        {% endif %}
    </thead>
    {% if comparison %}
    <tbody>
        {% for id, v in contributors %}
          <tr {% if not v.3 %}class="kicked-members"{% endif %}>
              <td class="text-center"><tt>#{{forloop.counter}}</tt></td>
              <td class="text-start">{{v.0|playerURL:id|safe}}</td>
              <td class="text-end">{{v.1|intcomma}}</td>
              {% if comparison.2 > 0 %}
                  <td class="text-end">{{v.2|intcomma}}</td>
                  <td class="text-end">{{v.2|sub:v.1|signColor}}</td>
              {% else %}
                  <td class="text-end"></td>
                  <td class="text-end"></td>
              {% endif %}
          </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
</div>

{% include "faction/bigbrother/statistics.html" with s=statistics.0 key=0%}
{% include "faction/bigbrother/statistics.html" with s=statistics.1 key=1%}
{% include "faction/bigbrother/statistics.html" with s=statistics.2 key=2%}

{% else %}
  <p class="error mb-0">You need to add a challenge entry first...</p>
{% endif %}
