
{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<script>
    $(document).ready(function() {
        $.tablesorter.addParser({
            // set a unique id
            id: 'dataVal',
            // check if cell value has a numerical value
            is: function(s, table, cell, $cell) {
                return !isNaN($cell.attr("data-val"));
            },
            // format data for normalization
            format: function(s, table, cell, cellIndex) {
                return parseInt($(cell).attr("data-val"));
            },
            // set type, either numeric or text
            type: 'numeric'
        });

        $("#faction-bb-comparison").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[4,1], [2,1]]});
    });
</script>

<script src='{% static "thirdparty/js/tooltip.js" %}'></script>

{% if statsList|length %}
<table id="faction-bb-comparison" class="center faction-bb-comparison">
    <thead>
        <tr>
          <th colspan="5">
            {# title of the challenge #}
            {% if comparison %}
              {{comparison.3}} between
            {% endif %}

            {# first select #}
            <select class="faction-bb-stats-list">
              <option selected disabled hidden>Select a challenge and a date</option>
              {% for statType, timestamps in statsList.items %}
              <option disabled><i>{{timestamps.0.0}}</i></option>
              {% for name, ts in timestamps %}
              {% if ts == comparison.1 and statType == comparison.0 %}
              <option value="{{statType}}-{{ts}}" selected>{{ts|ts2date}}</option>
              {% else %}
              <option value="{{statType}}-{{ts}}">{{ts|ts2date}}</option>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </select>

            {# second select #}
            {% if comparison %}
              <span style="margin: 5px;">and</span>
              <select class="faction-bb-stats-list">
                  <option selected disabled hidden><i>Select a second date</i></option>
                  {% for statType, timestamps in statsList.items %}
                      {% if statType == comparison.0 %}
                          <option disabled><i>{{timestamps.0.0}}</i></option>
                          {% for name, ts in timestamps %}
                              {% if ts <= comparison.1 %}
                                  <option value="{{statType}}-{{comparison.1}}-{{ts}}" disabled><b>{{ts|ts2date}}</option>
                              {% elif ts == comparison.2 %}
                                  <option value="{{statType}}-{{comparison.1}}-{{ts}}" selected><b>{{ts|ts2date}}</option>
                              {% else %}
                                  <option value="{{statType}}-{{comparison.1}}-{{ts}}"><b>{{ts|ts2date}}</option>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              </select>
            {% endif %}
            {% if comparison.2 > 0 %}
              <span style="margin: 5px;">(duration: {{comparison.2|sub:comparison.1|ts2time}})</span>
            {% endif %}
            </th>
        </tr>
        {% if comparison %}
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>
                On {{comparison.1|ts2date}}&nbsp;&nbsp;
                <i rel="tooltip" class="fas fa-question-circle" style="cursor: help;" title='{% include "faction/bigbrother/statistics.html" with s=statistics.0%}'></i>
            </th>
            {% if comparison.2 > 0 %}
                <th>
                    On {{comparison.2|ts2date}}&nbsp;&nbsp;
                    <i rel="tooltip" class="fas fa-question-circle" style="cursor: help;" title='{% include "faction/bigbrother/statistics.html" with s=statistics.1%}'></i>
                </th>
                <th>
                    Difference&nbsp;&nbsp;
                    <i rel="tooltip" class="fas fa-question-circle" style="cursor: help;" title='{% include "faction/bigbrother/statistics.html" with s=statistics.2%}'></i>
                </th>
            {% else %}
                <th colspan="2">select a second stat</th>
            {% endif %}
        </tr>
        {% endif %}
    </thead>
    {% if comparison %}
    <tbody>
        {% for id, v in contributors %}
        {% if v.1 and v.2 or not comparison.2 %}
        <tr {% if not v.3 %}class="kicked-members"{% endif %}>
            <td class="a"><tt>#{{forloop.counter}}</tt></td>
            <td class="b">{{v.0|playerURL:id|safe}}</td>
            <td class="c">{{v.1|intcomma}}</td>
            {% if comparison.2 > 0 %}
                <td class="c">{{v.2|intcomma}}</td>
                <td class="d">{{v.2|sub:v.1|signColor}}</td>
            {% else %}
                <td class="c"></td>
                <td class="d"></td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    {% endif %}
</table>

{% else %}
  <p class="error">You need to add a challenge entry first...</p>
{% endif %}
