{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<h2 class="title"><i class="fas fa-code fa-icon-inline"></i>Discord bot and loot API</h2>
<div class="module">
    <p>
    <ul>
        <li>
            There is a bot on the <a href='{% url "discord" %}' target="_blank">YATA discord</a> server that gives notifications when NPC are about to get looted.<br>
        </li>
        <li>
            Read <a href='{% url "api:documentation" %}#loot' target="_blank">the API documentation</a> if you want build a tool for NPC alerts.
        </li>
    </ul>
    </p>
</div>
