{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}

<h2 class="title">Discord bot and loot API</h2>
<div class="module">
    <p><a href="https://discord.gg/tZaYpbG" target="_blank"><img src="https://img.shields.io/discord/581227228537421825?style=for-the-badge&color=%23447e9b&label=yata%20discord%20server&logo=discord&logoColor=FFF" alt="Join the YATA discord" /></a></p>
    <p>Join the <a href="https://discord.gg/tZaYpbG" target="_blank"><i class="fab fa-discord"></i> YATA discord server</a>, there is a bot that gives notifications when NPC are about to get looted. Source code of the bot on <a href="https://github.com/Kivou-2000607/yata-bot" target="_blank"><i class="fab fa-github"></i> github</a>.</p>
    <p>I made a public API to fetch the loot level timings of NPCs: <a href="https://yata.alwaysdata.net/loot/timings/" target="_blank">https://yata.alwaysdata.net/loot/timings/</a></p>
</div>
