{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}


{% if scheduled_attacks|length %}
  <h2 class="title"><i class="far fa-clock fa-icon-inline"></i>Scheduled attacks</h2>
  <div class="module">
    <p>Upvote a scheduled attack if you can participate. After <b>25</b> upvotes, the bot will send alerts to all its servers.</p>
    <ol>
    {% for sa in scheduled_attacks %}
      <li>Attack on <b>{{sa.npc.name}}</b> at <b>{{sa.timestamp|ts2date}} TCT</b> scheduled by {{sa.author}}
        <span class="npc-scheduled-vote" data-npc="{{sa.npc.tId}}" data-ts="{{sa.timestamp}}">
          {% include "loot/vote.html" %}
        </li>
    {% endfor %}
    </ol>
  </div>
{% endif %}

<h2 class="title"><i class="fas fa-user-secret fa-icon-inline"></i>List of NPC</h2>
<div class="module">
    <div class="loot-npc-container">
    {% for npc in NPCs %}
        <div class="loot-npc">
            <div class="loot-npc-profile">
                <img class="profile" src="{{npc.pictureURL}}">
                <div>
                    {{npc.name|playerURL:npc.tId|safe}}
                    {% if npc.currentLevel.lvl %}
                        <div class="hospitalized valid">Loot level {{npc.currentLevel.lvl|lootLevel}}</div>
                    {% else %}
                        <div class="hospitalized error">Hospitalized</div>
                    {% endif %}
                </div>
                <div class="miniloot">
                    <img {% if npc.currentLevel.lvl < 1 %}class="overdue"{% endif %} src="{% static "images/loot/loot1.svg" %}">
                    <img {% if npc.currentLevel.lvl < 2 %}class="overdue"{% endif %} src="{% static "images/loot/loot2.svg" %}">
                    <img {% if npc.currentLevel.lvl < 3 %}class="overdue"{% endif %} src="{% static "images/loot/loot3.svg" %}">
                    <img {% if npc.currentLevel.lvl < 4 %}class="overdue"{% endif %} src="{% static "images/loot/loot4.svg" %}">
                    <img {% if npc.currentLevel.lvl < 5 %}class="overdue"{% endif %} src="{% static "images/loot/loot5.svg" %}">
                </div>
            </div>
            <div class="loot-npc-content">
                {% for k, v in npc.lootTimings.items %}
                    {% if forloop.counter0 %}
                        <p class="loot-level{% if v.due < 0 %} overdue{% endif %}">
                            <b>Loot level {{v.lvl|lootLevel}}</b><br>
                            At {{v.ts|ts2date:"%H:%M:%S"}} TCT <span class="update-timer" data-lts="{{v.ts}}" data-lvl="{{v.lvl}}"><i class="fas fa-spinner fa-pulse"></i></span>
                        </p>
                    {% endif %}
                {% endfor %}
                <p class='loot-level-update'>Last update: {{npc.updateTS|ts2date}} TCT</p>
            </div>
            <div class="loot-npc-schedule">
               <select name="schedule" class="loot-schedule-attack neutral" data-val="{{npc.tId}}">
                <option value="" disabled selected>Schedule an attack on {{npc.name}}</option>
                {% for ts, vote in npc.scheduleTimings.items %}
                  {% if vote %}
                    <option value="" disabled>{{ts|ts2date}} ({{vote}} vote{{vote|pluralize}})</option>
                  {% else %}
                    <option value="{{ts}}">{{ts|ts2date}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
