{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}
{% load app_filters %}

<h3>Loot levels of NPC</h3>
<p>Gives information on loot levels of NPCs.</p>
<h3>API payload looks like</h3>
<pre>
{"{{NPCs.1.tId}}":  // torn Id
    {
        "name": "{{NPCs.1.name}}",  // torn  name
        "hospout": {{NPCs.1.hospitalTS}},  // timestamp of hosp out
        "update": {{NPCs.1.updateTS}},  // timestamp of the payload update
        "status": "{{NPCs.1.status}}",  // status of the npc
        "timings": // timings of the 5 loot levels
            {
                "1":  // loot level 1
                    {
                        "ts": {{NPCs.1.lootTimings.1.ts}}  // timestamp when npc reach this level
                        "due": {{NPCs.1.lootTimings.1.due}},  // number of seconds to this level compared to now
                        "pro": {{NPCs.1.lootTimings.1.pro}},  // progress in % before next level
                    },
                "2": {"ts": {{NPCs.1.lootTimings.2.ts}}, "due": {{NPCs.1.lootTimings.2.due}}, "pro": {{NPCs.1.lootTimings.2.pro}}},
                "3": {"ts": {{NPCs.1.lootTimings.3.ts}}, "due": {{NPCs.1.lootTimings.3.due}}, "pro": {{NPCs.1.lootTimings.3.pro}}},
                "4": {"ts": {{NPCs.1.lootTimings.4.ts}}, "due": {{NPCs.1.lootTimings.4.due}}, "pro": {{NPCs.1.lootTimings.4.pro}}},
                "5": {"ts": {{NPCs.1.lootTimings.5.ts}}, "due": {{NPCs.1.lootTimings.5.due}}, "pro": {{NPCs.1.lootTimings.5.pro}}},
            },
        "levels":  // information on the current/next level
            {
                "current": {{NPCs.1.currentLevel.lvl}},  // current loot level
                "next": {{NPCs.1.nextLevel.lvl}}  // next loot level
            }
    },
}
</pre>
