{% load mathfilters %}

<div id="target-list-reload">

    <script>
            $(document).ready(function() {
                $("#attack-list-table").tablesorter();
            });
    </script>

    <table id="attack-list-table" class="tablesorter chain-report center-large">
        <thead>
            <tr>
                <th>Time</th>
                <!-- <th>Attacker</th> -->
                <th>Defender</th>
                <th>Result</th>
                <th style="text-align: center;">Fair fight</th>
                <th style="text-align: center;">Flat respect</th>
                <th style="text-align: center;">Score</th>
                <th style="text-align: center;">Save target</th>
        </thead>
        <tbody>
        {% for k, v in attacks.items %}
        <tr class="{% if v.flatRespect == 0 %}zero-respect{% endif %} {% if v.modifiers.fairFight == 3 %}max-fair-fight{% elif v.modifiers.fairFight|div:2 > 1 %}good-fair-fight{% endif %} {% if v.bonus %}bonus-attack{% endif %}">
            <td>{{v.endDate}}</td>
            <!-- <td><a href="https://www.torn.com/profiles.php?XID={{v.attacker_id}}" target="_blank"> {{v.attacker_name}} [{{v.attacker_id}}]</a></td> -->
            <td><a href="https://www.torn.com/profiles.php?XID={{v.defender_id}}" target="_blank"> {{v.defender_name}} [{{v.defender_id}}]</a></td>
            <td>{{v.result}}</td>
            {% if v.bonus == 0 %}
                <td style="text-align: center;">{{v.modifiers.fairFight|floatformat:2}}</td>
                <td style="text-align: center;">{{v.flatRespect|floatformat:2}}</td>
                <td style="text-align: center;">{{v.flatRespect|mul:v.modifiers.fairFight|floatformat:2}}</td>
            {% else %}
                <td style="text-align: center;" colspan="3">Bonus: {{v.bonus}}</td>
            {% endif %}
            <td style="text-align: center;">
                <div class="catch-buttons-attack-{{v.defender_id}}">
                    {% include "chain/attacks_reload_buttons.html" with target=v %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
