{% load humanize %}
{% load mathfilters %}
{% load static %}

{% with keys=faction.get_all_pairs %}
    {% if keys|length %}
        <p>There is currently {{keys|length}} key{{keys|length|pluralize}} entered:
            {% for k in keys %}
                {% if forloop.last %}
                    {{k.0}}.
                {% elif forloop.revcounter0 == 1 %}
                    {{k.0}} and
                {% else %}
                    {{k.0}},
                {% endif %}
            {% endfor %}
        </p>
    {% else %}
        <p>There is currently no key entered.</p>
    {% endif %}
{% endwith %}

{%if request.session.chainer.AA %}
    {% if request.session.chainer.keyValue in faction.get_all_keys %}
        <form method="post">{% csrf_token %}
            <p><a class="faction-key-toggle" href="{% url 'chain:toggleFactionKey' %}"><i class="fas fa-key"></i> Remove your key</a></p>
        </form>
    {% else %}
        <form method="post">{% csrf_token %}
            <p><a class="faction-key-toggle" href="{% url 'chain:toggleFactionKey' %}"><i class="fas fa-key"></i> Add your key</a></p>
        </form>
    {% endif %}
{% endif %}
