{% load static %}
{% load mathfilters %}

<h2 id="chain-list" class="title">Target list ({{targets|length}} targets)</h2>
<div class="module whiteBG">
    {% include "chain/targets_reload.html" %}
    <div class="submit-row">
        <form method="post" style="display: inline;">{% csrf_token %}
            <a href=""><input id="targets-refresh-selected" type="submit" class="update-type" value="Refresh selected targets ({{targetsR|length|mul:"2"}} API calls)"></a>
        </form>
        <form method="post" style="display: inline;">{% csrf_token %}
            <a href=""><input id="targets-refresh-all" type="submit" class="update-type" value="Refresh all targets ({{targets|length|mul:"2"}} API calls)"></a>
        </form>
    </div>
</div>


<h2 id="chain-list" class="title">List of latest attacks</h2>
<div class="module whiteBG">
    {% include "chain/attacks_reload.html" %}
    <div class="submit-row">
        <a href={% url 'chain:targets' %}><input type="submit" class="update-type" value="Refresh latest attack list (1 API call)"></a>
    </div>
</div>

<h2 class="title greyTitle"><img src={% static "images/tutorial.png" %} alt="help"> Target and attack lists</h2>
<div class="module whiteBG justTxt">
    <p>The target list shows results of the latest attack made against the player.</p>
    <p>The list of recent attacks is created when the page is loaded. Refresh the page to refresh the list.</p>
    <p><b>Warning: </b> refreshing a target cost 2 API calls. Think twice before refreshing the full list.</p>
</div>
