{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load static %}
{% load app_filters %}


<span style="display: none;" data-mul="{{v.description.1.0}}" data-uni="{{v.description.2.0}}" data-lvl="0" class="merits-button le"></span>

{% for i in '0123456789'|make_list %}
    {% if forloop.counter > v.level %}
        <span data-mul="{{v.description.1.0}}"
              data-uni="{{v.description.2.0}}"
              data-mul2="{{v.description.1.1}}"
              data-uni2="{{v.description.2.1}}"
              data-lvl="{{forloop.counter}}"
              class="merits-button{% if forloop.counter <= v.fix%} del{% endif%} gt"></span>
    {% else %}
        <span data-mul="{{v.description.1.0}}"
              data-uni="{{v.description.2.0}}"
              data-mul2="{{v.description.1.1}}"
              data-uni2="{{v.description.2.1}}"
              data-lvl="{{forloop.counter}}"
              class="merits-button{% if forloop.counter <= v.fix%} fix{% endif%} le"></span>
    {% endif %}
{% endfor %}
