{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

{% if company_details %}

<script>

    $(document).ready(function () {
        $("#company-details-positions").tablesorter({
            textExtraction: {
                0: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                1: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                2: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                3: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                4: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                5: function (node, table, cellIndex) { return $(node).attr("data-val"); },
                6: function (node, table, cellIndex) { return $(node).attr("data-val"); },
            },
            sortList: [[0, 1]]
        });
    });

    $(document).ready(function () {
        $("#company-details-specials").tablesorter({
            textExtraction: {
                3: function (node, table, cellIndex) { return $(node).attr("data-val"); },
            },
            sortList: [[3, 0]]
        });
    });

    $(document).ready(function () {
        $("#company-details-stocks").tablesorter({sortList: [[2, 0]]});
    });

    $(document).ready(function () {
      // inject spinner
      $("#company-list").html('<div style="text-align: center;">'+spinner+'</div>');
      // call backend for company list
      $("#company-list").load("/company/browse/companies/", {
          company_id: $("#company-id").attr("data-val"),
          csrfmiddlewaretoken: getCookie("csrftoken")
      });
    });

</script>

<div id="company-id" data-val="{{company_details.tId}}" hidden></div>
<h2 class="title rounded-top px-2 py-2">
    <div class="d-flex flex-wrap align-items-center">
      <div class="px-2 me-auto">
        <i class="fas fa-building"></i>&nbsp;{{company_details.name}} [{{company_details.tId}}]
      </div>
    </div>


</h2>
<div class="container-fluid p-md-3 p-1 mb-3 module">
    <h3>Companies</h3>
    <div id="company-list" class="pagination-list">
      {# include company list dynamically with js #}
    </div>

    <h3>Positions</h3>
    <div class="table-responsive mb-3">

    <table id="company-details-positions" class="table table-hover table-striped table-borderless tablesorter company-details-positions">
        <thead>
            <tr>
                <th class="a">Name</th>
                <th class="b">MAN required</th>
                <th class="b">INT required</th>
                <th class="b">END required</th>
                <th class="c">MAN gain</th>
                <th class="c">INT gain</th>
                <th class="c">END gain</th>
                <th class="d">Special Ability</th>
                <th class="e">Description</th>
            </tr>
        </thead>
        <tbody>
            {% with company_details.position_set.all as positions %}
                {% for position in positions %}
                    <tr>
                        <td class="text-start" data-val="{{position.man_required|add:position.int_required|add:position.end_required}}">{{position.name}}</td>
                        <td class="text-center" data-val="{{position.man_required}}">{{position.man_required|workstats:player.wman}}</td>
                        <td class="text-center" data-val="{{position.int_required}}">{{position.int_required|workstats:player.wint}}</td>
                        <td class="text-center" data-val="{{position.end_required}}">{{position.end_required|workstats:player.wend}}</td>
                        <td class="text-center" data-val="{{position.man_gain}}">{% workgains position.man_gain player.wman position.man_required %}</td>
                        <td class="text-center" data-val="{{position.int_gain}}">{% workgains position.int_gain player.wint position.int_required %}</td>
                        <td class="text-center" data-val="{{position.end_gain}}">{% workgains position.end_gain player.wend position.end_required %}</td>
                        <td class="text-start" data-val="{{position.special_ability}}">{{position.special_ability}}</td>
                        <td class="text-start" title="{{position.description}}">{{position.description}}</td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>
  </div>


  <h3>Specials</h3>
  <div class="table-responsive mb-3">
    <table id="company-details-specials" class="table table-hover table-striped table-borderless tablesorter company-details-specials">
        <thead>
            <tr>
                <th class="a">Name</th>
                <th class="b">effect</th>
                <th class="c">Job Points</th>
                <th class="d">Rating Required</th>
            </tr>
        </thead>
        <tbody>
            {% with company_details.special_set.all as specials %}
                {% for special in specials %}
                    <tr>
                        <td class="text-start">{{special.name}}</td>
                        <td class="text-start">{{special.effect}}</td>
                        <td class="text-center">{{special.cost|compjp}}</td>
                        <td class="text-center" data-val="{{special.rating_required}}">{{special.rating_required|compstars}}</td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>
  </div>

  <h3>Stocks</h3>
  <div class="table-responsive mb-3">
    <table id="company-details-stocks" class="table table-hover table-striped table-borderless tablesorter company-details-stocks">
        <thead>
            <tr>
                <th class="a">Name</th>
                <th class="b">Cost</th>
                <th class="c">RRP</th>
            </tr>
        </thead>
        <tbody>
            {% with company_details.stock_set.all as stocks %}
                {% for stock in stocks %}
                    <tr>
                        <td class="text-start">{{stock.name}}</td>
                        <td class="text-center">{{stock.cost|compprice}}</td>
                        <td class="text-center">{{stock.rrp|intcomma}}</td>
                    </tr>
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>
  </div>
</div>
{% else %}
  <h2 class="title rounded-top py-2 px-3">
    <div class="row justify-content-between">
      <div class="col"><i class="fas fa-building"></i>&nbsp;Select a company</div>
    </div>
  </h2>
  <div class="container-fluid p-md-3 p-1 mb-3 module">
    <p class="mb-0">
      Select a company from the list above to see its details.
    </p>
  </div>
{% endif %}
