{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<div class="module rounded">
    <form id="company-select-form">
        <label for="company-select-form">Select a company:</label>
        <select name="companies" id="companies" form="company-select-form">
            <option value="" disabled selected>List of all companies</option>
            {% for company in companies %}
                {{company.name}}<br>
                <option value="{{company.tId}}">{{company.name}}</option>
            {% endfor %}
        </select>
    </form>
</div>

<div id="company-details">
    {% include "company/browse/details.html" %}
</div>
