{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}

<div class="module rounded">
    {% if player.companyId %}
      <p>You are currently working in <a href="https://www.torn.com/joblist.php#?p=corpinfo&ID={{player.companyId}}" target="_blank">{{player.companyNa|safe}}.</a></p>
      <p>Checkout <span class="neutral">supervise</span> to see the details of your company.</p>
    {% else %}
      <p class="warning">You are not currently working in a company.</p>
      <p>Checkout <span class="neutral">browse</span> to see the details of all companies.</p>
    {% endif %}
</div>
