{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- load fontawesome -->
    <!-- https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "admin/css/forms.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/base.css" %} />

    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/items/268/small.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>YATA - Error 500</title>
</head>

<body>
    <div id="container" style="margin-top: 20px;">
        <div id="content">
            <h1>{% include "svg/yata.full.svg" %}</h1>

            <h2 class="title"><i class="fas fa-bomb"></i>&nbsp;&nbsp;Error 500: Server Error</h2>
            <div class="module">
                <p>This is not normal.
                Please contact {{"Kivou"|playerURL:"2000607"|safe}} and copy paste this message:</p>
                <pre>{{exception}}</pre>
                {% if home %}
                    <p><a class="valid" href="{% url 'index' %}"><i class="fas fa-home"></i>&nbsp; Home</a></p>
                {% endif %}
            </div>

        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
