{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- load fontawesome -->
    <link href='{% static "thirdparty/fontawesome-free-5.13.0-web/css/all.css" %}' rel="stylesheet"> <!--load all styles -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/base.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/forms.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "perso/css/base.css" %}' />

    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/icon.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>YATA - Error 500</title>
</head>

<body>
    <div id="container">
        <div id="content">
            <div id="yata-login">
                <div class="module">
                    <a class="yata-logo" href="{% url 'index' %}" title="Home">{% include "svg/yata.full.svg" %}</a>
                    <div class="http-status">
                        <h2 class="error"><i class="fas fa-bomb fa-icon-inline"></i>Error 500: Server Error</h2>
                        <p>This is not normal.
                        Please check if a similar issue has been reported:
                        <ul>
                            <li>On the <a href='{% url "discord" %}' target="_blank">discord server</a> in <tt>#bug-and-issues</tt>.</li>
                            <li>On the <a href="https://www.torn.com/forums.php#/p=threads&f=67&t=16100118" target="_blank">forum thread</a>.
                        </ul>
                        And if not please report the error by copy pasting the following:
                        </p>
                        <pre>{{exception}}</pre>
                        Please don't PM {{"Kivou"|playerURL:"2000607"|safe}}.
                    </div>
                </div>
            </div>
        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
