{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/awards.css" %} />
{% endblock%}

{% block title%}
    - Awards
{% endblock %}

{% block jquery %}
<script type="text/javascript" src='{% static "perso/js/awards/awards.js" %}'></script>
{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "awards/content-reload.html" %}
    </div>

    <div class="catch-me">
        <h2 class="title grey toggle-display rounded"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
        <div class="module tutorial" style="display: none;">
            {% include "awards/tutorial.html" %}
        </div>
    </div>
{% endblock %}
