{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!doctype html>
{% load static %}
{% load i18n %}
{% load app_filters %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <!-- meta  -->
  <meta charset="UTF-8">
  <meta name="robots" content="NONE,NOARCHIVE" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block meta%}{% endblock %}

  <!-- load fontawesome -->
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

  <!-- yata main css -->
  {% if request.session.dark %}
    <link rel="stylesheet" type="text/css" href='{% static "yata/css/css-vars-dark.css" %}' />
  {% else %}
    <link rel="stylesheet" type="text/css" href='{% static "yata/css/css-vars-light.css" %}' />
  {% endif %}
  <link rel="stylesheet" type="text/css" href='{% static "yata/css/base.css" %}' />

  <!-- tab -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>YATA{% block title%}{% endblock%}</title>
</head>

<body>
  <header class="px-md-5">
    <div class="module mb-3">
      <div class="d-flex">
        <div class="m-3">
          <a class="navbar-brand" href="/" title="Home">
            {% include "svg/yata.full.svg" %}
          </a>
        </div>
        <div class="m-3">
          {% block text %}{% endblock %}
        </div>
      </div>
    </div>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
