{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

<style>

td { text-align: center; padding: 0px 5px; }
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #999;
  padding: 2px 5px;
}
</style>

<html>
<p><a href="https://github.com/Kivou-2000607/gym-formula/raw/master/js/gym.user.js">install script</a> - <a href="?export=json">export json</a></p>
<p>
  trains: {{info.n_trains|intcomma}} <br>
  users: {{info.n_users|intcomma}}
</p>

<table>
    <thead>
      <tr><td colspan="5" style="text-align: center;">
            <span class="step-links">
                {% if users.has_previous %}
                    <a class="page-link" href="?p_users=1">&laquo; first</a>
                    <a class="page-link" href="?p_users={{ users.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    {{ users.number }}/{{ users.paginator.num_pages }}
                </span>

                {% if users.has_next %}
                    <a class="page-link" href="?p_users={{ users.next_page_number }}">next</a>
                    <a class="page-link" href="?p_users={{ users.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
          </td>
      </tr>
      <tr>
        <td>ID key</td>
        <td>#train</td>
        <td>abs diff (std)</td>
        <td>energy</td>
        <td>happy</td>
      </tr>
    </thead>

    <tbody>
      {% for k, user in users %}
        <tr>
          <td>{{k}}</td>
          <td>{{user.n|intcomma}}</td>
          <td>{{user.mean|floatformat:2}} ({{user.std|floatformat:2}})</td>
          <td>{{user.energy|floatformat:2}}</td>
          <td>{{user.happy|floatformat:2}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

<hr>

<table>

  <thead>
      <tr><td colspan="22" style="text-align: center;">
            <span class="step-links">
                {% if trains.has_previous %}
                    <a class="page-link" href="?p_trains=1">&laquo; first</a>
                    <a class="page-link" href="?p_trains={{ trains.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    {{ trains.number }}/{{ trains.paginator.num_pages }}
                </span>

                {% if trains.has_next %}
                    <a class="page-link" href="?p_trains={{ trains.next_page_number }}">next</a>
                    <a class="page-link" href="?p_trains={{ trains.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
          </td>
      </tr>

      <tr>
        <th title="pk">pk</th>
        <th title="id_key">key</th>
        <th title="timestamp">ts</th>
        <th title="time_diff">cache</th>
        <th title="happy_before">h before</th>
        <th title="happy_after">h after</th>
        <th title="happy_delta">h drop</th>
        <th title="energy_used">e</th>
        <th title="stat_type">stat</th>
        <th title="stat_before">stat before</th>
        <th title="stat_after">stat after</th>
        <th title="stat_delta">stat diff</th>
        <th title="Vladar diff">vladar diff</th>
        <th title="Current diff">current diff</th>
        <th title="gym_id">gym id</th>
        <th title="gym_dot">gym dot</th>
        <th title="perks_faction">fac</th>
        <th title="perks_property">pro</th>
        <th title="perks_education_stat">edu1</th>
        <th title="perks_education_all">edu2</th>
        <th title="perks_company">comp</th>
        <th title="perks_gym_book">gym book</th>
      </tr>
  </thead>

  <tbody>
    {% for train in trains %}
    {%if train.current_diff > 1000 or train.current_diff < -1000%}
      <tr style="color: #d00; font-weight: bold;">
    {%elif train.current_diff > 100 or train.current_diff < -100%}
      <tr style="color: #d30;">
    {%else%}
      <tr>
    {%endif%}
      <td>{{train.pk}}</td>
      <td>{{train.id_key}}</td>
      <td title="{{train.timestamp|ts2date}}">{{train.timestamp}}</td>
      <td>{{train.time_diff}}</td>
      <td>{{train.happy_before}}</td>
      <td>{{train.happy_after}}</td>
      <td>{{train.happy_delta}}</td>
      <td>{{train.energy_used}}</td>
      <td>{{train.stat_type}}</td>
      <td>{{train.stat_before|intcomma}}</td>
      <td>{{train.stat_after|intcomma}}</td>
      <td>{{train.stat_delta|intcomma}}</td>
      <td>{{train.vladar_diff|floatformat:2}}</td>
      <td>{{train.current_diff|floatformat:2}}</td>
      <td>{{train.gym_id}}</td>
      <td>{{train.gym_dot}}</td>
      <td>{{train.perks_faction}}</td>
      <td>{{train.perks_property}}</td>
      <td>{{train.perks_education_stat}}</td>
      <td>{{train.perks_education_all}}</td>
      <td>{{train.perks_company}}</td>
      <td>{{train.perks_gym_book}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</html>
