{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/chain.css" %} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

{% endblock%}

{% block title%}
    - Chain
{% endblock %}

{% block jquery %}
{# for date picker #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script>
    // update history on load
    const afterLoad = (r,s,x) =>{
        window.history.pushState(null, document.title, x.url);
    };

    // parse cookie
    const getCookie = (s)=>{
        let parse=RegExp(""+s+"[^;]+").exec(document.cookie);
        return decodeURIComponent(!!parse ? parse.toString().replace(/^[^=]+./,"") : "");
    };

    //Store repeated html string (spinner)
    const spinner = '<i class="fas fa-spinner fa-pulse"></i>';

    // nav links
    $(document).on('click', 'table.chain-categories td', e=>{
        e.preventDefault();
        var l = $(e.currentTarget).children("a").attr("href").split("/")[2];
        $( "#content-update" ).load( "/chain/"+l+"/", {
            csrfmiddlewaretoken: getCookie("csrftoken")
        },afterLoad);
        let apiCalls = "";
        if (l == "jointReport" || l == "live" || l == "members")
            apiCalls = " (1 API call)";
        else if (l == "list")
            apiCalls = " (1 API call if AA)";
        $("#content-update h2").addClass("grey").html(spinner+'&nbsp;&nbsp;Loading '+l+apiCalls)
        $("div.error").hide();
    });

    // see report from list button
    $(document).on('click', '.chain-report-see-list', e=>{
        e.preventDefault();
        var chainId = e.currentTarget.href.split("/").pop();
        $( "#content-update" ).load( "/chain/report/"+chainId, {
            chainId: chainId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        },afterLoad);
        $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Loading report '+chainId);
    });

    // refresh/create report from list button
    $(document).on('click', '.chain-report-refresh-list', e=>{
        e.preventDefault();
        var chainId = e.currentTarget.href.split("/").pop();
        $("#catch-buttons-"+chainId).load( "/chain/createReport/"+chainId, {
            chainId: chainId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        },afterLoad).html(spinner);
    });

    // delete report from list button
    $(document).on('click', '.chain-report-delete-list', e=>{
        e.preventDefault();
        var chainId = e.currentTarget.href.split("/").pop();;
        $("#catch-buttons-"+chainId).load( "/chain/deleteReport/"+chainId, {
            chainId: chainId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        },afterLoad).html(spinner);
    });

    // toggle report from list button
    $(document).on('click', '.chain-report-toggle-list', e=>{
        e.preventDefault();
        var chainId = e.currentTarget.href.split("/").pop();
        $("#catch-buttons-"+chainId).load( "/chain/toggleReport/"+chainId, {
            chainId: chainId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        },afterLoad).html(spinner);
    });

    // toggle zero-hits
    $(document).on('click', '#toggle-zero-hits', e=>{
        e.preventDefault();
        $(".zero-hits").slideToggle('fast').promise().done(()=>{
            $("#zero-hits-icon").toggleClass("fa-toggle-on fa-toggle-off");
        });
    });

    // toggle non-members
    $(document).on('click', '#toggle-kicked-members', e=>{
        e.preventDefault();
        $(".kicked-members").slideToggle('fast').promise().done(()=>{
            $("#kicked-members-icon").toggleClass("fa-toggle-on fa-toggle-off");
        });
    });

    // show individual report
    $(document).on('click', 'tr[id^="chain-ireport-"] > td:not(.dont-touch-me)', e=>{
        e.preventDefault();
        var splt = $(e.currentTarget).closest("tr").attr("id").split("-");
        var memberId = splt.pop();
        var chainId = splt.pop();
        if( !$( "#individal-report-"+memberId ).length ) {
            $('<tr id="individal-report-'+memberId+'"></tr>').insertAfter($(e.currentTarget).closest('tr'));
        }
        $("#individal-report-"+memberId).load( "/chain/renderIndividualReport/", {
            chainId: chainId,
            memberId: memberId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="12" style="text-align: center;">'+spinner+'</td>');
    });

    // close individual report
    $(document).on('click', '[id^="individal-report-"]', e=>{
        e.preventDefault();
        $(e.currentTarget).html("");
    });

    // toggle key in aa
    $(document).on('click', '.chain-aa-toggle-key', e=>{
        e.preventDefault();
        var id = e.currentTarget.href.split("/").pop();
        $(e.currentTarget).parents("tr").load( "/chain/toggleKey/"+id, {
            id: id,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="3" style="text-align: center;">'+spinner+'</td>');
    });

    // change chain threshold in aa
    $(document).on('change', '#chain-aa-change-threshold', e=>{
        e.preventDefault();
        var reload = $(e.currentTarget);
        var threshold = reload.children("p").children("select").val();
        reload.load( "/chain/chainThreshold/", {
            threshold: threshold,
            csrfmiddlewaretoken: getCookie("csrftoken")
        });
        // reload.html('<td colspan="3" style="text-align: center;"><i class="fas fa-spinner fa-pulse"></i></td>');
    });

    // toggle faction poster in aa
    $(document).on('click', '#chain-aa-toggle-poster', e=>{
        e.preventDefault();
        $(e.currentTarget).parents("form").load( "/chain/togglePoster/", {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="3" style="text-align: center;">'+spinner+'</td>');
    });

    // toggle faction poster hold in aa
    $(document).on('click', '#chain-aa-toggle-poster-hold', e=>{
        e.preventDefault();
        $(e.currentTarget).parents("form").load( "/chain/togglePosterHold/", {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="3" style="text-align: center;">'+spinner+'</td>');
    });

    // toggle live report creation
    $(document).on('click', '#chain-live-toggle-creation', function(e){
        e.preventDefault();
        var reload = $(this).parents("form");
        reload.load( "/chain/toggleLiveReport/", {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<i class="fas fa-spinner fa-pulse"></i>');
    });


    // faction tree
    $(document).on('change', '[id^="chain-tree-"]', e=>{
        e.preventDefault();
        var v = $(e.currentTarget).val();
        var id = $(e.currentTarget).attr("id").split("-");
        var p = id.pop();
        var t = id.pop();
        $( "#content-update" ).load( "/chain/tree/", {
            t: t, p: p, v: v,
            csrfmiddlewaretoken: getCookie("csrftoken")
        });
        $("#content-update h2").addClass("grey").html(spinner+'&nbsp;&nbsp;Creating new image');
    });

    // toggle armory record
    $(document).on('click', '#chain-armory-record', e=>{
        e.preventDefault();
        $(e.currentTarget).closest("table").load( "/chain/toggleArmoryRecord/", {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="2" style="text-align: center;">'+spinner+'</td>');
    });

    // reset armory record
    $(document).on('click', '#chain-armory-reset', e=>{
        e.preventDefault();
        $(e.currentTarget).closest("table").load( "/chain/resetArmoryRecord/", {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="2" style="text-align: center;">'+spinner+'</td>');
    });

    // drop down armory record
    $(document).on('click', '.chain-armory-toggle-view', e=>{
        e.preventDefault();
        $(e.currentTarget).next("table").slideToggle("fast", ()=>{
            $(e.currentTarget).find("i.fa-caret-right").toggleClass("fa-rotate-90");
        });
    });

    // refresh timer target update
    window.setInterval(()=>{
        $(".timeout").each(e=>{
            var timeRefresh = $.trim($(e.currentTarget).text());
            var splitRefresh = timeRefresh.split(" ");
            var sRefresh = 0;
            if (splitRefresh.length == 2) {
                sRefresh = parseInt(splitRefresh[0]);
            } else if (splitRefresh.length == 4) {
                sRefresh = parseInt(splitRefresh[2]) + 60 * parseInt(splitRefresh[0]);
            } else if (splitRefresh.length == 6) {
                sRefresh = parseInt(splitRefresh[4]) + 60 * parseInt(splitRefresh[2]) + 3600 * parseInt(splitRefresh[0]);
            }

            sRefresh = sRefresh-1;
            mRefresh = Math.floor(sRefresh / 60);
            sRefresh = sRefresh % 60;
            if (mRefresh) {
                spad = ("0"+sRefresh.toString()).slice(-2);
                $(e.currentTarget).html(''+mRefresh+" mins "+spad+" s");
            } else {
                $(e.currentTarget).html(''+sRefresh+" s");
                if(!sRefresh)
                    $(e.currentTarget).removeClass("timeout");
            }
        });
    }, 1000);

    // refresh live chain
    // window.setInterval(()=>{
    //     $("#refresh-live-chain").each(()=>{
    //         $( "#content-update" ).load( "/chain/live/", {
    //             csrfmiddlewaretoken: getCookie("csrftoken"),
    //         });
    //         $("#content-update h2").html(spinner+'&nbsp;&nbsp;Loading live chain (1 API Call)').addClass("grey");
    //         $("div.error").hide();
    //     });
    // }, 60000);

    // delete wall from list
    $(document).on('click', '.wall-delete', e=>{
        e.preventDefault();
        $(e.currentTarget).parents("tr").load( e.currentTarget.href, {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="8" style="text-align: center;">'+spinner+'</td>');
    });

    // toggle wall from list
    $(document).on('click', '.wall-toggle', e=>{
        e.preventDefault();
        $(e.currentTarget).parents("tr").load( e.currentTarget.href, {
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="8" style="text-align: center;">'+spinner+'</td>');
    });

    // modify upgrade tree
    $(document).on('change', 'select[id^="simu-tree-"]', e=>{
        e.preventDefault();
        var splt = $(e.currentTarget).attr("id").split("-");

        var modification = splt.pop()
        var branchId = splt.pop();

        var value = $(e.currentTarget.selectedOptions).attr("value");

        $("#faction-upgrade-tree").load( "/chain/respectSimulator/", {
            change: true,
            modification: modification,
            branchId: branchId,
            value: value,
            csrfmiddlewaretoken: getCookie("csrftoken")
        });
    });

    // reset upgrade tree
    $(document).on('click', '#faction-tree-reset', e=>{
        e.preventDefault();
        $("#faction-upgrade-tree").load( "/chain/respectSimulator/", {
            change: true,
            reset: true,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html(spinner);
    });

    // show/hide upgrades details
    $(document).on('click', '.show-upgrade-details', e=>{
        e.preventDefault();
        $(e.currentTarget.parentElement.nextElementSibling).slideToggle();
    });

    // big brother
    $(document).on('change', '.faction-bb-stats-list', e=>{
        e.preventDefault();
        var splt = $(e.currentTarget).val().split("-");
        console.log(splt);
        if(splt.length == 2) {
            var tsB = 0;
            var tsA = splt.pop();
            var type = splt.pop();
        } else if (splt.length == 3) {
            var tsB = splt.pop();
            var tsA = splt.pop();
            var type = splt.pop();
        }

        $("#faction-big-brother-table").load( "/chain/bigBrother/", {
            tsA: tsA,
            tsB: tsB,
            name: type,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html(spinner);
    });

    // big brother add
    $(document).on('change', '.faction-bb-enter-challenge', e=>{
        e.preventDefault();
        var add = $(e.currentTarget).val();
        $("#content-update").load( "/chain/bigBrother/", {
            add: add,
            csrfmiddlewaretoken: getCookie("csrftoken")
        });
        $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Adding challenge '+add);


    });

    // big brother remove
    $(document).on('click', '.faction-bb-delete', e=>{
        e.preventDefault();
        var splt = $(e.currentTarget).attr("data-val").split("-");
        var tr = $(e.currentTarget).parents("tr");

        tr.load( "/chain/removeUpgrade/", {
            ts: splt.pop(),
            name: splt.pop(),
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).remove();

    });

    // toggle member shareE
    $(document).on('click', '.chain-member-shareE', e=>{
        e.preventDefault();
        var td = $(e.currentTarget.offsetParent);
        td.load( "/chain/toggleMemberShare/", {
            type: "energy",
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html(spinner);
    });

    // toggle member shareN
    $(document).on('click', '.chain-member-shareN', e=>{
        e.preventDefault();
        var td = $(e.currentTarget.offsetParent);
        td.load( "/chain/toggleMemberShare/", {
            type: "nerve",
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html(spinner);
    });

    // refresh member from member list by clicking on the row
    $(document).on('click', 'tr.chain-member-refresh > td:not(.dont-touch-me)', function(e){
        e.preventDefault();
        var reload = $(this).closest("tr");
        var memberId = reload.attr("data-val");
        reload.load( "/chain/updateMember/", {
            memberId: memberId,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }).html('<td colspan="6" style="text-align: center;">'+spinner+'</td>');
    });

    // refresh all members from member list by clicking on title refresh button
    $(document).on('click', '#member-refresh', function(e){
        e.preventDefault();
        var i=0;
        $("#chain-members").find('tr.chain-member-refresh').each(function() {
            var reload = $(this);
            var memberId = reload.attr("data-val");
            var wait = 0;
            if(i) { wait = 1000; }
            (function(index) {
                setTimeout(function() {
                    reload.load( "/chain/updateMember/", {
                        memberId: memberId,
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    }).html('<td colspan="6" style="text-align: center;">'+spinner+'</td>');
                }, wait);
            })(i);
            i++;
        });
    });

    // share revive report
    $(document).on('click', '.contract-toggle-faction', e=>{
        e.preventDefault();
        var splt = e.currentTarget.id.split("-");
        var factionId = splt.pop();
        var contractId = splt.pop();
        var type = splt.pop();
        var reload = $(e.currentTarget).closest("td");
        $( "#content-update" ).load( "/chain/contract/"+contractId, {
            contractId: contractId,
            factionId: factionId,
            type: type,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }, afterLoad);
        $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Adding contract ');
    });

    // share revive report
    $(document).on('click', '.attacks-toggle-faction', e=>{
        e.preventDefault();
        var splt = e.currentTarget.id.split("-");
        var factionId = splt.pop();
        var contractId = splt.pop();
        var type = splt.pop();
        var reload = $(e.currentTarget).closest("td");
        $( "#content-update" ).load( "/chain/attacks/", {
            contractId: contractId,
            factionId: factionId,
            type: type,
            csrfmiddlewaretoken: getCookie("csrftoken")
        }, afterLoad);
        $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Prout ');
    });

    // show hide attack breakdown list
    $(document).on('click', '.attacks-breakdown-see-all', e=>{
        e.preventDefault();
        var tr = $(e.currentTarget);
        tr.parents("table").find("tr.hidden").toggle();
        if (tr.find("i").hasClass("fa-eye")) {
          tr.find("td").html('Hide small contributions&nbsp;&nbsp;<i class="far fa-eye-slash"></i>')
        } else {
          tr.find("td").html('Show all&nbsp;&nbsp;<i class="far fa-eye"></i>')
        }

    });

</script>
{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "chain/content-reload.html" %}
    </div>

    <div class="catch-me">
        <h2 class="title grey toggle-display rounded"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
        <div class="module tutorial" style="display: none;">
            {% include "chain/tutorial.html" %}
            {% include "chain/tutorial-aa.html" %}
        </div>
    </div>
{% endblock %}
