<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- load jquery from https://code.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "admin/css/forms.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/base.css" %} />

    <!-- jquery module to sort tables from http://tablesorter.com -->
    <script type="text/javascript" src={% static "perso/js/jquery.tablesorter.min.js" %}></script>

    <!-- scripts jquery perso -->
    <script>
        $(document).on('click', '.update-key', function(e){
            e.preventDefault();
            var key = $("#key-value").val();
            var check = $("#key-check-remember").is(':checked');
            var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            $( "#api-key" ).html('<h2 class="title">Connecting to API</h2><div class="module whiteBG justTxt"><img src="https://www.torn.com/images/v2/main/ajax-loader.gif" alt="loader"/></div>');
            $( "#api-key" ).load( "{% url 'chain:updateKey' %}", {
                keyValue: key,
                html: "login",
                rememberSession: check,
                csrfmiddlewaretoken: csrf,
            });
        });


        $(document).ready(function() {
            $("#chain-report-hits").tablesorter();
            $("#chain-report-list").tablesorter();
            $("#chain-members").tablesorter();
        });

        $(document).ready(function() {
            $("#chain-report-list").tablesorter( {sortList: [[0,1]]} );
            $("#chain-members").tablesorter( {sortList: [[2,1], [0,0]]} );
        });


    </script>


    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/items/268/small.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>Yet Another Torn App</title>
</head>

<body>
    <div id="details"></div>

    <div id="container">
        <div id="content">
            <h1><b>Y</b>et <b>A</b>nother <b>T</b>orn <b>A</b>pp</h1>
            <p><b>Chain reports</b>: who's been a good chainer?</p>
            <br />

            {% if onTheFlyMessage %}
                <div class="module">
                    <div class="errornote validnote">
                        <ul>
                        {% for message  in onTheFlyMessage %}
                            <li>{{message}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}


            <div id="api-key">
                {% include "chain/login.html" %}
            </div>

            {% if view.liveReport %}
                <div id="chain-live">
                    {% include "chain/live.html" %}
                </div>
            {% endif %}

            {% if view.report %}
                <div id="chain-report">
                    {% include "chain/report.html" %}
                </div>
            {% endif %}

            {% if view.jointReport %}
                <div id="chain-report">
                    {% include "chain/jreport.html" %}
                </div>
            {% endif %}

            {% if view.list %}
                <div id="list-chains">
                    {% include "chain/list.html" %}
                </div>
            {% endif %}

            {% if view.members %}
                <div id="faction-members">
                    {% include "chain/members.html" %}
                </div>
            {% endif %}

        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
