<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "admin/css/forms.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/base.css" %} />

    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/items/268/small.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>Yet Another Torn App</title>
</head>

<body>
    <div id="container">
        <div id="content">
            <h1><b>Y</b>et <b>A</b>nother <b>T</b>orn <b>A</b>pp</h1>
            <input type="hidden" id="view-byType" value="{{view.byType}}">
            <input type="hidden" id="view-refreshAll" value="{{view.refreshAll}}">

                <h2 class="title">Details of item {{item.tId}}</h2>
                <div class="module whiteBG">
                    <div class="justTxt">
                    <button>{{item.display_image}}</button>
                    <h3>{{item.tName}} ({{item.tType}})</h3>
                    <h3>Market value: ${{item.tMarketValue|intcomma}}</h3>
                    <h3>Description:</h3>
                    <p>{{item.tDescription}}</p>
                    </div>

                    <div class="submit-row">
                        <a href=".."><input type="submit" class="update-key" value="Go back to bazaar overview"></a>
                    </div>

                </div>
            </div>

        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
