<!DOCTYPE html>
{% load static %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "admin/css/forms.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/base.css" %} />
</head>

<body>

    <div id="container">
        <div id="content">

            {% if apiError %}
                <br>
                <div class="module">
                    <div class="errornote">
                        {{apiError}}
                    </div>
                </div>
            {% endif %}

            {% if errorMessage %}
                <br>
                <div class="module">
                    <div class="errornote">
                        {{errorMessage}}
                    </div>
                </div>
            {% endif %}

        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
