{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/faction.css" %} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
{% endblock%}

{% block title%}
    - Faction
{% endblock %}

{% block jquery %}
{# for date picker #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script>
    {% include "faction/script.js" %}
    {% include "faction/aa/script.js" %}
    {% include "faction/attacks/script.js" %}
    {% include "faction/chains/script.js" %}
    {% include "faction/members/script.js" %}
    {% include "faction/walls/script.js" %}
</script>

{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "faction/content-reload.html" %}
    </div>
{% endblock %}
