{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/faction.css" %} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
{% endblock%}

{% block title%}
    - Faction
{% endblock %}

{% block jquery %}
{# for date picker #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script type="text/javascript" src='{% static "perso/js/faction/faction.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/aa.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/armory.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/attacks.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/bb.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/chains.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/members.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/revives.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/simulator.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/targets.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/walls.js" %}'></script>
<script type="text/javascript" src='{% static "perso/js/faction/oc.js" %}'></script>

{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "faction/content-reload.html" %}
    </div>
{% endblock %}
