{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!DOCTYPE html>
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <!-- load fontawesome -->
    <link href='{% static "thirdparty/fontawesome-free-5.13.0-web/css/all.css" %}' rel="stylesheet"> <!--load all styles -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/base.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/forms.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "perso/css/base.css" %}' />

    <!-- favicon -->
    <link rel="icon" type="image/png" href={% static "images/icon.png" %} />

    <!-- meta  -->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="UTF-8">

    <title>YATA - Redirection</title>
</head>


<body>
    <div id="container">
        <div id="content">
            <div id="yata-login">
                <div class="module">
                    <table>
                      <tr>
                        <td>
                          <a class="yata-logo" href="{% url 'index' %}" title="Home">{% include "svg/yata.full.svg" %}</a>
                        </td>
                        <td style="vertical-align: middle;">
                          <p style="font-size: 20px; padding: 0; margin: 0">
                          <span class="warning">YATA's domain name changed.<br>Please use the following address now: </span>
                          <span class="neutral"><a href="https://yata.yt">yata.yt</a></span><p>
                        </td>
                      </tr>
                    </table>
                </div>
            </div>
        </div> <!--end of content-->
    </div> <!--end of container-->
</body>
</html>
