{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/target.css" %} />
{% endblock%}

{% block title%}
    - Target
{% endblock %}

{% block jquery %}
<script>
    $(document).on('click', 'table.target-categories td', function(e){
        e.preventDefault();
        var l = $(this).children("a").attr("href").split("/")[2];
        $( "#content-update" ).load( "/target/"+l+"/", {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        $("#content-update h2").addClass("grey");
        $("#content-update h2").html('<i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Loading '+l)
        $("div.error").hide();
    });

    // toggle target from attack list button
    $(document).on('click', '.attack-list-toggle', function(e){
        e.preventDefault();
        var targetId = this.href.split("/").pop();
        var reload = $(".catch-buttons-attack-"+targetId);
        reload.load( "/target/toggleTarget/"+targetId, {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<i class="fas fa-spinner fa-pulse"></i>');
    });

    // toggle revive from revives list button
    $(document).on('click', 'a[id^="revives-list-toggle-"]', function(e){
        e.preventDefault();
        var reload = $(this).closest("td");
        var reviveId = $(this).attr("id").split("-").pop();
        reload.load( "/target/toggleRevive/", {
            reviveId: reviveId,
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        }).html('<i class="fas fa-spinner fa-pulse"></i>');
    });

    // refresh target from target list by clicking on the row
    $(document).on('click', 'tr[id^="target-list-refresh-"] > td:not(.dont-touch-me)', function(e){
        e.preventDefault();
        var reload = $(this).closest("tr");
        // var targetId = reload.attr("id").split("-").pop();
        var targetId = reload.attr("data-val");
        reload.removeClass("old-refresh");
        reload.load( "/target/refresh/"+targetId, {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<td colspan="13" style="text-align: center;"><i class="fas fa-spinner fa-pulse"></i></td>');
    });

    // refresh all targets from target list by clicking on title refresh button
    $(document).on('click', '#target-refresh', function(e){
        e.preventDefault();
        console.log($(this));
        var i = 1;
        $("#target-targets").find('tr[id^="target-list-refresh-"]').each(function() {
            // if(i % 5 == 0) { setTimeout( function(){console.log("coucou")}, 5000); }
            var reload = $(this);
            var targetId = reload.attr("id").split("-").pop();
            var wait = i*500 + parseInt(i/10)*3000;
            (function(index) {
                setTimeout(function() {
                    reload.load( "/target/refresh/"+targetId, {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    });
                    reload.removeClass('old-refresh');
                    reload.html('<td colspan="13" style="text-align: center;"><i class="fas fa-spinner fa-pulse"></i></td>');
                 }, wait);
            })(i);
            i++;
        });
    });

    // delete target from target list button
    $(document).on('click', 'a.target-list-delete', function(e){
        e.preventDefault();
        var targetId = $(this).attr("href").split("/").pop();
        var reload = $("#target-list-refresh-"+targetId);
        reload.load( "/target/delete/"+targetId, {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        },
        );
        // reload.html('<td colspan="13" style="text-align: center;"><i class="fas fa-spinner fa-pulse"></i></td>');
        reload.remove();
    });


    // delete target from target list button
    $(document).on('focusout', 'input.target-list-note', function(e){
        e.preventDefault();
        var targetId = $(this).next("input").attr("value");
        var note = $(this).val();
        var reload = $(this).closest('td');
        // alert(targetId+notes)
        reload.load( "/target/updateNote/", {
            targetId: targetId,
            note: note,
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<i class="fas fa-spinner fa-pulse" style="margin-top: 8px"></i>');
    });

    // add key
    $(document).on('click', '#target-add-submit', function(e){
        e.preventDefault();
        var id = $("#target-add-id").val();
        $( "#content-update" ).load( "/target/add/", {
            targetId: id,
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        $("#content-update h2").addClass("grey");
        $("#content-update h2").html('<i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Adding target id '+id+' (1 API call)')

    });


    // refresh timer target update
    window.setInterval(function(){
        $(".update-timer").each(function() {
            var tr = $(this).closest("tr");
            var status = tr.find(".status");

            var timeRefresh = $.trim($(this).text());
            var timeStatus = $.trim(status.text());
            if ( timeRefresh.search(" s")!=-1 ) {
                var splitRefresh = timeRefresh.split(" ");
                var sRefresh = 0;
                if (splitRefresh.length == 2) {
                    sRefresh = parseInt(splitRefresh[0]);
                } else if (splitRefresh.length == 4) {
                    sRefresh = parseInt(splitRefresh[2]) + 60 * parseInt(splitRefresh[0]);
                } else if (splitRefresh.length == 6) {
                    sRefresh = parseInt(splitRefresh[4]) + 60 * parseInt(splitRefresh[2]) + 3600 * parseInt(splitRefresh[0]);
                }

                var splitStatus = timeStatus.split(" ");
                var sStatus = 0;
                var i;
                for ( i=2; i < splitStatus.length; i=i+2 ){
                    if (splitStatus[i+1] == "hrs") {
                        sStatus += 3600 * parseInt(splitStatus[i]);
                    } else if (splitStatus[i+1] == "mins") {
                        sStatus += 60 * parseInt(splitStatus[i]);
                    } else if (splitStatus[i+1] == "secs") {
                        sStatus += parseInt(splitStatus[i]);
                    }
                }

                if (sStatus == 0) {
                    sStatus = 7200;
                }

                if(sStatus < sRefresh) {
                    status.addClass('need-refresh');
                    $(this).addClass('need-refresh');
                } else {
                    status.removeClass('need-refresh');
                    $(this).removeClass('need-refresh');
                }

                if ( sRefresh > 7199 ) {
                    $(this).html("> 2 hrs");
                    tr.addClass("old-refresh");
                } else {
                    sRefresh ++;
                    mRefresh = Math.floor(sRefresh / 60);
                    sRefresh = sRefresh % 60;
                    if (mRefresh) {
                        spad = ("0"+sRefresh.toString()).slice(-2);
                        $(this).html(mRefresh.toString()+" mins "+spad+" s");
                    } else {
                        $(this).html(sRefresh.toString()+" s");
                    }
                }
            } else {
                if (!tr.hasClass('old-refresh')) {
                    tr.addClass('old-refresh');
                }
            }
        });
    }, 1000);


</script>
{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "target/content-reload.html" %}
    </div>

    <div class="catch-me">
        <h2 class="title grey toggle-display rounded"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
        <div class="module tutorial" style="display: none;">
            {% include "target/tutorial.html" %}
        </div>
    </div>
{% endblock %}
