{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "yata/css/target.css" %} />
{% endblock%}

{% block title%}
    | Target
{% endblock %}

{% block jquery %}
<script src='{% static "yata/js/targets/main.js" %}'></script>
<script src='{% static "yata/js/targets/attacks.js" %}'></script>
<script src='{% static "yata/js/targets/revives.js" %}'></script>
<script src='{% static "yata/js/targets/targets.js" %}'></script>
{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "target/content-reload.html" %}
    </div>
{% endblock %}
