{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/target.css" %} />
{% endblock%}

{% block title%}
    - Target
{% endblock %}

{% block jquery %}
<script src='{% static "perso/js/targets/main.js" %}'></script>
<script src='{% static "perso/js/targets/attacks.js" %}'></script>
<script src='{% static "perso/js/targets/revives.js" %}'></script>
<script src='{% static "perso/js/targets/targets.js" %}'></script>
<script src='{% static "perso/js/targets/dogtags.js" %}'></script>
{% endblock %}

{% block content %}
    <div id="content-update">
        {% include "target/content-reload.html" %}
    </div>

    <div class="catch-me">
        <h2 class="title grey toggle-display rounded"><i class="far fa-life-ring fa-icon-inline"></i>Tutorial&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
        <div class="module tutorial" style="display: none;">
            {% include "target/tutorial.html" %}
        </div>
    </div>
{% endblock %}
