{% extends 'base.html' %}
{% load static %}
{% load app_filters %}


{% block title%}
    | Terms of Service
{% endblock %}

{% block content %}
<div class="clearfix p-md-3 p-1 mb-3 module rounded citymap">
  <img class="bd-placeholder-img col-md-1 float-md-end mb-3 ms-md-3 d-none d-md-block rounded-icon" src="/media/yata.png" alt="YATA" width="100%" />
  <h1>Terms of Service</h1>
    <P>
        
        By using YATA, you agree to the following terms and conditions. If you do not agree with these terms, please do not use the service. 
    </P>
    <p>
        {% if player %}
         Should you wish to delete your account and remove your data, you can do so here <a id="yata-delete-submit" href="{% url 'delete' %}" class="error">Delete account</a>
          {% else %}
        Should you wish to delete your account and remove your data, please sign in and return to this page. You will be able to delete your account from here.
        {% endif %}
       
    <p>
        YATA is a Torn API client and is not affiliated with Torn City or its developers. The service is provided "as is" without any warranties or guarantees. The developers of YATA are not responsible for any damages or losses incurred while using the service.
    </p>
    <p>
        YATA may collect and store user data for the purpose of improving the service. This data will not be shared with third parties without your consent, except as required by law.
    </p>
    <p>
        YATA reserves the right to modify or terminate the service at any time without notice. The developers of YATA are not responsible for any interruptions or errors in the service.
    </p>
    <p>
        By using YATA, you agree to comply with all applicable laws and regulations. You are solely responsible for your use of the service and any content you create or share while using it.
    </p>
    <p>
        The developers of YATA reserve the right to remove any content that violates these terms or is deemed inappropriate at their discretion.
    </p>

    <h1>How We Use Your Torn Data</h1>
    <p>
        YATA uses your Torn data to provide you with personalized features and functionality. This includes, but is not limited to, displaying your stats, tracking your progress, and providing recommendations based on your gameplay.
    </p>
    <p>
        YATA may also use your data to improve the service, such as by analyzing usage patterns and identifying areas for improvement. This data will be used in aggregate form and will not be linked to your personal information.
    </p>
        Your API key may be used to update your player information, information regarding any faction or company you are in, and any other information that is available through the Torn API. This data is used to enhance your experience on YATA and provide you with the most accurate and up-to-date information possible.
    </p>
    <p>
        Torn Data not available through public API calls is not shared with any other member without your consent. This includes, but is not limited to, your faction information, company information, and any other data that is not publicly available.
    </p>
    <p> Your API key is stored securely and is not shared with any third parties. YATA takes the security of your data seriously and has implemented measures to protect it from unauthorized access or disclosure. Only {% player_link '2000607' 'Kivou' %} and {% player_link '47662' 'Decap' %} have access to this database.</p> 
</div>
<div class="container-fluid p-3 mb-3 module rounded">
  <p>
    <b>YATA</b> website is open sourced on <a href="https://github.com/Kivou-2000607/yata" target="_blank"><i class="fab fa-github"></i>&nbsp;github</a>.<br />
    For suggestions and bug reports please join our <a href="https://yata.yt/discord" target="_blank"><i class="fab fa-discord"></i>&nbsp;discord</a> and open a ticket.
  </p>
  <hr class="sep" />
  <p>
    <i>Player's information gathered by YATA will only be used for the features you see on YATA.</i>
  </p>
  <hr class="sep" />
  <div>
    {% include 'yata/badges.html' %}
  </div>
</div>

<h2 class="title grey rounded-top px-2 py-2 toggle-display rounded mb-3">
  <div class="d-flex flex-wrap align-items-center">
    <div class="px-2 me-auto">
      <i class="fas fa-code"></i>&nbsp;Contributors
    </div>
    <div class="px-2 toggle-rotate">
      <i class="fas fa-caret-right"></i>
    </div>
  </div>
</h2>
<div class="container-fluid p-3 mb-3 module" style="display: none;">
  <h3><i class="fab fa-python"></i>&nbsp;Developer</h3>
  <p>
    {% player_link '2000607' 'Kivou' %}
  </p>
  <h3><i class="fas fa-server"></i>&nbsp;Server admin</h3>
  <p>
    {% player_link '47662' 'Decap' %}
  </p>
  <h3><i class="fab fa-discord"></i>&nbsp;Discord staff</h3>
  <p>
    {% player_link '2363978' 'SVD_NL' %},{% player_link '672082' 'Isca' %},{% player_link '2255595' 'Redxjak' %},{% player_link '1160609' 'Tipsy' %},{% player_link '2130575' 'cynikal' %}
  </p>
  <h3><i class="fab fa-js-square"></i>&nbsp;Javascript and userscripts</h3>
  <p>
    {% player_link '1934501' 'Helcostr' %},{% player_link '2111649' 'Pyrit' %}
  </p>

  <p class="mb-0">
    If you want to contribute to YATA please join the <a href="{% url 'discord' %}" target="_blank"><i class="fab fa-discord"></i> discord</a> and reach out to us.
  </p>
</div>
{% endblock %}
  
