{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/yata.css" %} />
{% endblock%}

{% block title%}
    - Login
{% endblock %}

{% block jquery %}
<script>
    $(document).on('click', '#yata-login-submit', function(e){
        e.preventDefault();
        var reload = $("#yata-login");
        $( "#yata-login" ).load( "{% url 'login' %}", {
            key: $("#yata-login-key").val(),
            check: $("#yata-login-remember").is(':checked'),
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<h2 class="title grey"><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Connecting to API (2 API calls)</h2><div class="module"><div class="loader"></div></div>');
    });

</script>
{% endblock %}

{% block content %}
    <h2 class="title">The sections of YATA</h2>
    <div class="module">
        <p><a class="yata-link-bazaar" href="{% url 'index' %}"><i class="fas fa-store"></i>  <b>Bazaar overview</b></a>: Coming soon.</p>
        <p><a class="yata-link-chain" href="{% url 'index' %}"><i class="fas fa-link"></i>  <b>Chain reports</b></a>: Coming soon.</p>
        <p><a class="yata-link-targets" href="{% url 'index' %}"><i class="fas fa-fist-raised"></i>  <b>Target list</b></a>: Coming soon.</p>
        <p><a class="yata-link-awards" href="{% url 'awards:index' %}"><i class="fas fa-medal"></i>  <b>Awards tracker</b></a>: track the next merits you can get.</p>
    </div>
{% endblock %}
