{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block css%}
    <link rel="stylesheet" type="text/css" href={% static "perso/css/yata.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "perso/css/bazaar.css" %} />
{% endblock%}

{% block title%}
    - Home
{% endblock %}

{% block jquery %}
<script>
    $(document).on('click', '#yata-login-submit', function(e){
        e.preventDefault();
        var reload = $("#yata-login");
        $( "#yata-login" ).load( "{% url 'login' %}", {
            key: $("#yata-login-key").val(),
            check: $("#yata-login-remember").is(':checked'),
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        });
        reload.html('<h2 class="title grey"><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Connecting to API (1 API call)</h2><div class="module"><div class="loader"></div></div>');
    });

    $(document).on('click', '#yata-delete-submit', function(e){
        var r = confirm("Are you sure you want to delete your account? All data will be removed from the database.");
        if (r == false) {
            e.preventDefault();
        }
    });

</script>
{% endblock %}

{% block content %}

    <h2 class="title">The sections of YATA</h2>
    <div class="module">
        <p><a class="yata-link-bazaar" href="{% url 'bazaar:index' %}"><i class="fas fa-store"></i>  <b>Bazaar overview</b></a>: Look at the current bazzar prices to sell or buy at the best prices.</p>
        <p><a class="yata-link-chain" href="{% url 'chain:index' %}"><i class="fas fa-link"></i>  <b>Chain reports</b></a>: Build your chain reports and join them together.</p>
        <p><a class="yata-link-target" href="{% url 'target:index' %}"><i class="fas fa-fist-raised"></i>  <b>Target list</b></a>: Remember your good targets and maximize your respect gains during chains.</p>
        <p><a class="yata-link-awards" href="{% url 'awards:index' %}"><i class="fas fa-medal"></i>  <b>Awards tracker</b></a>: track the next award you can get.</p>
        <hr class="sep">
            <p>This <a href="https://github.com/Kivou-2000607/yata/tree/unified" target="_blank"><i class="fab fa-github"></i> opensource</a> website is developped and maintained by {{"Kivou"|playerURL:"2000607"|safe}}.
            Ingame donations are welcome <i class="far fa-smile-wink"></i>
        {% if player %}
            <a id="yata-delete-submit" class="error flush-right" href="{% url 'delete' %}"><i class="fas fa-user-slash"></i></i>&nbsp; Delete account</a>
        {% endif %}
    </p>
    </div>

    {% include "yata/tutorial.html" %}

{% endblock %}
