{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load app_filters %}

{% if apiErrorLine %}
    <td colspan="7" style="text-align: center;"><span class="error"><i class="fas fa-skull-crossbones"></i>&nbsp;&nbsp;{{apiErrorLine}}</span></td>
{% elif target %}
  <td class="a dont-touch-me">{{target.name|playerURL:target.target_id|safe}}</td>
  <td class="b">{{target.level}}</td>
  <td class="c" title="{{target.last_action_status}}" data-val='{% if target.last_action_status == "Offline" %}-1{% elif target.last_action_status == "Idle" %}0{% else %}1{% endif%}'><i class="fas fa-circle online-status-{{target.last_action_status}}"></i></td>
  <td class="d" data-val="{{target.last_action_timestamp}}">{{target.last_action_relative}}</td>
  <td class="e" data-val="{{target.life_current}}">
      <div class="life-bar" title="{{target.life_current}}/{{target.life_maximum}}">
          <span style="width: {{target.life_current|div:target.life_maximum|mul:100|floatformat:0}}%;"></span>
      </div>
  </td>
  {# <td class='e status player-status-{{target.status_color}}' title="{{target.status_details}}" data-val=""></td> #}
  <td class='f status player-status-{{target.status_color}}' title="{% if target.status_details %}{{target.status_details|cleanhtml}}{% endif %}" data-val="{{target.status_until}}">{{target.customDescription}}</td>
  <td class="g update-timer" title="Last update on {{target.update_timestamp|ts2date}}" data-val="{{target.update_timestamp}}">
      {% now "U" as ts %}
      {% with seconds=ts|sub:target.update_timestamp%}
          {% if seconds > 7199 %}
              > 2 hrs
          {% else %}
              {{seconds|ts2time}}
          {% endif %}
      {% endwith %}
  </td>
{% endif %}
<td class="h dont-touch-me">
  {% if player.factionAA %}
    <!-- delete -->
    <form style="display: inline;">{% csrf_token %}
        <a id="target-list-delete-{{targetId}}" class="target-list-delete" href=""><i class="fas fa-trash-alt" title="Delete target"></i></a>
    </form>
  {% endif %}
</td>
