{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}
{% load humanize %}
{% load mathfilters %}

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Total requests / day', 'Unique visitors / day'],
            {% for a in analytics.web.d %}
                [new Date({{a.date|date:"Y"}}, {{a.date|date:"n"|sub:"1"}}, {{a.date|date:"j"}}, {{a.date|date:"G"}}, {{a.date|date:"i"}}, {{a.date|date:"s"}}), {{a.total_requests}}, {{a.unique_visitors}}],
            {% endfor %}
        ]);


        var options = {
            title: "Web analytics",
            displayZoomButtons: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "fixed",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('web-analytics'));
        chart.draw(data, options);

    }
</script>

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Total requests / hour', 'Unique visitors / hour'],
            {% for a in analytics.web.h %}
                [new Date({{a.date|date:"Y"}}, {{a.date|date:"n"|sub:"1"}}, {{a.date|date:"j"}}, {{a.date|date:"G"}}, {{a.date|date:"i"}}, {{a.date|date:"s"}}), {{a.total_requests}}, {{a.unique_visitors}}],
            {% endfor %}
        ]);


        var options = {
            title: "Web analytics",
            displayZoomButtons: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "fixed",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('web-analytics-hour'));
        chart.draw(data, options);

    }
</script>

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Total requests / day', 'Unique visitors / day'],
            {% for a in analytics.api.d %}
                [new Date({{a.date|date:"Y"}}, {{a.date|date:"n"|sub:"1"}}, {{a.date|date:"j"}}, {{a.date|date:"G"}}, {{a.date|date:"i"}}), {{a.total_requests}}, {{a.unique_visitors}}],
            {% endfor %}
        ]);


        var options = {
            displayZoomButtons: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "fixed",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('api-analytics'));
        chart.draw(data, options);

    }
</script>

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Total requests / hour', 'Unique visitors / hour'],
            {% for a in analytics.api.h %}
                [new Date({{a.date|date:"Y"}}, {{a.date|date:"n"|sub:"1"}}, {{a.date|date:"j"}}, {{a.date|date:"G"}}, {{a.date|date:"i"}}, {{a.date|date:"s"}}), {{a.total_requests}}, {{a.unique_visitors}}],
            {% endfor %}
        ]);


        var options = {
            displayZoomButtons: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "fixed",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('api-analytics-hour'));
        chart.draw(data, options);

    }
</script>


<table class="center-large">
    <thead><tr><th>WEB analytics<br><span class="update-info">Last update: {{analytics.web.last_update|ts2date}}</span></th></tr></thead>
    <tbody>
        <tr><td><div id="web-analytics"></div></td></tr>
        <tr><td><div id="web-analytics-hour"></div></td></tr>
    </tbody>
</table>

<table class="center analytics-requests trshadow">
    <thead>
        <tr class="h-a">
            <th colspan="5">requests breakdown<i class="fas fa-caret-right flush-right"></i></th>
        </tr>
        <tr class="h-b">
            <th>URL</th>
            <th>Method</th>
            <th>Protocol</th>
            <th>Requests</th>
            <th>Visitors</th>
        </tr>
    </thead>
    <tbody>
        {% for report_period, report_data in analytics.web.r %}
            <tr class="h-b">
                    <td colspan="5" class="d">{{report_period}}</td>
            </tr>
            {% for r in report_data %}
            <tr class="h-b">
                    <td class="a"><tt><a href="{{r.data}}" target="_blank">{{r.data}}</a></tt></td>
                    <td class="b"><tt>{{r.method}}</tt></td>
                    <td class="b"><tt>{{r.protocol}}</tt></td>
                    <td class="c" data-val="{{r.hits.count}}">{{r.hits.count|intcomma}} ({{r.hits.percent}}%)</td>
                    <td class="c" data-val="{{r.visitors.count}}">{{r.visitors.count|intcomma}} ({{r.visitors.percent}}%)</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<hr class="sep">

<table class="center-large">
    <thead><tr><th>API analytics: <tt>/api/v1/</tt><br><span class="update-info">Last update: {{analytics.api.last_update|ts2date}}</span></th></tr></thead>
    <tbody>
        <tr><td><div id="api-analytics"></div></td></tr>
        <tr><td><div id="api-analytics-hour"></div></td></tr>
    </tbody>
</table>

<table class="center analytics-requests trshadow">
    <thead>
        <tr class="h-a">
            <th colspan="5">requests breakdown<i class="fas fa-caret-right flush-right"></i></th>
        </tr>
        <tr class="h-b">
            <th>URL</th>
            <th>Method</th>
            <th>Protocol</th>
            <th>Requests</th>
            <th>Visitors</th>
        </tr>
    </thead>
    <tbody>
        {% for report_period, report_data in analytics.api.r %}
            <tr class="h-b">
                    <td colspan="5" class="d">{{report_period}}</td>
            </tr>
            {% for r in report_data %}
            <tr class="h-b">
                    <td class="a"><tt><a href="{{r.data}}" target="_blank">{{r.data}}</a></tt></td>
                    <td class="b"><tt>{{r.method}}</tt></td>
                    <td class="b"><tt>{{r.protocol}}</tt></td>
                    <td class="c" data-val="{{r.hits.count}}">{{r.hits.count|intcomma}} ({{r.hits.percent}}%)</td>
                    <td class="c" data-val="{{r.visitors.count}}">{{r.visitors.count|intcomma}} ({{r.visitors.percent}}%)</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
