{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<h2 class="title green rounded-top px-2 py-2 toggle-display rounded mb-3">
    <div class="d-flex flex-wrap align-items-center">
      <div class="px-2 me-auto"><i class="fas fa-life-ring"></i>&nbsp;Tutorial</div>
      <div class="px-2 toggle-rotate"><i class="fas fa-caret-right"></i></div>
    </div>
</h2>
<div class="container-fluid p-md-3 p-1 mb-3 module" style="display: none;">
  <p>Data is taken from armory news and funds news.</p>
  <h3>Transactions handled</h3>
  <ul>
    <li>A member deposited money, points or an item.</li>
    <li>A member used an item or points (refill).</li>
    <li>A member filled a blood bag.</li>
    <li>A member was given money.</li>
  </ul>
  <h3>Transactions <b>not</b> handled</h3>
  <ul class="mb-0">
    <li>A member loaned an item.</li>
    <li>A member returned an item.</li>
    <li>A member retrieved an item from another member.</li>
    <li>A member gave an item to another member.</li>
    <li>A member opened a cache.</li>
    <li>A member adjusted the balance of another member.</li>
  </ul>
</div>
