{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="catch-me">
    <h2 class="title grey toggle-display rounded"><i class="far fa-life-ring fa-icon-inline"></i>Tutorial&nbsp;&nbsp;<i class="fas fa-caret-right"></i></h2>
    <div class="module tutorial" style="display: none;">
        <p>Tutorial</p>
    </div>
</div>
