{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}
{% load mathfilters %}
{% load humanize %}

<table id="company-details-employees" class="center-large trshadow company-details-employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th title="Total effectiveness">E. TOT</th>
      <th title="Work stats effectiveness">E. WST</th>
      <th title="Settled in effectiveness">E. STL</th>
      <th title="Addiction effectiveness">E. ADD</th>
      <th title="Inactivity effectiveness">E. INA</th>
      <th>MAN</th>
      <th>INT</th>
      <th>END</th>
      <th id="chartHider" data-sorter="false"><i class="far fa-eye"></i></th>
    </tr>
  </thead>
  <tbody>

    {% for e in employees %}
    <tr data-emp="{{e.tId}}" data-pos="{{e.position}}" class="{% if e.simu %}simu{% endif %}">
      <td data-val="{{e.name|lower}}" class="a dont-touch-me">{{e.name|playerURL:e.tId|safe}}</td>
      <td data-val="{{e.position|lower}}" class="b">
          <select class="company-employee-position-form">
            {% for position in company_positions %}
                <option value="{{position.name}}" {% if position.name == e.position %}selected{% endif %}>{{position.name}}</option>
            {% endfor %}
      </td>
      {# <td data-val="{{e.wage}}" class="a">{{e.wage|wage}}</td> #}
      <td data-val="{{e.effectiveness_total}}" class="c">{{e.effectiveness_total|effpot:e.effectiveness_potential}}</td>
      <td data-val="{{e.effectiveness_working_stats}}" class="d">{{e.effectiveness_working_stats|signColor}}</td>
      <td data-val="{{e.effectiveness_settled_in}}" class="d">{{e.effectiveness_settled_in|signColor}}</td>
      <td data-val="{{e.effectiveness_addiction}}" class="d">{{e.effectiveness_addiction|signColor}}</td>
      <td data-val="{{e.effectiveness_inactivity}}" class="d">{{e.effectiveness_inactivity|signColor}}</td>
      <td data-val="{{e.manual_labor}}" class="e">{{e.manual_labor|workstatsinv:e.man_required}}</td>
      <td data-val="{{e.intelligence}}" class="e">{{e.intelligence|workstatsinv:e.int_required}}</td>
      <td data-val="{{e.endurance}}" class="e">{{e.endurance|workstatsinv:e.end_required}}</td>
      <td data-val="{{forloop.counter0}}" class="f toggle-chart"><i class="far fa-eye"></i></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if company.effectiveness_ws_max %}
<hr class="sep">
<p>With the current repartition you reach a total working stats effectiveness of <span id="company-employees-show-simu" style="cursor: help;" title="Click to see the details.">{{company.effectiveness_ws_act|effpot:company.effectiveness_ws_err}}</span>.
</p>
<div id="company-employees-simu" style="display: none;">
<p>Keeping the same number of positions, the following repartition would yield <span class="valid">{{company.effectiveness_ws_max|floatformat}}</span> working stats effectiveness:
<ul id="company-employees-simu-data">
  {% for p in company.employees_suggestion %}
  <li data-emp="{{p.1}}" data-pos="{{p.2}}">
    {{p.0|playerURL:p.1|safe}} as <b>{{p.2}}</b> for <span class="{% if p.3 > p.4 %}valid{% else %}error{% endif %}">{{p.3|floatformat:0}}</span> working stats ({{p.3|sub:p.4|floatformat:0|signColor0}})
  </li>
  {% endfor %}
</ul>
<p><span id="company-employees-simu-apply" class="neutral" style="cursor: pointer;">Apply this configuration</span></p>
</div>
<hr class="sep">
{% endif %}
