{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load app_filters %}
{% load mathfilters %}
{% load humanize %}

{% if company %}

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Weekly Customers', 'Weekly income', 'Daily Customers', 'Daily income'],
            {% for d in company_data %}
                [new Date({{d.id_ts|sub:86400|mul:1000}}), {{d.weekly_customers}}, {{d.weekly_income}}, {{d.daily_customers}}, {{d.daily_income}}],
            {% endfor %}
        ]);

        var options = {
            displayZoomButtons: false,
            // displayAnnotations: true,
            displayExactValues: false,
            numberFormats: "###,###",
            scaleColumns: [0, 2, 3],
            scaleType: "allmaximized",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('company-data-1'));
        // chart.showDataColumns(focus.each(onEyeAction).get().map(toDataColumnsAction));
        chart.draw(data, options);
        chart.hideDataColumns([0, 1]);
        const eyeToggle = ['fa-eye','fa-eye-slash'];

        const toggleDailyWeekly = function(a, b, c) {
          $("#company-graph-show-"+a).on('click',function(){
            const eye = $(this).find("i.far");
            eye.toggleClass(eyeToggle);
            $("#company-graph-show-"+b).find("i.far").toggleClass(eyeToggle);
            if( eye.hasClass("fa-eye") ) {
              chart.hideDataColumns([(0+c)%4, (1+c)%4])
              chart.showDataColumns([(2+c)%4, (3+c)%4])
            } else {
              chart.showDataColumns([(0+c)%4, (1+c)%4])
              chart.hideDataColumns([(2+c)%4, (3+c)%4])
            }
          });
        }
        toggleDailyWeekly("daily", "weekly", 0);
        toggleDailyWeekly("weekly", "daily", 2);
    }

</script>

<script>
    google.charts.load('current', {'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Time', 'Total effectiveness', 'popularity', 'efficiency', 'environment'],
            {% for d in company_data %}
                [new Date({{d.id_ts|sub:86400|mul:1000}}), {{d.effectiveness_total}}, {{d.popularity}}, {{d.efficiency}}, {{d.environment}}],
            {% endfor %}
        ]);

        var options = {
            displayZoomButtons: false,
            displayAnnotations: true,
            displayExactValues: false,
            numberFormats: "###,###",
            scaleColumns: [0, 1],
            scaleType: "allmaximized",
            scaleFormat: 'short',
            thickness: 1.5,
            fill: 10,
        };

        var chart = new google.visualization.AnnotationChart(document.getElementById('company-data-2'));
        chart.draw(data, options);
    }
</script>

<script>
  google.charts.load('current', {'packages':['annotationchart']});
  {% autoescape off %}
  google.charts.setOnLoadCallback(()=>drawChart({{employees_graph}}));
  {% endautoescape %}

  function drawChart(employees_graph) {
    const dt = new google.visualization.DataTable();
    dt.addColumn('date', 'Date');
    employees_graph.header
      .forEach(col=>dt.addColumn('number', col[1]));
    employees_graph.data
      .map(row=>[new Date((row[0]-86400)*1000),...row[1].map(data=>typeof data[0] === 'number'?data[0]:undefined)])
      .forEach(row=>dt.addRow(row));

    const options = {
      displayZoomButtons: false,
      displayAnnotations: true,
      displayExactValues: false,
      numberFormats: "###,###",
      // scaleColumns: [0, 1],  # we want only one scale
      scaleType: "allmaximized",
      scaleFormat: 'short',
    };

    const chart = new google.visualization.AnnotationChart(document.getElementById('company-data-3'));
    chart.draw(dt, options);

    //Repeatable Actions
    const toDataColumnsAction = e=>$(e).parent().data('val');
    const onEyeAction = (i,e)=>$(e).toggleClass(eyeToggle).closest("tr").toggleClass("hideChart");
    const eyeToggle = ['fa-eye','fa-eye-slash'];

    //Table Setup
    const tieTable = function() {
      //Individual Eye-cons
      $("#company-details-employees tbody tr td.toggle-chart").click(function(e){
        const tr = $(this).parent("tr").toggleClass("hideChart");
        const eye = $(this).find("i.far");
        eye.toggleClass(eyeToggle);
        let index = toDataColumnsAction(eye);
        if (eye.hasClass("fa-eye-slash"))
          chart.hideDataColumns(index);
        else
          chart.showDataColumns(index);
        if (
          ($("#chartHider i.far").hasClass("fa-eye-slash") && $('#company-details-employees tbody .fa-eye-slash').length===0)
          || ($("#chartHider i.far").hasClass("fa-eye") && $('#company-details-employees tbody .fa-eye').length===0)
        )
          $("#chartHider i.far").toggleClass(eyeToggle);
      }).dblclick(function(e){
        let focus = $(this).find('i.far');
        let target = $('#company-details-employees tbody tr td.toggle-chart');
        chart.hideDataColumns(target.find('i.fa-eye').each(onEyeAction).get().map(toDataColumnsAction));
        chart.showDataColumns(focus.each(onEyeAction).get().map(toDataColumnsAction));
      });

      //Header Eye-con
      $("#chartHider").click(function(){
        let focus = $(this).find('i.far');
        focus.toggleClass(eyeToggle);
        let target = $('#company-details-employees tbody tr td.toggle-chart');
        if (focus.hasClass("fa-eye"))
          chart.showDataColumns(target.find('i.fa-eye-slash').each(onEyeAction).get().map(toDataColumnsAction));
        else
          chart.hideDataColumns(target.find('i.fa-eye').each(onEyeAction).get().map(toDataColumnsAction));
      });
    }
    tieTable();//Init
    $(document).ajaxComplete((e,x,s)=>{
      if (s.url==="/company/supervise/")
        tieTable();
    });
  }
</script>

<h2 class="title"><i class="fas fa-building fa-icon-inline"></i>{{company.name|safe}}</h2>
<div class="module">
  <table class="center-medium tdshadow">
    <tbody>
      <tr>
        <td><b>Name:</b> {{company.html_link}}</td>
        <td><b>Type:</b> {{company.company_description.name}}</td>
        <td><b>Rating:</b> {{company.rating|compstars}}</td>
      </tr>
      <tr>
        <td><b>Director:</b> {{company.director_name|playerURL:company.director|safe}}</td>
        <td><b>Employees:</b> {{company.employees_hired}} / {{company.employees_capacity}}</td>
        <td><b>Days old:</b> {{company.days_old|intcomma}}</td>
      </tr>
      <tr>
        <td><b>Popularity:</b> {{company.popularity|compPopColor}}</td>
        <td><b>Efficiency:</b> {{company.efficiency|compPopColor}}</td>
        <td><b>Environment:</b> {{company.environment|compPopColor}}</td>
      </tr>
      <tr>
        <td><b>Profit:</b> ${{company.profit|intcomma}}</td>
        <td id="company-graph-show-daily" data-val="0" style="cursor: pointer;"><b>Daily income:</b> ${{company.daily_income|intcomma}}<i class="far fa-eye flush-right"></i></td>
        <td id="company-graph-show-weekly" data-val="1" style="cursor: pointer;"><b>Weekly income:</b> ${{company.weekly_income|intcomma}}<i class="far fa-eye-slash flush-right"></i></td>
      </tr>
      <tr>

      <td colspan="3"><b>Effectiveness:</b>
        <span class="valid">{{company.effectiveness_total|add:company.effectiveness_neg}}</span> =
        <span class="valid">{{company.effectiveness_total}}</span>
        -
        <span class="error">{{company.effectiveness_neg|mul:-1}}</span>
      </td>
    </tr>
    </tbody>
  </table>
  <p id="company-data-1"></p>
  <p id="company-data-2"></p>

  <p class="update-info">Last update: {{company.timestamp|ts2date}}</p>
</div>

<h2 class="title"><i class="fas fa-user-tie fa-icon-inline"></i>Employees
  <span class="flush-right"><a id="company-employees-reset" href="{% url "company:supervise" %}"><i class="fas fa-sync-alt fa-icon-inline"></i>Reset simulation</a></span>
</h2>
<div class="module">
  <div id="company-reload-employees">
      {% include "company/supervise/employees.html" %}
  </div>
  <p id="company-data-3" colspan="10"></p>
</div>

{% if company_data|length %}

<h2 class="title"><i class="fas fa-list fa-icon-inline"></i>Logs</h2>
<div class="module">
  <div class="pagination-list">
      {% include "company/supervise/logs.html" %}
  </div>
</div>

{% endif %}

{% else %}
<div class="module rounded">
  {% if player.companyId %}
    <p class="warning">Your director is not registered in YATA.</p>
  {% else %}
    <p class="warning">You're not working in a company.</p>
  {% endif %}
</div>
{% endif %}
