{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

{% if error %}
  <span class="error">{{error}}</span>
{% else %}
  {% if company.shareId %}
      <a id="company-share" data-val="{{company.tId}}" href=""><i class="fas fa-toggle-on" title="Stop sharing company"></i>&nbsp;Unshare</a>&nbsp;<a href='{% url "company" company.shareId %}' target="_blank"><i class="fas fa-share-alt" title="Shared link"></i></a>
  {% else %}
      <a id="company-share" data-val="{{company.tId}}" href=""><i class="fas fa-toggle-off" title="Share company"></i>&nbsp;Share</a>
  {% endif %}
{% endif %}
