{% comment %}
Copyright 2020 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}
{% load humanize %}
{% load app_filters %}

<table class="center-large trshadow company-stocks">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Emp.</th>
            <th>Positions</th>
            <th>Cost</th>
            <th>RRP</th>
            <th>Price</th>
            <th>Sold</th>
            <th>Stock</th>
            <th>Created</th>
            <th>Worth</th>
        </tr>
    </thead>
    <tbody>
        {% for d in company_stock_p %}
        <tr class="company-logs" data-val="{{d.timestamp}}">
            <td class="a" title="{{d.timestamp|ts2date}}">{% ifchanged %}{{d.id_ts|sub:86400|ts2date:"%Y/%m/%d"}}{% endifchanged%}</td>
            <td class="b">{{d.name}}</td>
            <td class="c">{{d.display_pos.2}}</td>
            <td class="d" title="{{d.display_pos.0}}">{% if d.display_pos.1 %}<span class="neutral">{{d.display_pos.1}}</span>{% else %}{{d.display_pos.0}}{% endif %}</td>
            <td class="e">${{d.cost|intcomma}}</td>
            <td class="e">${{d.rrp|intcomma}}</td>
            <td class="e">${{d.price|intcomma}}</td>
            <td class="f">{{d.sold_amount|intcomma}} ({{d.delta_sold_amount|signColor0}})</td>
            <td class="f">${{d.sold_worth|intcomma}} ({{d.delta_sold_worth|signColor0}})</td>
            <td class="f">{{d.in_stock|intcomma}} ({{d.delta_in_stock|signColor0}})</td>
            <td class="f">{{d.created|intcomma}} ({{d.delta_created|signColor0}})</td>
        </tr>
        {% endfor %}

        <tr><td colspan="13">
            <div class="pagination">
                <span class="step-links">
                    {% if company_stock_p.has_previous %}
                        <a class="page-link" href="{% url 'company:supervise' %}?page_s=1">&laquo; first</a>
                        <a class="page-link" href="{% url 'company:supervise' %}?page_s={{ company_stock_p.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        {{ company_stock_p.number }}/{{ company_stock_p.paginator.num_pages }}
                    </span>

                    {% if company_stock_p.has_next %}
                        <a class="page-link" href="{% url 'company:supervise' %}?page_s={{ company_stock_p.next_page_number }}">next</a>
                        <a class="page-link" href="{% url 'company:supervise' %}?page_s={{ company_stock_p.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </td></tr>

    </tbody>
</table>
