{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<div class="yt-dropdown">
  {% if faction.upgradeType == "peace" %}
        <i class="fas fa-dove"></i>&nbsp;Tree
  {% elif faction.upgradeType == "war" %}
        <i class="fas fa-skull-crossbones"></i>&nbsp;Tree
  {% else %}
        <i class="fas fa-user-clock"></i>&nbsp;Tree
  {% endif %}
  <div class="yt-dropdown-content yt-dropdown-title p-2">
    <a href="" class="faction-simu-select" data-val="upgrades"><i class="fas fa-user-clock"></i>&nbsp;Current</a>
    <a href="" class="faction-simu-select" data-val="war"><i class="fas fa-skull-crossbones"></i>&nbsp;War</a>
    <a href="" class="faction-simu-select" data-val="peace"><i class="fas fa-dove"></i>&nbsp;Peace</a>
  </div>
</div>
