{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<div class="pagination">
    <span class="step-links">
        {% if attacks.has_previous %}
            <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?page=1">&laquo; first</a>
            <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?page={{ attacks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ attacks.number }}/{{ attacks.paginator.num_pages }}
        </span>

        {% if attacks.has_next %}
            <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?page={{ attacks.next_page_number }}">next</a>
            <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?page={{ attacks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<table class="center-medium trshadow faction-attacks-list">
    <thead>
        <tr>
            <th>Start</th>
            <th>Attacker</th>
            <th>Faction</th>
            <th>Defender</th>
            <th>Faction</th>
            <th>Result</th>
            <th>Chain</th>
    </thead>
    <tbody>
    {% for v in attacks %}
      <tr>
          {# <td class="a">Revive [{{k}}]</td> #}
          <td class="a">{{v.timestamp_started|ts2date}}</td>
          {%if v.attacker_id == 0 or v.attacker_id == 1%}
              <td class="b">Stealth</td>
              <td class="b">Stealth</td>
          {%else%}
              <td class="b">{{v.attacker_name|playerURL:v.attacker_id|safe}}</td>
              <td class="b">{{v.attacker_factionname|factionURL:v.attacker_faction|safe}}</td>
          {%endif%}
          <td class="b">{{v.defender_name|playerURL:v.defender_id|safe}}</td>
          <td class="b">{{v.defender_factionname|factionURL:v.defender_faction|safe}}</td>
          <td class="c">{{v.result}}</td>
          <td class="d">{%if v.chain %}{{v.chain}}{%endif%}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
