{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<table class="center-large trshadow faction-attacks-list">
    <thead>
        <tr><td colspan="7">
            <div class="pagination">
                <span class="step-links">
                    {% if attacks.has_previous %}
                        <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?p_at=1">&laquo; first</a>
                        <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?p_at={{ attacks.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        {{ attacks.number }}/{{ attacks.paginator.num_pages }}
                    </span>

                    {% if attacks.has_next %}
                        <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?p_at={{ attacks.next_page_number }}">next</a>
                        <a class="page-link" href="{% url 'faction:attacksList' report.pk %}?p_at={{ attacks.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </td></tr>


        <tr>
            <th>Start</th>
            <th>{% include "faction/attacks/attacks-header-filter.html" with type="attackers" %}</th>
            <th>Faction</th>
            <th>{% include "faction/attacks/attacks-header-filter.html" with type="defenders" %}</th>
            <th>Faction</th>
            <th>Result</th>
            <th>Chain</th>
            <th>Log</th>
    </thead>
    <tbody>
    {% for v in attacks %}
      <tr>
          <td class="a">{{v.timestamp_started|ts2date}}</td>
          {%if v.attacker_id == 0 or v.attacker_id == 1%}
              <td class="b">Stealth</td>
              <td class="b">Stealth</td>
          {%else%}
              <td class="b">{{v.attacker_name|playerURLShort:v.attacker_id|safe}}{% include "faction/attacks/attacks-inline-filter.html" with tId=v.attacker_id %}</td>
              <td class="b">{{v.attacker_factionname|factionURLShort:v.attacker_faction|safe}}</td>
          {%endif%}
          <td class="b">{{v.defender_name|playerURLShort:v.defender_id|safe}}{% include "faction/attacks/attacks-inline-filter.html" with tId=v.defender_id %}</td>
          <td class="b">{{v.defender_factionname|factionURLShort:v.defender_faction|safe}}</td>
          <td class="c">{{v.result}}</td>
          <td class="d">{%if v.chain %}{{v.chain}}{%endif%}</td>
          {% if v.code == "0" %}
            <td class="d"><i class="fas fa-eye-slash" title="no log"></td>
         {% else %}
            <td class="d"><a href="{{v.code|attackLog}}" target="_blank"><i class="fas fa-eye" title="see log"></i></td>
         {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
