{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<table class="tablesorter center-full-fourth trshadow faction-attacks-report-factions">
    <thead>
            <tr><th colspan="4">Attackers</th></tr>
          <tr>
            <th>Faction</th>
            <th>Attacks<br/>won</th>
            <th>Attacks<br/>made</th>
            <th>Toggle&nbsp;&nbsp;<i style="cursor: help;" class="fas fa-question-circle" title="Click on the eyes to see the players"></i></th>
        </tr>
    </thead>
    <tbody>
    {% for f in factionsA %}
    <tr {%if not f.showD %}style="opacity: 0.5"{%endif%}>
        {%if f.faction_id == -1%}
            <td class="a">Stealth</td>
        {%else%}
            <td class="a">{{f.faction_name|factionURLShort:f.faction_id|safe}}</td>
        {%endif%}
        <td class="b">{{f.hits}}</td>
        <td class="b">{{f.attacks}}</td>
        <td class="c">{% include "faction/attacks/toggle.html" with type="attackers" show=f.showA page=factionsA.number%}</td>
    </tr>
    {% endfor %}
    <tr><td colspan="4">
        <div class="pagination" style="margin:0;">
            <span class="step-links">
                {% if factionsA.has_previous %}
                    <a class="page-link" href="{% url 'faction:attacks' report.pk %}?p_fa=1">&laquo; first</a>
                    <a class="page-link" href="{% url 'faction:attacks' report.pk %}?p_fa={{ factionsA.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    {{ factionsA.number }}/{{ factionsA.paginator.num_pages }}
                </span>

                {% if factionsA.has_next %}
                    <a class="page-link" href="{% url 'faction:attacks' report.pk %}?p_fa={{ factionsA.next_page_number }}">next</a>
                    <a class="page-link" href="{% url 'faction:attacks' report.pk %}?p_fa={{ factionsA.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </td>
    </tr>
    </tbody>
</table>
