{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<div class="table-responsive">
<h3>Factions</h3>
<table class="table table-hover table-striped table-borderless faction-attacks-report-factions">
    <thead>
      <tr>
        <th class="a">Faction</th>
        <th class="b" title="Attack won"><a class="yt-page-link" href="?o_fa=1">Att. won</th>
        <th class="b" title="Attack made"><a class="yt-page-link" href="?o_fa=2">Att. made</th>
        <th class="b" title="Defends won"><a class="yt-page-link" href="?o_fa=3">Def. won</th>
        <th class="b" title="Attack received"><a class="yt-page-link" href="?o_fa=4">Att. rec.</th>
        <th class="c">Filter<i id="faction-attacks-report-toggle-all" data-report="{{report.pk}}" data-page="{{factions.number}}" style="cursor: pointer;" class="fas fa-filter ms-1" data-bs-toggle="tooltip" title="Toggle all filters"></i></th>
      </tr>
    </thead>
    <tbody>
    {% for f in factions %}
    <tr>
        {%if f.faction_id == -1%}
            <td class="text-start overflow-hidden">Stealth</td>
        {%else%}
            <td class="text-start overflow-hidden">{% faction_link f.faction_id f.faction_name short=True %}</td>
        {%endif%}
        <td class="text-center">{{f.hits}}</td>
        <td class="text-center">{{f.attacks}}</td>
        <td class="text-center">{{f.defends}}</td>
        <td class="text-center">{{f.attacked}}</td>
        <td class="text-center">{% include "faction/attacks/toggle.html" with page=factions.number%}</td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="6" class="text-center">
        <div class="pagination d-block">
            <span class="step-links">
                {% if factions.has_previous %}
                    <a class="yt-page-link rounded first" href="?o_fa={{o_fa}}&p_fa=1"></a>
                    <a class="yt-page-link rounded previous" href="?o_fa={{o_fa}}&p_fa={{ factions.previous_page_number }}"></a>
                {% endif %}

                <span class="current">
                    {{ factions.number }}/{{ factions.paginator.num_pages }}
                </span>

                {% if factions.has_next %}
                    <a class="yt-page-link rounded next" href="?o_fa={{o_fa}}&p_fa={{ factions.next_page_number }}"></a>
                    <a class="yt-page-link rounded last" href="?o_fa={{o_fa}}&p_fa={{ factions.paginator.num_pages }}"></a>
                {% endif %}
            </span>
        </div>
      </td>
    </tr>

    </tbody>
</table>
</div>
