{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<div class="table-responsive">

<table class="table table-hover table-striped table-borderless faction-attacks-members-breakdown">
    <thead>
        <tr>
            <th class="a">Player</th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=0">#leaves</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=1">#mug</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=2">#hosp</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=3">#war</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=4">#win</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=5">#assists</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=6" title="lost / interrupted / stalemate / timeout / escape" >#lost</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=7">#total</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=8">#leaves</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=9">#mug</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=10">#hosp</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=11">#war</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=12">#win</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=13">#assists</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=14" title="lost / interrupted / stalemate / timeout / escape">#lost</a></th>
            <th class="b"><a class="yt-page-link" href="{% url 'faction:attacksMembers' report.pk %}?o_me=15">#total</a></th>
        </tr>
        <tr>
          <th></th>
          <th style="text-align: center!important;" colspan="8">Outgoing attacks</th>
          <th style="text-align: center!important;" colspan="8">Incoming attacks</th>
        </tr>
      </thead>
    <tbody>
    {% if members|length %}
        {% for id, m in members %}
        <tr>
            {% if id %}
                <td class="text-start">{{m.name|playerURL:id|safe}}</td>
            {% else %}
                <td class="text-start">Stealth</td>
            {% endif %}
            {# n = [0 leave, 1 mug, 2 hosp, 3 war, 4 win, 5 assist, 6 lost, 7 total] #}
            <td class="text-center">{{m.out.0}}</td>
            <td class="text-center">{{m.out.1}}</td>
            <td class="text-center">{{m.out.2}}</td>
            <td class="text-center">{{m.out.3}}</td>
            <td class="text-center">{{m.out.4}}</td>
            <td class="text-center">{{m.out.5}}</td>
            <td class="text-center">{{m.out.6}}</td>
            <td class="text-center"><b>{{m.out.7}}</b></td>
            <td class="text-center">{{m.in.0}}</td>
            <td class="text-center">{{m.in.1}}</td>
            <td class="text-center">{{m.in.2}}</td>
            <td class="text-center">{{m.in.3}}</td>
            <td class="text-center">{{m.in.4}}</td>
            <td class="text-center">{{m.in.5}}</td>
            <td class="text-center">{{m.in.6}}</td>
            <td class="text-center"><b>{{m.in.7}}</b></td>
        </tr>
        {% endfor %}

        <tr>
          <td colspan="17" class="text-center">
            <div class="pagination d-block">
                <span class="step-links">
                    {% if members.has_previous %}
                        <a class="yt-page-link rounded first" href="{% url 'faction:attacksMembers' report.pk %}?o_me={{o_me}}&p_me=1"></a>
                        <a class="yt-page-link rounded previous" href="{% url 'faction:attacksMembers' report.pk %}?o_me={{o_me}}&p_me={{ members.previous_page_number }}"></a>
                    {% endif %}

                    <span class="current">
                        {{ members.number }}/{{ members.paginator.num_pages }}
                    </span>

                    {% if members.has_next %}
                        <a class="yt-page-link rounded next" href="{% url 'faction:attacksMembers' report.pk %}?o_me={{o_me}}&p_me={{ members.next_page_number }}"></a>
                        <a class="yt-page-link rounded last" href="{% url 'faction:attacksMembers' report.pk %}?o_me={{o_me}}&p_me={{ members.paginator.num_pages }}"></a>
                    {% endif %}
                </span>
            </div>
          </td>
        </tr>

    {% else %}
        <tr>
            <td colspan="17">No players found. Click on the eyes to select factions members.</td>
        </tr>
    {% endif %}
    </tbody>
</table>

</div>
