{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<script>
$(document).ready(function() {
    $(".faction-attacks-report-players").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[2,1], [5,1], [3,1], [4,1]]});
    $(".faction-attacks-report-factions").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1], [2,1]]});
});

$(function () {
    $("#modify-date-end").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
            var reportId = $("input#attacks-report-id").attr("data-val");
            $( "#content-update" ).load( "/faction/attacks/" + reportId, {
                end: dUTC/1000, modifyEnd: 1,
                csrfmiddlewaretoken: getCookie("csrftoken")
            },afterLoad);
            $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Modify contract ');
        },
    });
});

</script>

<h2 class="title"><i class="fas fa-skull"></i>&nbsp;&nbsp;Attacks report [{{report.pk}}]</h2>
<div class="module">
    <table class="tablesorter center trshadow contract-summary">
        <thead>
            <tr><th colspan="3">Report summary</tr>
            {% if report.wall > 0 %}
                <tr><th colspan="3">This report correspond to the <a href="https://www.torn.com/war.php?step=warreport&warID={{report.wall.first.tId}}" target="_blank">{{report.wall.first}}</a></th></tr>
            {% endif %}
        </thead>
        <tbody>
            <tr>
                <td><b>From: </b> {{report.start|ts2date}}</td>
                <input id="attacks-report-id" type="hidden" data-val="{{report.pk}}" value="{{report.pk}}">
                <td id="modify-date-end" style="cursor: pointer"><b>To: </b> {{report.end|ts2date}}</td>
                <td><b>Report status:</b> {% include "faction/attacks/status.html"%}</td>
            </tr>
            <tr>
                <td><b>Attacks: </b> {{report.attacks}}</td>
                <td><b>Defends: </b> {{report.defends}}</td>
                <td><b>Total: </b> {{attacks|length}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="sep">

    <table class="tablesorter center-full-fourth trshadow faction-attacks-report-factions">
        <thead>
                <tr><th colspan="4">Attackers</th></tr>
              <tr>
                <th>Faction</th>
                <th>Wins</th>
                <th>Attacks</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.attacker_factions.items %}
        <tr {%if v.attacks < 6  and not v.show%}class="hidden"{%endif%}{%if not v.show%}style="opacity: 0.5"{%endif%}>
            {%if k == 1%}
                <td class="a">Stealth</td>
            {%else%}
                <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            {%endif%}
            <td class="b">{{v.wins}}</td>
            <td class="b">{{v.attacks}}</td>
            <td class="c">{% include "faction/attacks/toggle.html" with type="attackers"%}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-attacks-report-see-all" style="cursor: pointer">
          <td colspan="4" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
    </table>

    <table class="tablesorter center-full-fourth trshadow faction-attacks-report-factions">
        <thead>
              <tr><th colspan="4">Defenders</th></tr>
              <tr>
                <th>Faction</th>
                <th>Wins</th>
                <th>Attacks</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.defender_factions.items %}
        <tr {%if v.attacked < 6 and not v.show %}class="hidden"{%endif%}{%if not v.show%}style="opacity: 0.5"{%endif%}>
            <td class="a">{{v.name|factionURLShort:k|safe}}</td>
            <td class="b">{{v.defends}}</td>
            <td class="b">{{v.attacked}}</td>
            <td class="c">{% include "faction/attacks/toggle.html" with type="defenders" %}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-attacks-report-see-all" style="cursor: pointer">
          <td colspan="4" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
        <table>
    </table>

    <table class="tablesorter center-full-half trshadow faction-attacks-report-players">
        <thead>
            <tr><th colspan="6">Players</th></tr>
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Hits</th>
                <th>Attacks</th>
                <th>Defends</th>
                <th>Attacked</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in breakdown.players.items %}
        <tr {%if v.attacks|add:v.attacked < 6%}class="hidden"{%endif%}>
            <td class="a">{{v.name|playerURLShort:k|safe}}</td>
            <td class="b">{{v.factionname|factionURLShort:v.faction|safe}}</td>
            <td class="c">{{v.wins}}</td>
            <td class="c">{{v.attacks}}</td>
            <td class="c">{{v.defends}}</td>
            <td class="c">{{v.attacked}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="faction-attacks-report-see-all" style="cursor: pointer">
          <td colspan="6" style="text-align: center;">Show all&nbsp;&nbsp;<i class="far fa-eye"></i></td>
        </tr>
    </table>

    <hr class="sep">
</div>

<h2 class="title toggle-display"><i class="fas fa-list"></i>&nbsp;&nbsp;List of attacks</h2>
<div class="module">
  <div class="pagination-list">
    {% include "faction/attacks/attacks.html" %}
  </div>
</div>
