{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<script>
// $(document).ready(function() {
//     $(".faction-attacks-report-players").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[2,1], [5,1], [3,1], [4,1]]});
//     $(".faction-attacks-report-factions").tablesorter({cssAsc: 'up', cssDesc: 'down', sortList: [[1,1], [2,1]]});
// });

$(function () {
    $("#modify-date-end").datetimepicker({
        step: 15,
        onChangeDateTime:function(dp,$input){
            var d = new Date($input.val());
            var dUTC = Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds());
            var reportId = $("input#attacks-report-id").attr("data-val");
            $( "#content-update" ).load( "/faction/attacks/" + reportId, {
                end: dUTC/1000, modifyEnd: 1,
                csrfmiddlewaretoken: getCookie("csrftoken")
            },afterLoad);
            $("#content-update h2").addClass("grey").html(spinner + '&nbsp;&nbsp;Modify contract ');
        },
    });
});

</script>

<h2 class="title"><i class="fas fa-skull fa-icon-inline"></i>{{faction.name}}'s attacks report [{{report.pk}}]{% if not share %}<span id="faction-attacks-report-update" data-val="{{report.pk}}" class="flush-right"><a href=""><i class="fas fa-sync-alt fa-icon-inline"></i>Synchronize report</a></span>{% endif %}</h2>
<div class="module">

    {% if report.fill < report.update and player.factionAA %}
        <p style="text-align: center; margin-bottom: 10px;"><span class="warning"><i class="fas fa-sync-alt fa-icon-inline"></i>New attacks has been entered in the database since last synchronization.</span><br>
            Please synchronize your report with the button on the top right of this frame.
        </p>
    {% endif %}
    <table class="tablesorter center trshadow contract-summary">
        <thead>
            <tr><th colspan="3" class="buttons">Report summary
                {% if not share and player.factionAA %}
                    <form class="flush-right">{% csrf_token %}
                        Share&nbsp;&nbsp;<span>{% include 'faction/attacks/share.html' %}</span>

                        Export&nbsp;&nbsp;<span>{% include "faction/attacks/export.html" %}</span>
                    </form>

                {% endif %}
            </th></tr>
            {% if report.wall > 0 %}
                <tr><th colspan="3">This report correspond to the <a href="https://www.torn.com/war.php?step=warreport&warID={{report.wall.first.tId}}" target="_blank">{{report.wall.first}}</a></th></tr>
            {% endif %}
        </thead>
        <tbody>
            <tr>
                <td><b>From: </b> {{report.start|ts2date}}</td>
                <input id="attacks-report-id" type="hidden" data-val="{{report.pk}}" value="{{report.pk}}">
                <td id="modify-date-end" style="cursor: pointer"><b>To: </b> {{report.end|ts2date}}</td>
                <td><b>Report status:</b> {% include "faction/attacks/status.html"%}</td>
            </tr>
            <tr>
                <td><b>Attacks: </b> {{report.attacks}}</td>
                <td><b>Defends: </b> {{report.defends}}</td>
                <td><b>Total: </b> {{attacks|length}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="sep">
    {% if factions|length %}
        <div class="pagination-list">
            {% include "faction/attacks/factions.html"%}
        </div>
        <div class="pagination-list">
            {% include "faction/attacks/players.html"%}
        </div>
        <hr class="sep" style="opacity: 0">
    {% else %}
        <p class="warning">No report found. Please click on synchronize report on the top right of this section.</p>
    {% endif %}
</div>

{% if not share %}
    <h2 class="title"><i class="fas fa-users fa-icon-inline"></i>Members breakdown</h2>
    <div class="module">
        <div class="pagination-list">
            {% if members %}
                {% include "faction/attacks/members.html"%}
            {% else %}
                <p><a id="faction-attacks-report-members" data-val="{{report.pk}}" href="">Compute members breakdown</a><i style="cursor: help;margin-left: 20px;" class="fas fa-question-circle" title="Compute members outgoing / incoming attacks breakdown based on the faction filters set above.&#013;If your faction is selected above, you will see members from other factions in the list. For sake of clarity either do not select your faction or select only your faction... Or do wathever you want."></i></p>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if attacks %}
    <h2 class="title"><i class="fas fa-list fa-icon-inline"></i>List of attacks</h2>
    <div class="module">
      <div class="pagination-list">
        {% include "faction/attacks/attacks.html" %}
      </div>
    </div>
{% endif %}
