{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load mathfilters %}

{% if player.factionAA %}
    <form>{% csrf_token %}
        {% if f.show %}
            <a  id="faction-attacks-report-toggle-{{report.pk}}-{{page}}" data-val="{{f.faction_id}}" class="faction-attacks-report-toggle" href=""><i class="fas fa-filter filter-player-activated" style="opacity: 1.0;" title="Click to stop seeing players."></i></a>
        {%else%}
            <a id="faction-attacks-report-toggle-{{report.pk}}-{{page}}" data-val="{{f.faction_id}}" class="faction-attacks-report-toggle" href=""><i class="fas fa-filter filter-player" style="opacity: 0.5" title="Click to see players."></i></a>
        {%endif%}
    </form>
{% else %}
    {% if f.show %}
        <i class="fas fa-filter valid" title="Players shown."></i>
    {%else%}
        <i class="fas fa-filter neutral" title="Players shown."></i>
    {%endif%}
{% endif %}
