{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

{% if w.report %}
  <a class="ms-2 faction-attacks-reports-see" data-val="{{w.report.pk}}" href="{% url 'faction:attacks' w.report.pk %}"><i class="fas fa-eye" title="See report"></i>&nbsp;See report</a>
{% else %}
  <a href="" class="ms-2 create-war-report"
    data-ter="{{w.territory}}"
    data-fid="{{w.other_fac_id}}"
    data-fna="{{w.other_fac_name}}"
    data-typ="{{w.type}}"
    data-val="{{w.war_id}}"
    data-tim="{{w.timestamp}}">
      <i class="fas fa-plus-circle fa-icon-inline"></i>&nbsp;Create report
  </a>
{% endif %}
