{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center tdshadow stock-categories">
    <tbody>
    <tr>
        <td>
            <a href="{% url 'stock:list' 'all' %}"><i class="fas fa-chart-line fa-icon-inline"></i>All stocks</a>
        </td>
        {% if player.tId > 0 %}
        <td>
          <a href="{% url 'stock:list' 'my' %}"><i class="fas fa-user-check fa-icon-inline"></i>My blocks</a>
        </td>
        {% endif %}
        <td>
            <a href="{% url 'stock:list' 'lo' %}"><i class="fas fa-battery-quarter fa-icon-inline"></i><1%</a>
        </td>
        <td>
            <a href="{% url 'stock:list' 'ns' %}"><i class="fas fa-battery-empty fa-icon-inline"></i>No Shares</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'stock:list' 'hd' %}"><i class="fas fa-thermometer-full fa-icon-inline"></i>High demand</a>
        </td>
        <td>
            <a href="{% url 'stock:list' 'ld' %}"><i class="fas fa-thermometer-quarter fa-icon-inline"></i>Low demand</a>
        </td>
        <td>
            <a href="{% url 'stock:list' 'gf' %}"><i class="fas fa-sun fa-icon-inline"></i>Good forecast</a>
        </td>
        <td>
            <a href="{% url 'stock:list' 'pf' %}"><i class="fas fa-cloud-showers-heavy fa-icon-inline"></i>Poor forecast</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
