{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="container">
    <div class="overlay close"></div>
    <div class="modal-center">
        <h2 class="title">Details of stock {{stock.t.tId}}</h2>
        <div class="module">
            <center><button><img src="/static/stocks/{{stock.t.tId}}.png" alt="{{stock.t.tName}} [{{tAcronym}}]"></button></center>
            <h3><center>{{stock.t.tName}} ({{stock.t.tAcronym}})</center></h3>
            {% if stock.t.tDirector != 'None' %}<h4><center>{{stock.t.tDirector}}</center></h4>{% endif %}
            <hr class="sep">
            <h3>Current Price: ${{stock.t.tCurrentPrice|floatformat:3}}</h3>
            <h3>Market Cap: {{stock.t.tMarketCap|intcomma}}</h3>
            <h3>Total Shares: {{stock.t.tTotalShares|intcomma}}</h3>
            <h3>Available Shares: {{stock.t.tAvailableShares|intcomma}}</h3>
            <h3>Forecast: <span title="stock.t.tForecast">{{stock.t.tForecast|forecast|safe}}</span></h3>
            <h3>Demand: <span title="Demand is {{stock.t.tDemand}}">{{stock.t.tDemand|demand|safe}}</span></h3>
            {% if stock.t.tRequirement %}
            <hr class="sep">
                <h3><center>Bonus</center></h3>
                <p>{{stock.t.tDescription|safe}} for <b>{{stock.t.tRequirement|intcomma}}</b> shares<br>
                Current price for the block: <b>${{stock.t.tRequirement|mul:stock.t.tCurrentPrice|floatformat:0|intcomma}}</b></p>
            {% endif %}
        </div>
    </div>
</div>
