{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="container">
    <div class="overlay close"></div>
    <div class="modal-center-large">
        <h2 class="title">Last month share price fluctations for stock: {{stock.t.tName}} [{{stock.t.tAcronym}}]</h2>
        <div class="module">
            <span style="position: absolute; top:40px; right: 10px;"><button><img src="/static/stocks/{{stock.t.tId}}.png" alt="{{stock.t.tAcronym}}"></button></span>
            <p>Tendency per day over last day: {{stock.t.dayTendency|priceTendency:"stock"|safe}}</p>
            <p>Tendency per day over last week: {{stock.t.weekTendency|priceTendency:"stock"|safe}}</p>
            {% if graphLength == 0 %}
              <p class="warning">No relevent data to plot (most probably because the share price is $0)</p>
            {% elif graphLength == 1 %}
              <p class="warning">No relevent data to plot (most probably because the share price used to be $0), come back soon.</p>
            {% else %}
                <div id="stock-prices-graphs">
                    {% include "stock/prices-graphs.html" %}
                </div>
            {% endif %}

            {% if stock.p %}
              <hr class="sep">
              <table class="center-large">
              {% for pstock in stock.p %}
               {% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}

                 <td>
                    <h3>Personal block #{{forloop.counter}}</h3>
                    <!-- 'stock_id': 15, 'shares': 2000000, 'bought_price': '366.8675', 'time_bought': 1514159772, 'time_listed': 0 -->
                    <ul>
                      <li><b>{{pstock.shares|intcomma}}</b> shares bought on {{pstock.time_bought|ts2date}} at <b>${{pstock.bought_price|floatformat:3}}</b></li>
                      {% if pstock.bonus %}
                        <li><span class="valid">You are currently earning a bonus from this block</span></li>
                      {% endif%}
                      <li>Total value when bought: <b>${{pstock.shares|mul:pstock.bought_price|floatformat:0|intcomma}}</b></li>
                      <li>Current total value: <b>${{pstock.shares|mul:stock.t.tCurrentPrice|floatformat:0|intcomma}} ({{pstock.profit|priceTendencyShort|safe}})</b></li>
                      {% if pstock.time_listed %}
                        <li>You listed these shares on {{pstock.time_listed|ts2date}} for a current profit of <b class="{% if pstock.profit > 0 %}valid{% elif pstock.profit < 0%}error{%else%}neutral{%endif%}">{{pstock.profit|mul:pstock.bought_price|mul:pstock.shares|format:"{:+,.0f}"}}$</b></li>
                      {% else %}
                        <li>Benefits if sold now: <b class="{% if pstock.profit > 0 %}valid{% elif pstock.profit < 0%}error{%else%}neutral{%endif%}">{{pstock.profit|mul:pstock.bought_price|mul:pstock.shares|format:"{:+,.0f}"}}$</b></li>
                      {% endif %}
                    </ul>
                  </td>
                  {% if forloop.counter|divisibleby:2 %}</tr>{% elif forloop.last %}</tr>{% endif %}
              {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
