{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% if graphLength > 1 %}
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Time', 'Current Price', 'Day Tendency: {{stock.t.dayTendencyA|mul:3600|format:"{:+,.2f}"}} $/h', 'Week Tendency: {{stock.t.weekTendencyA|mul:3600|format:"{:+,.2f}"}} $/h', 'Good Forcast', 'Poor Forcast', 'Trimestrial Average Price'],
        {% for a, b, c, d, _, _, e, _, av in graph %}
            [new Date({{a|date:"Y"}}, {{a|date:"n"|sub:"1"}}, {{a|date:"j"}}, {{a|date:"G"}}, {{a|date:"i"}}, {{a|date:"s"}}), {{b}}, {{c}}, {{d}}, {%if e == "Good"%}1{%elif e == "Very Good"%}1{%else%}0{%endif%}, {%if e == "Poor"%}1{%elif e == "Very Poor"%}1{%else%}0{%endif%}, {{av}}],
         {% endfor %}
      ]);

      var options = {
        legend: {position: 'top', textStyle: {fontSize: 14}},
        series: {
            0: {type: 'line', color: '#780078', pointShape: 'None',   lineWidth: 2, targetAxisIndex: 0},
            1: {type: 'steppedArea', color: '#0B8E14', lineWidth: 0, targetAxisIndex: 1, areaOpacity: 0.1, visibleInLegend: false, tooltip : false},
            2: {type: 'steppedArea', color: '#CC3434', lineWidth: 0, targetAxisIndex: 1, areaOpacity: 0.1, visibleInLegend: false, tooltip : false},
            3: {type: 'line', color: '#F00', pointShape: 'None',   lineWidth: 1, targetAxisIndex: 0},
            4: {type: 'line', color: {%if stock.t.dayTendency >= 0.01%}'#0B8E14'{% elif stock.t.dayTendency <= -0.01%}'#CC3434'{% else %}'#447e9b'{% endif %}, pointShape: 'none', targetAxisIndex: 0},
            5: {type: 'line', color: {%if stock.t.weekTendency >= 0.01%}'#0B8E14'{% elif stock.t.weekTendency <= -0.01%}'#CC3434'{% else %}'#447e9b'{% endif %}, pointShape: 'none', lineDashStyle: [5, 5], targetAxisIndex: 0},
        },
        hAxis: { textPosition: 'none' },
        vAxes: {
            0: { format: 'short'},
            1: { textPosition: 'none', viewWindow:{ min: 0, max:1 }},
        },
        'backgroundColor': 'transparent',
        'chartArea': {'width': '90%', 'height': '70%'},
      };

      var view = new google.visualization.DataView(data);
      columns = [0, 1, 4, 5, 6];
      {% if stock.t.dayTendencyA or stock.t.dayTendencyB %}
        columns.push(2);
      {% endif %}
      {% if stock.t.weekTendencyA or stock.t.weekTendencyB %}
        columns.push(3);
      {% endif %}
      view.setColumns(columns);

      var chart = new google.visualization.ComboChart(document.getElementById('price-history'));

      chart.draw(view, options);

      var data2 = google.visualization.arrayToDataTable([
        ['Time', 'Available Shares', 'Total Shares', '1% of Total Shares'],
        {% for a, _, _, _, b, c, _, _, _ in graph %}
            [new Date({{a|date:"Y"}}, {{a|date:"n"|sub:"1"}}, {{a|date:"j"}}, {{a|date:"G"}}, {{a|date:"i"}}, {{a|date:"s"}}), {{b}}, {{c}}, {{c|mul:0.01}}],
         {% endfor %}
      ]);

      var options2 = {
        legend: {position: 'top', textStyle: {fontSize: 14}},
        series: {
            0: {type: 'area', color: '#787878', lineDashStyle: [5, 5], pointShape: 'None', lineWidth: 2, targetAxisIndex: 0, areaOpacity: 0.1},
            1: {type: 'line', color: '#447e9b', pointShape: 'None',   lineWidth: 2, targetAxisIndex: 1},
            2: {type: 'line', color: '#CC3434', lineDashStyle: [10, 2], pointShape: 'None',   lineWidth: 1, targetAxisIndex: 1},
        },
        hAxis: {
            gridlines: {
              count: -1,
              units: {
                days: {format: ['MMM dd']},
                hours: {format: ['hh a', 'ha']},
              }
            },
            minorGridlines: {
              units: {
                hours: {format: ['hh a', 'ha']},
              }
            }
        },
        vAxes: {
            0: { format: 'short', viewWindow:{ min: 0, max:1 * data2.getColumnRange(2).max }},
            1: { format: 'short', viewWindow:{ min: 0, max:1.5 * Math.max(data2.getColumnRange(1).max, data2.getColumnRange(3).max)}},
        },
        'backgroundColor': 'transparent',
        'chartArea': {'width': '90%', 'height': '70%'},
      };

      var view2 = new google.visualization.DataView(data2);
      columns = [0, 2, 1, 3];
      view2.setColumns(columns);

      var chart2 = new google.visualization.ComboChart(document.getElementById('quantity-history'));

      chart2.draw(view2, options2);

    }
</script>
{% endif %}


<div id="price-history" style="margin-bottom: -20px;"></div>
<div id="quantity-history"></div>

<p>
    <form>{% csrf_token %}
        {% if period == "7" %}
            <i class="graph-period-selector far fa-dot-circle"><input type="hidden" value="{{stock.t.tId}}-7"></i> 1 week
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-14"></i> 2 weeks
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-30"></i> 1 month
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-365"></i> 1 year
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-all"></i> all
        {% elif period == "14" %}
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-7"></i> 1 week
            <i class="graph-period-selector far fa-dot-circle"><input type="hidden" value="{{stock.t.tId}}-14"></i> 2 weeks
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-30"></i> 1 month
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-365"></i> 1 year
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-all"></i> all
        {% elif period == "30" %}
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-7"></i> 1 week
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-14"></i> 2 weeks
            <i class="graph-period-selector far fa-dot-circle" ><input type="hidden" value="{{stock.t.tId}}-30"></i> 1 month
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-365"></i> 1 year
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-all"></i> all
        {% elif period == "365" %}
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-7"></i> 1 week
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-14"></i> 2 weeks
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-30"></i> 1 month
            <i class="graph-period-selector far fa-dot-circle" ><input type="hidden" value="{{stock.t.tId}}-365"></i> 1 year
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-all"></i> all
        {% else %}
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-7"></i> 1 week
            <i class="graph-period-selector far fa-circle"><input type="hidden" value="{{stock.t.tId}}-14"></i> 2 weeks
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-30"></i> 1 month
            <i class="graph-period-selector far fa-circle" ><input type="hidden" value="{{stock.t.tId}}-365"></i> 1 year
            <i class="graph-period-selector far fa-dot-circle"><input type="hidden" value="{{stock.t.tId}}-all"></i> all
        {% endif %}
    </form>
</p>
