{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<thead>
    <tr>
        <th colspan="2">
            <div class="stock-image" title={{stock.tAcronym}}>
                <form method="post">{% csrf_token %}
                    <button><img src="/static/stocks/{{stock.tId}}.png" alt="{{stock.tName}} [{{tAcronym}}]"></button>
                </form>
            </div>
        </th>
    </tr>
    <tr><th colspan="2"><a href="{% url 'stock:details' stock.tId %}" class="stock-details" title="{{stock.tName}}">{{stock.tAcronym}}</a></th></tr>
    <tr><th colspan="2" title="Forecast">FC: {{stock.tForecast|forecast|safe}}</th></tr>
    <tr><th colspan="2" title="Demand">DE: {{stock.tDemand|demand|safe}}</th></tr>
    <tr ><th colspan="2"><a href="https://www.torn.com/stockexchange.php" target="_blank">Price: ${{stock.tCurrentPrice|format:"{:,.3f}"}}</a></th></tr>
    {% if stock.dayTendencyB %}
      <tr class="prices-tendency">
        <th colspan="2"><a href="{% url 'stock:prices' stock.tId %}" class="stock-prices" title="Share price tendency over a day / a week">{{stock.dayTendency|priceTendencyShort:"stock"|safe}} / {{stock.weekTendency|priceTendencyShort:"stock"|safe}}</a></th>
      </tr>
    {% else %}
      <tr class="prices-tendency">
        <th colspan="2"><a href="{% url 'bazaar:prices' stock.tId %}" class="stock-prices" title="Share price tendency over a day / a week">No data</a></th>
      </tr>
    {% endif %}
    <tr ><th class="{%if not stock.tAvailableShares%}lack{%endif%}" colspan="2">Shares: {{stock.tAvailableShares|intcomma}}</th></tr>
</thead>

<tbody>

</tbody>
