{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}


<thead>
    <tr>
        <th colspan="2">
          <button><a href="{% url 'stock:details' stock.t.tId %}" class="stock-details" title="{{stock.t.tName}} [{{stock.t.tAcronym}}]"><img src="/static/stocks/{{stock.t.tId}}.png" alt="{{stock.t.tName}} [{{stock.t.tAcronym}}]"></a></button>
        </th>
    </tr>
    <tr><th colspan="2"><a href="{% url 'stock:details' stock.t.tId %}" class="stock-details" title="{{stock.t.tName}} [{{stock.t.tAcronym}}]">{{stock.t.tAcronym}}</a></th></tr>
    {# <tr><th colspan="2" title="Forecast">FC: {{stock.t.tForecast|forecast|safe}}</th></tr>  #}
    {# <tr><th colspan="2" title="Demand">DE: {{stock.t.tDemand|demand|safe}}</th></tr> #}
    {% if stock.t.dayTendencyB %}
      <tr class="prices-tendency">
            <th colspan=2 title="Share price tendency over a day / a week"><a href="{% url 'stock:prices' stock.t.tId %}" class="stock-prices">{{stock.t.dayTendency|priceTendencyShort:"stock"|safe}} / {{stock.t.weekTendency|priceTendencyShort:"stock"|safe}}</a></th>
      </tr>
    {% else %}
      <tr class="prices-tendency">
        <th colspan="2"><a href="{% url 'bazaar:prices' stock.t.tId %}" class="stock-prices" title="Share price tendency over a day / a week">No data</a></th>
      </tr>
    {% endif %}
    <tr title="Demand {{stock.t.tDemand}} / Forecast {{stock.t.tForecast}}">
      <th class="A">{{stock.t.tDemand|demand|safe}}</th>
      <th class="B">{{stock.t.tForecast|forecast|safe}}</th>
    </tr>
    <tr >
      <th class="A {%if not stock.t.tAvailableShares%}lack{%endif%}" >{{stock.t.tAvailableShares|short}}</th>
      {# <th><a href="https://www.torn.com/stockexchange.php" target="_blank">${{stock.t.tCurrentPrice|format:"{:,.3f}"}}</a></th> #}
      <th class="B">${{stock.t.tCurrentPrice|format:"{:,.3f}"}}</th>
    </tr>
</thead>

<tbody>
  {% for pStock in stock.p %}
      {% if pStock.bought_price|mul:1.0 > stock.t.tCurrentPrice|mul:1.003 %}
          <tr class="ggt">
      {% elif pStock.bought_price|mul:1.0 < stock.t.tCurrentPrice|mul:0.997 %}
            <tr class="llt">
      {% elif pStock.bought_price|mul:1.0 > stock.t.tCurrentPrice|mul:1.001 %}
          <tr class="gt">
      {% elif pStock.bought_price|mul:1.0 < stock.t.tCurrentPrice|mul:0.999 %}
          <tr class="lt">
      {% else %}
        <tr class="eq">
      {% endif %}
      {% if pStock.bonus %}
          <td><b>{{pStock.shares|short}}</b></td>
      {% else %}
          <td>{{pStock.shares|short}}</td>
      {% endif %}
          <td>${{pStock.bought_price|floatformat:3}}</td>
        </tr>
  {% endfor %}

</tbody>
