{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h3>Stocks</h3>
    <p>Overview of all stocks in Torn</p>

<h4>Description of Headings</h4>
    <ul>
        <h4>All Stocks:</h4>
            <p>List of all stocks</p>
        <h4>My Blocks:</h4>
            <p>Currently owned stocks</p>
        <h4>Less than (<) 1%:</h4>
            <p>Stocks with less than 1% of shares currently available</p>
        <h4>No Shares:</h4>
            <p>Stocks with no shares currently available</p>
        <h4>High Demand:</h4>
            <p>Stocks with a high interest in being purchased</p>
        <h4>Low Demand:</h4>
            <p>Stocks with a low interest in being purchased</p>
        <h4>Good Forecast:</h4>
            <p>Stocks expected to perform positively</p>
        <h4>Poor Forecast:</h4>
            <p>Stocks expected to perform negatively</p>
    </ul>

<h4>Clicking on Stock Icons</h4>
    <p>When selecting each stock icon, an overview of the following will appear:</p>
    <ul>
        <li>Company acronym</li>
        <li>Company director</li>
        <li>Stock price</li>
        <li>Market cap</li>
        <li>Total shares</li>
        <li>Available shares</li>
        <li>Forecast</li>
        <li>Demand</li>
        <li>Expected benefit when holding minimum indicated amount of shares</li>
        <li>Current price for the benefit block</li>
    </ul>
