{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}


<nav class="navbar navbar-expand-md navbar-light py-0">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#subNavbarSupportedContent" aria-controls="subNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="collapse-section-name>">Categories</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="subNavbarSupportedContent">
      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:default' %}" title="bazaar default"><i class="fas fa-star"></i>&nbsp;Default</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:sets' %}" title="bazaar sets"><i class="fas fa-gopuram"></i>&nbsp;Museum</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:custom' %}" title="bazaar custom"><i class="fas fa-heart"></i>&nbsp;Custom</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:top10' %}" title="bazaar top10"><i class="fas fa-shopping-cart"></i>&nbsp;Top 10</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:all' %}" title="bazaar all"><i class="fas fa-list"></i>&nbsp;All</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link yt-cat-link">
            <a href="{% url 'bazaar:abroad' %}" title="bazaar abroad"><i class="fas fa-plane-departure"></i>&nbsp;Foreign Stock</a>
          </div>
        </li>
        <li class="nav-item" title="full width">
          <div class="nav-link yt-full-width">
            <a href="#"><i class="fas fa-arrows-alt-h"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
