{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<!-- categories -->
<form>
    {% csrf_token %}
<table class="center tdshadow bazaar-categories">
    <tbody>
    <tr>
        <td>
            <a href="{% url 'bazaar:default' %}"><i class="fas fa-star"></i>&nbsp;&nbsp;Default</a>
        </td>
        <td>
            <a href="{% url 'bazaar:sets' %}"><i class="fas fa-plane-departure"></i>&nbsp;&nbsp;Sets</a>
        </td>
        {% if player.tId > 0%}
            <td>
                <a href="{% url 'bazaar:custom' %}"><i class="fas fa-heart"></i>&nbsp;&nbsp;Custom</a>
            </td>
        {% endif %}
        <td>
            <a href="{% url 'bazaar:top10' %}"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Top 10</a>
        </td>
        <td>
            <a href="{% url 'bazaar:all' %}"><i class="fas fa-list"></i>&nbsp;&nbsp;All</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
