{% load humanize %}


<div class="container">
    <div class="overlay close"></div>
    <div class="modal close">
        <h2 class="title">Details of item {{item.tId}}</h2>
        <div class="module whiteBG">
            <div class="justTxt">
            <center><button>{{item.display_image}}</button></center>
            <h3>{{item.tName}} ({{item.tType}})</h3>
            <h3>Market value: ${{item.tMarketValue|intcomma}}</h3>
            <h3>Sell Price: ${{item.tSellPrice|intcomma}}</h3>
            <h3>Buy Price: ${{item.tBuyPrice|intcomma}}</h3>
            <h3>Circulation: {{item.tCirculation|intcomma}}</h3>
            <h3>Description:</h3>
            <p>{{item.tDescription}}</p>
            </div>

            <div class="submit-row"></div>
        </div>
    </div>
</div>
