{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<div class="container">
    <div class="overlay close"></div>
    <div class="modal-center">
        <h2 class="title">Details of item {{item.tId}}</h2>
        <div class="module">
            <center><button>{{item.display_large}}</button></center>
            <h3>{{item.tName}} ({{item.tType}})</h3>
            <h3>Market value: ${{item.tMarketValue|intcomma}}</h3>
            <h3>Sell Price: ${{item.tSellPrice|intcomma}}</h3>
            <h3>Buy Price: ${{item.tBuyPrice|intcomma}}</h3>
            <h3>Circulation: {{item.tCirculation|intcomma}}</h3>
            <h3>Description:</h3>
            <p>{{item.tDescription|safe}}</p>
            {% if item.tEffect|string2List|length %}
                <h3>Effect{{item.tEffect|string2List|length|pluralize}}:</h3>
                <p>
                    {% for s in item.tEffect|string2List %}
                        <span class="valid">{{s}}</span>
                        {% if forloop.last %}{% else %}<br>{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if item.tRequirement|string2List|length %}
                <h3>Requirement{{item.tRequirement|string2List|length|pluralize}}:</h3>
                <p>
                    {% for s in item.tRequirement|string2List %}
                    <span class="error">{{s}}</span>
                    {% if forloop.last %}{% else %}<br>{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
