{% load humanize %}
{% load mathfilters %}
{% load static %}
{% load app_filters %}

<thead>
    <tr>
        <th colspan="2">
            <div class="item-image">
                <form method="post">{% csrf_token %}
                    {% if apiErrorSub %}
                        <a href="{% url 'bazaar:update' item.tId %}" class="update-item"><button title="{{apiErrorSub}}"><i class="fas fa-skull-crossbones error"></i></button></a>
                    {% else %}
                        <a href="{% url 'bazaar:update' item.tId %}" class="update-item"><button title="{{item.tName}}">{{item.display_large}}</button></a>
                    {% endif %}
                </form>
            </div>
        </th>
    </tr>

    {% if view.timer %}
    <tr>
        <th colspan="2" >
            <form method="post">{% csrf_token %}
                <a href="{% url 'bazaar:delete' item.tId %}" class="update-timer delete-item">
                    {% now "U" as ts %}
                    {% with seconds=ts|sub:item.lastUpdateTS%}
                        {% if seconds > 599 %}
                            > 10 mins
                        {% else %}
                            {{seconds|ts2hhmmss}}
                        {% endif %}
                    {% endwith %}
                </a>
            </form>
        </th>
    </tr>
    {% endif %}

    <tr>
        <th colspan="2">
            <div class="item-name">
                <a href="{% url 'bazaar:details' item.tId %}" class="details-item" title="{{item.tName}}">{{item.tName}}</a>
            </div>
        </th>
    </tr>
    <tr>
        <th class="{% if not item.stock %}lack{% endif %}" colspan="2">
            stock: {{item.stock}}
        </th>
    </tr>
    <tr>
        <th colspan="2">
            <a href="https://www.torn.com/imarket.php#/p=shop&step=shop&type=&searchname={{item.tName}}" target="_blank" >${{item.tMarketValue|intcomma}}</a>
        </th>
    </tr>
</thead>

<tbody>
    {% for data in item.get_bazaar %}
        {% if   data.quantity < 5 and item.tType == "Flower" or data.quantity < 5 and item.tType == "Plushie" %}
            {% if data.cost       > item.tMarketValue|mul:1.03 %}  <tr class="ignore ggt "   title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     > item.tMarketValue|mul:1.01 %}  <tr class="ignore gt "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     < item.tMarketValue|mul:0.97 %}  <tr class="ignore llt"    title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     < item.tMarketValue|mul:0.99 %}  <tr class="ignore lt "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% else %}                                             <tr class="ignore eq "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% endif %}
        {% else %}
            {% if data.cost       > item.tMarketValue|mul:1.03 %}  <tr class="ggt "   title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     > item.tMarketValue|mul:1.01 %}  <tr class="gt "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     < item.tMarketValue|mul:0.97 %}  <tr class="llt"    title="cumulative: ${{data.cumulative|intcomma}}">
            {% elif data.cost     < item.tMarketValue|mul:0.99 %}  <tr class="lt "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% else %}                                             <tr class="eq "    title="cumulative: ${{data.cumulative|intcomma}}">
            {% endif %}
        {% endif %}
        <td class="A">{{data.quantity}}</td><td class="B">{% ifchanged %}${{data.cost|intcomma}}{% endifchanged %}</td>
        </tr>
    {% endfor %}

    <tr>
        <th colspan="2">
            <form method="post">{% csrf_token %}
                {% if toggleMessage %}
                    <a class="toggle-item" href="{% url 'bazaar:toggle' item.tId %}" class="toggle-item">{{toggleMessage}}</a>
                {% else %}
                    <a class="toggle-item" href="{% url 'bazaar:toggle' item.tId %}" class="toggle-item">Add / Remove</a>
                {% endif %}
            </form>
        </th>
    </tr>

</tbody>
