{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}


<div class="container-fluid">
  <div class="row row-cols-auto justify-content-center">
  {% for item in items %}
    <div class="col item-table p-0 mx-1 mb-2" data-iid="{{item.tId}}">
      {% include "bazaar/item.html" with item=item%}
    </div>
  {% empty %}
      <div class="col error">No item here.</div>
  {% endfor %}
  </div>
</div>
