{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Time', 'Market Price', 'Week Tendancy', 'Month Tendancy'],
        {% for a, b, c, d in graph %}
            // [{{a}}, {{b}}],
            [new Date({{a|date:"Y"}}, {{a|date:"n"|sub:"1"}}, {{a|date:"j"}}, {{a|date:"G"}}, {{a|date:"i"}}, {{a|date:"s"}}), {{b}}, {{c}}, {{d}}],
         {% endfor %}
      ]);

      var options = {
        legend: {position: 'none'},
        series: {
                0: {type: 'line', color: '#787878', pointSize: 4, pointShape: 'circle'},
                1: {type: 'line', color: {%if item.weekTendancy >= 0.01%}'#CC3434'{% elif item.weekTendancy <= -0.01%}'#0B8E14'{% else %}'#447e9b'{% endif %}, pointShape: 'none'},
                2: {type: 'line', color: {%if item.monthTendancy >= 0.01%}'#CC3434'{% elif item.monthTendancy <= -0.01%}'#0B8E14'{% else %}'#447e9b'{% endif %}, pointShape: 'none'},
                },
        hAxis: { format: 'M/d/yy' },
        vAxis: { format: 'short', title: 'Market price' },
        'backgroundColor': 'transparent',
        'chartArea': {'width': '90%', 'height': '70%'},
      };

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1]);

      var chart = new google.visualization.ComboChart(document.getElementById('price-history'));

      chart.draw(data, options);
    }
</script>

<div class="container">
    <div class="overlay close"></div>
    <div class="modal-center-large">
        <h2 class="title">Last month market price fluctations of item: {{item.tName}} [{{item.tId}}]</h2>
        <div class="module">
            <span style="position: absolute; top:30px; right: 10px;"><button>{{item.display_large}}</button></span>
            <p>Tendancy over last week: {{item.weekTendancy|priceTendancy|safe}}</p>
            <p>Tendancy over last month: {{item.monthTendancy|priceTendancy|safe}}</p>
            <div id="price-history"></div>
        </div>
    </div>
</div>
