{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load humanize %}
{% load mathfilters %}
{% load app_filters %}

{% if graphLength > 1 %}
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Time', 'Market Price', 'Week Tendency: {{item.weekTendencyA|mul:86400|format:"{:+,.0f}"}} $/day', 'Month Tendency: {{item.monthTendencyA|mul:86400|format:"{:+,.0f}"}} $/day'],
        {% for a, b, c, d in graph %}
            [new Date({{a|date:"Y"}}, {{a|date:"n"|sub:"1"}}, {{a|date:"j"}}, {{a|date:"G"}}, {{a|date:"i"}}, {{a|date:"s"}}), {{b}}, {{c}}, {{d}}],
         {% endfor %}
      ]);

      var options = {
        legend: {position: 'top', textStyle: {fontSize: 14}},
        series: {
                0: {type: 'line', color: '#787878', pointSize: 5, pointShape: 'circle',   lineWidth: 3},
                1: {type: 'line', color: {%if item.weekTendency >= 0.01%}'#0B8E14'{% elif item.weekTendency <= -0.01%}'#CC3434'{% else %}'#447e9b'{% endif %}, pointShape: 'none'},
                2: {type: 'line', color: {%if item.monthTendency >= 0.01%}'#0B8E14'{% elif item.monthTendency <= -0.01%}'#CC3434'{% else %}'#447e9b'{% endif %}, pointShape: 'none', lineDashStyle: [5, 5]},
                },
        hAxis: { format: 'M/d/yy' },
        vAxis: { format: 'short', title: 'Market price' },
        'backgroundColor': 'transparent',
        'chartArea': {'width': '90%', 'height': '70%'},
      };

      var view = new google.visualization.DataView(data);
      columns = [0, 1];
      {% if item.weekTendencyA or item.weekTendencyB %}
        columns.push(2);
      {% endif %}
      {% if item.monthTendencyA or item.monthTendencyB %}
        columns.push(3);
      {% endif %}
      view.setColumns(columns);

      var chart = new google.visualization.ComboChart(document.getElementById('price-history'));

      chart.draw(view, options);
    }
</script>
{% endif %}

<div class="container">
    <div class="overlay close"></div>
    <div class="modal-center-large">
        <h2 class="title">Last month market price fluctations of item: {{item.tName}} [{{item.tId}}]</h2>
        <div class="module">
            <span style="position: absolute; top:40px; right: 10px;"><button>{{item.display_large}}</button></span>
            <p>Tendency per week over last week: {{item.weekTendency|priceTendency|safe}}</p>
            <p>Tendency per week over last month: {{item.monthTendency|priceTendency|safe}}</p>
            {% if graphLength == 0 %}
              <p class="warning">No relevent data to plot (most probably because the market price is $0)</p>
            {% elif graphLength == 1 %}
              <p class="warning">No relevent data to plot (most probably because the market price used to be $0), come back soon.</p>
            {% else %}
              <div id="price-history"></div>
            {% endif %}
        </div>
    </div>
</div>
