{% comment %}
Copyright 2019 kivou.2000607@gmail.com

This file is part of yata.

    yata is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    yata is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with yata. If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

<h3>Bazaar overview</h3>
<p>Click on the item type to show the tables.<br />
Click on an icon to refresh the bazaar and itemmarket prices of the object (1 API call).<br />
Click on the refresh buttons on the top right section title to refresh the items information and bazaar prices (1 API call/item). This feature is not available for the full list.<br />
Each tables contains:
<ul>
    <li> Row 1: item icon / click to refresh button</li>
    <li> Row 2: time since last update / click to delete bazaar data (because why not?) </li>
    <li> Row 3: item name / click to see its description</li>
    <li> Row 4: personal stock of the item / keep the mouse hover to see the repartition between inventory, bazaar and display / click to add to your custom list</li>
    <li> Row 5: current market price / link to torn market for this item</li>
    <li> Row 6: market price tendencies for a day computed over a week (left) and over a month (right) / click for details</li>
    <li> The colored rows are information of the players bazaars. Each row corresponds to a bazaar
        <ul>
            <li> Column 1: the number of item to sell. Quantities starting by a star correspond to concatenated item market sells</li>
            <li> Column 2: the selling price of one item (<i>if you let the cursor hover it, you can see the cummulative price</i>)</li>
        </ul>
    </li>
    <li>The colors correspond to the prices compared to the current market price
    <div class="module" style="margin-bottom:0px">
        <table class="item-sell-table tdshadow scale">
            <tr >
                <td  class="llt"> < 3%    </td>
                <td  class="lt" > < 1%    </td>
                <td  class="eq" > &plusmn; 1% </td>
                <td  class="gt" > > 1%    </td>
                <td  class="ggt"> > 3%    </td>
            </tr>
        </table>
    </div></li>
</ul>
