<h2 class="title grey"><i class="far fa-life-ring"></i>&nbsp;&nbsp;Tutorial</h2>
<div class="module">
    <p>Click on the item type to show the tables.</p>
    <p>Click on an icon to refresh the bazaar prices of the object (1 API call).</p>
    <p>Click on the refresh buttons on the top right section title to refresh the items information and bazaar prices (1 API call/item). This feature is not available for the full list.</p>

    <h3>What does the tables mean?</h3>
    <p>Each tables contains:</p>
    <ul>
        <li> Row 1: icon / refresh button</li>
        <li> Row 2: time since last update / click to delete bazaar data (because why not?) </li>
        <li> Row 3: item name / link to its description</li>
        <li> Row 4: personal stock of the item if you entered your API key and only on the custom list page (refresh is needed to see changes)</li>
        <li> Row 5: current market price / link to the torn item market of this item</li>
        <li> The colored rows are information of the users bazaars. Each row corresponds to a bazaar
            <ul>
                <li> Column 1: the number of item to sell</li>
                <li> Column 2: the selling price of one item (<i>If you let the cursor hover it, you can see the cummulative price</i>)</li>
            </ul>
        </li>
        <li>The colors correspond to the prices compared to the current market price
        <div class="module" style="margin-bottom:0px">
            <table class="item-sell-table scale">
                <tr >
                    <td  class="llt"> < 3%    </td>
                    <td  class="lt" > < 1%    </td>
                    <td  class="eq" > &plusmn; 1% </td>
                    <td  class="gt" > > 1%    </td>
                    <td  class="ggt"> > 3%    </td>
                </tr>
            </table>
        </div></li>
        <li>The last row <a href=""><b>Add / remove</b></a> allows you to select the items you want in your custom page.</li>
    </ul>
</div>
